<!-- Blog All Posts -->
<div class="col-md-9">

<% @questions.each do |question| %>

<!-- Blog Posts -->
<div class="news-v3 bg-color-white margin-bottom-60 tag-box tag-box-v1 box-shadow shadow-effect-2" >

    <% unless question.file_name.blank? %>
        <img class="img-responsive full-width" src="<%= question.file_name %>" alt="">
    <% end %>

    <div class="news-v3-in">
        <ul class="list-inline posted-info">
        <li>By <a href="javascript:getUserProfile(<%= question.user_id %>)"><%= question.user.user_name %></a></li>
        <li>In <a href="/contents/<%= question.unit_concept_id %>"><%= question.unit_concept.name %></a></li>
        <li>Posted <%=l question.created_at.in_time_zone("Asia/Seoul").to_date, :format => :long %></li>
        </ul>
        
        <h2><a href="/questions/<%= question.id %>"><%= question.title %></a></h2>
        <p><%= raw question.content.truncate(300) %></p>
        
        <ul class="post-shares">
        <li><i class="rounded-x icon-speech" title="답변"></i><span><%= question.replies.count %></span></li>
        <li><a href="javascript:questionLike(<%= question.id %>)"><i class="rounded-x icon-heart" title="추천"></i><span><%= question.like.nil? ? 0 : question.like %></span></a></li>
        </ul>
    </div>
</div>
<!-- End Blog Posts -->

<% end %>

<!-- Pager v2 -->
<% 
    page = params[:page]
    if page.nil?
        page = 1
    end    
%>
<ul class="pager pager-v2 pager-md no-margin">
    <li class="previous"><a href="/questions<%= "?page=#{page.to_i - 1}" if page.to_i > 1 %>">&larr; Older</a></li>
    <li class="page-amount"><%= page %> of <%= @questions.total_pages %></li>
    <li class="next"><a href="/questions<%= "?page=#{page.to_i + 1}" if page.to_i < @questions.total_pages %>">Newer &rarr;</a></li>
</ul>
<!-- End Pager v2 -->

</div>
<!-- End Blog All Posts -->

<%= render partial: 'modals/user_profile' %>

<script type="text/javascript">

function questionLike(question_id) {
    
    <% if current_user.nil? %>
    
    location = '/users/sign_in';
    
    <% else %>
    
    var url = "/questions/" + question_id + "/like";

    $.ajax({
        url: url,
        type: "GET",
        beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
        datatype: "json",
        success : function(data) {
            location.reload();
        },
        error : function(){
            alert("try to again. please.");
        }
    });    
    
    <% end %>
}

</script>