<div class="container-fluid" style="margin-top: 50px">

  <div class="row">

    <div class="col-md-2">
      <select id="studentSelect" class="form-control" >
        <option value="">학생 선택</option>
        <% @students.each do |student| %>
            <% unless student.user.nil? %>
                <option value="<%= student.user_id %>"><%= "selected" if params[:student] == student.user_id %><%= student.user.user_name %></option>
            <% end %>
        <% end %>
      </select>
    </div>
    <div class="col-md-1">
      <a href="javascript:goSearch('student')" class="btn btn-success">학생 검색</a>
    </div>

    <div class="col-md-2">
      <select id="codeSelect" class="form-control" >
        <option value="">개념 선택</option>
        <% @codes.each do |code| %>
            <option value="<%= code.unit_concept_id %>"><%= "selected" if params[:code] == code.unit_concept_id %><%= code.unit_concept.code %>&nbsp;&nbsp;<%= code.unit_concept.name %></option>
        <% end %>
      </select>
    </div>
    <div class="col-md-1">
      <a href="javascript:goSearch('code')" class="btn btn-info">개념 검색</a>
    </div>

    <div class="col-sm-12 col-md-12 main">

      <h2 class="sub-header"><span class="glyphicon glyphicon-education" aria-hidden="true"></span> 질문 목록</h2>

      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>개념 코드</th>
            <th>개념 이름</th>
            <th>학생</th>
            <th>선생님 / 멘토</th>
            <th>제목</th>
            <th>등록일</th>
            <th>댓글 수</th>
            <th colspan="3"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></th>
          </tr>
          </thead>
          <tbody>
          <% @questions.each do |question| %>
              <tr>
                <td><%= question.unit_concept.code %></td>
                <td><%= question.unit_concept.name %></td>
                <% unless question.user.nil?%>
                    <td><%= question.user.user_name %></td>
                <% else %>
                    <td>--- 탈퇴한 회원입니다 ---</td>
                <% end %>
                <% unless question.to_user_id.blank?%>
                    <% @teacher_or_mento = User.find(question.to_user_id) %>
                    <td><%= @teacher_or_mento.user_name %></td>
                <% else %>
                    <td><%= '' %></td>
                <% end %>

                <% unless question.title.blank? %>
                    <td><%= question.title %></td>
                <% else %>
                    <td><%= '' %></td>
                <% end %>
                <td><%= question.created_at.localtime.strftime('%Y-%m-%d') %></td>
                <td><%= question.replies.count() %></td>
                <td><%= link_to 'Show', question_path(question)%></td>
                <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
          <% end %>

          </tbody>
        </table>
        <%= will_paginate @questions, renderer: BootstrapPagination::Rails %>
      </div>

    </div>

  </div>

</div>

<script type="text/javascript">
  function goSearch(value) {
    location = "/questions/questions_list?"+value+"=" + $('#'+value+'Select').val();
  }

</script>