<!--=== indicate ===-->
<div class="col-md-12 breadcrumbs">
    <div class="container">
        <h2 class="pull-left" style="color: black">Blog / 학습문제해결</h2>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End indicate ===-->

<!--=== Content Part ===-->
<div class="container content-sm" style="margin-top: 40px">
    
    <div class="row">
        
        <div class="col-md-9">
            
            <a href="/questions" class="btn btn-default btn-sm rounded" style="float:right; margin-bottom: 20px"><i class="fa fa-reply"></i> 목록으로</a>

            <!-- content -->
            <div class="news-v3 bg-color-white margin-bottom-30 tag-box-v1" >
                
                <% unless @question.file_name.blank? %>
                    <img class="img-responsive full-width" src="<%= @question.file_name %>" alt="">
                <% end %>    
                
                <div class="news-v3-in">
                    
                    <ul class="list-inline posted-info">
                    <li>By <a href="javascript:getUserProfile(<%= @question.user_id %>)"><%= @question.user.user_name unless @question.user.nil? %></a></li>
                    <li>In <a href="/contents/<%= @question.unit_concept_id %>"><%= @question.unit_concept.name %></a></li>
                    <li>Posted <%=l @question.created_at.in_time_zone("Asia/Seoul").to_date, :format => :long %></li>
                    </ul>
                    
                    <h2 ><a href="/questions/<%= @question.id %>" style="font-family: inherits"><%= @question.title %></a></h2>
                    
                    <%= simple_format(@question.content) %>
                    
                    <ul class="post-shares post-shares-lg">
                    <li><i class="rounded-x icon-speech" title="답변"></i><span><%= @question.replies.count %></span></li>
                    <li><a href="javascript:questionLike(<%= @question.id %>)"><i class="rounded-x icon-heart" title="추천"></i><span><%= @question.like.nil? ? 0 : @question.like %></span></a></li>
                    </ul>                    
                    
                </div>
            </div>
            <!-- content end -->
            
            <!-- Blog Post Author -->
            <div class="blog-author margin-bottom-30 tag-box-v1">
                
                <% if @question.user.user_img.blank? %>
                <img src="/assets/img/user_default_img.png" alt="">
                <% else %>
                <img src="<%= @question.user.user_img %>" alt="">
                <% end %>
                
                <div class="blog-author-desc">
                    <div class="overflow-h">
                        <h4><a href="javascript:getUserProfile(<%= @question.user_id %>)" class="unify_a"><%= @question.user.user_name %></a></h4>
                        <ul class="list-inline">
                        <li><%= @question.user.user_types[0].user_type %></li>
                        <!-- <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li> -->
                        </ul>
                    </div>
                    <p><%= @question.user.user_desc.nil? ? "자기 소개가 아직 없습니다." : @question.user.user_desc.truncate(300) %></p>
                </div>
                
            </div>
            <!-- Blog Post Author End -->
            
            <hr>
            
            <h2 class="margin-bottom-20"><%= t(:solution_comment) %></h2>

            <% index = 1 %>

            <% @replies1.each do |reply1| %>

                <% order_count = 1 %>

            <div class="blog-comments margin-bottom-30" style="display:flex">
                
                <div class="col-sm-2 sm-margin-bottom-40" style="margin-top: 20px">
                    <% if reply1.user.user_img.blank? %>
                    <img src="/assets/img/user_default_img.png" alt="" style="border: 1px solid lightgrey">
                    <% else %>
                    <img src="<%= reply1.user.user_img %>" class="rounded" alt="" style="border: 1px solid lightgrey">
                    <% end %>                    
                </div>
                
                    <div class="col-sm-10">
                    <div class="comments-itself" style="padding-bottom: 20px">
                        <h4>
                            <a href="javascript:getUserProfile(<%= reply1.user_id %>)" class="unify_a"><%= reply1.user.user_name %></a>
                            <span><%= time_ago_in_words(reply1.created_at.in_time_zone("Asia/Seoul")) %> <%= t(:ago) %></span>
                        </h4>
                        
                        <% unless reply1.file_name.blank? %>
                            <img src="<%= reply1.file_name %>" style="width:100%">
                        <% end %>                        
                        
                        <hr>
                        
                        <%= simple_format reply1.comment %>
                        
                        <button class="add_comment btn btn-default btn-sm rounded" data-id="<%= reply1.id %>">Add a Comment</button>

                        <div style="display: none; margin-top: 20px" class="comment_form" data-id="<%= reply1.id %>">
                            <form action="/replies" id="question_reply_form_<%= index %>" method="post" class="sky-form comment-style" novalidate="novalidate" charset="utf-8">
                        
                                <%= token_tag nil %>
                                <input type="hidden" name="reply[question_id]" value="<%= @question.id %>" />
                                <input type="hidden" name="reply[user_id]" value="<%= current_user.id unless current_user.nil? %>" />
                                <input type="hidden" name="reply[group_id]" value="<%= @question.id %>" />
                                <input type="hidden" name="reply[parent_reply_id]" value="<%= reply1.id %>" />
                                <input type="hidden" name="reply[depth]" value="2" />
                                <input type="hidden" name="reply[order_no]" value="<%= order_count %>" />

                                <div class="row">
                                    
                                    <div class="col-md-10">
                                        <input type="text" class="form-control" name="reply[comment]" id="question_reply_comment_<%= index %>" style="border: 1px solid lightgrey" placeholder="댓글 달기"></textarea>
                                    </div>

                                    <div class="col-md-1 text-right">
                                        <button class="btn-u btn-u-dark-blue rounded" type="button" onclick="sendQuestionReplyComment(<%= index %>)">저장</button>
                                    </div>
                                    
                                </div>    
                            
                            </form>

                            <% index += 1 %>

                        </div>    

                    </div>
                </div>
                
            </div>
            
            <% @re_replies = Reply.where('parent_reply_id = ?', reply1.id) %>
            <% @re_replies.each do |reply2| %>
            
            <div class="blog-comments blog-comments-reply margin-bottom-30" style="display:flex"> 
                <div class="col-sm-2 sm-margin-bottom-40" style="margin-top: 20px">
                    <% if reply2.user.user_img.blank? %>
                    <img src="/assets/img/user_default_img.png" alt="" style="border: 1px solid lightgrey">
                    <% else %>
                    <img src="<%= reply2.user.user_img %>" class="rounded" alt="" style="border: 1px solid lightgrey">
                    <% end %>
                </div>
                <div class="col-sm-10">
                    <div class="comments-itself">
                        <h4>
                            <a href="javascript:getUserProfile(<%= reply2.user_id %>)" class="unify_a"><%= reply2.user.user_name %></a>
                            <span><%= time_ago_in_words(reply2.created_at.in_time_zone("Asia/Seoul")) %> <%= t(:ago) %></span>
                        </h4>
                        <%= simple_format reply2.comment %>
                    </div>
                </div>
            </div>                  
            
              <% end %>

            <% end %>  
            
            <hr>        
                 
            <h2 class="margin-bottom-20"><%= t(:post_a_solution) %></h2>
            
            <form action="/replies" id="question_reply_form" method="post" enctype="multipart/form-data" class="sky-form comment-style" novalidate="novalidate" charset="utf-8">
                
                <%= token_tag nil %>
                
                <input type="hidden" name="reply[question_id]" value="<%= @question.id %>" />
                <input type="hidden" name="reply[comment]" id="reply_comment">
                <input type="hidden" name="reply[group_id]" value="<%= @question.id %>" />
                <input type="hidden" name="reply[parent_reply_id]" value="0" />
                <input type="hidden" name="reply[depth]" value="1" />
                <input type="hidden" name="reply[order_no]" value="0" />                
                
                <fieldset>

                    <div class="sky-space-30">
                        <div>
                            <textarea rows="8" name="reply[comment]" id="question_reply_comment" placeholder="Write comment here ..." class="form-control" style="border: 1px solid lightgrey" <% if current_user.nil? %> onfocus="checkLogin()" <% end %> ></textarea>
                        </div>
                    </div>
                    
                    <div class="sky-space-30">
                        <div>
                            <input type="file" id="question_file" name="reply[file_name]" rows="10" class="form-control" style="border: 1px solid lightgrey" />
                        </div>
                    </div>        
                    <% unless current_user.nil? %>
                    <p><button type="submit" class="btn-u rounded">Submit</button></p>
                    <% end %>
                    
                </fieldset>

                <div class="message">
                    <i class="rounded-x fa fa-check"></i>
                    <p>Your comment was successfully posted!</p>
                </div>
            </form>
                                
        </div>    
  
        <%= render partial: 'blogs/right_sidebar' %>
    </div>
</div>    

<%= render partial: 'modals/user_profile' %>

<script type="text/javascript">
<% if current_user.nil? %>
    function checkLogin() {
        location = '/users/sign_in';
    }
<% end %>
    
    jQuery(".add_comment").click(function(){
        var btnId = $(this).data('id');
        jQuery('.comment_form[data-id=' + btnId + ']').toggle();
    });
    
    function questionLike(question_id) {
    
        <% if current_user.nil? %>
    
        location = '/users/sign_in';
    
        <% else %>
    
        var url = "/questions/" + question_id + "/like";

        $.ajax({
            url: url,
            type: "GET",
            beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
            datatype: "json",
            success : function(data) {
                location.reload();
            },
            error : function(){
                alert("try to again. please.");
            }
        });    
    
        <% end %>
    }

    $("#question_reply_form").submit(function () {
        if($("#question_reply_comment").val() == "" ){
            alert("답글을 입력하세요.");
            return false;
        }
    });

    function sendQuestionReplyComment(index){
        if ($("#question_reply_comment_"+ index).val() == ""){
            alert("댓글을 입력하세요.");
            return false;
        }
        else {
            $("#question_reply_form_"+ index).submit();
        }
    }

</script>