<link rel="stylesheet" href="/assets/css/pages/shortcode_timeline2.css">

<!--=== indicate ===-->
<div class="col-md-12 breadcrumbs">
  <div class="container">
    <h2 class="pull-left" style="color: black">Blog / 학습문제해결</h2>
  </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End indicate ===-->


<!--=== Content Part ===-->
<div class="container content">
  <div class="row">
    <div class="col-md-9">

      <!-- Dark Blue Panel -->
      <div class="panel panel-info">
        <div class="panel-heading">
          <h1 class="panel-title" style="font-size: 20px;"><i class="fa fa-tasks"></i> <%= @question.title %></h1>
          <p style="font-size: 12px; color: black; text-align: right;"><%= @question.created_at.localtime.strftime('%Y-%m-%d %H:%M') %> &nbsp; &nbsp; 작성자: <%= @question.user.user_name %></p>
        </div>
        <div class="panel-body">
          <div class="col-md-12">
            <p style="font-size: 17px; color: black;"><%= raw @question.content %></p>
          </div>
        </div>
      </div>
      <!-- End Dark Blue Panel -->

      <div class="col-md-12 text-right no-padding no-margin">
        <button class="btn-u btn-u-dark-blue"><a href="/questions/<%= @question.id %>/edit">Edit</a></button>
      </div>

      <hr>

      <% unless @replies1.blank? %>
          <hr>
          <% reply1_number = 1 %>
          <% @replies1.each do |reply1| %>
              <% order_count = 1 %>
              <div class="col-md-1 text-center margin-bottom-5" style="vertical-align: middle;"><h4>답변<br/><%= reply1_number %></h4></div>
              <div class="col-md-11 no-margin bg-color-light">
                <h4><%= raw reply1.comment %></h4>
                <%# button_to 'delete', reply1,:method=>:delete, :class => 'btn btn-link', data: { confirm: 'Are you sure?' } %>
                <div class="col-md-12 text-right margin-top-20">
                  <% if reply1.user_id != 0 %>
                      <% @user = User.find(reply1.user_id) %>
                      <p><%= reply1.created_at.localtime.strftime('%Y/%m/%d') %>&nbsp;&nbsp;<%= @user.user_name %></p>
                  <% else %>
                      <p><%= reply1.created_at.localtime.strftime('%Y/%m/%d') %>&nbsp;&nbsp; 유레카메스</p>
                  <% end %>
                </div>
              </div>

              <% unless @replies2.blank? %>
                  <% @replies2.each do |reply2| %>
                      <% unless reply1.id != reply2.parent_reply_id %>
                          <div class="col-md-1 no-margin"></div>
                          <div class="col-md-11 no-margin">
                            <div class="col-md-12">
                              <h5><%= raw reply2.comment %> - <span style="background-color: #e9f8f8; font-size: 13px;">
                                 <% if reply2.user_id != 0 %>
                                   <% @user = User.find(reply2.user_id) %>
                                    <%= @user.user_name %>
                                 <% else %>
                                    유레카메스
                                 <% end %>
                              </span> &nbsp;<span style="font-size: 12px;"><%= reply2.created_at.localtime.strftime('%Y/%m/%d') %></span></h5>
                              <%# button_to 'delete', reply2,:method=>:delete, :class => 'btn btn-link', data: { confirm: 'Are you sure?' } %>
                              <% order_count += 1 %>
                              <hr class="no-padding no-margin">
                            </div>
                          </div>
                      <% end %>
                  <% end %>
              <% end %>

              <div class="col-md-1"></div>
              <div class="col-md-11">
                <div class="col-md-12 no-margin no-padding margin-bottom-50 margin-top-20">
                  <form action="/replies" method="post" enctype="multipart/form-data" novalidate="novalidate" charset="utf-8">
                    <%= token_tag nil %>
                    <input type="hidden" name="reply[question_id]" value="<%= @question.id %>" />
                    <% if session[:admin].nil? %>
                        <input type="hidden" name="reply[user_id]" value="<%= current_user.id %>" />
                    <% else %>
                        <input type="hidden" name="reply[user_id]" value="0"/>
                    <% end %>


                    <input type="hidden" name="reply[group_id]" value="<%= @question.id %>" />
                    <input type="hidden" name="reply[parent_reply_id]" value="<%= reply1.id %>" />
                    <input type="hidden" name="reply[depth]" value="2" />
                    <input type="hidden" name="reply[order_no]" value="<%= order_count %>" />

                    <div class="col-md-11">
                      <textarea class="form-control" style="width: 100%; height: 35px;" name="reply[comment]" placeholder="댓글 달기"></textarea>
                    </div>
                    <div class="col-md-1 text-right">
                      <button class="btn-u btn-u-dark-blue" type="submit">저장</button>
                    </div>
                  </form>
                </div>
              </div>
              <% reply1_number += 1 %>
          <% end %>
      <% end %>

      <hr>

      <div class="col-md-12">
        <!-- 답변 달기 -->
        <hr>
        <form action="/replies" id="new_reply" method="post" enctype="multipart/form-data" novalidate="novalidate" charset="utf-8">
          <%= token_tag nil %>
          <div class="tag-box tag-box-v3 form-page">
            <div class="headline"><h4>답변 달기</h4></div>

            <input type="hidden" name="reply[question_id]" value="<%= @question.id %>" />
            <% if session[:admin].nil? %>
                <input type="hidden" name="reply[user_id]" value="<%= current_user.id %>" />
            <% else %>
                <input type="hidden" name="reply[user_id]" value="0"/>
            <% end %>
            <input type="hidden" name="reply[comment]" id="reply_comment">
            <input type="hidden" name="reply[group_id]" value="<%= @question.id %>" />
            <input type="hidden" name="reply[parent_reply_id]" value="0" />
            <input type="hidden" name="reply[depth]" value="1" />
            <input type="hidden" name="reply[order_no]" value="0" />

            <!-- text editor -->
            <div id="reply_post" style="font-size: 10px;"></div>

            <div class="text-right">
              <button class="btn-u btn-u-dark-blue" type="submit">저장</button>
            </div>
          </div>
        </form>
        <!-- 답변 달기 END -->
      </div>
    </div>

    <%= render partial: 'blogs/right_sidebar' %>

  </div>
</div>

<script type="text/javascript" charset="utf-8">

  var toggle = 0;
  function viewEditBox(index) {
    if(toggle == 0) {
      $('#reply2'+ index).slideDown("slow", function () {
      });
      toggle = 1;
    }
    else{
      $('#reply2'+ index).slideUp( "slow", function() {
      });
      toggle = 0;
    }
  }
</script>

<script type="text/javascript">
  function initpage() {
    $('#reply_post').summernote({
      height : 200,
      lang: 'ko-KR',
      focus : true,
      tabsize : 2
    });

    $('#new_reply').submit(function () {
      if ($('#reply_post').summernote('isEmpty')) {
        alert('내용을 입력하세요.');
        $('#reply_post').focus();
        return false;
      }
      $('#reply_comment').val($('#reply_post').summernote('code'));
    });

  }
</script>