<h3 style="float:left; margin-top: 10px;">
    <span style="color:darkblue;"><%= @exercise_type == 'concept_exercise' ? @unit_concept.concept_code.upcase : @unit_concept.code.upcase %></span> <%= @unit_concept_name %>
</h3>

<% unless @unit_concept.level.nil? %>
    <% rst = 5 - @unit_concept.level %>
<span style="color:orangered; float:left; margin-top: 15px; margin-left: 10px">
    <% (1..@unit_concept.level).each do |idx| %>
    <i style="color: orangered" class="fa fa-star"></i>
    <% end%>
</span>
<span style="color:orangered; float:left; margin-top: 15px; margin-left: 3px">
    <% (1..rst).each do |idx| %>
    <i class="fa fa-star-o"></i>
    <% end %>
</span>
<% end %>

<!-- 유사문제 -->
<div class="btn-group" style="position:relative; top: 13px; left: 10px">

    <% if @exercise_type == 'unit_concept_exercise' %>
    <button type="button" class="btn-u btn-u-blue btn-u-xs">
        <i class="fa fa-cloud"></i>
        유사문제
    </button>
    
    <button type="button" class="btn-u btn-u-blue btn-u-xs btn-u-split-blue dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-angle-down"></i>
        <span class="sr-only">Toggle Dropdown</span>                            
    </button>
    
    <ul class="dropdown-menu" role="menu">
        <% @unit_concept.get_similar_exercise_list.each do | r_concept | %>
    <li><a href="/contents/exercise?unit_concept_id=<%= r_concept.id %>"><% if r_concept.id == @unit_concept.id %><i class="fa fa-check"></i><% end %> <%= r_concept.name %> <%= raw r_concept.get_level_star %></a> </li>            
        <% end %>    
    </ul>
    <% end %>
    
    <% if @unit_concept.get_next_exercise.blank? %>
    <a href="#notice_no_exercise" data-toggle="modal" class="btn-u btn-u-xs btn-u-orange" style="margin-left: 10px"><i class="fa fa-arrow-right"></i> 다음 문제</a>
    <% else %>
    <a href="<%= @unit_concept.get_next_exercise %>" class="btn-u btn-u-xs btn-u-orange" style="margin-left: 10px"><i class="fa fa-arrow-right"></i> 다음 문제</a>
    <% end %>
    
</div>

<button id="btn_tree" class="btn btn-info btn-sm" style="margin-top: 10px; margin-left: 20px; display: none; float:right" onclick="view_change('backward')">목차보이기</button>

<hr style="clear:both; margin: 0">

<!-- 권한 검사 -->
<% if @unit_concept.level > 1 && !current_user.can_I_use? %>

<div class="row tag-box tag-box-v5">
    <div class="col-md-8">
        <span>Level 2 이상은 결제를 하셔야 이용하실 수 있습니다.</span>
    </div>
    <div class="col-md-4">
        <p><a href="/mypages/payment" class="btn-u btn-u-lg btn-u-red">결제하러가기</a></p>
    </div>
</div>

<% else %>

<div class="row" style="height:calc(100% - 50px)">

    <div id="concept_main" class="col-md-6 col-sm-6 col-xs-12 tabs">
        <% @concepts.each_with_index do | concept, index | %>
        <img id="concept_<%= index %>" src="<%= concept.file_name %>" <%= "hidden" if index > 0 %> />
        <% end %>

        <a href="javascript:viewSolution()" class="btn-u rounded btn-u-orange margin-top-20" id="viewSolutionBtn">정답 보기</a>

        <% @concept_answers.each do | concept_answer | %>
        <img hidden id="solution" src="<%= concept_answer.file_name %>" />
        <% end %>
    </div>
    
    <div id="concept_desc" class="col-md-6 col-sm-6 col-xs-12 tabs" style="display:none">
        <% @concept_descs.each_with_index do | concept_desc, index | %>
        <img id="concept_desc_<%= index %>" src="<%= concept_desc.file_name %>" <%= "hidden" if index > 0 %> />
        <% end %>
        
        <button id="concept_desc_btn" class="btn-u rounded btn-u-blue" style="float: right; <%= "display:none" if @concept_descs.count < 2 %>" type="button" onclick="next('concept_desc', <%= @concept_descs.count %>)" >
            다음
            <span id="concept_desc_badge" class="badge badge-dark-blue rounded-2x" style="float:right; margin-left: 5px" ><%= @concept_descs.count - 1 %></span>
        </button>        
    </div>
    
    <!-- 문제풀이 -->
    <div id="concept_solution" class="col-md-6 col-sm-6 col-xs-12 tabs" style="display:none">    
        <% @solutions.each_with_index do | solution, index | %>
        <div class="col-md-12 no-margin no-padding margin-bottom-20 margin-top-20" id="concept_solution_<%= index %>" <%= "hidden" if index > 0 %> >
            <img src="<%= solution.file_name %>" class="img-responsive" style="width:100%;"/>
            <% unless solution.link.blank?
                ret_unit_concept = UnitConcept.find(solution.link)
            %>
            <label class="margin-left-10 margin-right-10"><i class="fa fa-puzzle-piece tooltips" data-toggle="tooltips" data-placement="right" data-original-title="이해여부" style="color: lightcoral"></i> : &nbsp;
                <label class="radio-inline"><input type="radio" id="o<%= solution.id %>" name="exe<%= solution.memo %>"> 맞음</label>
                <label class="radio-inline"><input type="radio" id="x<%= solution.id %>" name="exe<%=solution.memo%>"> 틀림</label>
            </label>

            <button class="btn-u btn-u-sm rounded btn-u-orange margin-top-20 margin-left-10" type="button" onclick="saveOx(<%= solution.id %>, this)">저장</button>

                <% recent_unit_concept_exercise_history = UnitConceptExerciseHistory.where(user_id: current_user.id, unit_concept_desc: solution).order(created_at: :desc) %>
                <% unless recent_unit_concept_exercise_history.empty? %>
            <label style="font-weight: bold" class="margin-top-20 margin-left-10">최근 나의 이해 : <%= recent_unit_concept_exercise_history.first.ox == "X" ? "틀림" : "맞음" %></label>
                <% end %>

            <label class="margin-left-10"><i class="fa fa-link tooltips" data-toggle="tooltips" data-placement="right" data-original-title="관련개념" style="color: green"></i> : <a href="/contents/<%= ret_unit_concept.id %>" target="_blank" ><%= ret_unit_concept.name %></a></label>

            <hr class="no-margin margin-top-20 devider devider-dotted">

            <% end %>
        </div>
        <% end %>
        
        <button id="concept_solution_btn" class="btn-u rounded btn-u-blue" style="float: right; <%= "display:none" if @solutions.count < 2 %>" type="button" onclick="next('concept_solution', <%= @solutions.count %>)" >
            다음
            <span id="concept_solution_badge" class="badge badge-dark-blue rounded-2x" style="float:right; margin-left: 5px" ><%= @solutions.count - 1 %></span>
        </button>

    </div>
    <!-- Tab 문제풀이 END -->
    
    <!-- Video -->
    <div id="concept_video" class="col-md-12 col-sm-12 col-xs-12 tabs" style="display:none">
        <% @videos.each do | video | %>
        <div class="responsive-video">
            <iframe id="vimeo-player" src="https://player.vimeo.com/video/<%= video.video %>" width="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen ></iframe>
            <p>eurekamathv1 from <a href="https://vimeo.com/user49478797">EurekaMath</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
        </div>
        <% end %>
    </div>
    <!-- Video End -->
    
    <!-- Print -->
    <div id="concept_print" class="col-md-12 col-sm-12 col-xs-12 tabs" style="display:none">    
    
        <div class="col-md-6 col-ms-6 col-xs-6 no-margin no-padding">

            <% @concepts.each do | concept | %>
            <img src="<%= concept.file_name %>" class="img-responsive" style="width:100%; height:100%; margin-top: 10px;"/>
            <% end %>

            <br/>
        
            <% @links.each do | link | %>
            &nbsp;&nbsp;<span class="item" style="-webkit-text-fill-color: #3eadff; display: inline;">
                <i class="fa fa-circle"></i>&nbsp;
                <span style="-webkit-text-fill-color: #fc4674"><%= link.code %> </span>
                <span style="-webkit-text-fill-color: #020202"> : <%= link.name %> </span>
            </span>
            <br>
            <% end %>
            <img class="watermark img-responsive" src="/assets/img/logo_watermark.png">
            
        </div>

        <div class="col-md-6 col-ms-6 col-xs-6 no-margin no-padding">
            
            <% @concept_descs.each do | concept_desc | %>
            <img src="<%= concept_desc.file_name %>" class="img-responsive" style="width:100%; height:100%; margin-top: 5px;"/>
            <% end %>

            <% @solutions.each do | solution | %>
            <img src="<%= solution.file_name %>" class="img-responsive" style="width:100%; height:100%; margin-top: 5px;"/>
            <% end %>
            <img class="watermark img-responsive" src="/assets/img/logo_watermark.png">
        </div>
        
        <input type="button" id="printBtn" onclick="printing('concept_print')" value="프린트하기" class="btn-u rounded btn-u-orange" style="float:right"/>
        
    </div>
    <!-- Print End -->
        
</div>

<!-- 관련개념 Modal -->
<%= render partial: 'modals/related_concept_modal' %>
<!-- Tab 관련 개념 END-->

<!-- 자기평가 Modal -->
<%= render partial: 'modals/self_evaluation_modal' %>
<!-- 자기평가 Modal END-->

<!-- no more exercise -->
<%= render partial: 'modals/notice_no_exercise' %>

<script type="text/javascript">    

    var NUMS = {
        concept: 1,
        concept_desc: 1,
        concept_solution: 1
    };
    
    $(document).ready(function(){
        $('#new_unit_concept_self_evaluation').submit(function () {
            $('#loading').show();
            if ( !$('#evaluation_easy').is(":checked") && !$('#evaluation_normal').is(":checked") && !$('#evaluation_difficult').is(":checked") ) {
                alert('난이도를 선택하세요.');
                $('#loading').hide();
                return false;
            } else if ( $('#evaluation_comment').val() == '') {
                alert('comment를 입력하세요.');
                $('#loading').hide();
                return false;
            }
        });
    });    
    

    function next(opt, count) {
        $("#" + opt + "_" + NUMS[opt]).show();
        NUMS[opt]++;
        $("#" + opt + "_badge").text(count-NUMS[opt]);
    
        if (count == NUMS[opt]) {
            $('#' + opt + '_btn').hide();
            update_study_history(opt, 'finish');            
        }
    }
    
    function viewSolution() {
        $('#viewSolutionBtn').slideUp( "slow", function() {});
        $('#solution').slideDown("slow", function() {});
    }
    
    function saveOx(unit_concept_desc_id, t) {

        if (!$('#o' + unit_concept_desc_id).is(":checked") && !$('#x' + unit_concept_desc_id).is(":checked") ) {
            alert('맞음 혹은 틀림을 선택하세요.');
            return false;
        }

        $('#loading').show();
        var ox = "O";

        if ($('#x' + unit_concept_desc_id).is(":checked")) ox = "X";

        var url = "/unit_concept_exercise_histories/";

        var data = {
            "unit_concept_exercise_history" : {
                "user_id" : <%= current_user.id %>,
                "unit_concept_desc_id" : unit_concept_desc_id,
                "ox" : ox
            }
        }

        $.ajax({
            url: url,
            type: "POST",
            beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
            datatype: "json",
            data:data,
            success : function(data) {
                $(t).attr("disabled", true);
                $(t).removeClass('btn-u-orange');
                $(t).addClass('btn-u-light-grey');                
                $('#loading').hide();
            },
            error : function(){
                alert("try to again. please.");
                $('#loading').hide();
            }
        });
    }    
    
    function printing(printId) {
        
        var printElements = document.getElementById(printId).innerHTML;
        var allPage = document.body.innerHTML;

        document.body.innerHTML = printElements;
        $("#printBtn").hide();
        window.print();

        document.body.innerHTML = allPage;
        location.reload();
    }
       

</script>

<% end %>