<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left"><%= @view_type == '1' ? "단원별 학습" : "학년별 학습" %></h1>
        <ul class="pull-right breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="">Main</a></li>
            <li class="active">단원별 학습</li>
        </ul>
    </div>
</div>

<ul class="row list-row margin-bottom-30">
	
    <% idx = 0 %>	
    
    <% if @step == '1' %>
    
        <% Concept::CATEGORIES.each_pair do |key, value| %>
        
    <li class="col-md-4 md-margin-bottom-30">
        <div class="content-boxes-v2 text-center block-grid-v1 rounded">
            <i class="icon-custom rounded-x <%= Concept::ICONS_BGS[idx] %> fa <%= Concept::FA_ICONS[idx] %> "></i>
            <div class="content-boxes-in-v3">
                <h3><a href="/contents?view_type=<%= @view_type %>&step=2&category=<%= key %>"><%= value  %></a></h3>
            </div>
        </div>
    </li>
                
            <% idx += 1 %>            
        
        <% end %>
        
    <% elsif @step == '2' %>    
    
        <% Concept::SUB_CATEGORIES.each_pair do |key, value| %>
        
            <% if @category.first(2) == key.first(2) %>
        
    <li class="col-md-4 md-margin-bottom-30">
        <div class="content-boxes-v2 text-center block-grid-v1 rounded">
            <i class="icon-custom rounded-x <%= Concept::ICONS_BGS[idx] %> fa <%= Concept::FA_ICONS[idx] %> "></i>
            <div class="content-boxes-in-v3">
                <h3><a href="/contents?view_type=<%= @view_type %>&step=3&category=<%= @category %>&sub_category=<%= key %>"><%= value  %></a></h3>
            </div>
        </div>
    </li>
                
                <% idx += 1 %>            
            
            <% end %>
        
        <% end %>    
        
    <% elsif @step == '3' %>
	
		<% @concepts.each do | concept | %>
		
    <li class="col-md-4 md-margin-bottom-30">
        <div class="content-boxes-v2 text-center block-grid-v1 rounded">
            <i class="icon-custom rounded-x <%= Concept::ICONS_BGS[idx] %> fa <%= Concept::FA_ICONS[idx] %> "></i>
            <div class="content-boxes-in-v3">
                <h3><a href="/contents/<%= concept.id %>"><%= concept.concept_name %></a></h3>
            </div>
        </div>
    </li>
	
			<% idx += 1 %>
		
		<% end %>
	
    <% end %>
    
    
    
</ul>