<link rel="stylesheet" href="assets/plugins/brand-buttons/brand-buttons.css" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html">
<link rel="stylesheet" href="assets/plugins/brand-buttons/brand-buttons-inversed.css">



<% if current_user.grade.nil? %>
    <!-- Modal -->
    <div class="modal show" id="moveToSettingModal" role="dialog">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-header">
            <div class="modal-title text-center">
              <h4><span style="color:darkred">현재 학년이 설정되어 있지 않습니다!!</span></h4>
            </div>
          </div>
          <div class="modal-body">
            <h5>회원정보수정 화면에서 학년 설정이 가능합니다.
              <a href="/mypages/settings">여기</a> 클릭 하시면 회원정보수정 화면으로 이동합니다.</h5>
          </div>
        </div>
      </div>
    </div> <!-- Modal END-->

<% else %>
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">
			<% 
			if @view_type == '1'
				str = "단원별 학습"

        if @step > '1'
          str += " / #{Concept::CATEGORIES[@category]} "
        end

        if @step > '2'
          str += " / #{Concept::SUB_CATEGORIES[@sub_category]}"
        end

        if @step > '3'
          str += " / #{@concept.concept_name}"
        end
      elsif @view_type == '2'
				str = "학년별 학습"

        if @step > '1'
          str += " / #{UnitConcept::GRADES[@grade.to_i]}"
        end

        if @step > '2'
          str += " / #{GradeUnitConcept::CHAPTERS[@chapter.to_i]}"
        end

        if @step > '3'
          str += " / #{GradeUnitConcept::CATEGORIES[@category.to_i]}"
        end

        if @step > '4'
          str += " / #{GradeUnitConcept::SUB_CATEGORIES[@sub_category.to_i]}"
        end
      end
			%>

			<%= str %>
		</h1>

        <ul class="pull-right breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="">Main</a></li>
            <li class="active">
              <% if @view_type == '1' %>
                  <a href="/contents?view_type=1">단원별 학습</a>
              <% else %>
                  <a href="/contents?view_type=2">학년별 학습</a>
              <% end %>
		      	</li>
        </ul>

    </div>
</div>

<% if @view_type == '1' %> <!-- 단원별 학습 -->
    <ul class="row list-row margin-bottom-30">

      <% idx = 0 %>

      <% if @step == '1' %>
          <% Concept::CATEGORIES.each_pair do |key, value| %>
              <li class="col-md-4 md-margin-bottom-30">
                  <div class="content-boxes-v2 text-center block-grid-v1 rounded">
                      <i class="icon-custom rounded-x <%= Concept::ICONS_BGS[idx] %> fa <%= Concept::FA_ICONS[idx] %> "></i>
                      <div class="content-boxes-in-v3">
                          <h3><a href="/contents?view_type=<%= @view_type %>&step=2&category=<%= key %>"><%= value  %></a></h3>
                      </div>
                  </div>
              </li>
              <% idx += 1 %>
          <% end %>

      <% elsif @step == '2' %>

          <% Concept::SUB_CATEGORIES.each_pair do |key, value| %>

              <% if @category.first(2) == key.first(2) %>

                  <li class="col-md-4 md-margin-bottom-30">
                      <div class="content-boxes-v2 text-center block-grid-v1 rounded">
                          <i class="icon-custom rounded-x <%= Concept::ICONS_BGS[idx] %> fa <%= Concept::FA_ICONS[idx] %> "></i>
                          <div class="content-boxes-in-v3">
                              <h3><a href="/contents?view_type=<%= @view_type %>&step=3&category=<%= @category %>&sub_category=<%= key %>"><%= value  %></a></h3>
                          </div>
                      </div>
                  </li>

                  <% idx += 1 %>

              <% end %>

          <% end %>

      <% elsif @step == '3' %>

      <% @concepts.each do | concept | %>

            <!-- 하위개념인 unit_concept이 level 별로 각각 몇 개씩 있는지 확인하기 위한 부분-->
            <% count1 = 0 %>
            <% count2 = 0 %>
            <% count3 = 0 %>
            <% count4 = 0 %>
            <% count5 = 0 %>
            <% countP = 0 %>

            <% @unit_concepts.each do |unit_concept|%>

                <% if unit_concept.concept_id == concept.id %>
                    <% if unit_concept.level == 1 %>
                        <% count1 += 1 %>
                    <% end %>
                    <% if unit_concept.level == 2 %>
                        <% count2 += 1 %>
                    <% end %>
                    <% if unit_concept.level == 3 %>
                        <% count3 += 1 %>
                    <% end %>
                    <% if unit_concept.level == 4 %>
                        <% count4 += 1 %>
                    <% end %>
                    <% if unit_concept.level == 5 %>
                        <% count5 += 1 %>
                    <% end %>
                    <% if unit_concept.code.include?('p') %>
                        <% countP += 1 %>
                    <% end %>
                <% end %>
            <% end %>

        <li class="col-md-4 md-margin-bottom-30">
            <div class="content-boxes-v2 text-center block-grid-v1 rounded">
                <i class="icon-custom rounded-x <%= Concept::ICONS_BGS[idx] %> fa <%= Concept::FA_ICONS[idx] %> "></i>
                <div class="content-boxes-in-v3">

                  <!--
                  <h3><a href="/contents?view_type=<%= @view_type %>&step=4&category=<%= @category %>&sub_category=<%= @sub_category %>&concept_id=<%= concept.id %>"><%= concept.concept_name %></a></h3>
                  -->

                  <!--원본 코드
                  <h3><a data-toggle="modal" data-target="#level<%=concept.id%>" style="text-align: center"><%= concept.concept_name %></a></h3>
                  -->

                  <div class="btn-group">
                    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#level<%=concept.id%>"><h3><%= concept.concept_name %></h3></button>
                    <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                       <h3><i class="fa fa-caret-down"></i></h3>
                    </button>

                    <ul class="dropdown-menu" role="menu">

                      <% if count1 != 0 %>
                          <li>
                              <span class="item-box">
                                <span class="item">
                                  &nbsp; &nbsp;
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star-o"></i>
                                  <i class="fa fa-star-o"></i>
                                  <i class="fa fa-star-o"></i>
                                  <i class="fa fa-star-o"></i>
                                </span>
                              </span>
                               &nbsp; &nbsp;&nbsp; &nbsp;
                              <span class="badge rounded badge-purple"><%= count1 %></span>
                          </li>
                      <% end %>
                      <% if count2 != 0 %>
                          <li>
                              <span class="item-box">
                                <span class="item">
                                  &nbsp; &nbsp;
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star-o"></i>
                                  <i class="fa fa-star-o"></i>
                                  <i class="fa fa-star-o"></i>
                                </span>
                              </span>
                            &nbsp; &nbsp;&nbsp; &nbsp;
                            <span class="badge rounded badge-purple"><%= count2 %></span>
                          </li>
                      <% end %>
                      <% if count3 != 0 %>
                          <li>
                              <span class="item-box">
                                <span class="item">
                                  &nbsp; &nbsp;
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star-o"></i>
                                  <i class="fa fa-star-o"></i>
                                </span>
                              </span>
                            &nbsp; &nbsp;&nbsp; &nbsp;
                            <span class="badge rounded badge-purple"><%= count3 %></span>
                          </li>
                      <% end %>
                      <% if count4 != 0 %>
                          <li>
                              <span class="item-box">
                                <span class="item">
                                  &nbsp; &nbsp;
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star-o"></i>
                                </span>
                              </span>
                            &nbsp; &nbsp;&nbsp; &nbsp;
                            <span class="badge rounded badge-purple"><%= count4 %></span>
                          </li>
                      <% end %>
                      <% if count5 != 0 %>
                          <li>
                              <span class="item-box">
                                <span class="item">
                                  &nbsp; &nbsp;
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                </span>
                              </span>
                            &nbsp; &nbsp;&nbsp; &nbsp;
                            <span class="badge rounded badge-purple"><%= count5 %></span>
                          </li>
                      <% end %>
                      <% if countP != 0 %>
                          <li>
                            <h5> &nbsp; &nbsp; 유형문제 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; <span class="badge rounded badge-purple"><%= countP %></span></h5>
                          </li>
                      <% end %>
                    </ul>
                  </div>


                </div>
                  <!-- Modal -->

                  <div class="modal fade" id="level<%= concept.id %>" role="dialog">
                  <div class="modal-dialog modal-md">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <div class="modal-title text-left">

                          <% if @study_level.to_i == 1 %>
                            <% levelStr = '초급' %>
                          <% elsif @study_level.to_i == 2 %>
                              <% levelStr = '중급' %>
                          <% else %>
                              <% levelStr = '상급' %>
                          <% end %>
                          <span class="label rounded-2x label-green">현재 학습수준 :  <%= levelStr %> </span> &nbsp;&nbsp; <span class="label rounded-2x label-aqua text-center">학습수준 선택</span>
                        </div>
                      </div>
                      <div class="modal-body">
                        <div class="row">
                          <div class="col-md-12">

                            <% User::USER_STUDY_LEVELS.each_pair do |key, value| %>
                                <div class="col-md-4 content-boxes-v6 md">
                                  <a href="/contents?view_type=<%= @view_type %>&step=4&category=<%= @category %>&sub_category=<%= @sub_category %>&student=<%= @student%>&concept_id=<%= concept.id %>&level=<%= @student == 'middle' ? key : key.to_i+2 %>" ><i class="rounded-x icon-rocket"></i></a>
                                  <h1 class="title-v3-md text-uppercase margin-bottom-10"><%= value %></h1>
                                </div>
                            <% end %>

                          </div><!-- /.col-lg-6 -->
                        </div><!-- /.row -->
                      </div>
                    </div>
                  </div>
                </div> <!-- Modal END-->
            </div>
        </li>

        <% idx += 1 %>

    <% end %>

    <% elsif @step == '4' %>

		<% @unit_concepts.each do | unit_concept | %>
	  		
			<% if unit_concept.level <= @level.to_i() %>
			
              <li class="col-md-4 md-margin-bottom-30">
                  <div class="content-boxes-v2 text-center block-grid-v1 rounded">
                      <i class="icon-custom rounded-x <%= Concept::ICONS_BGS[idx] %> fa <%= Concept::FA_ICONS[idx] %> "></i>
                      <div class="content-boxes-in-v3">
                  <ul class="star-vote">
                    <% unless unit_concept.level.nil? %>
                        <% rst = 5 - unit_concept.level %>
                                <% (1..unit_concept.level).each do |idx| %>
                                <li><i class="fa fa-star"></i></li>
                                <% end%>

                                <% (1..rst).each do |idx| %>
                                <li><i class="fa fa-star-o"></i></li>
                                <% end %>
                    <% end %>
                            </ul>
                            <h3><a href="/contents/<%= unit_concept.id %>"><%= unit_concept.name %></a></h3>
                      </div>
                  </div>
              </li>

                <% idx += 1 %>

              <% end %>

          <% end %>
		  
    	  <% if @unit_concept_exercises.length > 0 %>
		  
              <li class="col-md-4 md-margin-bottom-30">
                  <div class="content-boxes-v2 text-center block-grid-v1 rounded">
                      <i class="icon-custom rounded-x <%= Concept::ICONS_BGS[idx] %> fa <%= Concept::FA_ICONS[idx] %> "></i>
                      <div class="content-boxes-in-v3">
                          <h3><a href="/contents/exercise?concept_id=<%= @concept_id %>&unit_concept_id=<%= @unit_concept_exercises[0].id %>">유형문제</a></h3>
                      </div>
                  </div>
              </li>		  
		  
		  <% end %>

    <% end %>

  </ul>
  <!-- 단원별 학습 END -->

<% else %>  <!-- 학년별 학습 -->
    <ul class="row list-row margin-bottom-30">

      <% idx = 0 %>

      <% if @step == '1' %>
          <% UnitConcept::GRADES.each_pair do |key, value| %>
              <li class="col-md-4 md-margin-bottom-30">
                <div class="content-boxes-v2 text-center block-grid-v1 rounded">
                  <i class="icon-custom rounded-x <%= Concept::ICONS_BGS[idx] %> fa <%= Concept::FA_ICONS[idx] %> "></i>
                  <div class="content-boxes-in-v3">
                    <h3><a href="/contents?view_type=2&step=2&grade=<%= key %>"><%= value %></a></h3>
                  </div>
                </div>
              </li>
              <% idx += 1 %>
          <% end %>

      <% elsif @step == '2' %>
          <% GradeUnitConcept::CHAPTERS.each_pair do |key, value| %>
              <% unless @grade.to_i != key/100 %>
                  <li class="col-md-4 md-margin-bottom-30">
                    <div class="content-boxes-v2 text-center block-grid-v1 rounded">
                      <i class="icon-custom rounded-x <%= Concept::ICONS_BGS[idx] %> fa <%= Concept::FA_ICONS[idx] %> "></i>
                      <div class="content-boxes-in-v3">
                        <h3><a href="/contents?view_type=2&step=3&grade=<%= @grade %>&chapter=<%= key %>"><%= value %></a></h3>
                      </div>
                    </div>
                  </li>
                  <% idx += 1 %>
              <% end %>
          <% end %>
      <% elsif @step == '3' %>
          <% GradeUnitConcept::CATEGORIES.each_pair do |key, value| %>
              <% unless @chapter.to_i != key/100 %>
                  <li class="col-md-4 md-margin-bottom-30">
                    <div class="content-boxes-v2 text-center block-grid-v1 rounded">
                      <i class="icon-custom rounded-x <%= Concept::ICONS_BGS[idx] %> fa <%= Concept::FA_ICONS[idx] %> "></i>
                      <div class="content-boxes-in-v3">
                        <h3><a href="/contents?view_type=2&step=4&grade=<%= @grade %>&chapter=<%= @chapter %>&category=<%= key %>"><%= value %></a></h3>
                      </div>
                    </div>
                  </li>
                  <% idx += 1 %>
              <% end %>
          <% end %>
      <% elsif @step == '4' %>
          <% GradeUnitConcept::SUB_CATEGORIES.each_pair do |key, value| %>
              <% unless @category.to_i != key/100 %>
                  <li class="col-md-4 md-margin-bottom-30">
                    <div class="content-boxes-v2 text-center block-grid-v1 rounded">
                      <i class="icon-custom rounded-x <%= Concept::ICONS_BGS[idx] %> fa <%= Concept::FA_ICONS[idx] %> "></i>
                      <div class="content-boxes-in-v3">
                        <h3><a href="/contents?view_type=2&step=5&grade=<%= @grade %>&chapter=<%= @chapter %>&category=<%= @category %>&sub_category=<%= key %>"><%= value %></a></h3>
                      </div>
                    </div>
                  </li>
                  <% idx += 1 %>
              <% end %>
          <% end %>
      <% elsif @step == '5' %>
          <% @grade_unit_concepts.each do | grade_unit_concept | %>
                  <li class="col-md-4 md-margin-bottom-30">
                    <div class="content-boxes-v2 text-center block-grid-v1 rounded">
                      <i class="icon-custom rounded-x <%= Concept::ICONS_BGS[idx] %> fa <%= Concept::FA_ICONS[idx] %> "></i>
                      <div class="content-boxes-in-v3">
                        <h3><a href="/contents/<%= grade_unit_concept.unit_concept_id %>"><%= grade_unit_concept.name %></a></h3>
                      </div>
                    </div>
                  </li>
                  <% idx += 1 %>
          <% end %>
    <% end %>
    </ul>
<% end %> <!-- 학년별 학습 END -->
<% end %><!-- current_user.grade -->

