<div class="sm-margin-bottom-50"></div>
<div class="margin-top-20">
<h3 style="float:left; margin-top: 10px;">
    <span style="color:darkblue;"><%= @unit_concept.code.upcase %></span> <%= @unit_concept.name %>
</h3>

<% unless @unit_concept.level.nil? %>
    <% rst = 5 - @unit_concept.level %>
<span style="color:orangered; float:left; margin-top: 15px; margin-left: 10px">
    <% (1..@unit_concept.level).each do |idx| %>
    <i class="fa fa-star"></i>
    <% end%>
</span>
<span style="color:orangered; float:left; margin-top: 15px; margin-left: 3px">
    <% (1..rst).each do |idx| %>
    <i class="fa fa-star-o"></i>
    <% end %>
    </span>
<% end %>

<div id="btn_tree" class="pull-right" style="display:none">
    <a id="btn_question" href="#m" data-toggle="modal" class="btn btn-danger btn-sm rounded pull-right" style="margin-left: 10px; ">질문하기</a>
    <button id="btn_tree" class="btn btn-info rounded btn-sm" style="margin-left: 20px; float:right" onclick="view_change('backward')">목차보이기</button>
</div>
</div>

<hr style="clear:both; margin: 0">

<!-- 권한 검사 -->
<% if @unit_concept.level > 1 && !current_user.can_I_use? %>

<div class="row tag-box tag-box-v5">
    <div class="col-md-8">
        <span>Level 2 이상은 결제를 하셔야 이용하실 수 있습니다.</span>
    </div>
    <div class="col-md-4">
        <p><a href="/mypages/payment" class="btn-u btn-u-lg btn-u-red">결제하러가기</a></p>
    </div>
</div>

<% else %>

<div class="row" style="height:calc(100% - 50px)">

    <!-- 개념 -->
    <div id="concept_main" class="col-md-6 col-sm-6 col-xs-12 tabs">
        <% @concepts.each_with_index do | concept, index | %>
        <img id="concept_<%= index %>" src="<%= concept.file_name %>" <%= "hidden" if index > 0 %> />
        <% end %>
        <button id="concept_btn" class="btn-u rounded btn-u-blue margin-top-20" style="float: right; <%= "display:none" if @concepts.count < 2 %>" type="button" onclick="next('concept', <%= @concepts.count %>)">
            다음
            <span id="concept_badge" class="badge badge-aqua rounded-2x" style="float:right; margin-left: 5px" ><%= @concepts.count - 1 %></span>            
        </button>
        
        <a href="#" id="concept_go_btn" class="btn-u rounded btn-u-red margin-bottom-20 margin-top-20" style="float: right; <%= "display:none;" if @concepts.count > 1 %>" onclick="showTab('concept_desc')"> 개념설명</a>
        
    </div>
    
    <!-- 개념설명 -->
    <div id="concept_desc" class="col-md-6 col-sm-6 col-xs-12 tabs" style="display:none">
        <% @concept_descs.each_with_index do | concept_desc, index | %>
        <img id="concept_desc_<%= index %>" src="<%= concept_desc.file_name %>" <%= "hidden" if index > 0 %> />
        <% end %>
        <button id="concept_desc_btn" class="btn-u rounded btn-u-blue margin-top-20" style="float: right; <%= "display:none" if @concept_descs.count < 2 %>" type="button" onclick="next('concept_desc', <%= @concept_descs.count %>)" >
            다음
            <span id="concept_desc_badge" class="badge badge-dark-blue rounded-2x" style="float:right; margin-left: 5px" ><%= @concept_descs.count - 1 %></span>
        </button>
        
        <a href="#" id="concept_desc_go_btn" class="btn-u rounded btn-u-red margin-bottom-20 margin-top-20" style="float: right; <%= "display:none;" if @concept_descs.count > 1 %>" onclick="showTab('concept_exercise')"> 개념문제</a>
        
    </div>
    
    <!-- 연습문제 -->
    <div id="concept_exercise" class="col-md-12 col-sm-12 col-xs-12 tabs" style="display:none">
        <% @exercises.each_with_index do | exercise, index | %>

        <div id="concept_exercise_<%= index %>" <%= "hidden" if index > 0 %> class="col-md-12 margin-bottom-20 no-padding no-margin">
            
            <div class="col-md-6 no-padding no-margin">
                <img src="<%= exercise.file_name %>" style="width:100%; margin-top: 10px;"/>
            </div>

            <div class="col-md-6 text-left">
                
                <a href="javascript:viewSolution(<%= index %>)" class="btn-u rounded btn-u-orange margin-top-20" id="viewSolutionBtn<%= index %>">View Solution</a>

                <!-- OX 이미지 출력 부분 -->
                <% exercise.unit_concept_exercise_solutions.order(:code).each do |solution| %>
                <h4>
                    <% if solution.file_name.blank? %>
                    <div hidden id="solution<%= index %>">
                        <img src="/images/<%= solution.ox %>.png" class="img-responsive">
                    </div>
                    <% else %>
                    <div hidden id="solution<%= index %>">
                        <img src="<%= solution.file_name %>" class="img-responsive">
                    </div>
                    <% end %>
                </h4>
                <% end %>
        
                <!-- 맞음 틀림 선택(라디오버튼) 부분 -->
                <div class="solution margin-left-10" id="selectSolution<%=index%>" hidden>
                    <label class="radio-inline margin-right-10">
                        <input type="radio" id="o<%= exercise.id %>" name="exe<%=exercise.memo%>">맞음
                    </label>
                    <label class="radio-inline margin-right-10">
                        <input type="radio" id="x<%= exercise.id %>" name="exe<%=exercise.memo%>">틀림
                    </label>
                    <button class="btn-u rounded btn-u-orange btn-u-sm margin-left-10 margin-right-10" type="button" onclick="saveOx(<%= exercise.id %>, this)">저장</button>

                    <% hOX = '' %>
                    <% @unit_concepts_exercise_histories.each do |history| %>
                        <% if history.unit_concept_desc_id == exercise.id %>
                            <% hOX = history.ox %>
                        <% end %>
                    <% end %>

                    <label class="margin-left-10">최근 학습 이력: <%= '정답' unless hOX != 'O' %><%= '오답' unless hOX != 'X' %><%= '없음' unless hOX != '' %></label>

                </div>
        
            </div>
        </div>
        
        <% end %>
        
        <button id="concept_exercise_btn" class="btn-u rounded btn-u-blue margin-bottom-20 margin-top-20" style="float: right; <%= "display:none" if @exercises.count < 2 %>" type="button" onclick="next('concept_exercise', <%= @exercises.count %>)" >
            다음
            <span id="concept_exercise_badge" class="badge badge-dark-blue rounded-2x" style="float:right; margin-left: 5px" ><%= @exercises.count - 1 %></span>
        </button>
        
        <a href="#" id="concept_exercise_go_btn" class="btn-u rounded btn-u-red margin-bottom-20" style="float: right; <%= "display:none;" if @exercises.count > 1 %>" onclick="showTab('concept_video')"> 동영상</a>
        
    </div>
    
    <div id="concept_video" class="col-md-12 col-sm-12 col-xs-12 tabs" style="display:none">
        <% @videos.each do | video | %>
        <div class="responsive-video">
            <iframe id="vimeo-player" src="https://player.vimeo.com/video/<%= video.video %>" width="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen ></iframe>
            <p>eurekamathv1 from <a href="https://vimeo.com/user49478797">EurekaMath</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
        </div>
        <% end %>
    </div>
    
    <div id="concept_print" class="col-md-12 col-sm-12 col-xs-12 tabs" style="display:none">

        <div class="col-md-6 col-sm-6 col-xs-6 no-margin no-padding">

            <% @concepts.each do | concept | %>
            <img src="<%= concept.file_name %>" class="img-responsive" style="width:100%; height:100%; margin-top: 10px;"/>
            <% end %>

            <br>
            
            <% @links.each do | link | %>
            &nbsp;&nbsp;<span class="item" style="-webkit-text-fill-color: #3eadff; display: inline;">
                <i class="fa fa-circle"></i>&nbsp;
                <span style="-webkit-text-fill-color: #fc4674"><%= link.code %> </span>
                <span style="-webkit-text-fill-color: #020202"> : <%= link.name %> </span>
            </span>
            <br>
            <% end %>
            <img class="watermark img-responsive" src="/assets/img/logo_watermark.png">
        </div>

        <div class="col-md-6 col-sm-6 col-xs-6 no-margin no-padding">
            <% @concept_descs.each do | concept_desc | %>
            <img src="<%= concept_desc.file_name %>" class="img-responsive" style="width:100%; height:100%; margin-top: 5px;"/>
            <% end %>

            <% @exercises.each do | exercise | %>
            <img src="<%= exercise.file_name %>" class="img-responsive" style="width:100%; height:100%; margin-top: 5px;"/>
            <% end %>
            <img class="watermark img-responsive" src="/assets/img/logo_watermark.png">
        </div>
        
        <input type="button" id="printBtn" onclick="printing('concept_print')" value="프린트하기" class="btn-u rounded btn-u-orange" style="float:right"/>
        
    </div>    
    
    
</div>

<!-- 관련개념 Modal -->
<%= render partial: 'modals/related_concept_modal' %>
<!-- Tab 관련 개념 END-->

<!-- 자기평가 Modal -->
<%= render partial: 'modals/self_evaluation_modal' %>
<!-- Tab Self Evaluation END-->

<!-- 질문하기 Modal -->
<%= render partial: 'modals/do_questions' %>
<!-- 질문하기 Modal End -->


<script type="text/javascript">

    var NUMS = {
        concept: 1,
        concept_desc: 1,
        concept_exercise: 1
    };    
    
    function next(opt, count) {
        $("#" + opt + "_" + NUMS[opt]).show();
        NUMS[opt]++;
        $("#" + opt + "_badge").text(count-NUMS[opt]);
        
        if (count == NUMS[opt]) {
            $('#' + opt + '_btn').hide();
            $('#' + opt + "_go_btn").show();
            update_study_history(opt, 'finish');            
        }
    }


    function update_study_history(segment, status) {

        $('#loading').show();

        var url = "/study_histories/";

        var data = {
            "study_history" : {
                "user_id" : <%= current_user.id %>,
                "unit_concept_id" : <%= @unit_concept.id %>,
                "segment" : segment,
                "status" : status
            }
        }
        
        $.ajax({
            url: url,
            type: "POST",
            beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
            datatype: "json",
            data:data,
            success : function(data) {
                $('#loading').hide();
            },
            error : function(){
                $('#loading').hide();
            }
        });
    }

    $(document).ready(function(){

        $('#new_unit_concept_self_evaluation').submit(function () {
            $('#loading').show();
            if ( !$('#evaluation_easy').is(":checked") && !$('#evaluation_normal').is(":checked") && !$('#evaluation_difficult').is(":checked") ) {
                alert('난이도를 선택하세요.');
                $('#loading').hide();
                return false;
            } else if ( $('#evaluation_comment').val() == '') {
                alert('comment를 입력하세요.');
                $('#loading').hide();
                return false;
            }
        });

        $('.study_segment').click(function() {
            update_study_history($(this).attr("id"), "start");
        });

    });

    function viewSolution(imgCount) {
        $('#solution'+imgCount).show();
        $('#selectSolution'+imgCount).show();
        $('#viewSolutionBtn'+imgCount).hide()
    }

    function saveOx(unit_concept_desc_id, t) {

        if (!$('#o' + unit_concept_desc_id).is(":checked") && !$('#x' + unit_concept_desc_id).is(":checked") ) {
            alert('맞음 혹은 틀림을 선택하세요.');
            return false;
        }

        $('#loading').show();
        var ox = "O";

        if ($('#x' + unit_concept_desc_id).is(":checked")) ox = "X";

        var url = "/unit_concept_exercise_histories/";

        var data = {
            "unit_concept_exercise_history" : {
                "user_id" : <%= current_user.id %>,
                "unit_concept_desc_id" : unit_concept_desc_id,
                "ox" : ox
            }
        }

        $.ajax({
            url: url,
            type: "POST",
            beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
            datatype: "json",
            data:data,
            success : function(data) {
                $(t).attr("disabled", true);
                $(t).removeClass('btn-u-orange');
                $(t).addClass('btn-u-light-grey');
                $('#loading').hide();
            },
            error : function(){
                alert("try to again. please.");
                $('#loading').hide();
            }
        });
    }
    
    function printing(printId) {
        
        var printElements = document.getElementById(printId).innerHTML;
        var allPage = document.body.innerHTML;

        document.body.innerHTML = printElements;
        $("#printBtn").hide();
        window.print();

        document.body.innerHTML = allPage;
        location.reload();
    }

</script>

<% end %>