<script src="http://a.vimeocdn.com/js/froogaloop2.min.js"></script>
<div class="row" style="margin: 20px;">



  <div class="col-md-12">

    <!-- tabs right -->
    <div class="tabbable">
      <ul class="nav nav-pills nav-stacked col-sm-1 col-sm-push-11" id="nav-pills">
        <li class="active"><a href="#d" data-toggle="tab" style="text-align: center" onclick="videoPause()">개 념</a></li>
        <li><a href="#e" data-toggle="tab" style="text-align: center" onclick="videoPause()">개념 설명</a></li>
        <li><a href="#f" data-toggle="tab" style="text-align: center" onclick="videoPause()">Exercise</a></li>
        <li><a href="#g" data-toggle="modal" data-target="#g" style="text-align: center" onclick="videoPause()">관련 개념</a></li>
        <li><a href="#v" data-toggle="tab" style="text-align: center">Video</a></li>
        <li><a href="#s" data-toggle="modal" data-target="#s" style="text-align: center" onclick="videoPause()">Self Evaluation</a></li>
        <li><a href="#m" data-toggle="modal" data-target="#question" style="text-align: center">질문하기</a></li>
        <li><a href="#p" data-toggle="tab" style="text-align: center" onclick="videoPause()">프린트</a></li>
      </ul>

      <div class="tab-content col-sm-11 col-sm-pull-1">
        <!-- 이전 다음 개념 링크 -->
        <div class="col-md-12 col-ms-12 col-xs-12 no-margin" >
          <% count = 0 %>
          <% @unit_concept_related.each do |related| %>
              <div class="col-md-4 col-ms-4 col-xs-4 no-padding no-margin margin-top-20 <%= 'text-left' unless count != 0 %> <%= 'text-center' unless count != 1 %> <%= 'text-right' unless count != 2 %>">
                <p style="color: #898487"><%= 'prev' unless count != 0 %> <%= 'now' unless count != 1 %> <%= 'next' unless count != 2 %></p>
                <a href="/contents/<%= related.id %>"><i style="color: darkblue;" class="<%= 'fa fa-chevron-left' unless count != 0 %>"></i>&nbsp;<span style="color:black;"/> <%= related.name %> &nbsp;<i style="color: darkblue;" class="<%= 'fa fa-chevron-right' unless count != 2 %>"></i></a>
                <br/><br/>
              </div>
              <% count += 1 %>
          <% end %>
        </div>

        <!-- Tab 개념 -->
        <div class="tab-pane active" id="d">

          <div class="col-md-6">

            <p>
              <% unless @unit_concept.level.nil? %>
                  <% rst = 5 - @unit_concept.level %>
                  <span style="color:red">
                    <% (1..@unit_concept.level).each do |idx| %>
                    *
                    <% end%>
                    </span>
                    <span style="color:gray">
                    <% (1..rst).each do |idx| %>
                    *
                    <% end %>
                    </span>
              <% end %>
            </p>
            <h3><span style="color:red"><%= @unit_concept.code.upcase %></span> <%= @unit_concept.name %></h3>

            <div style="overflow-y: auto; width: 100%;">
              <% imgCount = 1 %>
              <% @unit_concept_descs.each do | unit_concept_desc | %>
                  <% unless unit_concept_desc.desc_type.to_i != 1 %>
                      <% if imgCount == 1 %>
                          <img src="<%= unit_concept_desc.file_name %>" style="width:100%; margin-top: 10px;"/>
                      <% else %>
                          <img id="ucd1<%= imgCount %>" hidden src="<%= unit_concept_desc.file_name %>" style="width:100%; margin-top: 10px;"/>
                      <% end %>
                      <% imgCount += 1 %>
                  <% end %>
              <% end %>
              <% if imgCount == 1 || imgCount == 2 %>
                  <div class="col-md-9">
                  </div>
                  <div class="col-md-3">
                    <ul hidden class="list-inline badge-lists margin-bottom-30 margin-top-20">
                      <li>
                        <button id="btn1" class="btn rounded btn-success" type="button" >다음</button>
                        <span id="badge1" class="badge badge-red rounded-2x" ><%= imgCount-2 %></span>
                      </li>
                    </ul>
                  </div>
              <% else %>
                  <div class="col-md-9">
                  </div>
                  <div class="col-md-3">
                    <ul class="list-inline badge-lists margin-bottom-30 margin-top-20">
                      <li>
                        <button id="btn1" class="btn rounded btn-success" type="button" >다음</button>
                        <span id="badge1" class="badge badge-red rounded-2x" ><%= imgCount-2 %></span>
                      </li>
                    </ul>
                  </div>
              <% end %>

            </div>
          </div>
        </div> <!-- Tab 개념 END-->

        <!-- Tab 개념 설명 -->
        <div class="tab-pane" id="e">
          <div class="col-md-6">

            <p>
              <% unless @unit_concept.level.nil? %>
                  <% rst = 5 - @unit_concept.level %>
                  <span style="color:red">
                                <% (1..@unit_concept.level).each do |idx| %>
                                *
                                <% end%>
                                </span>
                                <span style="color:gray">
                                <% (1..rst).each do |idx| %>
                                *
                                <% end %>
                                </span>
              <% end %>
            </p>
            <h3><span style="color:red"><%= @unit_concept.code.upcase %></span> <%= @unit_concept.name %></h3>

            <div style="overflow-y: auto; width: 100%;">
              <% @unit_concept_descs.each do | unit_concept_desc | %>
                  <% unless unit_concept_desc.desc_type.to_i != 1%>
                      <img src="<%= unit_concept_desc.file_name %>" style="width:100%; margin-top: 10px;"/>
                  <% end %>
              <% end %>
            </div>
          </div>

          <div class="col-md-6">
            <div style="overflow-y: auto; width: 100%;">
              <% imgCount = 1 %>
              <% @unit_concept_descs.each do | unit_concept_desc | %>
                  <% unless unit_concept_desc.desc_type.to_i != 2 %>
                      <% if imgCount == 1 %>
                          <img src="<%= unit_concept_desc.file_name %>" style="width:100%; margin-top: 10px;"/>
                      <% else %>
                          <img id="ucd2<%= imgCount %>" hidden src="<%= unit_concept_desc.file_name %>" style="width:100%; margin-top: 10px;"/>
                      <% end %>
                      <% imgCount += 1 %>
                  <% end %>
              <% end %>
              <% if imgCount == 1 || imgCount == 2 %>
                  <div class="col-md-9">
                  </div>
                  <div class="col-md-3">
                    <ul hidden class="list-inline badge-lists margin-bottom-30 margin-top-20">
                      <li>
                        <button id="btn2" class="btn rounded btn-success" type="button" >다음</button>
                        <span id="badge2" class="badge badge-red rounded-2x" ><%= imgCount-2 %></span>
                      </li>
                    </ul>
                  </div>
              <% else %>
                  <div class="col-md-9">
                  </div>
                  <div class="col-md-3">
                    <ul class="list-inline badge-lists margin-bottom-30 margin-top-20">
                      <li>
                        <button id="btn2" class="btn rounded btn-success" type="button" >다음</button>
                        <span id="badge2" class="badge badge-red rounded-2x" ><%= imgCount-2 %></span>
                      </li>
                    </ul>
                  </div>
              <% end %>
            </div>
          </div>
        </div> <!-- Tab 개념 설명 END -->


        <!-- Tab Exercise -->
        <div class="tab-pane" id="f">
          <div class="col-md-12 margin-bottom-20">
            <p>
              <% unless @unit_concept.level.nil? %>
                  <% rst = 5 - @unit_concept.level %>
                  <span style="color:red">
                                <% (1..@unit_concept.level).each do |idx| %>
                                *
                                <% end%>
                                </span>
                                <span style="color:gray">
                                <% (1..rst).each do |idx| %>
                                *
                                <% end %>
                                </span>
              <% end %>
            </p>

            <h3><span style="color:red"><%= @unit_concept.code.upcase %></span> <%= @unit_concept.name %></h3>

            <div style="overflow-y: auto; width: 100%;">
              <% imgCount = 1 %>
              <% @unit_concept_descs.each do | unit_concept_desc | %>
                  <% unless unit_concept_desc.desc_type.to_i != 3 %>
                      <% if imgCount == 1 %>
                          <div class="col-md-12 margin-bottom-20" id="exercise1<%=imgCount%>">
                            <div class="col-md-6">
                              <img src="<%= unit_concept_desc.file_name %>" style="width:100%; margin-top: 10px;"/>
                            </div>

                            <div class="col-md-6 text-left">
                              <a href="javascript:viewSolution(<%= imgCount %>)" class="btn btn-success" id="viewSolutionBtn<%=imgCount%>">View Solution</a>

                              <!-- OX 이미지 출력 부분 -->
                              <% unit_concept_desc.unit_concept_exercise_solutions.order(:code).each do |solution| %>
                                  <% if solution.file_name.blank? %>
                                      <div class="row" hidden id="solution<%=imgCount%>"><img src="/images/<%= solution.ox %>.png"></div>
                                  <%  else %>
                                      <div class="row" hidden id="solution<%=imgCount%>"><img src="<%= solution.file_name %>"></div>
                                  <% end %>
                              <% end %>

                              <!-- 맞음 틀림 선택(라디오버튼) 부분 -->
                              <div class="solution" id="selectSolution<%=imgCount%>" hidden>
                                <label class="radio-inline">
                                  <input type="radio" id="o<%= unit_concept_desc.id %>" name="exe<%=unit_concept_desc.memo%>">맞음
                                </label>
                                &nbsp; &nbsp;
                                <label class="radio-inline">
                                  <input type="radio" id="x<%= unit_concept_desc.id %>" name="exe<%=unit_concept_desc.memo%>">틀림
                                </label>
                                &nbsp; &nbsp; &nbsp; &nbsp;
                                <button class="btn rounded btn-info" type="button" onclick="saveOx(<%= unit_concept_desc.id %>)">저장</button>
                                &nbsp; &nbsp;
                                <% hOX = '' %>
                                <% @unit_concepts_exercise_histories.each do |history| %>
                                    <% if history.unit_concept_desc_id == unit_concept_desc.id %>
                                        <% hOX = history.ox %>
                                    <% end %>
                                <% end %>
                                <% unless hOX == '' %>
                                    <% if hOX == 'O'%>
                                        <label>최근 학습 이력: 정답</label>
                                    <% else %>
                                        <label>최근 학습 이력: 오답</label>
                                    <% end %>
                                <% else %>
                                    <label>최근 학습 이력: 없음</label>
                                <% end %>
                              </div>
                            </div>
                          </div>
                      <% else %>
                          <div hidden class="col-md-12 margin-bottom-20" id="exercise1<%=imgCount%>">
                            <div class="col-md-6">
                              <img src="<%= unit_concept_desc.file_name %>" style="width:100%; margin-top: 10px;"/>
                            </div>

                            <div class="col-md-6 text-left">
                              <a href="javascript:viewSolution(<%= imgCount %>)" class="btn btn-success" id="viewSolutionBtn<%=imgCount%>">View Solution</a>
                              <!-- OX 이미지 출력 부분 -->
                              <% unit_concept_desc.unit_concept_exercise_solutions.order(:code).each do |solution| %>
                                  <% if solution.file_name.blank? %>
                                      <div class="row" hidden id="solution<%=imgCount%>"><img src="/images/<%= solution.ox %>.png"></div>
                                  <%  else %>
                                      <div class="row" hidden id="solution<%=imgCount%>"><img src="<%= solution.file_name %>"></div>
                                  <% end %>
                              <% end %>

                              <!-- 맞음 틀림 선택(라디오버튼) 부분 -->
                              <div class="solution" id="selectSolution<%=imgCount%>" hidden>
                                <label class="radio-inline">
                                  <input type="radio" id="o<%= unit_concept_desc.id %>" name="exe<%=unit_concept_desc.memo%>">맞음
                                </label>
                                &nbsp; &nbsp;
                                <label class="radio-inline">
                                  <input type="radio" id="x<%= unit_concept_desc.id %>" name="exe<%=unit_concept_desc.memo%>">틀림
                                </label>
                                &nbsp; &nbsp; &nbsp; &nbsp;
                                <button class="btn rounded btn-info" type="button" onclick="saveOx(<%= unit_concept_desc.id %>)">저장</button>
                                &nbsp; &nbsp;

                                <% hOX = '' %>
                                <% @unit_concepts_exercise_histories.each do |history| %>
                                    <% if history.unit_concept_desc_id == unit_concept_desc.id %>
                                        <% hOX = history.ox %>
                                    <% end %>
                                <% end %>
                                <% unless hOX == '' %>
                                    <% if hOX == 'O'%>
                                        <label>최근 학습 이력: 정답</label>
                                    <% else %>
                                        <label>최근 학습 이력: 오답</label>
                                    <% end %>
                                <% else %>
                                    <label>최근 학습 이력: 없음</label>
                                <% end %>
                              </div>
                            </div>
                          </div>
                      <% end %>
                      <% imgCount += 1 %>
                  <% end %>
              <% end %>
              <% if imgCount == 1 || imgCount == 2 %>
                  <div class="col-md-11 text-right">
                    <ul hidden class="list-inline badge-lists margin-bottom-30 margin-top-20">
                      <li>
                        <button id="btn3" class="btn rounded btn-success" type="button" >다음</button>
                        <span id="badge3" class="badge badge-red rounded-2x" ><%= imgCount-2 %></span>
                      </li>
                    </ul>
                  </div>
                  <div class="col-md-1 t text-right">

                  </div>
              <% else %>
                  <div class="col-md-11 text-right">
                    <ul class="list-inline badge-lists margin-bottom-30 margin-top-20">
                      <li>
                        <button id="btn3" class="btn rounded btn-success" type="button" >다음</button>
                        <span id="badge3" class="badge badge-red rounded-2x" ><%= imgCount-2 %></span>
                      </li>
                    </ul>
                  </div>
                  <div class="col-md-1">
                  </div>
              <% end %>
            </div>
          </div>


        </div> <!-- Tab Exercise END -->

        <!-- Tab Video -->
        <div class="tab-pane" id="v">
          <div class="col-md-12">
            <p>
              <% unless @unit_concept.level.nil? %>
                  <% rst = 5 - @unit_concept.level %>
                  <span style="color:red">
                      <% (1..@unit_concept.level).each do |idx| %>
                      *
                      <% end%>
                      </span>
                      <span style="color:gray">
                      <% (1..rst).each do |idx| %>
                      *
                      <% end %>
                  </span>
              <% end %>
            </p>
            <h3><span style="color:red"><%= @unit_concept.code.upcase %></span> <%= @unit_concept.name %></h3>

            <div style="overflow-y: auto; ">
              <% @unit_concept_descs.each do | unit_concept_desc | %>
                  <% unless unit_concept_desc.desc_type.to_i != 4%>
                      <div class="responsive-video margin-bottom-30">
                        <iframe id="vimeo-player" src="https://player.vimeo.com/video/<%= unit_concept_desc.video %>" width="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen ></iframe>
                        <p>eurekamathv1 from <a href="https://vimeo.com/user49478797">EurekaMath</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
                      </div>
                  <% end %>
              <% end %>

            </div>

          </div>
        </div> <!-- Tab Video END -->

        <!-- Tab 프린트 -->
        <div class="tab-pane" id="p">
          <div id="printArea"> <!-- 프린트 영역 -->
            <div class="col-xs-6">
              <p>
                <% unless @unit_concept.level.nil? %>
                    <% rst = 5 - @unit_concept.level %>
                    <span style="-webkit-text-fill-color: red; font-size: large">
                      <% (1..@unit_concept.level).each do |idx| %>
                      *
                      <% end%>
                      </span>
                      <span style="-webkit-text-fill-color: grey; font-size: large">
                      <% (1..rst).each do |idx| %>
                      *
                      <% end %>
                  </span>
                <% end %>
              </p>
              <h4 style="margin-bottom: 10px"><span style="-webkit-text-fill-color: red"><%= @unit_concept.code.upcase %></span> <%= @unit_concept.name %></h4>

              <% @unit_concept_descs.each do | unit_concept_desc | %>
                  <% unless unit_concept_desc.desc_type.to_i != 1%>
                      <img src="<%= unit_concept_desc.file_name %>" style="width:100%; height:100%; margin-top: 10px;"/>
                      <%  %>
                  <% end %>
              <% end %>
              <br><br>
              <span class="label rounded-2x label-aqua">관련 개념</span>
              <br>

              <% @links.each do | link | %>
                      <span class="item" style="-webkit-text-fill-color: #3eadff; display: inline;">
                         <i class="fa fa-circle"></i>
                        &nbsp;
                        <span style="-webkit-text-fill-color: #fc4674"><%= link.code %> </span>
                        <span style="-webkit-text-fill-color: #020202"> : <%= link.name %> </span>
                      </span>
                  <br>
              <% end %>
              <img class="watermark" src="/assets/img/logo_watermark.png">
            </div>

            <div class="col-xs-6">
              <br><br>
              <span class="label rounded-2x label-aqua">개념보충설명</span>
              <br>


              <% @unit_concept_descs.each do | unit_concept_desc | %>
                  <% unless unit_concept_desc.desc_type.to_i != 2 %>
                      <img src="<%= unit_concept_desc.file_name %>" style="width:100%; height:100%; margin-top: 5px;"/>
                  <% end %>
              <% end %>
              <br><br>
              <span class="label rounded-2x label-aqua margin-bottom-30">Exercise</span>

              <% @unit_concept_descs.each do | unit_concept_desc | %>
                  <% unless unit_concept_desc.desc_type.to_i != 3 %>
                      <img src="<%= unit_concept_desc.file_name %>" style="width:100%; height:100%; margin-top: 5px;"/>
                  <% end %>
              <% end %>
              <img class="watermark" src="/assets/img/logo_watermark.png">
            </div>
            <div class="col-md-12 text-right margin-top-20">
              <input type="button" id="printBtn" onclick="printing('printArea')" value="프린트하기" class="btn rounded btn-success"/>
            </div>

          </div> <!-- 프린트 영역 END-->
        </div> <!-- Tab 프린트 END -->

      </div>
    </div>
  </div>
  <!-- /tabs -->

  <!-- Tab Self Evaluation -->

  <!-- Modal -->
  <div class="modal fade" id="s" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <div class="modal-title">
            <span class="label rounded-2x label-aqua">SELF EVALUATION</span>
          </div>
        </div>

        <div class="modal-body">

          <div class="row" style="margin-left: 5px; margin-right: 5px">

            <strong style="color:blue">자기평가 이력</strong>

            <table class="table">
              <thead>
              <th>날짜</th>
              <th>난이도</th>
              <th>Comment</th>
              </thead>

              <tbody>
              <% @self_evaluations.each do |eval| %>
                  <tr>
                    <td><%= eval.created_at.strftime("%Y/%m/%d %H:%M") %></td>
                    <td><%= eval.evaluation %></td>
                    <td><%= eval.comment %></td>
                  </tr>
              <% end %>
              </tbody>
            </table>
          </div>

          <div class="row">
            <div class="col-md-3">
              <strong style="color:blue">난이도</strong>
            </div>
            <div class="col-md-9">
              <label class="radio-inline">
                <input type="radio" id="evaluation_easy" name="evaluation" value="easy" > 이해됨
              </label>
              <label class="radio-inline">
                <input type="radio" id="evaluation_normal" name="evaluation" value="normal" > 보통
              </label>
              <label class="radio-inline">
                <input type="radio" id="evaluation_difficult" name="evaluation" value="difficult" > 어려움
              </label>
            </div>
          </div>

          <div class="row" style="margin-top: 10px; ">
            <div class="col-md-3">
              <strong style="color:blue">Comment</strong>
            </div>
            <div class="col-md-9">
              <textarea id="evaluation_comment" class="form-control" rows="3" style="width:100%" placeholder="입력하세요"></textarea>
            </div>
          </div>

        </div>

        <div class="modal-footer">
          <button class="btn rounded btn-success" type="button" onclick="saveEvaluation()">확인</button>
        </div>

      </div>
    </div>
  </div>


  <!-- Tab Self Evaluation END-->

</div>

<!-- Tab 관련 개념 -->

<!-- Modal -->
<div class="modal fade" id="g" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <div class="modal-title">
          <span class="label rounded-2x label-aqua">관련 개념</span>
        </div>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col-lg-12">

            <% @links.each do | link | %>

                <div class="col-md-4 content-boxes-v6 md">
                  <a href="/contents/<%= link.id %>" target="_blank"><i class="rounded-x icon-link"></i></a>
                  <h1 class="title-v3-md text-uppercase margin-bottom-10"><p> <%= link.name %></p></h1>
                </div>
            <% end %>

          </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->

      </div>
      <div class="modal-footer">
        <button data-dismiss="modal" class="btn rounded btn-success" type="button" >확인</button>
      </div>
    </div>
  </div>
</div>

<!-- Tab 관련 개념 END-->

<!-- Modal -->
<div class="modal fade" id="question" role="dialog">

  <div class="modal-dialog">

    <div class="modal-content">

      <form action="/questions" id="new_question" method="post" enctype="multipart/form-data" novalidate="novalidate" charset="utf-8">

        <%= token_tag nil %>

        <input type="hidden" name="question[unit_concept_id]" value="<%= @unit_concept.id %>" />
        <input type="hidden" name="question[to_user_id]" value="<%= @mento.id unless @mento.nil?  %>" />
        <input type="hidden" name="question[user_id]" value="<%= current_user.id %>" />

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <div class="modal-title">
            <span class="label rounded-2x label-aqua">질문하기 : to <%= @mento.user_name unless @mento.nil? %> 선생님.</span>
          </div>
        </div>

        <div class="modal-body">

          <div class="row">
            <div class="col-md-2" style="text-align:right">제목</div>
            <div class="col-md-10"><input type="text" id="question_title" name="question[title]" class="form-control" /></div>
          </div>

          <div class="row" style="margin-top: 10px">
            <div class="col-md-2" style="text-align:right">내용</div>
            <div class="col-md-10">
              <!--
              <textarea id="question_content" rows="10" class="form-control" name="question[content]"></textarea>
              -->
              <input type="hidden" name="question[content]" id="question_content">
              <div id="question_post" style="font-size: 10px;"></div>
            </div>
          </div>

          <!--
          <div class="row" style="margin-top: 10px">
            <div class="col-md-2" style="text-align:right">파일첨부</div>
            <div class="col-md-10">
              <input type="file" id="question_file" name="question[file_name]" rows="10" class="form-control">
            </div>
          </div>
          -->

        </div>

        <div class="modal-footer">
          <button class="btn rounded btn-success" type="submit">확인</button>
        </div>

      </form>

    </div>

  </div>

</div>
<!-- Tab 관련 개념 END-->

</div>

</div>
<!-- /row -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

<script type="text/javascript">

  $(document).ready(function(){
    var index = 2;

    $("#btn1").click(function(){

      $("#ucd1"+index).show();
      index++;

      var count = Number($("#badge1").text());
      if (count == -1) {
        count = 0;
      }
      if (count > 0) {
        $("#badge1").text(count-1);
      }
      if (count == 1) {
        $("#btn1").hide();
        $("#badge1").hide();
      }
    });
  });

</script>


<script type="text/javascript">
  $(document).ready(function(){
    var index = 2;
    $("#btn2").click(function(){
      $("#ucd2"+index).show();
      index++;

      var count = Number($("#badge2").text());

      if (count > 0 ){
        $("#badge2").text(count-1);
      }
      if (count == 1){
        $("#btn2").hide();
        $("#badge2").hide();
      }
    });
  });
</script>

<script type="text/javascript">
  $(document).ready(function(){
    var index = 2;

    $("#btn3").click(function(){
      $("#exercise1"+index).show();
      index++;

      var count = Number($("#badge3").text());
      if(count == -1){
        count = 0;
      }
      if (count > 0){
        $("#badge3").text(count-1);
      }
      if (count == 1){
        $("#btn3").hide();
        $("#badge3").hide();
      }
    });
  });
  function viewSolution(imgCount) {
    $('#solution'+imgCount).slideDown( "slow", function() {});
    $('#selectSolution'+imgCount).slideDown("slow", function() {});
    $('#viewSolutionBtn'+imgCount).slideUp("slow", function(){});
  }

  function saveOx(unit_concept_desc_id) {

    if (!$('#o' + unit_concept_desc_id).is(":checked") && !$('#x' + unit_concept_desc_id).is(":checked") ) {
      alert('맞음 혹은 틀림을 선택하세요.');
      return false;
    }

    $('#loading').show();
    var ox = "O";

    if ($('#x' + unit_concept_desc_id).is(":checked")) ox = "X";

    var url = "/unit_concept_exercise_histories/";

    var data = {
      "unit_concept_exercise_history" : {
        "user_id" : <%= current_user.id %>,
        "unit_concept_desc_id" : unit_concept_desc_id,
        "ox" : ox
      }
    }

    $.ajax({
      url: url,
      type: "POST",
      beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
      datatype: "json",
      data:data,
      success : function(data) {
        $('#loading').hide();
      },
      error : function(){
        alert("try to again. please.");
        $('#loading').hide();
      }
    });

  }

  function saveEvaluation() {

    if ( !$('#evaluation_easy').is(":checked") && !$('#evaluation_normal').is(":checked") && !$('#evaluation_difficult').is(":checked") ) {
      alert('난이도를 선택하세요.');
      return false;
    }

    $('#loading').show();

    var evaluation = "";

    if ($('#evaluation_easy').is(":checked")) evaluation = $('#evaluation_easy').val();
    else if ( $('#evaluation_normal').is(":checked") ) evaluation = $('#evaluation_normal').val();
    else if ( $('#evaluation_difficult').is(":checked") ) evaluation = $('#evaluation_difficult').val();

    var url = "/unit_concept_self_evaluations/";

    var data = {
      "unit_concept_self_evaluation" : {
        "user_id" : <%= current_user.id %>,
        "unit_concept_id" : <%= @unit_concept.id %>,
        "evaluation" : evaluation,
        "comment" : $('#evaluation_comment').val()
      }
    }

    $.ajax({
      url: url,
      type: "POST",
      beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
      datatype: "json",
      data:data,
      success : function(data) {
        $('#loading').hide();
        alert('자기평가를 등록하였습니다.');
        location.reload();
      },
      error : function(){
        alert("try to again. please.");
        $('#loading').hide();
      }
    });

  }
</script>

<!-- Print method -->
<script type="text/javascript">
  function printing(printId) {
    var printElements = document.getElementById(printId).innerHTML;
    var allPage = document.body.innerHTML;

    document.body.innerHTML = printElements;
    $("#printBtn").hide();
    window.print();

    document.body.innerHTML = allPage;
    location.reload();
  }
</script>

<script type="text/javascript">
  function videoPause(){
    var iframe = $('#vimeo-player')[0];
    var player = $(iframe);
    player.api('pause');
  }
</script>


<script type="text/javascript">
  function initpage() {
    $('#question_post').summernote({
      height : 180,
      lang: 'ko-KR',
      focus : true,
      tabsize : 2
    });

    $('#new_question').submit(function () {
      if ($('#question_title').val() == '' ){
        alert('제목을 입력하세요.');
        $('#question_title').focus();
        return false;
      }

      if ($('#question_post').summernote('isEmpty')) {
        alert('내용을 입력하세요.');
        $('#question_post').focus();
        return false;
      }
      $('#question_content').val($('#question_post').summernote('code'));
    });
  }
</script>