<div class="container container-fluid">
    <div class="content-sm">

        <h2 class="sub-header"><span class="fa fa-book"></span> Show Textbook</h2>
        <div class="col-md-4">
            <p id="notice"><%= notice %></p>

            <h3>
                <strong>이름:</strong>
                <%= @textbook.name %>
            </h3>

            <h3>
                <strong>가격:</strong>
                <%= @textbook.price %> (원)
            </h3>

            <h3>
                <strong>학년:</strong>
                <%= UnitConcept::CONTENTS_GRADES[@textbook.grade] %>
            </h3>

            <h3>
                <strong>Sub category:</strong>
                <%= Concept::SUB_CATEGORIES[@textbook.sub_category] %> ( <%= @textbook.sub_category %> )
            </h3>

            <%= link_to 'Edit', edit_textbook_path(@textbook) %> |
            <%= link_to 'Back', textbooks_path %>
        </div>

        <div class="col-md-8"></div>
    </div>
</div>
