<p id="notice"><%= notice %></p>

<h1>Listing Grade Unit Concepts</h1>

<table>
  <thead>
    <tr>
      <th>Grade</th>
      <th>Chapter</th>
      <th>Category</th>
      <th>Sub category</th>
      <th>Code</th>
      <th>Unit concept</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @grade_unit_concepts.each do |grade_unit_concept| %>
      <tr>
        <td><%= grade_unit_concept.grade %></td>
        <td><%= grade_unit_concept.chapter %></td>
        <td><%= grade_unit_concept.category %></td>
        <td><%= grade_unit_concept.sub_category %></td>
        <td><%= grade_unit_concept.code %></td>
        <td><%= grade_unit_concept.unit_concept %></td>
        <td><%= link_to 'Show', grade_unit_concept %></td>
        <td><%= link_to 'Edit', edit_grade_unit_concept_path(grade_unit_concept) %></td>
        <td><%= link_to 'Destroy', grade_unit_concept, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Grade unit concept', new_grade_unit_concept_path %>
