<!-- Blog All Posts -->
<div class="col-md-9">

    <% @blogs.each do |blog| %>

        <!-- Blog Posts -->
        <div class="news-v3 bg-color-white margin-bottom-60 tag-box tag-box-v1 box-shadow shadow-effect-2" >

            <% unless blog.file_name.blank? %>
                <img class="img-responsive full-width" src="<%= blog.file_name %>" alt="">
            <% end %>

            <div class="news-v3-in">
                <ul class="list-inline posted-info">
                    <% if blog.admin_yn == 'Y' %>
                        <li>By <a data-toggle="modal" data-target="#admin_profile_modal">운영자</a></li>
                    <% else %>
                        <li>By <a href="javascript:getUserProfile(<%= blog.user_id %>)"><%= blog.user.user_name unless blog.user.nil? %></a></li>
                    <% end %>

                    <li>Posted <%=l blog.created_at.in_time_zone("Asia/Seoul").to_date, :format => :long %></li>
                </ul>

                <h2><a href="/blogs/<%= blog.id %>?blog_type=<%= blog.blog_type %>"><%= blog.title %></a></h2>
                <p><%= simple_format(blog.content.truncate(300)) %></p>

                <ul class="post-shares">
                    <li><i class="rounded-x icon-speech" title="답변"></i><span><%= blog.blog_replies.count %></span></li>
                    <li><a href="javascript:blogLike(<%= blog.id %>)"><i class="rounded-x icon-heart" title="추천"></i><span><%= blog.like.nil? ? 0 : blog.like %></span></a></li>
                </ul>
            </div>
        </div>
        <!-- End Blog Posts -->

    <% end %>

    <!-- Pager v2 -->
    <%
        page = params[:page]
        if page.nil?
            page = 1
        end
    %>
    <ul class="pager pager-v2 pager-md no-margin">
        <li class="previous"><a href="/blogs/<%=Blog::BLOG_NAMES[@blog_type]%><%= "?page=#{page.to_i - 1}" if page.to_i > 1 %>">&larr; Older</a></li>
        <li class="page-amount"><%= page %> of <%= @blogs.total_pages %></li>
        <li class="next"><a href="/blogs/<%=Blog::BLOG_NAMES[@blog_type]%><%= "?page=#{page.to_i + 1}" if page.to_i < @blogs.total_pages %>">Newer &rarr;</a></li>
    </ul>
    <!-- End Pager v2 -->

</div>
<!-- End Blog All Posts -->

<%= render partial: 'modals/user_profile' %>
<%= render partial: 'modals/admin_profile' %>

<script type="text/javascript">

    function blogLike(blog_id) {

        <% if current_user.nil? %>

        location = '/users/sign_in';

        <% else %>

        var url = "/blogs/" + blog_id + "/like";

        $.ajax({
            url: url,
            type: "GET",
            beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
            datatype: "json",
            success : function(data) {
                location.reload();
            },
            error : function(){
                alert("try to again. please.");
            }
        });

        <% end %>
    }

</script>