<div class="col-md-9 margin-top-20 bg-color-light rounded">

  <% unless @blogs.blank? %>

      <div class="row">
        <div class="col-md-12 margin-top-20"></div>
        <% @blogs.each do |blog| %>
            <div class="col-md-12">
              <div class="news-v3 bg-color-white margin-bottom-30">
                <img class="img-responsive full-width rounded <%= 'hidden' if blog.file_name.blank? %>" src="<%= blog.file_name %>" alt="">
                <div class="news-v3-in">
                  <ul class="list-inline posted-info">
                    <li>By <%='관리자' if blog.admin_yn == 'Y' %><%= @user.user_name if blog.admin_yn == 'N' %></li>
                    <li>Posted <%= blog.created_at.in_time_zone("Asia/Seoul").strftime('%Y.%m.%d') %></li>
                  </ul>
                  <h2><a href="/blogs/<%= blog.id %>"><span style="color: #00a2ed"><i class="fa fa-paper-plane-o"></i></span> <%= blog.title %></a></h2>
                </div>
              </div>
            </div>
        <% end %>
      </div>

      <div class="text-center bg-color-white">
        <ul class="pagination">
          <%= will_paginate @blogs, renderer: BootstrapPagination::Rails %>
        </ul>
      </div>
      <div class="col-md-12 margin-top-20"></div>
  <% else %>
      <hr class="no-margin margin-bottom-20">
      <div class="tag-box box-shadow shadow-effect-1">
        <h4 class="text-center"><span style="color: #00a2ed"><i class="fa fa-paper-plane-o"></i></span> 등록된 게시물이 없습니다.</h4>
      </div>
  <% end %>
</div>

<!-- Alert -->
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content modAlertch">
      <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
        <h4 id="myLargeModalLabel3" class="modal-title"><i class="glyphicon glyphicon-check"></i> 알림</h4>
      </div>

      <div class="modal-body modAlert">
        <div class="modAlertbox">
          <p>로그인이 필요합니다!</p>
          <ul>
            <li><%=link_to '로그인',  new_user_session_path, :class => 'btn btn-link' %></li>
            <li><%=link_to '회원가입', new_user_registration_path, :class => 'btn btn-link' %></li>
          </ul>
        </div>
        <div class="margin-bottom-20"></div>
      </div>
      
    </div>
  </div>
</div>
<!-- End Alert -->