<div class="col-md-9">
  <% unless @blogs.blank? %>
      <% count = 1 %>
      <% @blogs.each do |blog| %>
          <div class="col-md-11 margin-top-20 bg-color-light rounded box-shadow shadow-effect-1" style="padding: 2%">

            <div class="row clients-page">
              <div class="col-md-2 col-xs-3">
                <% if blog.admin_yn == 'Y' %>
                    <img src="/assets/img/arch2.jpg" class="img-responsive rounded-x hover-effect center-block" alt="">
                <% else %>
                    <img src="<%= blog.user.user_img unless blog.user.user_img.blank? %><%= '/assets/img/user_default_img.png' if blog.user.user_img.blank? %>" class="img-responsive rounded-x hover-effect center-block" alt="">
                <% end %>
              </div>
              <div class="col-md-10 col-xs-9">
                <h3><span style="color: #00a2ed"><i class="fa fa-paper-plane-o"></i></span> <%= blog.title %></h3>
                <ul class="list-inline">
                  <li><i class="fa fa-pencil color-green"></i><i> <%='관리자' if blog.admin_yn == 'Y' %><%= @user.user_name if blog.admin_yn == 'N' %></i></li>
                  <li><i class="fa fa-calendar color-green"></i><i>&nbsp; <%= blog.created_at.in_time_zone("Asia/Seoul").strftime('%Y.%m.%d') %></i></li>
                </ul>

                <p>
                  <i class="fa fa-file-text-o color-green"></i>&nbsp;
                  <a style="color: #3f7f7f" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-<%= count %>" aria-expanded="false">
                    내용 보기
                  </a>
                </p>

                <div id="collapse-<%= count %>" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                  <hr class="no-margin">
                  <img src="<%= blog.file_name %>" class="img-responsive rounded margin-top-20 margin-bottom-20">
                  <p><%= simple_format(blog.content) %></p>
                </div>

              </div>
            </div>
          </div>
          <% count += 1 %>
      <% end %>

      <div class="col-md-11 margin-top-20 bg-color-white rounded">
        <div class="text-center">
          <ul class="pagination">
            <%= will_paginate @blogs, renderer: BootstrapPagination::Rails %>
          </ul>
        </div>
      </div>
  <% else %>
      <div class="col-md-11 margin-top-20 bg-color-light rounded box-shadow shadow-effect-1" style="padding: 2%">
        <div class="row clients-page">
          <div class="col-md-12 col-xs-12">
            <h2 class="text-center" style="padding: 3%"><span style="color: #00a2ed"><i class="fa fa-paper-plane-o"></i></span> 등록된 게시물이 없습니다.</h2>
          </div>
        </div>
      </div>
  <% end %>
</div>



<!-- Alert -->
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content modAlertch">
      <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
        <h4 id="myLargeModalLabel3" class="modal-title"><i class="glyphicon glyphicon-check"></i> 알림</h4>
      </div>

      <div class="modal-body modAlert">
        <div class="modAlertbox">
          <p>로그인이 필요합니다!</p>
          <ul>
            <li><%=link_to '로그인',  new_user_session_path, :class => 'btn btn-link' %></li>
            <li><%=link_to '회원가입', new_user_registration_path, :class => 'btn btn-link' %></li>
          </ul>
        </div>
        <div class="margin-bottom-20"></div>
      </div>

    </div>
  </div>
</div>
<!-- End Alert -->