<%= form_for(@blog) do |f| %>
  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
      <% @blog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <!-- Form Controls -->
    <div class="tag-box tag-box-v3 form-page boMot">

      <!--Inputs-->
      <% unless @admin.blank? %>
          <h4>- 블로그 타입 선택 -</h4>
      <% end %>

      <% unless @admin.blank? %>
        <label class="select">
          <select class="form-control" name="blog[blog_type]">

                <option selected="selected" disabled="disabled">블로그 선택하기</option>
                <% Blog::BLOG_TYPES.each_pair() do |key, value| %>
                    <option value="<%= key %>"><%= value %></option>
                <% end %>

          </select>
        </label>
      <% end %>

      <% if @admin.blank? %>
        <% Blog::BLOG_TYPES.each_pair() do |key, value| %>
            <% if @blog_type == key %>
                  <input hidden name="blog[blog_type]" value="<%= key %>">
                <h4>- <%= value %> -</h4>
            <% end %>
        <% end %>
      <% end %>

      <h4>- 제 목 -</h4>
      <input type="text" class="form-control" name="blog[title]" placeholder="" value="<%= @blog.title %>">
      <!--End Inputs-->

      <!--내용입력-->
      <h4>- 내 용 -</h4>
      <textarea class="form-control" name="blog[content]" rows="7"><%= @blog.content %></textarea>
      <!--End Textarea-->
      <div class="margin-bottom-20"></div>

      <% if @admin.blank? %>
          <!-- user_id -->
          <input hidden type="text" name="blog[user_id]" value="<%= current_user.id.to_i %>">
      <% else %>
          <input hidden type="text" name="blog[user_id]">
      <% end %>



      <div class="col-md-11 text-right">
        <%= link_to '뒤로', _back_url, :class => 'btn btn-info' %>
      </div>
      <div class="col-md-1 text-right">
        <div class="actions">
          <% unless @admin.blank? %>
            <%= f.submit '완료', :class => 'btn btn-info' %>
          <% else %>
              <%= f.submit '완료', :class => 'btn btn-info' %>
          <% end %>
        </div>
      </div>

      <div class="margin-bottom-20"></div>

    </div>
    <!-- End Form Controls  -->
<% end %>
