<%= form_for(@blog) do |f| %>
  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
      <% @blog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <!-- Form Controls -->
    <div class="tag-box tag-box-v3 form-page boMot">

      <div>
        <ul class="list-unstyled list-inline blog-info">
          <% now_time = Time.now %>
          <li><i class="fa fa-calendar"> <%= now_time.strftime('%Y-%m-%d')%></i></li>
          <li><i class="fa  fa-user"></i> <%= current_user.user_name %></li>
        </ul>
      </div>
      </br>

      <!--Inputs-->
      <h4>- 블로그 타입 선택 -</h4>
      <label class="select">
        <select class="valid" name="blog[blog_type]">
          <% if @blog_type.nil? %>
              <option selected="selected" disabled="disabled">블로그 선택하기</option>
          <% else %>
              <% Blog::BLOG_TYPES.each_pair() do |key, value| %>
                  <% if @blog_type == key %>
                      <option value="<%= key %>" selected="selected" ><%= value %></option>
                  <% end %>
              <% end %>
          <% end %>

          <% Blog::BLOG_TYPES.each_pair() do |key, value| %>
              <option value="<%= key %>"><%= value %></option>
          <% end %>
        </select>
      </label>

      <h4>- 제 목 -</h4>
      <input type="text" class="form-control" name="blog[title]" placeholder="" value="<%= @blog.title %>">
      <!--End Inputs-->

      <!--내용입력-->
      <h4>- 내 용 -</h4>
      <textarea class="form-control" name="blog[content]" rows="7"><%= @blog.content %></textarea>
      <!--End Textarea-->
      <div class="margin-bottom-20"></div>

      <!-- user_id -->
      <input hidden type="text" name="blog[user_id]" value="<%= current_user.id.to_i %>">



      <div class="col-md-11 text-right">
        <%= link_to '뒤로', blogs_path(blog_type: @blog_type), :class => 'btn btn-info' %>
      </div>
      <div class="col-md-1 text-right">
        <div class="actions">
          <%= f.submit '작성완료', :class => 'btn btn-info' %>
        </div>
      </div>

      <div class="margin-bottom-40"></div>

    </div>
    <!-- End Form Controls  -->
<% end %>
