<div class="container-fluid" style="margin-top: 50px">
    
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-12">
            <h2 class="sub-header"><span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span> <%= Blog::BLOG_TYPES[@blog.blog_type] %> </h2>
        </div>
    </div>

    <div class="row">

        <div class="col-md-12">

            <div class="well">

                <div class="row">

                    <div class="col-md-12">

                        <table class="table table-bordered table-striped" style="clear: both">
                        <tr>
                        <td style="width:15%;"><b>제목</b></td>
                        <td style="width:85%"><%= @blog.title %></td>
                        </tr>

                        <tr>
                        <td style="width:15%;"><b>작성자</b></td>
                        <td style="width:85%"><%='관리자' if @blog.admin_yn == 'Y' %><%= @user.user_name if @blog.admin_yn == 'N' %></td>
                        </tr>

                        <tr>
                        <td style="width:15%;"><b>내용</b></td>
                        <td style="width:85%;"><%= raw @blog.content %></td>
                        </tr>
                        </table>

                    </div>

                </div>

                <footer>
                    <% unless current_user.nil? %>
                      <% unless @blog.user_id != current_user.id %>
                          <%= link_to 'Edit', edit_blog_path(@blog), :class => 'btn btn-primary' %>
                      <% end %>
                    <% end %>
                    <% unless session[:admin].nil? %>
                      <%= link_to 'Edit', edit_blog_path(@blog), :class => 'btn btn-primary' %>
                      <%= link_to 'Back', blogs_path, :class => 'btn btn-default' %>
                    <% else %>
                      <% Blog::BLOG_NAMES.each_pair do |key, value| %>
                          <% unless key != @blog.blog_type.to_s; %>
                              <a class="btn btn-info" href="/blogs/<%= value %>" style="color: white;">뒤로</a>
                          <% end %>
                      <% end %>
                    <% end %>

                </footer>

            </div>
        </div>
    </div>
    
</div>