<div class="wrapper">
  <div class="col-md-2"></div>
  <div class="col-md-8 col-xs-12 tag-box box-shadow shadow-effect-1 margin-top-20">

    <div class="tab-content">
      <div class="profile-edit">
        <dl class="dl-horizontal">
          <% if @blog.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@blog.errors.count, "error") %> prohibited this blog from being saved:</h2>
                <ul>
                  <% @blog.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
          <% end %>

          <h2 class="heading-md margin-bottom-40"><span style="color: #00a2ed"><i class="fa fa-paper-plane-o"></i></span> <%= Blog::BLOG_TYPES[@blog.blog_type] %></h2>

          <dt><p>작성자</p></dt>
          <dd><p><%='관리자' if @blog.admin_yn == 'Y' %><%= @user.user_name if @blog.admin_yn == 'N' %></p></dd>
          <br>

          <dt><strong>제 목</strong></dt>
          <dd><%= @blog.title %></dd>
          <br>

          <dt><strong>내 용</strong></dt>
          <dd><%= raw @blog.content %></dd>
          <br>

          <% unless @blog.file_name.blank? %>
              <dt>사진</dt>
              <dd><img src="<%= @blog.file_name %>" style="width: 80%;" class="img-responsive"></dd>
          <% end %>

          <div class="col-md-12 text-right margin-top-20">
            <% unless session[:admin].nil? %>
                <a href="/blogs" class="btn-u rounded btn-u-yellow">확인</a>
            <% else %>
               <a href="/blogs/<%= Blog::BLOG_NAMES[@blog.blog_type] %>" class="btn-u rounded btn-u-yellow">확인</a>
            <% end %>
          </div>
        </dl>
      </div>
    </div>

  </div>
  <div class="col-md-2"></div>
</div>