<div class="col-md-12 breadcrumbs">
  <div class="container">
    <h2 class="pull-left" style="color: black"> <%= 'Blog' if @blog.blog_type == '2' || @blog.blog_type == '3' %> <%= 'About' if @blog.blog_type == '5' || @blog.blog_type == '6' %> / <%= Blog::BLOG_TYPES[@blog.blog_type] %></h2>
  </div><!--/container-->
</div><!--/breadcrumbs-->

<div class="wrapper">
  <div class="col-md-2"></div>
  <div class="col-md-8 col-xs-12 margin-top-20 bg-color-light">

    <div class="container-fluid margin-top-20">

      <% if @blog.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@blog.errors.count, "error") %> prohibited this blog from being saved:</h2>
            <ul>
              <% @blog.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="news-v3 bg-color-white margin-bottom-30">
        <img class="img-responsive full-width rounded <%= 'hidden' if @blog.file_name.blank? %>" src="<%= @blog.file_name %>" alt="">
        <div class="news-v3-in">
          <ul class="list-inline posted-info">
            <li>By <%='관리자' if @blog.admin_yn == 'Y' %><%= @user.user_name if @blog.admin_yn == 'N' %></li>
            <li>Posted <%= @blog.created_at.in_time_zone("Asia/Seoul").strftime('%Y.%m.%d') %></li>
          </ul>
          <h2><span style="color: #00a2ed"><i class="fa fa-paper-plane-o"></i></span> <%= @blog.title %></h2>
          <p><%= simple_format(@blog.content) %></p>

          <div class="text-right">
            <% unless session[:admin].nil? %>
                <a href="/blogs" class="btn-u rounded btn-u-yellow">확인</a>
            <% else %>
                <a href="/blogs/<%= Blog::BLOG_NAMES[@blog.blog_type] %>" class="btn-u rounded btn-u-yellow">확인</a>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-12 margin-bottom-20 margin-top-20"></div>
</div>