<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.css" rel="stylesheet">
<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.js"></script>

<link href="/css/select2.min.css" rel="stylesheet" />
<script type="text/javascript" src="/js/select2.min.js"></script>



<!--<link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
         rel = "stylesheet">-->
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<!--<link rel="stylesheet" href="/resources/demos/style.css">-->
<!--<script src="https://code.jquery.com/jquery-1.12.4.js"></script>-->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>



            <%= form_for(@discussion) do |f| %>

                <!--discussion_templet-->
                <input hidden type="text" name="discussion_templet[user_id]" value="<%= @admin_id.nil? ? current_user.id : @admin_id %>">
                <input hidden type="text" name="discussion_templet[creator_type]" value="<%= @user_type %>">

                <input hidden type="text" name="discussion[organizer]" value="<%= @admin_id.nil? ? current_user.id : @admin_id %>">
                <input hidden type="text" name="discussion[organizer_type]" value="<%= @user_type %>">
                <input hidden name="discussion_image_id" id="discussion_image_id" value="">
 
                <header>토론방 입력 양식</header>
                <fieldset>
                    <p><span style="color: red">*</span> 필수입력</p>

                    <div class="row">

                        <!--<section class="col col-3" <%= 'hidden' if @user_type == 'user' %>>-->
                        <section class="col col-3" <%#= 'hidden' if @user_type == 'user' %>>
                            <label class="label">토론방 리더<span style="color: red">*</span></label>
                            <label class="input">
                                <select class="select2-search-box" style="width: 100%" name="discussion[user_id]" id="leader">
                                    <% @leader.each do |leader| %>
                                        <option value="<%= leader.user_id %>" <%= 'selected' unless leader.user_id != @discussion.user_id %>><%= leader.user.user_name unless leader.user.user_name.blank? %><%= leader.user.school_id.blank? ? ' (Mento)' : " (#{leader.user.school.name})" %></option>
                                    <% end %>
                                </select>
                            </label>
                        </section>

                        <section class="col col-3">
                            <label class="label">외부 참가자 Y/N<span style="color: red">*</span></label>
                            <div class="inline-group">
                                <label class="radio"><input type="radio" name="discussion[observer_yn]" value="Y" <%= 'checked' if @discussion.observer_yn.nil? %> <%= 'checked' unless @discussion.observer_yn != 'Y' %>><i class="rounded-x"></i>YES</label>
                                <label class="radio"><input type="radio" name="discussion[observer_yn]" value="N" <%= 'checked' unless @discussion.observer_yn != 'N' %>><i class="rounded-x"></i>NO</label>
                            </div>
                        </section>
                        
                        <section hidden class="col col-3" <%= 'hidden' unless @discussion.observer_yn != 'Y' %> <%= 'hidden' unless @discussion_form_id != 'new_discussion' %> id="group_section">
                            <label class="label">참여 그룹 선택<span style="color: red">*</span></label>
                            <label class="input">
                                <select class="form-control" name="discussion[group_id]" id="group_id">
                                    <!--edit일 경우 표시 선택된 Group 표시-->
                                    <% unless @groups.blank? %>
                                        <% @groups.each do |group| %>
                                            <option value="<%= group.id %>" <%= 'selected' unless @discussion.group_id != group.id %>><%= group.name %></option>
                                        <% end %>
                                    <% end %>

                                </select>
                            </label>
                        </section>

                    </div>

                    <div class="row">
                        <section hidden class="col col-4">
                            <label class="label">운영타입<span style="color: red">*</span></label>
                            <label class="input">
                                <select class="form-control" name="discussion[manage_type]" id="manage_type">
                                    <% if @user_type == 'admin' %>
                                        <% Discussion::MANAGE_TYPE.each do |key, value| %>
                                            <option value="<%= value %>"<%= 'selected' unless @discussion.manage_type != value %>><%= value %></option>
                                        <% end %>
                                    <% else %>
                                        <option value="<%= @manage_type %>"<%= 'selected' unless @discussion.manage_type != @manage_type %>><%= @manage_type %></option>
                                    <% end %>
                                </select>
                            </label>
                        </section>

                        <section class="col col-3">
                            <label class="label">토론방 부리더<span style="color: red">*</span></label>
                            <label class="input">
                                <select class="select2-search-box" style="width: 100%" name="discussion[sub_leader]" id="leader">
                                    <% @sub_leader.each do |sub_leader| %>
                                        <option value="<%= sub_leader.user_id %>" <%= 'selected' unless sub_leader.user_id != @discussion.sub_leader %>><%= sub_leader.user.user_name unless sub_leader.user.user_name.blank? %><%= sub_leader.user.school_id.blank? ? ' (Mento)' : " (#{sub_leader.user.school.name})" %></option>
                                    <% end %>
                                </select>
                            </label>
                        </section>

                        <section class="col col-3">
                            <label class="label">Think time(분)</label>
                            <input type="number" class="form-control" name="discussion[think_time]" value="<%= @discussion.think_time.nil? ? 0 : @discussion.think_time %>">
                        </section>

                    </div>

                    <div class="row edit_cencept">
                        <section class="col col-3 discussion_templet">
                            <label class="label">Category</label>
                            <select class="form-control" id="category" onchange="selectCategory()">
                                <%# if @discussion_form_id.include? 'edit' %>
                                    <%# Concept::CATEGORIES.each_pair do |key, value| %>
                                        <!--<option value="<%#= key %>" <%#= 'selected' if key == @unit_concept.concept.category %>><%#= value %></option>-->
                                    <%# end %>
                                <%# else %>
                                    <option>선택하세요</option>
                                    <% Concept::CATEGORIES.each_pair do |key, value| %>
                                        <option value="<%= key %>"><%= value %></option>
                                    <% end %>
                                <%# end %>
                            </select>
                        </section>

                        <section class="col col-3 discussion_templet">
                            <label class="label">Sub Category</label>
                            <select class="form-control" id="sub_category" onchange="selectSubCategory()">
                                <%# if @discussion_form_id.include? 'edit' %>
                                    <%# Concept::SUB_CATEGORIES.each_pair do |key, value| %>
                                        <%# if key.to_s.slice(0, 2) == @unit_concept.concept.sub_category.slice(0, 2) %>
                                            <!--<option value="<%#= key %>" <%#= 'selected' if key == @unit_concept.concept.sub_category %>><%#= value %></option>-->
                                        <%# end %>
                                    <%# end %>
                                <%# end %>
                            </select>
                        </section>

                        <section class="col col-3 discussion_templet">
                            <label class="label">Concept</label>
                            <select class="form-control" id="concept" onchange="selectConcept()">
                                <%# if @discussion_form_id.include? 'edit' %>
                                    <%# @concepts.each do |concept| %>
                                        <!--<option value="<%#= concept.concept_code %>" <%#= 'selected' unless concept.concept_code != @unit_concept.code.slice(0, 4) %>><%#= concept.concept_name %></option>-->
                                    <%# end %>
                                <%# end %>
                            </select>
                        </section>

                        <!--discussion_templet-->
                        <section class="col col-3 discussion_templet">
                            <label class="label">핵심 개념<span style="color: red">*</span></label>
                            <select class="form-control" name="discussion_templet[unit_concept_id]" id="unit_concept_id">
                                <%# if @discussion_form_id.include? 'edit' %>
                                    <%# @unit_concepts.each do |unit_concept| %>
                                        <!--<option value="<%#= unit_concept.id %>" <%#= 'selected' unless unit_concept.id != @discussion.discussion_templet.unit_concept_id %>><%#= unit_concept.name %></option>-->
                                    <%# end %>
                                <%# end %>
                            </select>
                        </section>
                    </div>

                    <div class="row discussion_templet edit_cencept">
                        <section class="col col-6">
                            <div class="label">종합문제 가져오기 <input type="button" class="btn btn-google rounded btn-xs" value="적용" onclick="insertImagesToEditor('concept')"></div>
                            <select class="form-control" id="concept_exercise">
                                <option>Sub Category 선택하기</option>
                            </select>
                        </section>

                        <!--유형문제 가져오기 삭제-->
                        <!--<section class="col col-6">
                            <div class="label">유형문제 가져오기 <input type="button" class="btn btn-google rounded btn-xs" value="적용" onclick="insertImagesToEditor('unit_concept')"></div>
                            <select class="form-control" id="unit_concept_exercise">
                                <option>Concept 선택하기</option>
                            </select>
                        </section>-->

                    </div>

                    <div class="row">
                        <!--discussion_templet-->
                        <input type="text" class="form-control hidden" name="discussion_templet[grade]" id="grade" value="">
                        <section class="col col-6 discussion_templet">
                            <label class="label">학년 선택<span style="color: red">*</span></label>
                            <div class="inline-group">
                                <% UnitConcept::GRADES.each do |key, value| %>
                                    <label class="checkbox"><input type="checkbox" name="grade" value="<%= value %>" <%= 'checked' if !@checked_grade.nil? and @checked_grade.include? value %>><i></i><%= value %></label>
                                <% end %>
                            </div>
                        </section>

                        <section class="col-md-4 col-sm-4 col-xs-10 discussion_templet edit_cencept">
                            <label class="label">Code(세 자리 숫자  ex) 001, 201, 899 ) <span style="color: red">*</span></label>
                            <input type="text" class="form-control" name="discussion_templet[code]" id="code" value="<%= @discussion.discussion_templet.code.to_s.split('-', 3).last unless @discussion.discussion_templet.nil? %>">
                        </section>

                        <section class="col-md-2 col-sm-2 col-xs-2 discussion_templet edit_cencept">
                            <label class="label">&nbsp;</label>
                            <input type="button" class="btn btn-flickr btn-xs rounded" value="중복확인" id="code_check" onclick="codeCheck()">
                            <input hidden value="N" id="code_check_yn">
                        </section>
                    </div>

                    <!--discussion_templet-->
                    <div class="row">
                        <section class="col-md-5 discussion_templet">
                            <label class="label">Level 선택<span style="color: red">*</span></label>
                            <div class="inline-group">
                                <% val_num = 1 %>
                                <% (1..5).each do |idx| %>
                                    <label class="radio"><input type="radio" name="discussion_templet[level]" value="<%= val_num %>" <%='checked' if @discussion.nil? || val_num == 1 %><%='checked' if !@discussion.discussion_templet.nil? && @discussion.discussion_templet.level == val_num %>><i class="rounded-x"></i><%= val_num %></label>
                                    <% val_num = val_num + 1 %>
                                <% end %>
                            </div>
                        </section>
                    </div>

                    <div class="row">
                        <section class="col col-6">
                            <label class="label">토론 시작일<span style="color: red">*</span></label>
                            <input class="form-control" type="text" name="discussion[start_date]" id="start_date" value="<%= @discussion.start_date unless @discussion.start_date.nil? %>">
                        </section>
                        <section class="col col-6">
                            <label class="label">토론 종료일<span style="color: red">*</span></label>
                            <input class="form-control" type="text" name="discussion[expiration_date]" id="expiration_date" value="<%= @discussion.expiration_date unless @discussion.expiration_date.nil? %>">
                        </section>
                    </div>

                    <!--discussion_templet-->
                    <div class="row discussion_templet">
                        <section class="col-md-12">
                            <div class="label">토론 주제<span style="color: red">*</span> <input type="button" class="btn btn-google rounded btn-xs pull-right" value="수식편집 참고" onclick="asciiMove()"></div>
                            <textarea class="form-control title_summernote" name="discussion_templet[title]" value=""><%== @discussion.discussion_templet.title unless @discussion.discussion_templet.nil? %></textarea>
                            <div hidden id="dialog-1" >
                                <img alt="asciimath" src="/assets/img/asciimath.png" class="img-responsive center-block">
                            </div>
                        </section>
                    </div>
                    
                    <!--토론 문제 부분-->
                    <div class="row discussion_templet">
                        <section class="col-md-12">
                        <div class="label">토론 문제<span style="color: red">*</span> <input type="button" class="btn btn-google rounded btn-xs pull-right" value="수식편집 참고" onclick="asciiMove()"></div>
                            <textarea class="form-control" name="discussion_templet[content]" id="content"><%== @discussion.discussion_templet.content unless @discussion.discussion_templet.nil? %></textarea>
                        </section>
                    </div>

                    <!--주제 설명 부분-->
                    <% if @discussion_form_id == 'new_discussion' %>
                        <div class="row discussion_templet">
                            <section class="col-md-8 col-sm-8 col-xs-12">
                            <div class="label">토론문제 발문 및 관련개념  <input type="button" class="btn btn-google rounded btn-xs pull-right" value="수식편집 참고" onclick="asciiMove()"></div>
                                <textarea class="form-control discussion_title_explanation_summernote" name="discussion_title_explanation[]" value=""></textarea>
                            </section>
                            <section class="col-md-4 col-sm-4 col-xs-12">
                                <label class="label">관련개념 검색</label>
                                <select class="select2-search-box" name="discussion_title_explanation_unit_concept_id[]" value="">
                                    <% @related_unit_concepts.each do |related_unit_concept| %>
                                        <option value="<%= related_unit_concept.id %>"><%= related_unit_concept.name %></option>
                                    <% end %>
                                </select>
                            </section>
                        </div>
                    <% else %>
                        <% label_check = 0 %>
                        <% @discussion.discussion_templet.discussion_title_explanations.each do |discussion_title_explanation| %>
                            <div class="row discussion_templet" id="discussion_title_explanation_<%= discussion_title_explanation.id %>">
                                <section class="col-md-8 col-sm-8 col-xs-12">
                                    <% unless label_check != 0 %>
                                    <div class="label">토론문제 발문 및 관련개념<input type="button" class="btn-u btn-google rounded btn-xs pull-right" value="수식편집 참고" onclick="asciiMove()"></div>
                                    <% end %>
                                    <textarea type="text" class="form-control discussion_title_explanation_summernote" name="discussion_title_explanation[]" value=""><%== discussion_title_explanation.content %></textarea>
                                </section>
                                <section class="col-md-4 col-sm-4 col-xs-12">
                                    <% unless label_check != 0 %><label class="label">관련개념 검색</label><% end %>
                                    <select class="select2-search-box" name="discussion_title_explanation_unit_concept_id[]" value="">
                                        <% @related_unit_concepts.each do |related_unit_concept| %>
                                            <option value="<%= related_unit_concept.id %>" <%= 'selected' unless discussion_title_explanation.unit_concept_id != related_unit_concept.id %>><%= related_unit_concept.name %></option>
                                        <% end %>
                                    </select>
                                </section>
                            </div>
                            <% label_check = 1 %>
                        <% end %>
                    <% end %>

                    <div id="add_search_section"></div>

                    <div class="row margin-bottom-20 discussion_templet">
                        <section class="col-md-12">
                            <input class="btn-u rounded col-md-12 col-sm-12 col-xs-12 text-center" value="+ 토론문제 발문 및 관련 개념 검색 추가하기" onclick="addRelated()">
                        </section>
                    </div>
                    <!--주제 설명 부분 END-->

                    <!--discussion_templet-->
                    <div class="row discussion_templet">
                        <section class="col-md-12">
                        <div class="label">문제풀이 가이드  <input type="button" class="btn btn-google rounded btn-xs pull-right" value="수식편집 참고" onclick="asciiMove()"></div>
                            <!--<span style="color: blue"><a href="http://asciimath.org/"><i class="fa fa-question-circle"></i>수학기호 코드 참고하기</a></span>-->
                            <textarea class="form-control" name="discussion_templet[concept_explanation]" id="concept_explanation"><%== @discussion.discussion_templet.concept_explanation unless @discussion.discussion_templet.nil? %></textarea>
                        </section>
                    </div>


                    <% if @discussion_form_id == 'new_discussion' %>
                        <div class="row">
                            <section class="col-md-12">
                                <div class="label">문제풀이 <input type="button" class="btn btn-google rounded btn-xs pull-right" value="수식편집 참고" onclick="asciiMove()"></div>
                                <textarea class="form-control solution_summernote" name="solution[]" id="solution_1"></textarea>
                            </section>
                        </div>
                    <% else %>
                        <% solution_check = 0 %>
                        <% @discussion.discussion_templet.discussion_solutions.each do |discussion_solution| %>
                            <div class="row discussion_templet">
                                <section class="col-md-12">
                                    <% unless solution_check != 0 %>
                                    <div class="label">문제풀이 <input type="button" class="btn btn-google rounded btn-xs" value="수식편집 참고" onclick="asciiMove()"></div>
                                    <% end %>
                                    <textarea class="form-control solution_summernote" name="solution[]" id="solution_<%= solution_check %>"><%== discussion_solution.content %></textarea>
                                </section>
                            </div>
                            <% solution_check = solution_check + 1 %>
                        <% end %>
                    <% end %>

                    <div id="add_solution_section"></div>

                    <div class="row margin-bottom-20 discussion_templet">
                        <section class="col-md-12">
                            <input class="btn-u rounded col-md-12 col-sm-12 col-xs-12 text-center" value="+ 문제 풀이 추가하기" onclick="addSolution()">
                        </section>
                    </div>

                    <!--discussion_templet-->
                    <div class="row discussion_templet">
                        <section class="col-md-12">
                            <div class="label">해답 <input type="button" class="btn btn-google rounded btn-xs pull-right" value="수식편집 참고" onclick="asciiMove()"></div>
                            <textarea class="form-control" name="discussion_templet[answer]" id="answer"><%== @discussion.discussion_templet.answer unless @discussion.discussion_templet.nil? %></textarea>
                        </section>
                    </div>

                    <% if @discussion_form_id == 'new_discussion' %>
                        <div class="row">
                            <section class="col-md-12">
                                <div class="label">Video </div>
                                <textarea class="form-control video_summernote" name="video[]" id="video_1"></textarea>
                            </section>
                        </div>
                    <% else %>
                        <% video_check = 0 %>
                        <div class="label">Video </div>
                        <% @discussion.discussion_templet.discussion_videos.each do |discussion_video| %>
                            <div class="row discussion_templet">
                                <section class="col-md-12">
                                    <% unless video_check != 0 %>
                                    <div class="label">Video </div>
                                    <% end %>
                                    <textarea class="form-control video_summernote" name="video[]" id="video_<%= video_check %>"><%== discussion_video.content %></textarea>
                                </section>
                            </div>
                            <% video_check = video_check + 1 %>
                        <% end %>
                    <% end %>

                    <div id="add_video_section"></div>

                    <div class="row margin-bottom-20 discussion_templet">
                        <section class="col-md-12">
                            <input class="btn-u rounded col-md-12 col-sm-12 col-xs-12 text-center" value="+ Video 추가하기" onclick="addVideo()">
                        </section>
                    </div>


                    <% if @discussion_form_id == 'new_discussion' %>
                        <div class="row">
                            <section class="col-md-8 col-sm-8 col-xs-12">
                                <div class="label">문제의 조건 변경 <input type="button" class="btn btn-google rounded btn-xs" value="수식편집 참고" onclick="asciiMove()"></div>
                                <textarea class="form-control discussion_problem_condition_summernote" name="discussion_problem_condition[]" id="discussion_problem_condition_1"></textarea>
                            </section>
                            <section class="col-md-4 col-sm-4 col-xs-12">
                                <div class="label">해답 <input type="button" class="btn btn-google rounded btn-xs" value="수식편집 참고" onclick="asciiMove()"></div>
                                <textarea class="form-control condition_answer_summernote" name="condition_answer[]" id="condition_answer_1"></textarea>
                            </section>
                        </div>
                    <% else %>
                        <% problem_condition_check = 0 %>
                        <div class="label">문제의 조건 변경 및 해답</div>
                        <% @discussion.discussion_templet.discussion_problem_conditions.each do |discussion_problem_condition| %>
                            <div class="row discussion_templet" id="discussion_problem_condition_<%= discussion_problem_condition.id %>">
                                <section class="col-md-8 col-sm-8 col-xs-12">
                                    <!--<% unless problem_condition_check != 0 %>-->
                                    <div class="label">문제의 조건 변경 <input type="button" class="btn btn-google rounded btn-xs" value="수식편집 참고" onclick="asciiMove()"></div>
                                    <!--<% end %>-->
                                    <textarea class="form-control discussion_problem_condition_summernote" name="discussion_problem_condition[]" id="discussion_problem_condition_<%= problem_condition_check %>"><%== discussion_problem_condition.problem_condition %></textarea>
                                </section>
                                <section class="col-md-4 col-sm-4 col-xs-12">
                                    <!--<% unless problem_condition_check != 0 %>-->
                                    <div class="label">해답 <input type="button" class="btn btn-google rounded btn-xs" value="수식편집 참고" onclick="asciiMove()"></div>
                                    <!--<% end %>-->
                                    <textarea class="form-control condition_answer_summernote" name="condition_answer[]" id="condition_answer_<%= problem_condition_check %>"><%== discussion_problem_condition.condition_answer %></textarea>
                                </section>
                            </div>
                            <% problem_condition_check = problem_condition_check + 1 %>
                        <% end %>
                        
                    <% end %>

                    <div id="add_problem_condition_section"></div>

                    <div class="row margin-bottom-20 discussion_templet">
                        <section class="col-md-12">
                            <input class="btn-u rounded col-md-12 col-sm-12 col-xs-12 text-center" value="+ 문제의 조건 변경 및 해답 추가하기" onclick="addProblemCondition()">
                        </section>
                    </div>

                    <div class="row">
                        <section class="col-md-12">
                        <div class="label">종합 의견<input type="button" class="btn btn-google rounded btn-xs pull-right" value="수식편집 참고" onclick="asciiMove()"></div>
                            <textarea class="form-control" name="discussion[final_report]" id="final_report"><%== @discussion.final_report unless @discussion.final_report.nil? %></textarea>
                        </section>
                    </div>

                    <!--asciimath-->
                    <div id="dialog" title="Basic dialog">
                        <img alt="asciimath" src="/assets/img/asciimath.png" class="img-responsive center-block">
                        </div> 
                    <!--asciimath-->
 

                    <div class="row">
                        <section class="col-md-12">
                            <hr>
                            <input class="btn btn-dribbble rounded col-md-12 col-sm-12 col-xs-12" type="button" onclick="<%= @discussion_form_id == 'new_discussion' ? "beforeNewCheckAndSend('#{@discussion_form_id}')" : "beforeEditCheckAndSend('#{@discussion_form_id}')" %>" value='입력완료'>
                        </section>
                    </div>
                </fieldset>

            <% end %>


<style>
.note-editable {
    font-size: 18px;
    font-weight: normal;
    line-height: 1.2;
}
</style>


<!--select2-->
<script type="text/javascript">

    $(document).ready(function() {
        $(".select2-search-box").select2();
    });

    <% index = 0 %>

    <% unless @related_unit_concepts.blank? %>
    var options = [
        <% @related_unit_concepts.each do |related_unit_concept| %>
        <% index = index + 1 %>
        {
            id: '<%= related_unit_concept.id %>', name: '<%= related_unit_concept.name %>'
        }
        <%= ',' unless index == @related_unit_concepts.count  %>
        <% end %>
    ]
    <% end %>

    function addRelated(){
        var root = $('#add_search_section');

        var row = $('<div>').addClass('row');
        var discussion_title_explanation_part = $('<section>').addClass('col-md-8 col-sm-8 col-xs-12');
        var related_unit_concept_part = $('<section>').addClass('col-md-4 col-sm-4 col-xs-12');

        discussion_title_explanation_part.append( $('<textarea>').attr('type', 'text').addClass('form-control discussion_title_explanation_summernote').attr('name', 'discussion_title_explanation[]').attr('value', ""));

        var select_box = $('<select>').addClass('select2-search-box').attr('name', 'discussion_title_explanation_unit_concept_id[]').attr('value', "");

        $.each(options, function(i) {
            select_box.append( $('<option>').attr('value', options[i].id).text(options[i].name));
        });

        related_unit_concept_part.append(select_box);

        row.append(discussion_title_explanation_part).append(related_unit_concept_part).appendTo(root);

        $('.discussion_title_explanation_summernote').summernote({
            height: 100,
            placeholder: '토론문제와 관련된 발문을 입력하세요.',
            toolbar: [
    //            ['style', ['bold', 'italic', 'underline', 'clear']],
    //            ['font', ['strikethrough', 'superscript', 'subscript']],
                ['color', ['color']],
                ['insert', ['link', 'picture']],
                ['view', ['fullscreen']],
                ['help', ['help']]
    //            ['para', ['ul', 'ol', 'paragraph']],
    //            ['height', ['height']]
            ]
        });

        $(".select2-search-box").select2();
    }
</script>


<!--문제풀이 summernote editor 추가하기-->
<script type="text/javascript">
    $(document).ready(function() {
        $('.solution_summernote').summernote({
            height: 200,
            placeholder: '문제 풀이를 입력하세요.',
            toolbar: [
                ['color', ['color']],
                ['insert', ['link', 'picture']],
                ['view', ['fullscreen']],
                ['help', ['help']]
            ],
            callbacks: {
                onImageUpload: function(files, editor, welEditable) {
                    sendFile(files[0], editor, welEditable, this.id);
                }
            }
        });
    });

    //$('.solution_summernote').css('fontsize', '18px');

    var solution_num = 2;
    function addSolution() {

        var root = $('#add_solution_section');

        var row = $('<div>').addClass('row');
        var solution = $('<section>').addClass('col-md-12');

        solution.append( $('<textarea>').attr('type', 'text').attr('id', 'solution_'+ solution_num++).addClass('form-control solution_summernote').attr('name', 'solution[]').attr('value', ""));

        row.append(solution).appendTo(root);

        $('.solution_summernote').summernote({
            height: 200,
            placeholder: '문제 풀이를 입력하세요.',
            toolbar: [
                ['color', ['color']],
                ['insert', ['link', 'picture']],
                ['view', ['fullscreen']],
                ['help', ['help']]
            ],
            callbacks: {
                onImageUpload: function(files, editor, welEditable) {
                    sendFile(files[0], editor, welEditable, this.id);
                }
            }
        });
    }
</script>
<!--END 문제풀이 summernote editor 추가하기-->

<!--토론문제 조건 변경 및 해답 summernote editor 추가하기-->
<script type="text/javascript">
    $(document).ready(function() {
        $('.discussion_problem_condition_summernote').summernote({
            height: 100,
            placeholder: '토론 문제의 특정 조건의 변경 내용을 입력하세요.',
            toolbar: [
                ['color', ['color']],
                ['insert', ['link', 'picture']],
                ['view', ['fullscreen']],
                ['help', ['help']]
            ],
            callbacks: {
                onImageUpload: function(files, editor, welEditable) {
                    sendFile(files[0], editor, welEditable, this.id);
                }
            }
        });
    });

    var problem_condition_num = 2;
    function addProblemCondition() {

        var root = $('#add_problem_condition_section');

        var row = $('<div>').addClass('row');
        var discussion_problem_condition = $('<section>').addClass('col-md-8 col-sm-8 col-xs-12');
        var condition_answer = $('<section>').addClass('col-md-4 col-sm-4 col-xs-12');

        discussion_problem_condition.append( $('<textarea>').attr('type', 'text').attr('id', 'discussion_problem_condition_'+ problem_condition_num).addClass('form-control discussion_problem_condition_summernote').attr('name', 'discussion_problem_condition[]').attr('value', ""));
        condition_answer.append( $('<textarea>').attr('type', 'text').attr('id', 'condition_answer_'+ problem_condition_num++).addClass('form-control condition_answer_summernote').attr('name', 'condition_answer[]').attr('value', ""));

        row.append(discussion_problem_condition).append(condition_answer).appendTo(root);

        $('.discussion_problem_condition_summernote').summernote({
            height: 100,
            placeholder: '토론 문제의 특정 조건의 변경 내용을 입력하세요.',
            toolbar: [
                ['color', ['color']],
                ['insert', ['link', 'picture']],
                ['view', ['fullscreen']],
                ['help', ['help']]
            ],
            callbacks: {
                onImageUpload: function(files, editor, welEditable) {
                    sendFile(files[0], editor, welEditable, this.id);
                }
            }
        });

        $('.condition_answer_summernote').summernote({
            height: 100,
            placeholder: '토론 문제의 조건 변경에 따른 해답을 입력하세요.',
            toolbar: [
                ['color', ['color']],
                ['insert', ['link', 'picture']],
                ['view', ['fullscreen']],
                ['help', ['help']]
            ],
            callbacks: {
                onImageUpload: function(files, editor, welEditable) {
                    sendFile(files[0], editor, welEditable, this.id);
                }
            }
        });
    }
</script>

<script type="text/javascript">
    $(document).ready(function() {
        $('.condition_answer_summernote').summernote({
            height: 100,
            placeholder: '토론 문제의 조건 변경에 따른 해답을 입력하세요.',
            toolbar: [
                ['color', ['color']],
                ['insert', ['link', 'picture']],
                ['view', ['fullscreen']],
                ['help', ['help']]
            ],
            callbacks: {
                onImageUpload: function(files, editor, welEditable) {
                    sendFile(files[0], editor, welEditable, this.id);
                }
            }
        });
    });
</script>
<!--END 토론문제 조건 변경 및 해답 summernote editor 추가하기-->

<!--Video summernote 추가하기-->
<script type="text/javascript">
    $(document).ready(function() {
        $('.video_summernote').summernote({
            height: 400,
            placeholder: 'video button를 클릭한 후 video를 추가하세요.',
            toolbar: [
                ['color', ['color']],
                ['insert', ['link', 'picture', 'video']],
                ['view', ['fullscreen']],
                ['help', ['help']]
            ],
            callbacks: {
                onImageUpload: function(files, editor, welEditable) {
                    sendFile(files[0], editor, welEditable, this.id);
                }
            }
        });
    });

    var video_num = 2;
    function addVideo() {

//        var iframe = document.createElement('iframe');
//                        iframe.id = "concept_video";
//                        //iframe.src = "https://player.vimeo.com/video/" + data[i].video_content;
//                        iframe.width = "662";
//                        iframe.height = "380";
//                        iframe.frameborder = "0";
//                        iframe.allowfullscreen = "allowfullscreen";
//                        iframe.webkitallowfullscreen = "webkitallowfullscreen";
//                        iframe.mozallowfullscreen = "mozallowfullscreen";
//                        console.log(iframe.src);


        var video_n = "#video_" + video_num;
        console.log(video_n);

        var root = $('#add_video_section');

        var row = $('<div>').addClass('row');
        var video = $('<section>').addClass('col-md-12');

        video.append( $('<textarea>').attr('type', 'text').attr('id', 'video_'+ video_num++).addClass('form-control video_summernote').attr('name', 'video[]').attr('value', ""));

        row.append(video).appendTo(root);
        //$('#summernote').summernote('insertText', data);
        $("video_n").summernote('insertNode', iframe);

        $('.video_summernote').summernote({
            height: 400,
            placeholder: 'video button를 클릭한 후 video를 추가하세요.',
            toolbar: [
                ['color', ['color']],
                ['insert', ['link', 'picture', 'video']],
                ['view', ['fullscreen']],
                ['help', ['help']]
            ],
            callbacks: {
                onImageUpload: function(files, editor, welEditable) {
                    sendFile(files[0], editor, welEditable, this.id);
                }
            }
        });
    }
</script>

<!--END Video summernote 추가하기-->

<!--summernote 및 필터링 검사-->
<script type="text/javascript">
    var image_ids = '';

    function beforeNewCheckAndSend(discussion_form_id) {

        var grade = "";
        var observer_is_check = false;
        $('input:radio[name="discussion[observer_yn]"]').each(function () {
            if ($(this).is(':checked')){
                observer_is_check = true;
            }
        });

        if (observer_is_check == false){
            alert('외부 참가자 여부를 선택해주세요.');
            return false;
        }

        if ($('input:radio[name="discussion[observer_yn]"]:checked').val()=='N'){

            if ($('#group_id').val() == null){
                alert('그룹 설정 후 이용해주세요.');
                return false;
            }
        }

        $('input:checkbox[name="grade"]').each(function() {
            if ($(this).is(':checked')){
                grade += $(this).val() +',';
            }
        });

        if (grade == ''){
            alert('학년을 선택해주세요.');
            return false;
        }

        grade = grade.slice(0, -1);
        $("#grade").val(grade);

        if ($('#code').val() == ''){
            alert('Code를 입력해주세요.');
            return false;
        }

        if ($('#code_check_yn').val() == 'N'){
            alert('Code 중복확인을 해주세요.');
            return false;
        }

        setCodeValue();

        if ($('#unit_concept_id').val() == null){
            alert('핵심개념을 선택해주세요.');
            return false;
        }

        if ($('#start_date').val() == ''){
            alert('토론 시작일을 선택해주세요.');
            return false;
        }

        if ($('#expiration_date').val() == ''){
            alert('토론 만료일을 선택해주세요.');
            return false;
        }

        if ($('#expiration_date').val() < $('#start_date').val()){
            alert('토론 만료일을 시작일 이후로 날짜로 다시 선택해주세요.');
            return false;
        }

        if ($('#title').val() == ''){
            alert('주제를 입력해주세요.');
            return false;
        }

        if ($('#content').val() == ''){
            alert('본문 내용을 입력해주세요.');
            return false;
        }

        // form submit() 하기
        $('#'+discussion_form_id).submit();
    }

    function beforeEditCheckAndSend(discussion_form_id) {
        var observer_is_check = false;
        $('input:radio[name="discussion[observer_yn]"]').each(function () {
            if ($(this).is(':checked')){
                observer_is_check = true;
            }
        });

        if (observer_is_check == false){
            alert('외부 참가자 여부를 선택해주세요.');
            return false;
        }

        if ($('input:radio[name="discussion[observer_yn]"]:checked').val()=='N'){

            if ($('#group_id').val() == null){
                alert('그룹 설정 후 이용해주세요.');
                return false;
            }
        }

        if ($('#start_date').val() == ''){
            alert('토론 시작일을 선택해주세요.');
            return false;
        }

        if ($('#expiration_date').val() == ''){
            alert('토론 만료일을 선택해주세요.');
            return false;
        }

        if ($('#expiration_date').val() < $('#start_date').val()){
            alert('토론 만료일을 시작일 이후로 날짜로 다시 선택해주세요.');
            return false;
        }

        // form submit() 하기
        $('#'+discussion_form_id).submit();
    }

    $(document).ready(function() {
        $('.title_summernote').summernote({
            height: 100,
            placeholder: '토론 주제를 입력하세요.',
            toolbar: [
                ['color', ['color']],
                ['insert', ['link', 'picture']],
                ['view', ['fullscreen']],
                ['help', ['help']]
            ]
        });
    });

    $(document).ready(function() {
        $('.discussion_title_explanation_summernote').summernote({
            height: 100,
            placeholder: '토론문제와 관련된 발문을 입력하세요.',
            toolbar: [
                ['color', ['color']],
                ['insert', ['link', 'picture']],
                ['view', ['fullscreen']],
                ['help', ['help']]
            ]
        });
    });

    $(document).ready(function() {
        $('#concept_explanation').summernote({
            height: 100,
            placeholder: '문제를 푸는데 도움을 줄 수 있는 내용을 입력하세요.',
            toolbar: [
                ['color', ['color']],
                ['insert', ['link', 'picture']],
                ['view', ['fullscreen']],
                ['help', ['help']]
            ],
            callbacks: {
                onImageUpload: function(files, editor, welEditable) {
                    sendFile(files[0], editor, welEditable, 'concept_explanation');
                }
            }
        });
    });

    $(document).ready(function() {
        $('#content').summernote({
            height: 300,
            placeholder: '토론 문제의 내용을 입력하세요.',
            toolbar: [
                ['color', ['color']],
                ['insert', ['link', 'picture']],
                ['view', ['fullscreen']],
                ['help', ['help']]
            ],
            callbacks: {
                onImageUpload: function(files, editor, welEditable) {
                    sendFile(files[0], editor, welEditable, 'content');
                }
            }
        });
    });

    $(document).ready(function() {
        $('#answer').summernote({
            height: 100,
            placeholder: '해답을 입력하세요.',
            toolbar: [
                ['color', ['color']],
                ['insert', ['link', 'picture']],
                ['view', ['fullscreen']],
                ['help', ['help']]
            ],
            callbacks: {
                onImageUpload: function(files, editor, welEditable) {
                    sendFile(files[0], editor, welEditable, 'answer');
                }
            }
        });
    });

//    $(document).ready(function() {
//        $('#interim_report').summernote({
//            height: 100,
//            placeholder: '토론 문제의 특정 조건의 변경 내용을 입력하세요.',
//            callbacks: {
//                onImageUpload: function(files, editor, welEditable) {
//                    sendFile(files[0], editor, welEditable, 'discussion_title_explanation');
//                }
//            }
//       });
//    });

    $(document).ready(function() {
        $('#final_report').summernote({
            height: 200,
            placeholder: '토론의 종합의견을 입력하세요.',
            toolbar: [
                ['color', ['color']],
                ['insert', ['link', 'picture']],
                ['view', ['fullscreen']],
                ['help', ['help']]
            ],
            callbacks: {
                onImageUpload: function(files, editor, welEditable) {
                    sendFile(files[0], editor, welEditable, 'discussion_title_explanation');
                }
            }
        });
    });

    function sendFile(file, editor, welEditable, id_name) {
        var data = new FormData();
        data.append("discussion_image[filename]", file);

        $.ajax({
            data: data,
            type: "POST",
            dataType: "json",
            beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
            url: "/discussion_images",
            cache: false,
            contentType: false,
            processData: false,
            success: function(data) {
                var img = document.createElement('img');
                img.setAttribute('id', data.id);
                img.src = data.url;
                //$('#summernote').summernote('insertText', data);
                $("#" + id_name).summernote('insertNode', img);
                image_ids += data.id+',';
                $('#discussion_image_id').val(image_ids);
            }
        });
    }
</script>

<!--print Code-->
<script type="text/javascript">
    function setCodeValue() {
        var teacherCode = '';

        if ($('#manage_type').val() == 'EurekaMath'){
            teacherCode = 'te';
        }
        else if ($('#manage_type').val() == '학교'){
            teacherCode = 'ts';
        }
        else{
            teacherCode = 'ti';
        }

//        $('#code_show').text($('#sub_category').val()+'-'+ teacherCode+$('#leader').val()+'-');
//        $('#code').attr('value', $('#sub_category').val()+'-'+ teacherCode+$('#leader').val()+'-p');

        var value = $('#sub_category').val()+'-'+teacherCode+$('#leader').val()+'-'+$('#code').val();

        $('#code').attr('value', value);
    }

    function codeCheck() {
        if ($('#sub_category').val() == null) {
            alert('Sub Category를 선택해주세요.');
            return false;
        }

        if ($('#code').val() == '') {
            alert('Code를 입력해주세요.');
            return false;
        }
        else {
            var teacherCode = '';

            if ($('#manage_type').val() == 'EurekaMath') {
                teacherCode = 'te';
            }
            else if ($('#manage_type').val() == '학교') {
                teacherCode = 'ts';
            }
            else {
                teacherCode = 'ti';
            }

            var data = new FormData();
            data.append("code", $('#sub_category').val() + '-' + teacherCode + $('#leader').val() + '-' + $('#code').val());

            $.ajax({
                data: data,
                type: "POST",
                dataType: "json",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
                },
                url: "/discussion_templets/check_code",
                cache: false,
                contentType: false,
                processData: false,
                success: function (data) {
                    if (data.data == 'exist') {
                        alert('[' + data.code + '] 중복된 코드 입니다.');
                    }
                    else {
                        alert('[' + data.code + '] 사용 가능한 코드 입니다.');
                        $('#code_check').attr('disabled', 'true');
                        $('#code_check_yn').val('Y');
                    }
                }
            });
        }
    }

    $('#category').change(function () {
        $('#code_check').removeAttr('disabled', 'true');
        $('#code_check_yn').val('N');
    });

    $('#sub_category').change(function () {
        $('#code_check').removeAttr('disabled', 'true');
        $('#code_check_yn').val('N');
    });

    $('#code').change(function () {
        $('#code_check').removeAttr('disabled', 'true');
        $('#code_check_yn').val('N');
    });

</script>

<!--핵심 개념 선택-->
<script type="text/javascript">
    <% sub_index = 0 %>

    var subCategory_options = [
        <% Concept::SUB_CATEGORIES.each_pair do |key, value| %>
        <% sub_index = sub_index + 1 %>
        {
            values: '<%= key %>', text: '<%= value %>'
        }
        <%= ',' unless sub_index == Concept::SUB_CATEGORIES.count  %>
        <% end %>
    ]

    function selectCategory() {
        var category = $('#category').val().slice(0, 2);

        $('#sub_category').empty();

        $.each(subCategory_options, function(i) {
            if (subCategory_options[i].values.substring(0,2) == category) {
                $('#sub_category').append( $('<option>').text(subCategory_options[i].text).attr('value',subCategory_options[i].values));
            }
        });
        selectSubCategory();
    }

    function selectSubCategory() {
        //var sub_category = $('#sub_category').val().slice(0, 3);
        var sub_category = $('#sub_category').val();

        $('#concept').empty();
        $('#concept_exercise').empty();

        var data = new FormData();
        data.append("key", sub_category);

        $.ajax({
            data: data,
            type: "POST",
            dataType: "json",
            beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
            url: "/discussions/get_concepts",
            cache: false,
            contentType: false,
            processData: false,
            success: function(data) {
                $.each(data, function(i) {
                    if (data[i].exercise_yn == 'concept'){
                        $('#concept').append( $('<option>').text(data[i].text).attr('value', data[i].values));
                    }
                    else {
                        $('#concept_exercise').append( $('<option>').text( data[i].code + ' | <' + data[i].text + '> | Level: ' + data[i].level ).attr('value', data[i].id));
                        
                    }
                });
                selectConcept();
            }
        });

//        setCodeValue();
    }

    function selectConcept() {
        var concept = $('#concept').val().slice(0, 4);

        $('#unit_concept_id').empty();
        $('#unit_concept_exercise').empty();

        var data = new FormData();
        data.append("key", concept);

        $.ajax({
            data: data,
            type: "POST",
            dataType: "json",
            beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
            url: "/discussions/get_unit_concepts",
            cache: false,
            contentType: false,
            processData: false,
            success: function(data) {
                $.each(data, function(i) {
                    if (data[i].exercise_yn == 'concept'){
                        $('#unit_concept_id').append( $('<option>').text(data[i].text).attr('value', data[i].values));
                    }


// 유형문제 가져오기 삭제
//                    else {
//                       $('#unit_concept_exercise').append( $('<option>').text( data[i].code + ' | <' + data[i].text + '> | Level: ' + data[i].level ).attr('value', data[i].values));
//                    }
// 유형문제 가져오기 삭제

                });
            }
        });
    }
</script>

<!--종합문제 & 유형문제 선택 후 summernote editor에 이미지 삽입-->

<script type="text/javascript">
    var solution_editor_count = 1;

    function insertImagesToEditor(name) {
// 유형문제 가져오기 삭제       
//        if (name == 'concept'){
//            var id = $('#concept_exercise').val();
//            var url = '/discussions/get_concept_exercise'
//        }
//        else {
//            var id = $('#unit_concept_exercise').val();
//            var url = '/discussions/get_unit_concept_exercise'
//        }
// 유형문제 가져오기 삭제


        var id = $('#concept_exercise').val();
        console.log(id);
        var url = '/discussions/get_concept_exercise'
        
        var data = new FormData();
        data.append("id", id);

        $.ajax({
            data: data,
            type: "POST",
            dataType: "json",
            beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
            url: url,
            cache: false,
            contentType: false,
            processData: false,
            success: function(data) {
                $.each(data, function(i) {
                    console.log(data[i].type);
                    if (data[i].type == '1'){
                        var img = document.createElement('img');
                        img.src = data[i].filename;
                        img.setAttribute('width', "50%");
                        //img.width = "50%";
                        //$('#summernote').summernote('insertText', data);
                        $("#content").summernote('insertNode', img);
                    }
                    else if (data[i].type == '2'){
                        var img = document.createElement('img');
                        img.src = data[i].filename;
                        img.setAttribute('width', "50%");
                        //img.width = "50%";
                        //$('#summernote').summernote('insertText', data);
                        $("#concept_explanation").summernote('insertNode', img);
                    }
                    else if (data[i].type == '3'){
                        var img = document.createElement('img');
                        img.src = data[i].filename;
                        img.setAttribute('width', "50%");
                        //img.width = "415px";
                        //$('#summernote').summernote('insertText', data);
                        if (solution_editor_count == 1){
                            $("#solution_"+solution_editor_count).summernote('insertNode', img);
                            solution_editor_count++;
                        }
                        else{
                            addSolution();
                            $("#solution_"+solution_editor_count).summernote('insertNode', img);
                            solution_editor_count++;
                       }
                    }
                    else if (data[i].type == '4'){
                        console.log('44444444'); 
                        var iframe = document.createElement('iframe');
                        iframe.id = "concept_video";
                        iframe.src = "https://player.vimeo.com/video/" + data[i].video_content;
                        iframe.width = "662";
                        iframe.height = "380";
                        iframe.frameborder = "0";
                        iframe.allowfullscreen = "allowfullscreen";
                        iframe.webkitallowfullscreen = "webkitallowfullscreen";
                        iframe.mozallowfullscreen = "mozallowfullscreen";
                        console.log(iframe.src);
                        //$('#summernote').summernote('insertText', data);
                        $("#video_1").summernote('insertNode', iframe);
                    }
                    else if (data[i].type == '7'){
                        var img = document.createElement('img');
                        img.src = data[i].filename;
                        img.setAttribute('width', "50%");
                        //$('#summernote').summernote('insertText', data);
                        $("#answer").summernote('insertNode', img);
                    }
                });
            }
        });
    }
</script>

                    <!--<div hidden id="concept_video" class="col-md-12 col-sm-12 col-xs-12 tabs" style="display:none">-->
                        <%# @videos.each do | video | %>
                            <!--<div class="responsive-video">-->
                                <!--<p>eurekamathv1 from <a href="https://vimeo.com/user49478797">EurekaMath</a> on <a href="https://vimeo.com">Vimeo</a>.</p>-->
                            <!--</div>-->
                        <%# end %>
                    <!--</div>-->

<script src="/assets/plugins/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
<script type="text/javascript">
    $( function() {

        $('#start_date').datepicker({
            dateFormat: 'yy-mm-dd',
            prevText: '<i class="fa fa-caret-left"></i>',
            nextText: '<i class="fa fa-caret-right"></i>',
            onSelect: function( selectedDate ) {
                $('#expire_from').datepicker('option', 'minDate', selectedDate);
            }
        });

        $('#expiration_date').datepicker({
            dateFormat: 'yy-mm-dd',
            prevText: '<i class="fa fa-caret-left"></i>',
            nextText: '<i class="fa fa-caret-right"></i>',
            onSelect: function( selectedDate ) {
                $('#expire_to').datepicker('option', 'maxDate', selectedDate);
            }
        });

    } );
</script>

<!--asciimath modal-->

<script type="text/javascript">


    function asciiMove() {
    //   location = "https://asciimath.org"
    //    $(location).attr('href', url);
    //$('#asciimath-button').click(function() { 
        $( "#dialog-1" ).dialog({
            autoOpen: true,
            title: "수식 입력 방법을 참고하세요.",
            width: 700,
            height: 400,
            draggable: true,
            resizable: true,
            position: {my: "right top", at: "right top", of: window},
            show: {
                effect: "blind",
                duration: 500
            },
            hide: {
                effect: "explode",
                duration: 500
            }
        });

    //    $('#asciimath').dialog({
    //       modal: true
    //     width: 480px, height: 350px,
    //      show: { effect: "blind", duration: 1000 },
    //      hide: { effect: "explode", duration: 1000 }
    //    });
    };

</script>

<script>
  $( function() {
    $( "#dialog" ).dialog({
      autoOpen: false,
      show: {
        effect: "blind",
        duration: 1000
      },
      hide: {
        effect: "explode",
        duration: 1000
      }
    });
 
    $( "#opener" ).on( "click", function() {
      $( "#dialog" ).dialog( "open" );
    });
  } );
</script>




<!--참여 그룹 선택-->
<script type="text/javascript">
    $('input:radio[name="discussion[observer_yn]"]').change(function () {
        if($(this).val() == 'Y'){
            $('#group_id').empty();
            $('#group_section').hide();
        }
        else{
            $('#group_id').empty();
            get_groups();
            $('#group_section').show();
        }
    });

    function get_groups() {

        var data = new FormData();
        data.append("leader_id", $('#leader').val());

        $.ajax({
            data: data,
            type: "POST",
            dataType: "json",
            beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
            url: "/groups/get_groups",
            cache: false,
            contentType: false,
            processData: false,
            success: function(data) {
                if (data == null){
                    $('#group_id').empty();
                }
                else {
                    $.each(data, function(i) {
                        $('#group_id').append( $('<option>').text(data[i].name).attr('value', data[i].id));
                    });
                }
            }
        });
    }

    $('#leader').change(function () {
        get_groups();
    });

</script>
<% if @discussion_form_id.include? 'edit' %>
    <script type="text/javascript">
        $('.edit_cencept').hide();
    </script>
<% end %>

<%# unless @discussion_form_id == 'new_discussion' %>
    <!--<script type="text/javascript">
        $('.discussion_templet').hide();
    </script>-->
<%# end %>
