<link rel="stylesheet" href="/assets/plugins/brand-buttons/brand-buttons.css">
<link rel="stylesheet" href="/assets/plugins/brand-buttons/brand-buttons-inversed.css">

<div class="breadcrumbs col-md-12">
    <div class="container">
        <h1 class="pull-left">토론방</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="/">Home</a></li>
            <li>STUDY</li>
            <li class="active">토론방</li>
        </ul>
    </div><!--/container-->
</div>

<div class="container container-fluid margin-bottom-50">

    <% if current_user.user_types[0].user_type == 'school teacher' || current_user.user_types[0].user_type == 'institute teacher' || current_user.user_types[0].user_type == 'mento' %>
        <div class="col-md-12">
            <%= button_to '토론방 개설하기', '/discussions/discussion_new', :method => :get, :class => 'btn-u btn-u-blue rounded col-md-12 col-sm-12 col-xs-12 margin-top-20 margin-bottom-20' %>
        </div>
    <% end %>
    <% @discussions.each do |discussion| %>
        <div class="col-md-12">
            <div class="news-v3 bg-color-white margin-bottom-20 margin-top-20 tag-box tag-box-v4 box-shadow shadow-effect-1">

                <div class="news-v3-in">
                    <div class="row">
                        <div class="col-md-2 col-sm-2 col-xs-12">
                            <img src="<%= discussion.user.user_img.blank? ? '/assets/img/user_default_img.png' : discussion.user.user_img %>" class="rounded img-responsive">
                        </div>
                        <div class="col-md-10 col-sm-10 col-xs-12 margin-top-20">
                            <ul class="list-inline posted-info">
                                <li><%= discussion.manage_type %></li>
                                <li><%= discussion.user.user_name %> 선생님</li>
                                <li>대상학년 : <%= discussion.grade %></li>
                                <li>핵심개념 : <%= discussion.unit_concept.name %></li>
                            </ul>
                            <ul class="list-inline posted-info">
                                <li>토론기간 : <%= discussion.created_at.to_date() %> ~ <%= discussion.expiration_date %></li>
                            </ul>
                            <h3><%= discussion.title %></h3>

                            <ul class="post-shares">
                                <li><i class="rounded-x icon-speech" title="답변"></i><span style="background: #55acee">20</span></li>
                                <li><i class="rounded-x icon-heart" title="추천"></i><span style="background: #55acee">11</span></li>
                            </ul>
                        </div>
                    </div>

                    <button class="btn btn-block btn-windows margin-top-20">더보기</button>
                </div>

            </div>
        </div>
    <% end %>
</div>