<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.css" rel="stylesheet">
<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.js"></script>


<!--<link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
         rel = "stylesheet">-->
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<!--<link rel="stylesheet" href="/resources/demos/style.css">-->
<!--<script src="https://code.jquery.com/jquery-1.12.4.js"></script>-->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>



<!-- MathJAX -->
<script type="text/javascript" async
        src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
</script>

<script type="text/x-mathjax-config">
        MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
</script>

<div class="breadcrumbs col-md-12">
    <div class="container">
        <h1 class="pull-left">토론방</h1>
    </div><!--/container-->
</div>

<div class="container container-fluid margin-bottom-50">

    <div class="col-md-12 bg-color-white">
        <div class="col-md-12 margin-top-20"></div>
        <div class="col-md-12">
            <!-- Grey Panel with Equal Height -->
            <!-- <div class="panel panel-red equal-height-column" style="height: 220px;"> -->
            <div class="panel panel-red">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-tasks"></i> 토론방 개요</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-3">
                        <p>
                            <strong>개설자 : </strong>
                                <% if @discussion.organizer_type == 'admin' %>
                                    <span style="color:#5aa0f8"><%= Admin.find(@discussion.organizer).name %></span>
                                <% else %>
                                    <span style="color:#5aa0f8"><%= User.find(@discussion.organizer).user_name %></span>
                                <% end %>
                        </p>
                    </div>
                    <div class="col-md-3">
                        <p>
                            <strong>토론방 리더 : </strong>
                                <span style="color:#5aa0f8"><%= @discussion.user.user_name %> <%= "(#{User::USER_TYPES[@discussion.user.user_types.first.user_type]})" %></span>
                        </p>
                    </div>
                    <div class="col-md-3">
                        <% @sub_leader = User.find(@discussion.sub_leader) %>
                        <p>
                            <strong>토론방 부리더 : </strong>
                                <span style="color:#5aa0f8"><%= @sub_leader.user_name %> <%= "(#{User::USER_TYPES[@sub_leader.user_types.first.user_type]})" %></span>
                        </p>
                    </div>
                    <div class="col-md-3"> 
                        <p>
                            <strong>운영타입 : </strong>
                                <span style="color:#5aa0f8"><%= @discussion.manage_type %></span>
                        </p>
                    </div>
                    <div class="col-md-3">
                        <p>
                            <strong>외부 참가 여부 : </strong>
                                <span style="color:#5aa0f8"><%= @discussion.observer_yn == 'Y' ? 'YES' : 'NO' %>
                                    <%= " (#{@discussion.observer_yn == 'N' ? Group.find(@discussion.group_id).name : ""})" %>
                                </span>
                        </p>
                    </div>
                    <div class="col-md-3">
                        <p>
                            <strong>토론 시작일 : </strong>
                                <span style="color:#5aa0f8"><%= @discussion.start_date %></span>
                        </p>
                    </div>
                    <div class="col-md-3">
                        <p>
                            <strong>토론 종료일 : </strong>
                            <span style="color:#5aa0f8"><%= @discussion.expiration_date %></span>
                        </p>
                    </div>
                    <div class="col-md-3">
                        <p>
                            <strong>토론 참가자 수 : </strong>
                                <span style="color:#5aa0f8"><%= @discussion.participants.count %></span>
                        </p>
                    </div>
                    <div class="col-md-3">
                        <p>
                            <strong>대상 학년 : </strong>
                                <span style="color:#5aa0f8"><%= @discussion.discussion_templet.grade %></span>
                        </p>
                    </div>
                    <div class="col-md-3">
                        <p>
                            <strong>문제 수준(Level) : </strong>
                                <span style="color:#5aa0f8"><%= @discussion.discussion_templet.level %></span>
                        </p>
                    </div>
                    <div class="col-md-3">
                        <p>
                            <strong>Think Time(분) : </strong>
                                <span style="color:#5aa0f8"><%= @discussion.think_time %></span>
                        </p>
                    </div>
                    <div class="col-md-12">
                        <p>
                            <strong>핵심 개념 : </strong>
                                <span style="color:#5aa0f8"><%= @unit_concept.name %></span>
                                (<% (1..@unit_concept.level).each do |idx| %>
                                    <i class="fa fa-star" style="color: red"></i>
                                <% end %>
                                <% (1..5-@unit_concept.level).each do |idx| %>
                                    <i class="fa fa-star-o" style="color: red"></i>
                                <% end %>)
                        </p>
                    </div>
                    <div class="col-md-12">
                        <p>
                            <strong>관련 개념 : </strong>
                                <% @discussion_title_explanations.each do |discussion_title_explanation| %>
                                    <span style="color:#5aa0f8"><%= discussion_title_explanation.unit_concept.name %></span>
                                    <span style="color:red"><%= '  |  ' %></span>
                                <% end %>
                        </p>
                    </div>
                </div>
            </div>
        <!-- End Grey Panel with Equal Height -->
        </div>

<!-- 
    <div class="blog-post-tags">
        <ul class="list-unstyled list-inline blog-info">
            <li><i class="fa fa-uesr"></i>방장 : <span style="color: #33b2f8"><%= @discussion.user.user_name %></span> 선생님</li>
            <% if current_user.user_types.first.user_type == 'school teacher' || current_user.user_types.first.user_type == 'institute teacher' || current_user.user_types.first.user_type == 'mento' %>
                <span style="color:#5aa0f8">|</span>
                <li>Code : <span style="color: #55b3f8;"><%= @discussion.discussion_templet.code unless @discussion.discussion_templet.nil? %></span></li>
            <% end %>
            <span style="color:#5aa0f8">|</span>
            <li><i class="fa fa-calendar"></i> 토론 기간 : <span style="color: #55b3f8"><%= @discussion.start_date %></span> ~ <span style="color: #55b3f8"><%= @discussion.expiration_date %></span></li>
            <span style="color:#5aa0f8">|</span>
            <li>Level : <span style="color: #55b3f8"><%= @discussion.discussion_templet.level %></span></li>
        </ul>
        <ul class="list-unstyled list-inline blog-tags">
            <li>핵심개념 : </li>
            <a target="_blank" href="/contents/<%= @discussion.discussion_templet.unit_concept_id %>"><%= @discussion.discussion_templet.unit_concept.name %></a>
            <span style="color:#5aa0f8">|</span>
            <li>관련개념 : </li>
                <% @discussion.discussion_templet.discussion_title_explanations.each do |discussion_title_explanation| %>
                    <span style="color: #55b3f8"><%= discussion_title_explanation.unit_concept.name %></span>
                        <span style="color:red"><%= ' | ' %></span>
                <% end %>
            <span style="color:#5aa0f8">|</span>
            <li>참가학년 : </li>
            <% @discussion.discussion_templet.grade.split(',').each do |grade| %>
                <span style="color: #55b3f8"><%= grade %></span>
            <% end %>
        </ul>
    </div>
-->
        

        <!--문제 관련 버튼들 및 관련 이미지-->
        <div class="col-md-12 margin-top-20"></div>
        <div id="concept_desc" class="col-md-12 col-sm-12 col-xs-12 tabs exercise_main">
            <!--토론 주제 버튼-->
            <button class="btn-u rounded btn-u-blue margin-top-20 col-md-12 col-sm-12 col-xs-12 text-left" onclick="show_images('discussion1')"> 토론 주제</button><br>
            <!-- <div class="col-md-12 margin-top-20 margin-left-20"></div> -->
            <div class="discussion1">
                <div class="col-md-12 margin-top-20"></div>
                <span class="title">
                            <%== @discussion.discussion_templet.title %>
                </span>
            </div>
        </div>

        <div class="col-md-12 margin-top-20"></div>
        <div id="concept_desc" class="col-md-12 col-sm-12 col-xs-12 tabs exercise_main">
            <!--토론 문제 버튼-->
            <button class="btn-u rounded btn-u-purple margin-top-20 col-md-12 col-sm-12 col-xs-12 text-left" onclick="show_images('discussion2')"> 토론 문제</button><br>
            <span class="discussion2 margin-top-20">
                <div class="col-md-12 margin-top-20"></div>
                    <%== @discussion.discussion_templet.content %>
            </span>
        </div>

        <div class="col-md-12 margin-top-20"></div>
        <div id="concept_desc" class="col-md-12 col-sm-12 col-xs-12 tabs exercise_main">
            <!--토론 문제 발문 및 관련 개념 버튼-->
            <button class="btn-u rounded btn-u-yellow margin-top-20 col-md-12 col-sm-12 col-xs-12 text-left" onclick="show_images('discussion3')">토론 문제 발문 및 관련 개념</button><br>
            <span hidden class="discussion3 margin-top-20">
                <div class="col-md-12 margin-top-20"></div>
                <div class="col-md-12">
                <div class="panel panel-yellow margin-bottom-40">
                        <!-- <div class="panel-heading"> -->
                            <!-- <h3 class="panel-title"><i class="fa fa-tasks"></i> 토론 문제 발문 및 관련 개념</h3> -->
                        <!-- </div> -->
                        <div class="panel-body">
                            <p>선생님께서 이번 토론 문제를 풀기 전에 학생들이 알아야 할 사항이나 질문을 발문 형식으로 제시하였으며, 아래 관련 개념 버튼을 누르면 해당 개념을 공부할 수 있고, 자기 평가도 할 수 있습니다.</p>
                        </div>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <!-- <th class="col-md-1">No</th> -->
                                    <th class="col-md-3">발    문</th>
                                    <th class="col-md-3">관련 개념</th>
                                    <th class="col-md-5">
                                        <span>자기 평가</span>
                                        <span><input type="button" class="btn btn-google rounded btn-xs pull-right" value="수식편집 참고" onclick="asciiMove()"></span>
                                    </th>
                                    <th class="col-md-1">자기평가저장 </th>
                                </tr>
                            </thead>
                            <tbody>
                            <% unless @discussion_title_explanations.blank? %>
                                <% number = 1 %>
                                <% @discussion_title_explanations.each do |discussion_title_explanation| %>
                                        <tr>
                                            <!-- <td><%= number %></td> -->
                                            <td>
                                                <%== discussion_title_explanation.content %>
                                            </td>
                                            <td>
                                                <button class="btn btn-info btn-xs" onclick="moveToStudyRoom('<%= discussion_title_explanation.unit_concept_id %>')"> <%== discussion_title_explanation.unit_concept.name %></button>
                                            </td>
                                            <td>
                                                <form>
                                                    <label class="radio-inline">
                                                        <input type="radio" id="evaluation_easy_<%= discussion_title_explanation.id %>" name="title_explanation_radio_<%= discussion_title_explanation.id %>" value="easy">쉬움
                                                    </label>
                                                    <label class="radio-inline">
                                                        <input type="radio" id="evaluation_normal_<%= discussion_title_explanation.id %>" name="title_explanation_radio_<%= discussion_title_explanation.id %>" value="normal">보통
                                                    </label>
                                                    <label class="radio-inline">
                                                        <input type="radio" id="evaluation_difficult_<%= discussion_title_explanation.id %>" name="title_explanation_radio_<%= discussion_title_explanation.id %>" value="difficult">어려움
                                                    </label>
                                                </form>
                                                <div class="row sky-form" style="border: none">
                                                    <br>
                                                    <form>
                                                        <textarea class="title_explanation_comment_summernote" id="evaluation_comment_<%= discussion_title_explanation.id %>" name="title_explanation_comment_<%= discussion_title_explanation.id %>"></textarea>
                                                    </form>
                                                </div>
                                            </td>
                                            <td>
                                                <button class="btn btn-windows btn-xs rounded radio-inline" id="btn_<%= discussion_title_explanation.id %>" onclick="saveTitleExplanationHistory('<%= discussion_title_explanation.id %>')"> 저장</button>
                                            </td>
                                        </tr>
                                    <% number += 1 %>
                                <% end %>
                            <% end %>
                            </tbody>
                        </table>
                </div>
            </div>
        </div>

        <div class="col-md-12 margin-top-20"></div>
        <div id="concept_desc" class="col-md-12 col-sm-12 col-xs-12 tabs exercise_main">
            <!--문제 풀이 가이드 버튼-->
            <button class="btn-u rounded btn-u-green margin-top-20 col-md-12 col-sm-12 col-xs-12 text-left" onclick="show_images('discussion4')">문제 풀이 가이드</button><br>
            <span hidden class="discussion4 margin-top-20">
                <%== @discussion.discussion_templet.concept_explanation %>
            </span>
        </div>

        <div class="col-md-12 margin-top-20"></div>
        <div id="concept_desc" class="col-md-12 col-sm-12 col-xs-12 tabs exercise_main">
            <!--문제 풀이 버튼-->
            <button class="btn-u rounded btn-u-default margin-top-20 col-md-12 col-sm-12 col-xs-12 text-left" onclick="show_images('discussion5')">문제 풀이</button><br>
            <span hidden class="discussion5 margin-top-20">
                <% @discussion.discussion_templet.discussion_solutions.each do |discussion_solution| %>
                    <%== discussion_solution.content %>
                    <hr>
                <% end %>
            </span>
        </div>

        <div class="col-md-12 margin-top-20"></div>
        <div id="concept_desc" class="col-md-12 col-sm-12 col-xs-12 tabs exercise_main">
            <!--해답 버튼-->
            <button class="btn-u rounded btn-u-orange margin-top-20 col-md-12 col-sm-12 col-xs-12 text-left" onclick="show_images('discussion6')">해답</button><br>
            <span hidden class="discussion6 margin-top-20">
                <!-- <div class="col-md-12 margin-top-20"></div> -->
                    <%== @discussion.discussion_templet.answer %>
            </span>
        </div>

        <div class="col-md-12 margin-top-20"></div>
        <div id="concept_desc" class="col-md-12 col-sm-12 col-xs-12 tabs exercise_main">
            <!--Video 버튼-->
            <button class="btn-u rounded btn-u-brown margin-top-20 col-md-12 col-sm-12 col-xs-12 text-left" onclick="show_images('discussion7')">Video</button><br>
            <span hidden class="discussion7 margin-top-20">
                <div class="col-md-12 margin-top-20"></div>
                    <% unless @discussion.discussion_templet.discussion_videos.blank? %>
                        <% @discussion.discussion_templet.discussion_videos.each do |discussion_video| %>
                            <div class="inline-group">
                                <div class="col-md-12 col-sm-12 col-xs-12 no-padding no-margin">
                                    <%== discussion_video.content %>
                                </div>
                                <hr>
                            </div>
                        <% end %>
                    <% end %>
            </span>
        </div>

        <div class="col-md-12 margin-top-20"></div>
        <div id="concept_desc" class="col-md-12 col-sm-12 col-xs-12 tabs exercise_main">
            <!--토론 문제 조건 변경 및 해답 버튼-->
            <button class="btn-u rounded btn-u-aqua margin-top-20 col-md-12 col-sm-12 col-xs-12 text-left" onclick="show_images('discussion8')">토론 문제 조건 변경 및 해답</button><br>
            <span hidden class="discussion8 margin-top-20">
                <br><br><br>
                <div class="panel panel-aqua margin-bottom-40">
                        <!-- <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-globe"></i> </h3>
                        </div> -->
                        <div class="panel-body">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th class="col-md-1">No</th>
                                        <th class="col-md-8">토론문제 조건 변경 내용</th>
                                        <th class="col-md-3">해답</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% unless @discussion_title_explanations.blank? %>
                                        <% number = 1 %>
                                        <% @discussion_problem_conditions.each do |discussion_problem_condition| %>
                                            <tr>
                                                <td><%= number %></td>
                                                <td><span class="title"><%== discussion_problem_condition.problem_condition %></span></td>
                                                <td><span class="title"><%== discussion_problem_condition.condition_answer %></span></td>
                                            <% number += 1 %>
                                        <% end %>
                                    <% end %>
                                </tbody>
                            </table>
                        </div>
                    </div>
            </span>
        </div>

        <!--의견 달기-->
        <div class="col-md-12 margin-top-20"></div>
        <div id="concept_desc" class="col-md-12 col-sm-12 col-xs-12 tabs exercise_main">
            <!--댓글 버튼-->
            <button class="btn-u rounded btn-u-red margin-top-20 col-md-12 col-sm-12 col-xs-12 text-left" onclick="show_images('discussion9')">의견 달기</button><br>
            <span class="discussion9 margin-top-20">
                <div class="col-md-12 margin-top-20"></div>
                    <div class="row">
        <hr>

        <div class="row sky-form" style="border: none">
            <div class="col-md-12 no-padding no-margin">
                <!-- <div class="label"><h3>* 의견 달기</h3> -->
                    <span></span> <input type="button" class="btn btn-google rounded btn-xs pull-right" value="수식편집 참고" onclick="asciiMove()"></div>
                <br><br>
                <form action="/discussion_reply" id="discussion_reply" method="post" enctype="multipart/form-data" novalidate="novalidate" charset="utf-8">
                    <%= token_tag nil %>
                    <input hidden name="discussion_reply[discussion_id]" value="<%= @discussion.id %>">
                    <input hidden name="discussion_reply[user_id]" value="<%= current_user.id %>">
                    <input hidden name="discussion_reply[group_id]" value="0">
                    <input hidden name="discussion_reply[group_no]" value="0">
                    <input hidden name="discussion_reply[depth]" value="0">
                    <textarea class="post_reply_summernote" id="post_reply" name="discussion_reply[comment]"></textarea>
                    <input type="button" class="btn btn-windows col-md-12 col-sm-12 col-xs-12 rounded" onclick="commentFilter('post_reply')" value="의견 저장">
                </form>
        </div>
        </div>

        <div hidden id="dialog-1" >
            <img alt="asciimath" src="/assets/img/asciimath.png" class="img-responsive center-block">
        </div>

        <!--댓글 나열-->

        
        <div class="row">
            <br><br><br>
            <div class="col-md-12 margin-bottom-50">
                <h3>* 댓글 </h3>
                <% unless @discussion_replies.blank? %>
                    <% reply1 = 1 %>
                    <% @discussion_replies.each do |discussion_reply| %>

                        <% @discussion_replies_2 = DiscussionReply.where('group_id = ?', discussion_reply.id ).order(:group_no) %>

                        <div class="row blog-comments margin-bottom-20">
                            <div class="col-sm-1 sm-margin-bottom-10">
                                <img src="<%= discussion_reply.user.user_img.blank? ? '/assets/img/user_default_img.png' : discussion_reply.user.user_img %>" class="img-responsive rounded">
                            </div>
                            <div class="col-sm-11">
                                <div class="comments-itself">
                                    <!--댓글 단 유저 이름-->
                                    <h5>
                                        <i class="fa fa-pencil"></i><%= discussion_reply.user.nickname.blank? ? discussion_reply.user.user_name : discussion_reply.user.nickname %>
                                        <!--<span>5 hours ago / <a href="#">Reply</a></span>-->
                                    </h5>

                                    <!--댓글내용-->
                                    <span class="title"><%== discussion_reply.comment %></span>

                                    

                                    <!--수정 버튼 클릭시 댓글 수정-->
                                    <form action="/discussion_reply/<%= discussion_reply.id %>" id="discussion_reply_<%= discussion_reply.id %>" class="margin-bottom-10" method="post" enctype="multipart/form-data" novalidate="novalidate" charset="utf-8">
                                        <%= token_tag nil %>
                                        <br>
                                        <input hidden name="discussion_reply[discussion_id]" value="<%= @discussion.id %>">
                                        <input hidden name="discussion_reply[user_id]" value="<%= current_user.id %>">
                                        <input hidden name="discussion_reply[group_id]" value="<%= discussion_reply.group_id %>">
                                        <input hidden name="discussion_reply[group_no]" value="<%= discussion_reply.group_no %>">
                                        <input hidden name="discussion_reply[depth]" value="<%= discussion_reply.depth %>">
                                        <!--댓글내용 수정-->
                                        <% if discussion_reply.user_id == @current_user_id %>
                                            <div id="edit_comment_section_<%= discussion_reply.id %>"></div>
                                        <% else %>
                                            <div></div>
                                        <% end %>
                                    </form>

                                    <div class="margin-top-20 margin-bottom-50">
                                        <button  class="btn btn-dropbox btn-sm rounded col-md-1 col-sm-1 col-xs-1 edit_button" id="edit_button_<%= discussion_reply.id %>" onclick="editReply('<%= discussion_reply.id %>')">수정</button>
                                        <button  class="btn btn-dropbox btn-sm rounded col-md-1 col-sm-1 col-xs-1 cancel_button" id="cancel_button_<%= discussion_reply.id %>" onclick="cancelReply('<%= discussion_reply.id %>')">취소</button>
                                        <% if @current_user_id == @organizer || @current_user_id == discussion_reply.user_id %>
                                            <button class="btn btn-dropbox btn-sm rounded col-md-1 col-sm-1 col-xs-1 destroy_button" id="destroy_button_<%= discussion_reply.id %>" onclick="destroyReply('<%= discussion_reply.id %>')">삭제</button>
                                        <% else %>
                                            <button class="btn btn-dropbox btn-sm rounded col-md-1 col-sm-1 col-xs-1 null_button">button</button>
                                        <% end %>
                                        <button class="btn btn-dropbox btn-sm rounded col-md-10 col-sm-10 col-xs-10" onclick="toggleReplyForm('discussion_reply_<%= reply1 %>')">댓글 달기</button>
                                    </div>

                                    <!--대댓글 달기-->
                                    <form hidden action="/discussion_reply" id="discussion_reply_<%= reply1 %>" class="margin-bottom-50" method="post" enctype="multipart/form-data" novalidate="novalidate" charset="utf-8">
                                        <%= token_tag nil %>
                                        <br>
                                        <input hidden name="discussion_reply[discussion_id]" value="<%= @discussion.id %>">
                                        <input hidden name="discussion_reply[user_id]" value="<%= current_user.id %>">
                                        <input hidden name="discussion_reply[group_id]" value="<%= discussion_reply.id %>">
                                        <input hidden name="discussion_reply[group_no]" value="<%= @discussion_replies_2.count + 1 %>">
                                        <input hidden name="discussion_reply[depth]" value="<%= discussion_reply.depth + 1 %>">
                                        <!--버튼 클릭시 대댓글 저장-->
                                        <input type="button" class="btn btn-google rounded btn-xs pull-right" value="수식편집 참고" onclick="asciiMove()"><br><br>
                                        <textarea name="discussion_reply[comment]" class="post_reply_summernote margin-top-20" id="post_reply_<%= reply1 %>"></textarea>
                                        <input type="button" class="btn btn-windows rounded col-md-12 col-sm-12 col-xs-12" onclick="commentFilter('<%= reply1 %>')" value="댓글 저장">
                                    </form>
                                </div>
                            </div>
                        </div>

                        <% unless @discussion_replies_2.nil? %>
                            <% reply1 = reply1 + 1 %>
                            <% @discussion_replies_2.each do |discussion_reply_2| %>

                                <% @discussion_replies_3 = DiscussionReply.where('group_id = ?', discussion_reply_2.id ).order(:group_no) %>

                                <div class="row blog-comments blog-comments-reply margin-bottom-30">
                                    <div class="col-sm-1 sm-margin-bottom-10">
                                        <img src="<%= discussion_reply_2.user.user_img.blank? ? '/assets/img/user_default_img.png' : discussion_reply_2.user.user_img %>" class="img-responsive rounded">
                                    </div>
                                    <div class="col-sm-11">
                                        <div class="comments-itself">
                                            <!--댓글 단 유저 이름-->
                                            <h5>
                                                <i class="fa fa-pencil-square-o"></i><%= discussion_reply_2.user.nickname.blank? ? discussion_reply_2.user.user_name : discussion_reply_2.user.nickname %>
                                                <!--<span>6 hours ago / <a href="#">Reply</a></span>-->
                                            </h5>

                                            <!--댓글내용-->
                                            <span class="title"><%== discussion_reply_2.comment %></span>


                                            <!--수정 버튼 클릭시 댓글 수정-->
                                            <form action="/discussion_reply/<%= discussion_reply_2.id %>" id="discussion_reply_<%= discussion_reply_2.id %>" class="margin-bottom-10" method="post" enctype="multipart/form-data"       novalidate="novalidate" charset="utf-8">
                                                <%= token_tag nil %>
                                                <br>
                                                <input hidden name="discussion_reply[discussion_id]" value="<%= @discussion.id %>">
                                                <input hidden name="discussion_reply[user_id]" value="<%= current_user.id %>">
                                                <input hidden name="discussion_reply[group_id]" value="<%= discussion_reply_2.group_id %>">
                                                <input hidden name="discussion_reply[group_no]" value="<%= discussion_reply_2.group_no %>">
                                                <input hidden name="discussion_reply[depth]" value="<%= discussion_reply_2.depth %>">
                                                <!--댓글내용 수정-->
                                                <% if discussion_reply_2.user_id == @current_user_id %>
                                                    <div id="edit_comment_section_<%= discussion_reply_2.id %>"></div>
                                                <% else %>
                                                    <div></div>
                                                <% end %>
                                            </form>

                                            <div class="margin-top-20 margin-bottom-50">
                                                <button  class="btn btn-dropbox btn-sm rounded col-md-1 col-sm-1 col-xs-1 edit_button" id="edit_button_<%= discussion_reply_2.id %>" onclick="editReply('<%= discussion_reply_2.id %>')">수정</button>
                                                <button  class="btn btn-dropbox btn-sm rounded col-md-1 col-sm-1 col-xs-1 cancel_button" id="cancel_button_<%= discussion_reply_2.id %>" onclick="cancelReply('<%= discussion_reply_2.id %>')">취소</button>
                                                <% if @current_user_id == @organizer || @current_user_id == discussion_reply_2.user_id %>
                                                    <button class="btn btn-dropbox btn-sm rounded col-md-1 col-sm-1 col-xs-1 destroy_button" id="destroy_button_<%= discussion_reply_2.id %>" onclick="destroyReply('<%= discussion_reply_2.id %>')">삭제</button>
                                                <% else %>
                                                    <button class="btn btn-dropbox btn-sm rounded col-md-1 col-sm-1 col-xs-1 null_button">button</button>
                                                <% end %>
                                                <button class="btn btn-dropbox btn-sm rounded col-md-10 col-sm-10 col-xs-10" onclick="toggleReplyForm('discussion_reply_<%= reply1 %>')">댓글 달기</button>
                                            </div>

                                            <!--대댓글 달기-->
                                            <form hidden action="/discussion_reply" id="discussion_reply_<%= reply1 %>" class="margin-bottom-50" method="post" enctype="multipart/form-data" novalidate="novalidate" charset="utf-8">
                                                <%= token_tag nil %>
                                                <br>
                                                <input hidden name="discussion_reply[discussion_id]" value="<%= @discussion.id %>">
                                                <input hidden name="discussion_reply[user_id]" value="<%= current_user.id %>">
                                                <input hidden name="discussion_reply[group_id]" value="<%= discussion_reply_2.id %>">
                                                <input hidden name="discussion_reply[group_no]" value="<%= @discussion_replies_3.count + 1 %>">
                                                <input hidden name="discussion_reply[depth]" value="<%= discussion_reply_2.depth + 1 %>">
                                                <!--버튼 클릭시 대댓글 저장-->
                                                <input type="button" class="btn btn-google rounded btn-xs pull-right" value="수식편집 참고" onclick="asciiMove()"><br><br>
                                                <textarea name="discussion_reply[comment]" class="post_reply_summernote margin-top-20" id="post_reply_<%= reply1 %>"></textarea>
                                                <input type="button" class="btn btn-windows rounded col-md-12 col-sm-12 col-xs-12" onclick="commentFilter('<%= reply1 %>')" value="댓글 저장">
                                            </form>

                                        </div>
                                    </div>
                                </div>

                                <% unless @discussion_replies_3.nil? %>
                                    <% reply1 = reply1 + 1 %>
                                    <% @discussion_replies_3.each do |discussion_reply_3| %>

                                        <div class="row blog-comments blog-comments-reply margin-bottom-30">
                                            <div class="col-sm-1 col-xs-0 sm-margin-bottom-10"></div>
                                            <div class="col-sm-1 col-sm-offset-0 col-xs-offset-1 sm-margin-bottom-10">
                                                <img src="<%= discussion_reply_3.user.user_img.blank? ? '/assets/img/user_default_img.png' : discussion_reply_3.user.user_img %>" class="img-responsive rounded">
                                            </div>
                                            <div class="col-sm-10 col-sm-offset-0 col-xs-offset-1 col-xs-11">
                                                <div class="comments-itself">
                                                    <!--댓글 단 유저 이름-->
                                                    <h5>
                                                        <i class="fa fa-pencil-square-o"></i><%= discussion_reply_3.user.nickname.blank? ? discussion_reply_3.user.user_name : discussion_reply_3.user.nickname %>
                                                        <!--<span>6 hours ago / <a href="#">Reply</a></span>-->
                                                    </h5>

                                                    <!--댓글내용-->
                                                    <span class="title"><%== discussion_reply_3.comment %></span>

                                                    <!--수정 버튼 클릭시 댓글 수정-->
                                                    <form action="/discussion_reply/<%= discussion_reply_3.id %>" id="discussion_reply_<%= discussion_reply_3.id %>" class="margin-bottom-10" method="post" enctype="multipart/form-data"       novalidate="novalidate" charset="utf-8">
                                                        <%= token_tag nil %>
                                                        <br>
                                                        <input hidden name="discussion_reply[discussion_id]" value="<%= @discussion.id %>">
                                                        <input hidden name="discussion_reply[user_id]" value="<%= current_user.id %>">
                                                        <input hidden name="discussion_reply[group_id]" value="<%= discussion_reply_3.group_id %>">
                                                        <input hidden name="discussion_reply[group_no]" value="<%= discussion_reply_3.group_no %>">
                                                        <input hidden name="discussion_reply[depth]" value="<%= discussion_reply_3.depth %>">
                                                        <!--댓글내용 수정-->
                                                        <% if discussion_reply_2.user_id == @current_user_id %>
                                                            <div id="edit_comment_section_<%= discussion_reply_3.id %>"></div>
                                                        <% else %>
                                                            <div></div>
                                                        <% end %>
                                                    </form>

                                                    <div class="margin-top-20 margin-bottom-50">
                                                        <button  class="btn btn-dropbox btn-sm rounded col-md-1 col-sm-1 col-xs-1 edit_button" id="edit_button_<%= discussion_reply_3.id %>" onclick="editReply('<%= discussion_reply_3.id %>')">수정</button>
                                                        <button  class="btn btn-dropbox btn-sm rounded col-md-1 col-sm-1 col-xs-1 cancel_button" id="cancel_button_<%= discussion_reply_3.id %>" onclick="cancelReply('<%= discussion_reply_3.id %>')">취소</button>
                                                        <% if @current_user_id == @organizer || @current_user_id == discussion_reply_2.user_id %>
                                                            <button class="btn btn-dropbox btn-sm rounded col-md-1 col-sm-1 col-xs-1 destroy_button" id="destroy_button_<%= discussion_reply_3.id %>" onclick="destroyReply('<%= discussion_reply_3.id %>')">삭제</button>
                                                        <% else %>
                                                            <button class="btn btn-dropbox btn-sm rounded col-md-1 col-sm-1 col-xs-1 null_button">button</button>
                                                        <% end %>
                                                        <!--<button class="btn btn-dropbox btn-sm rounded col-md-10 col-sm-10 col-xs-10" onclick="toggleReplyForm('discussion_reply_<%#= reply1 %>')">댓글 달기</button>-->
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <% reply1 = reply1 + 1 %>
                                    <% end %>
                                <% end %>

                                <% reply1 = reply1 + 1 %>
                            <% end %>
                        <% end %>

                        <% reply1 = reply1 + 1 %>
                    <% end %>

                <% end %>

            </div>
        </div>
        </span>
        </div>

        <!--종합 의견-->

        <div class="col-md-12 margin-top-20"></div>
        <div id="concept_desc" class="col-md-12 col-sm-12 col-xs-12 tabs exercise_main">
            <!--종합 의견 버튼-->
            <button class="btn-u rounded btn-u-dark margin-top-20 col-md-12 col-sm-12 col-xs-12 text-left" onclick="show_images('discussion10')">종합 의견</button><br>
            <span hidden class="discussion10 margin-top-20">
                <div class="col-md-12 margin-top-20"></div>
                    <span class="title"><%== @discussion.final_report unless @discussion.final_report.nil? %></span>
            </span>
        </div>
        <div class="col-md-12 margin-top-20">
            <hr>
                <% if @discussion_room_id == 'room_participant' %>
                    <%= puts @discussion_room_id %>
                    <%= puts '-----------11111111' %>
                    <a href="/discussions/discussion_list"><button class="btn btn-podcast col-md-12 col-sm-12 col-xs-12 rounded margin-bottom-50">뒤로가기</button></a>
                <% else %>
                    <%= puts '-----------22222222' %>
                    <a href="/mypages/discussion_management"><button class="btn btn-podcast col-md-12 col-sm-12 col-xs-12 rounded margin-bottom-50">뒤로가기</button></a>
                <% end %>
        </div>
    </div>
</div>




<style>

span.title {
    font-size: 18px;
}
div.title {
    font-size: 18px;
}

.note-editable {
    font-size: 18px;
    font-weight: normal;
    line-height: 1.2;
}

button.cancel_button {
    display: none;
}
button.null_button {
    display: none;
}
.blog-comments .comments-itself {
    /* background: #ddd; */
    padding: 10px 30px;
}

</style>


<script type="text/javascript">
    function show_images(class_value) {
        if(class_value == 'video_lecture'){
            $(".exercise_main").toggle();
        }

        $('.'+class_value).toggle();
    }

</script>


<!--asciimath modal-->

<script type="text/javascript">


    function asciiMove() {
    //   location = "https://asciimath.org"
    //    $(location).attr('href', url);
    //$('#asciimath-button').click(function() { 
        $( "#dialog-1" ).dialog({
            autoOpen: true,
            title: "수식 입력 방법을 참고하세요.",
            width: 700,
            height: 400,
            draggable: true,
            resizable: true,
            position: {my: "right top", at: "right top", of: window},
            show: {
                effect: "blind",
                duration: 500
            },
            hide: {
                effect: "explode",
                duration: 500
            }
        });

    //    $('#asciimath').dialog({
    //       modal: true
    //     width: 480px, height: 350px,
    //      show: { effect: "blind", duration: 1000 },
    //      hide: { effect: "explode", duration: 1000 }
    //    });
    };

</script>

<script>
  $( function() {
    $( "#dialog" ).dialog({
      autoOpen: false,
      show: {
        effect: "blind",
        duration: 1000
      },
      hide: {
        effect: "explode",
        duration: 1000
      }
    });
 
    $( "#opener" ).on( "click", function() {
      $( "#dialog" ).dialog( "open" );
    });
  } );
</script>

<!--asciimath modal-->

<!--summernote editor-->
<script type="text/javascript">

    $(document).ready(function() {
        var discussion_r_id = '';
    });

    $(document).ready(function() {
        $('.title_explanation_comment_summernote').summernote({
            height: 50,
            toolbar: [
                ['color', ['color']],
                ['insert', ['link', 'picture', 'video']],
                ['view', ['fullscreen']],
                ['help', ['help']]
            ],
            callbacks: {
                onImageUpload: function(files, editor, welEditable) {
                    sendFile(files[0], editor, welEditable, this.id);
                }
            }
        });
    });

    $(document).ready(function() {
        $('.post_reply_summernote').summernote({
            height: 100,
            toolbar: [
                ['color', ['color']],
                ['insert', ['link', 'picture', 'video']],
                ['view', ['fullscreen']],
                ['help', ['help']]
            ],
            callbacks: {
                onImageUpload: function(files, editor, welEditable) {
                    sendFile(files[0], editor, welEditable, this.id);
                }
            }
        });
    });

    
    $(document).ready(function() {
        $('#final_report').summernote({
            height: 200,
            placeholder: '토론의 종합의견을 입력하세요.',
            toolbar: [
                ['color', ['color']],
                ['insert', ['link', 'picture']],
                ['view', ['fullscreen']],
                ['help', ['help']]
            ],
            callbacks: {
                onImageUpload: function(files, editor, welEditable) {
                    sendFile(files[0], editor, welEditable, 'discussion_title_explanation');
                }
            }
        });
    });



    function sendFile(file, editor, welEditable, id_name) {
        var data = new FormData();
        data.append("discussion_image[filename]", file);
        data.append('discussion_image[discussion_id]', <%= @discussion.id %>);

        $.ajax({
            data: data,
            type: "POST",
            dataType: "json",
            beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
            url: "/discussion_images",
            cache: false,
            contentType: false,
            processData: false,
            success: function(data) {
                var img = document.createElement('img');
                img.setAttribute('id', data.id);
                img.src = data.url;
                //$('#summernote').summernote('insertText', data);
                $("#" + id_name).summernote('insertNode', img);
                image_ids += data.id+',';
                $('#discussion_image_id').val(image_ids);
            }
        });
    }
</script>

<!--save histories-->
<script type="text/javascript">

    function saveTitleExplanationHistory(id) {

        if ( !$('#evaluation_easy_'+id).is(":checked") && !$('#evaluation_normal_'+id).is(":checked") && !$('#evaluation_difficult_'+id).is(":checked") ) {
                alert('난이도를 선택하세요.');
                // $('#loading').hide();
                return false;
            } 
            else if ( $('#evaluation_comment_'+id).val() == '') {
                alert('comment를 입력하세요.');
                // $('#loading').hide();
                return false;
            }

        var radioName = document.getElementsByName('title_explanation_radio_'+id);

        var radioValue = '';

        for( var i=0; i<radioName.length; i++ ) {
            if(radioName[i].checked) {
                radioValue = radioName[i].value;
            }
        }

        var commentName = document.getElementsByName('title_explanation_comment_'+id);
        var commentValue = '';
        commentValue = commentName[0].value

        var data = new FormData();
        data.append("title_explanation_yn", radioValue);
        data.append('title_explanation_id', id);
        data.append('title_explanation_comment', commentValue);
        document.getElementById("btn_"+id).disabled = true;
        $.ajax({
            data: data,
            type: "POST",
            dataType: "json",
            beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
            url: "/discussions/save_title_explanation_history",
            cache: false,
            contentType: false,
            processData: false,
            success: function(data) {
            }
        });
    }

    function saveSolutionHistory(id) {
        var radioName = document.getElementsByName('solution_radio_'+id);

        var radioValue = '';

        for( var i=0; i<radioName.length; i++ ) {
            if(radioName[i].checked) {
                radioValue = radioName[i].value;
            }
        }

        var data = new FormData();
        data.append("solution_yn", radioValue);
        data.append('solution_id', id);
        document.getElementById("solution_btn_"+id).disabled = true;
        $.ajax({
            data: data,
            type: "POST",
            dataType: "json",
            beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
            url: "/discussions/save_discussion_solution_history",
            cache: false,
            contentType: false,
            processData: false,
            success: function(data) {
            }
        });
    }
</script>

<script type="text/javascript">
    function moveToStudyRoom(unit_concept_id) {
        window.open('/contents/'+unit_concept_id);
    }

    function toggleReplyForm(id) {
        $('#'+id).toggle();

        $(document).ready(function() {
            $('.post_reply_summernote').summernote({
                height: 200,
                toolbar: [
                ['color', ['color']],
                ['insert', ['link', 'picture', 'video']],
                ['view', ['fullscreen']],
                ['help', ['help']]
            ],
                callbacks: {
                    onImageUpload: function(files, editor, welEditable) {
                        sendFile(files[0], editor, welEditable, this.id);
                    }
                }
            });
        });

    }


</script>

    
<script type="text/javascript">


    function editReply(discussion_reply_id) {
        discussion_r_id = discussion_reply_id;
        var edit_comment_section_id = "#edit_comment_section_" + discussion_reply_id;
        var root = $(edit_comment_section_id);
    if ( root.length ) {
        var edit_button_id = "#edit_button_" + discussion_reply_id;
        $(edit_button_id).hide();
        var cancel_button_id = "#cancel_button_" + discussion_reply_id;
        $(cancel_button_id).show();
        var row = $('<div>').addClass('row');
        var section = $('<section>').addClass('col-md-12');
        var br = $('<br>');
        var ascii = $('<div>').addClass('label');

        var asciiinput = ascii.append($('<input>').attr('type', 'button').addClass('btn btn-google rounded btn-xs pull-right').attr('value', '수식편집 참고').attr('onclick', 'asciiMove()'));
//        var textarea = $('<textarea>').addClass('form-control edit_comment_summernote').attr('name', 'discussion_reply[comment]').attr('id', 'comment').attr('value', '<%== @strip_tags_comment unless @strip_tags_comment.nil? %>');
        var textarea = $('<textarea>').addClass('form-control edit_comment_summernote').attr('name', 'discussion_reply[comment]').attr('id', 'discussion_reply_id_comment');
        var input = $('<input>').attr('type', 'button').addClass('btn btn-google rounded btn-xs pull-right input_edit_comment').attr('value', '댓글수정 저장').attr('onclick', 'editCommentSave()');
        console.log(discussion_reply_id);

        var data = new FormData();
        data.append("discussion_reply_id", discussion_reply_id);

        $.ajax({
            data: data,
            type: "POST",
            dataType: "json",
            beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
            url: "/discussion_reply/get_discussion_reply_comment",
            cache: false,
            contentType: false,
            processData: false,
            success: function(data) {
                    comment = data[0].comment;
                    $('.edit_comment_summernote').attr('value', $(comment).text());
                    console.log('1111111111111');
                    console.log($('.edit_comment_summernote').attr('value', $(comment).text()));
                    editReply1();
                }
//                else {
//                    alert('댓글이 없습니다.');
//                   return;
//                    }
//                }
        });
        console.log(discussion_reply_id);
        section.append(asciiinput).append(br).append(br).append(textarea).append(input).appendTo(row).appendTo(root);
    } else {
        alert('댓글을 단 본인이 아니면 수정할 수 없습니다.');
    }

    }

    function editReply1() {

        $('.edit_comment_summernote').summernote({
            height: 100,
            placeholder: '문제 풀이를 입력하세요.',
            toolbar: [
                ['color', ['color']],
                ['insert', ['link', 'picture']],
                ['view', ['fullscreen']],
                ['help', ['help']]
            ],
            callbacks: {
                onImageUpload: function(files, editor, welEditable) {
                    sendFile(files[0], editor, welEditable, this.id);
                }
            }
        });
    }

    function cancelReply(id) {
        var edit_comment_section_id = "#edit_comment_section_" + id;
        $(edit_comment_section_id).empty();
        var edit_button_id = "#edit_button_" + id;
        $(edit_button_id).show();
        var cancel_button_id = "#cancel_button_" + id;
        $(cancel_button_id).hide();
    }


    function editCommentSave() {
        var br = $('<br>'); 
        console.log('edit');
        var discussion_reply_id = "#discussion_reply_" + discussion_r_id;
        console.log(discussion_reply_id);
        console.log($(discussion_reply_id_comment).val());
        if ($(discussion_reply_id_comment).val() != ''){
//                $(discussion_reply_id_comment).html();
//                $(discussion_reply_id_comment).append(br);
//                $(discussion_reply_id_comment).summernote("insertHTML", '<br>');
                $(discussion_reply_id_comment).summernote('pasteHTML', '<b></b>');
                console.log($(discussion_reply_id_comment).val());
//                $(discussion_reply_id_comment).slide.delay(10000);
                $(discussion_reply_id).submit();
            }
            else {
                alert('의견을 입력해주세요');
            }
    }

    function destroyReply(discussion_reply_id) {
        var retVal = confirm("정말로 삭제하겠습니까?");
        if( retVal == true ){
            location = '/discussion_replies/' + discussion_reply_id;
            //document.write ("User wants to continue!");
            //return true;
        }
        else{
            //document.write ("User does not want to continue!");
            return false;
        }
    }

</script>



<!--form check-->
<script type="text/javascript">
    function commentFilter(id) {
        if (id == 'post_reply'){
            if ($('#post_reply').val() != ''){
                $('#discussion_reply').submit();
            }
            else {
                alert('의견을 입력해주세요');
                return false;
            }
        }
        else {
            if ($('#post_reply_'+id).val() != ''){
                $('#discussion_reply_'+id).submit();
            }
            else{
                alert('댓글을 입력해주세요');
                return false;
            }
        }
    }
    <% if @participant_before_check == false %>
    var time = <%= @discussion.think_time %>  * 60000;
    setTimeout(function(){ $('#timer').show(); }, time);
    var think_time = '이 토론방에 처음 참여하셨군요. 토론문제를 생각하는 시간 ' + time + '분 후에 문제풀이 등이 열립니다.'
    alert(think_time);
    <% else %>
    $('#timer').show();
    <% end %>

</script>



<script type="text/javascript">
    function videoPause(){
        var iframe = $('#vimeo-player')[0];
        var player = $f(iframe);
        player.api('pause');
    }
</script>