<link rel="stylesheet" href="/assets/plugins/brand-buttons/brand-buttons.css">
<link rel="stylesheet" href="/assets/plugins/brand-buttons/brand-buttons-inversed.css">

<link href="/css/select2.min.css" rel="stylesheet" />
<script type="text/javascript" src="/js/select2.min.js"></script>

<div class="breadcrumbs col-md-12">
    <div class="container">
        <h1 class="pull-left">진행중인 토론방</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="/">Home</a></li>
            <li>토론방</li>
            <li class="active">진행중인 토론방</li>
        </ul>
    </div><!--/container-->
</div>

<!--리더 검색 기능-->
<div class="container col-md-12 margin-top-20">
    <div class="col-md-6 col-sm-12 col-xs-12 margin-bottom-5">
        <select class="select2-search-box" style="width: 100%;" id="leaderSearch" name="" value="">
            <option value="">방장검색</option>
            <% @discussions.select(:user_id).distinct.each do |leader| %>
                <option value="<%= leader.user_id %>"><%= leader.user.user_name %></option>
            <% end %>
        </select>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
        <button class="btn btn-podcast btn-sm rounded col-md-12 col-sm-12 col-xs-12" onclick="leaderSearch()">찾기</button>
    </div>
</div>

<div class="container container-fluid">

    <% unless @discussions.blank? %>
        <% @discussions.each do |discussion| %>
            <div class="col-md-6">
                <div class="news-v3 bg-color-white margin-bottom-20 margin-top-20 tag-box tag-box-v4 box-shadow shadow-effect-1">

                    <div class="col-md-12 col-sm-12 col-xs-12 margin-bottom-20">
                        <h3>주제 : <%= discussion.title %></h3>
                        <ul class="list-inline posted-info">
                            <li>방장 : <span style="color: #1d78cb;"><%= discussion.user.user_name unless discussion.user.nil? %></span> 선생님</li>
                        </ul>
                        <ul class="list-inline posted-info">
                            <li>대상학년 : <span style="color: #1d78cb;"><%= discussion.grade %></span></li>
                            <li>생각시간 : <span style="color: #1d78cb;"><%= discussion.think_time %>분</span></li>
                        </ul>
                        <ul class="list-inline posted-info">
                            <li>핵심개념 : <span style="color: #1d78cb"><%= discussion.unit_concept.name %></span></li>
                            <li>LEVEL : <span style="color: red;"><%= discussion.level %></span></li>
                        </ul>
                        <ul class="list-inline posted-info">
                            <li>토론기간 : <span style="color: #1d78cb;"><%= discussion.created_at.to_date %></span> ~ <span style="color: #1d78cb;"><%= discussion.expiration_date %></span></li>
                        </ul>

                        <ul class="post-shares">
                            <li><img src="<%= discussion.user.user_img.blank? ? '/assets/img/user_default_img.png' : discussion.user.user_img unless discussion.user.nil? %>" class="rounded-x img-center" style="width: 40px; height: 40px; margin-bottom: 10px; background: #eee"></li>
                            <li><i class="rounded-x icon-speech" title="답변"></i><span style="background: #55acee"><%= discussion.discussion_replies.count %></span></li>
                            <li><a href="javascript:discussionLike('<%= discussion.id %>')"><i class="rounded-x icon-heart" title="추천"></i><span style="background: #55acee"><%= discussion.like.nil? ? 0 : discussion.like %></span></a></li>
                            <li><i class="rounded-x icon-users"></i><span style="background: #55acee"><%= discussion.participants.count %></span></li>
                        </ul>
                    </div>
                    <% if Discussion.can_I_join_this_room?(discussion.group_id, current_user.id, discussion.observer_yn, current_user.user_types[0].user_type) %>
                        <button class="btn btn-block btn-windows margin-top-20 rounded" onclick="participate('<%= discussion.id %>')">참여하기</button>
                    <% else %>
                        <button class="btn btn-block btn-default margin-top-20 rounded"><i class="fa fa-lock"></i></button>
                    <% end %>
                </div>
            </div>
        <% end %>
    <% else %>
        <div class="col-md-12">
            <div class="news-v3 bg-color-white margin-bottom-20 margin-top-20 tag-box tag-box-v4 box-shadow shadow-effect-1 text-center">
                <h3>- 현재 진행중인 토론방이 없습니다 -</h3>
            </div>
        </div>
    <% end %>
    <div class="col-md-12 margin-bottom-50"></div>
</div>

<script type="text/javascript">

    $(document).ready(function() {
        $(".select2-search-box").select2();
    });

    function discussionLike(discussion_id) {

        <% if current_user.nil? %>
        location = '/users/sign_in';
        <% else %>

        var url = "/discussions/" + discussion_id + "/like";

        $.ajax({
            url: url,
            type: "GET",
            beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
            datatype: "json",
            success : function(data) {
                location.reload();
            },
            error : function(){
                alert("try to again. please.");
            }
        });
        <% end %>
    }

    function participate(discussion_id) {
        location = "/discussions/discussion_room/" + discussion_id
    }

    function leaderSearch() {
        location = '/discussions/discussion_list?leader=' + $('#leaderSearch option:selected').val();
    }
</script>