<!-- MathJAX -->
<script type="text/javascript" async
        src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
</script>

<script type="text/x-mathjax-config">
        MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
</script>

<div class="container container-fluid">
    <h1>Listing Discussions</h1>
    <% unless session[:admin]['admin_type'] != 'admin' %>
        <%= link_to '토론방 개설', new_discussion_path, :class => 'btn-u btn-u-red rounded' %> |
        <%= link_to '토론방 리더 지정', discussions_select_leader_path, :class => 'btn-u btn-u-dark-blue rounded' %> |
    <% end %>
    <%= link_to '토론방 개설 권한 부여하기', discussions_give_authority_path, :class => 'btn-u btn-u-dark-info rounded' %>

    <table class="table table-striped">
        <thead>
        <tr>
            <th class="text-center">개설자</th>
            <th class="text-center">리더</th>
            <th class="text-center">운영타입</th>
            <th class="text-center">외부 참가자 Y/N</th>
            <th class="text-center">주제</th>
            <!--<th class="text-center">주제 설명</th>-->
            <!--<th class="text-center">본문 내용</th>-->
            <th class="text-center">핵심개념</th>
            <th class="text-center">개념 Level</th>
            <!--<th class="text-center">관계된 개념</th>-->
            <th class="text-center">대상학년</th>
            <th class="text-center">Level</th>
            <th class="text-center">시작일</th>
            <th class="text-center">종료일</th>
            <th class="text-center">참가자 수</th>
            <!--<th class="text-center">중간보고</th>-->
            <!--<th class="text-center">최종보고</th>-->
            <!--<th class="text-center">해답</th>-->
            <th colspan="3" class="text-center"><i class="fa fa-cog"></i></th>
        </tr>
        </thead>
        <tbody>
        <% @discussions.each do |discussion| %>
            <tr>
                <td class="text-center"><%= Admin.find(discussion.organizer).name unless discussion.organizer.nil? %></td>
                <td class="text-center"><%= discussion.user.user_name unless discussion.user.user_name.nil? %></td>
                <td class="text-center"><%= discussion.manage_type unless discussion.manage_type.nil? %></td>
                <td class="text-center"><%= discussion.observer_yn unless discussion.observer_yn.nil? %></td>
                <td><%= discussion.title unless discussion.title.nil? %></td>
                <!--<td><%#== discussion.title_explanation unless discussion.title_explanation.nil? %></td>-->
                <!--<td><%#== discussion.content unless discussion.content.nil? %></td>-->
                <% unit_concept = UnitConcept.find(discussion.unit_concept_id) unless discussion.unit_concept_id.nil? %>
                <td class="text-center"><%= unit_concept.name unless discussion.unit_concept_id.nil? %></td>
                <td class="text-center"><%= unit_concept.level %></td>
                <!--<td>-->
                    <!--<%# unless discussion.unit_concept_id.nil? %>-->
                        <!--<%# discussion.unit_concept.unit_concept_descs.each do |ucd| %>-->
                            <!--<%# if ucd.desc_type == '5' %>-->
                                <!--<%#= ucd.link %>-->
                            <!--<%# end %>-->
                        <!--<%# end %>-->
                    <!--<%# end %>-->
                <!--</td>-->
                <td class="text-center"><%= discussion.grade unless discussion.grade.nil? %></td>
                <td class="text-center"><%= discussion.level unless discussion.level.nil? %></td>
                <td class="text-center"><%= discussion.start_date unless discussion.start_date.nil? %></td>
                <td class="text-center"><%= discussion.expiration_date unless discussion.expiration_date.nil? %></td>
                <td class="text-center"><%= discussion.participants.count unless discussion.participants.nil? %></td>
                <!--<td><%#== discussion.interim_report unless discussion.interim_report.nil? %></td>-->
                <!--<td><%#== discussion.final_report unless discussion.final_report.nil? %></td>-->
                <!--<td><%#== discussion.answer unless discussion.answer.nil? %></td>-->
                <td class="text-center"><%= link_to 'Show', discussion %></td>
                <td class="text-center"><%= link_to 'Edit', edit_discussion_path(discussion) %></td>
                <td class="text-center"><%= link_to 'Destroy', discussion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
        <% end %>
        </tbody>
    </table>
</div>