<!-- MathJAX -->
<script type="text/javascript" async
        src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
</script>

<script type="text/x-mathjax-config">
        MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
</script>

<div class="container">
    <div class="col-md-12 bg-color-white">
        <div class="col-md-12 margin-top-20"></div>
        <div class="col-md-5">
            <p>
                <strong>개설자 : </strong>
                <% if @discussion.organizer_type == 'admin' %>
                    <%= Admin.find(@discussion.organizer).name %>
                <% else %>
                    <%= User.find(@discussion.organizer).user_name %>
                <% end %>
            </p>
        </div>
        <div class="col-md-3">
            <p>
                <strong>토론방 리더 : </strong>
                <%= @discussion.user.user_name %> <%= "(#{User::USER_TYPES[@discussion.user.user_types.first.user_type]})" %>
            </p>
        </div>

        <div class="col-md-4">
            <% @sub_leader = User.find(@discussion.sub_leader) %>
            <p>
                <strong>토론방 부리더 : </strong>
                <%= @sub_leader.user_name %> <%= "(#{User::USER_TYPES[@sub_leader.user_types.first.user_type]})" %>
            </p>
        </div>


        <div class="col-md-5">
            <p>
                <strong>운영타입 : </strong>
                <%= @discussion.manage_type %>
            </p>
        </div>
        <div class="col-md-3">
            <p>
                <strong>외부 참가자가 여부 : </strong>
                <%= @discussion.observer_yn == 'Y' ? 'YES' : 'NO' %>
            </p>
        </div>
        <div class="col-md-4">
            <p>
                <strong>선택 학년 : </strong>
                <%= @discussion.discussion_templet.grade %>
            </p>
        </div>
        <div class="col-md-5">
            <p>
                <strong>문제 수준(Level) : </strong>
                <%= @discussion.discussion_templet.level %>
            </p>
        </div>
        <div class="col-md-3">
            <p>
                <strong>Think Time(분) : </strong>
                <%= @discussion.think_time %>
            </p>
        </div>
        <div class="col-md-4">
            <p>
                <strong>토론 참가자 수 : </strong>
                <%= @discussion.participants.count %>
            </p>
        </div>
        <div class="col-md-5">
            <p>
                <strong>핵심 개념 : </strong>
                <%= @unit_concept.name %>
                (<% (1..@unit_concept.level).each do |idx| %>
                    <i class="fa fa-star" style="color: red"></i>
                <% end %>
                <% (1..5-@unit_concept.level).each do |idx| %>
                    <i class="fa fa-star-o" style="color: red"></i>
                <% end %>)
            </p>
        </div>
        <div class="col-md-3">
            <p>
                <strong>토론 시작일 : </strong>
                <%= @discussion.start_date %>
            </p>
        </div>
        <div class="col-md-4">
            <p>
                <strong>토론 종료일 : </strong>
                <%= @discussion.expiration_date %>
            </p>
        </div>
        
        <!--
        <div hidden class="col-md-4">
            <p>
                <strong>관련 개념 : </strong>

                <span style="color:red"><%= ' | ' %></span>
                <%# @unit_concept.unit_concept_descs.each do |unit_concept_desc| %>
                    <%# unless unit_concept_desc.desc_type != '5' %>
                        <%#= UnitConcept.find(unit_concept_desc.link).name %>
                        <span style="color:red"><%= ' | ' %></span>
                    <%# end %>
                <%# end %>
            </p>
        </div>
        -->

        <div class="col-md-12">
            <p>
                <strong>관련 개념 : </strong>
                <% @discussion_title_explanations.each do |discussion_title_explanation| %>
                    <%= discussion_title_explanation.unit_concept.name %>
                        <span style="color:red"><%= ' | ' %></span>
                <% end %>
            </p>
        </div>

        
        <div class="col-md-12">
            <hr>
            <p>
                <strong>토론 주제 : </strong>
                <%== @discussion.discussion_templet.title %>
            </p>
        </div>
        <div class="col-md-12">
            <hr>
            <p>
                <strong>토론 문제 : </strong>
                <%== @discussion.discussion_templet.content %>
            </p>
        </div>
        <div class="col-md-12">
            <hr>
            <p>
                <strong>토론문제 발문 및 관련개념 : </strong>
                <% @discussion_title_explanations.each do |discussion_title_explanation| %>
                    <div class="row">
                        <div class="col-smallfa">
                            <i class="fa fa-plane" style="color: red"></i>
                        </div>
                        <div class="col-content">
                            <%== discussion_title_explanation.content %>
                        </div>
                        <div class="col-name">
                            <%== discussion_title_explanation.unit_concept.name %>
                        </div>
                    </div>
                <% end %>
            </p>
        </div>
        <div class="col-md-12">
            <hr>
            <p>
                <strong>문제풀이 가이드 : </strong>
                <%== @discussion.discussion_templet.concept_explanation %>
            </p>
        </div>
        <div class="col-md-12">
            <hr>
            <p>
                <strong>문제 풀이 : </strong>
                <% @discussion.discussion_templet.discussion_solutions.each do |discussion_solution| %>
                    <%== discussion_solution.content %>
                    <hr>
                <% end %>
            </p>
        </div>
        <div class="col-md-12">
            <hr>
            <p>
                <strong>해답 : </strong>
                <%== @discussion.discussion_templet.answer %>
            </p>
        </div>
        <div class="col-md-12">
            <hr>
            <p>
                <strong>토론 문제 조건 변경 및 해답 : </strong>
                <%#= @discussion.interim_report %>
                <% @discussion_problem_conditions.each do |discussion_problem_condition| %>
                    <div class="row">
                        <div class="col-smallfa">
                            <i class="fa fa-plane" style="color: red"></i>
                        </div>
                        <div class="col-content">
                            <%== discussion_problem_condition.problem_condition %>
                        </div>
                        <div class="col-name">
                            <%== discussion_problem_condition.condition_answer %>
                        </div>
                    </div>
                <% end %>
            </p>
        </div>
        <div class="col-md-12">
            <hr>
            <p>
                <strong>종합 의견 : </strong>
                <%== @discussion.final_report %>
            </p>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12 margin-bottom-50">
            <hr>
            <%= link_to 'Edit', edit_discussion_path(@discussion), :class => 'btn btn-windows rounded col-md-5 col-sm-5 col-xs-5' %>
            <div class="col-md-2 col-sm-2 col-xs-2"></div>
            <%= link_to 'Back', discussions_path(:school_id => @discussion.user.school_id), :class => 'btn btn-podcast rounded col-md-5 col-sm-5 col-xs-5' %>
        </div>

    </div>
</div>

<style>
    div.col-smallfa {
    position: relative;
    margin-left: 15px;
    width: 2%;
    display: inline-block;
}

div.col-content {
    position: relative;
    width: 60%;
    display: inline-block;
}

div.col-name {
    position: relative;
    width: 34%;
    display: inline-block;
}
</style>




