<!-- MathJAX -->
<script type="text/javascript" async
        src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
</script>

<script type="text/x-mathjax-config">
        MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
</script>

<div class="container">
    <div class="col-md-12 bg-color-white">
        <div class="col-md-12 margin-top-20"></div>
        <div class="col-md-4">
            <p>
                <strong>개설자:</strong>
                <%= Admin.find(@discussion.organizer).name %>
            </p>
        </div>
        <div class="col-md-4">
            <p>
                <strong>토론방 리더:</strong>
                <%= @discussion.user.user_name %> <%= "(#{User::USER_TYPES[@discussion.user.user_types.first.user_type]})" %>
            </p>
        </div>
        <div class="col-md-4">
            <p>
                <strong>운영타입:</strong>
                <%= @discussion.manage_type %>
            </p>
        </div>
        <div class="col-md-4">
            <p>
                <strong>외부 참가자가 여부:</strong>
                <%= @discussion.observer_yn == 'Y' ? 'YES' : 'NO' %>
            </p>
        </div>
        <div class="col-md-4">
            <p>
                <strong>핵심 개념:</strong>
                <%= @unit_concept.name %>
                (<% (1..@unit_concept.level).each do |idx| %>
                    <i class="fa fa-star" style="color: red"></i>
                <% end %>
                <% (1..5-@unit_concept.level).each do |idx| %>
                    <i class="fa fa-star-o" style="color: red"></i>
                <% end %>)
            </p>
        </div>
        <div class="col-md-4">
            <p>
                <strong>관련 개념:</strong>
                <span style="color:red"><%= ' | ' %></span>
                <% @unit_concept.unit_concept_descs.each do |unit_concept_desc| %>
                    <% unless unit_concept_desc.desc_type != '5' %>
                        <%= UnitConcept.find(unit_concept_desc.link).name %>
                        <span style="color:red"><%= ' | ' %></span>
                    <% end %>
                <% end %>
            </p>
        </div>
        <div class="col-md-4">
            <p>
                <strong>선택 학년:</strong>
                <%= @discussion.grade %>
            </p>
        </div>
        <div class="col-md-4">
            <p>
                <strong>Level:</strong>
                <%= @discussion.level %>
            </p>
        </div>
        <div class="col-md-4">
            <p>
                <strong>Think Time(분):</strong>
                <%= @discussion.think_time %>
            </p>
        </div>
        <div class="col-md-4">
            <p>
                <strong>토론 시작일:</strong>
                <%= @discussion.start_date %>
            </p>
        </div>
        <div class="col-md-4">
            <p>
                <strong>토론 종료일:</strong>
                <%= @discussion.expiration_date %>
            </p>
        </div>
        <div class="col-md-4">
            <p>
                <strong>참가자 수:</strong>
                <%= @discussion.participants.count %>
            </p>
        </div>
        <div class="col-md-12">
            <hr>
            <p>
                <strong>주제:</strong>
                <%= @discussion.title %>
            </p>
        </div>
        <div class="col-md-12">
            <hr>
            <p>
                <strong>주제 설명:</strong>
                <% @discussion_title_explanations.each do |discussion_title_explanation| %>
                    <div class="row">
                        <div class="col-md-6">
                            <%== discussion_title_explanation.content %>
                        </div>
                        <div class="col-md-6">
                            <%= discussion_title_explanation.unit_concept.name %>
                        </div>
                    </div>
                <% end %>
            </p>
        </div>
        <div class="col-md-12">
            <hr>
            <p>
                <strong>개념 설명:</strong>
                <%== @discussion.concept_explanation %>
            </p>
        </div>
        <div class="col-md-12">
            <hr>
            <p>
                <strong>본문 내용:</strong>
                <%== @discussion.content %>
            </p>
        </div>
        <div class="col-md-12">
            <hr>
            <p>
                <strong>문제 풀이:</strong>
                <% @discussion.discussion_solutions.each do |discussion_solution| %>
                    <%== discussion_solution.content %>
                <% end %>
            </p>
        </div>
        <div class="col-md-12">
            <hr>
            <p>
                <strong>해답:</strong>
                <%== @discussion.answer %>
            </p>
        </div>
        <div class="col-md-12">
            <hr>
            <p>
                <strong>중간 보고서:</strong>
                <%= @discussion.interim_report %>
            </p>
        </div>
        <div class="col-md-12">
            <hr>
            <p>
                <strong>최종 보고서:</strong>
                <%= @discussion.final_report %>
            </p>
        </div>

        <div class="col-md-12 margin-bottom-50">
            <hr>
            <%= link_to 'Edit', edit_discussion_path(@discussion), :class => 'btn-u btn-u-red rounded' %> |
            <%= link_to 'Back', discussions_path, :class => 'btn-u btn-u-info rounded margin-bottom-30' %>
        </div>

    </div>
</div>