<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.css" rel="stylesheet">
<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.js"></script>

<link href="/css/select2.min.css" rel="stylesheet" />
<script type="text/javascript" src="/js/select2.min.js"></script>

<div class="row">
    <!-- Begin Content -->
    <div class="col-md-12 margin-bottom-50 margin-top-20">
        <!-- Contacts -->
        <div class="sky-form">
            <%= form_for(@discussion) do |f| %>

                <input hidden type="text" name="discussion[organizer]" value="<%= @admin_id.nil? ? current_user.id : @admin_id %>">
                <input hidden type="text" name="discussion[organizer_type]" value="<%= @user_type %>">
                <input hidden name="discussion_image_id" id="discussion_image_id" value="">

                <header>토론주제 불러와 개설하기</header>
                <fieldset>
                    <p><span style="color: red">*</span> 필수입력</p>

                    <div class="row">

                        <section class="col col-3" <%= 'hidden' if @user_type == 'user' %>>
                            <label class="label">토론방 리더<span style="color: red">*</span></label>
                            <label class="input">
                                <select class="form-control" name="discussion[user_id]" id="leader">
                                    <% @leader.each do |leader| %>
                                        <option value="<%= leader.user_id %>" <%= 'selected' unless leader.user_id != @discussion.user_id %>><%= leader.user.user_name unless leader.user.user_name.blank? %><%= leader.user.school_id.blank? ? ' (Mento)' : " (#{leader.user.school.name})" %></option>
                                    <% end %>
                                </select>
                            </label>
                        </section>

                        <section class="col col-3">
                            <label class="label">외부 참가자 Y/N<span style="color: red">*</span></label>
                            <div class="inline-group">
                                <label class="radio"><input type="radio" name="discussion[observer_yn]" value="Y" <%= 'checked' if @discussion.observer_yn.nil? %> <%= 'checked' unless @discussion.observer_yn != 'Y' %>><i class="rounded-x"></i>YES</label>
                                <label class="radio"><input type="radio" name="discussion[observer_yn]" value="N" <%= 'checked' unless @discussion.observer_yn != 'N' %>><i class="rounded-x"></i>NO</label>
                            </div>
                        </section>

                        <section class="col col-3" <%= 'hidden' unless @discussion.observer_yn != 'Y' %> <%= 'hidden' unless @discussion_form_id != 'new_discussion' %> id="group_section">
                            <label class="label">참여 그룹 선택<span style="color: red">*</span></label>
                            <label class="input">
                                <select class="form-control" name="discussion[group_id]" id="group_id">
                                    <!--edit일 경우 표시 선택된 Group 표시-->
                                    <% unless @groups.blank? %>
                                        <% @groups.each do |group| %>
                                            <option value="<%= group.id %>" <%= 'selected' unless @discussion.group_id != group.id %>><%= group.name %></option>
                                        <% end %>
                                    <% end %>

                                </select>
                            </label>
                        </section>

                    </div>

                    <div class="row">
                        <section hidden class="col col-4">
                            <label class="label">운영타입<span style="color: red">*</span></label>
                            <label class="input">
                                <select class="form-control" name="discussion[manage_type]" id="manage_type">
                                    <% if @user_type == 'admin' %>
                                        <% Discussion::MANAGE_TYPE.each do |key, value| %>
                                            <option value="<%= value %>"<%= 'selected' unless @discussion.manage_type != value %>><%= value %></option>
                                        <% end %>
                                    <% else %>
                                        <option value="<%= @manage_type %>"<%= 'selected' unless @discussion.manage_type != @manage_type %>><%= @manage_type %></option>
                                    <% end %>
                                </select>
                            </label>
                        </section>

                        <section class="col col-3">
                            <label class="label">토론방 부리더<span style="color: red">*</span></label>
                            <label class="input">
                                <select class="form-control" name="discussion[sub_leader]" id="leader">
                                    <% @sub_leader.each do |sub_leader| %>
                                        <option value="<%= sub_leader.user_id %>" <%= 'selected' unless sub_leader.user_id != @discussion.sub_leader %>><%= sub_leader.user.user_name unless sub_leader.user.user_name.blank? %><%= sub_leader.user.school_id.blank? ? ' (Mento)' : " (#{sub_leader.user.school.name})" %></option>
                                    <% end %>
                                </select>
                            </label>
                        </section>

                        <section class="col-md-3">
                            <label class="label">Think time(분)</label>
                            <input type="number" class="form-control" name="discussion[think_time]" value="<%= @discussion.think_time.nil? ? 0 : @discussion.think_time %>">
                        </section>

                        <section class="col-md-6 col-sm-6 col-xs-6">
                            <label class="label">토론주제 검색</label>
                            <select class="select2-search-box col-md-6" id="templet_id" name="discussion[discussion_templet_id]">
                                <% @discussion_templets.each do |discussion_templet| %>
                                    <option value="<%= discussion_templet.id %>" <%= 'selected' unless discussion_templet.id != @discussion.discussion_templet_id %>><%= discussion_templet.code %> | <%= discussion_templet.unit_concept.name %></option>
                                <% end %>
                            </select>
                        </section>

                    </div>

                    <div class="row">
                        <section class="col col-6">
                            <label class="label">토론 시작일<span style="color: red">*</span></label>
                            <input class="form-control" type="text" name="discussion[start_date]" id="start_date" value="<%= @discussion.start_date unless @discussion.start_date.nil? %>">
                        </section>
                        <section class="col col-6">
                            <label class="label">토론 종료일<span style="color: red">*</span></label>
                            <input class="form-control" type="text" name="discussion[expiration_date]" id="expiration_date" value="<%= @discussion.expiration_date unless @discussion.expiration_date.nil? %>">
                        </section>
                    </div>

                    <div class="row">
                        <!--<section class="col-md-6 col-sm-6 col-xs-6">-->
                            <!--<label class="label">토론주제 검색 1</label>-->
                            <!--&lt;!&ndash;<select class="select2-search-box col-md-4" id="templet_code">&ndash;&gt;-->
                                <!--&lt;!&ndash;<%# @discussion_templets.each do |discussion_templet| %>&ndash;&gt;-->
                                <!--&lt;!&ndash;<option value="<%#= discussion_templet.code %>" <%#= 'selected' unless discussion_templet.id != @discussion.discussion_templet_id %>><%#= discussion_templet.code %></option>&ndash;&gt;-->
                                <!--&lt;!&ndash;<%# end %>&ndash;&gt;-->
                            <!--&lt;!&ndash;</select>&ndash;&gt;-->
                            <!--<input class="form-control" type="text" id="templet_code">-->
                        <!--</section>-->

                        <!--<section class="col-md-6 col-sm-6 col-xs-6">-->
                            <!--<label class="label">검색버튼</label>-->
                            <!--<input class="btn btn-dropbox rounded btn-sm col-md-6" value="search" onclick="search_templet()">-->
                        <!--</section>-->

                        <!--<section class="col-md-12 col-sm-12 col-xs-12">-->
                            <!--<div id="search_result" class="col-md-12 col-sm-12 col-xs-12"></div>-->
                        <!--</section>-->
                    </div>

                    <div class="row">
                        <section class="col-md-12">
                            <label class="label">중간보고서</label>
                            <textarea class="form-control" name="discussion[interim_report]" id="interim_report"><%= @discussion.interim_report unless @discussion.interim_report.nil? %></textarea>
                        </section>
                    </div>

                    <div class="row">
                        <section class="col-md-12">
                            <label class="label">최종보고서</label>
                            <textarea class="form-control" name="discussion[final_report]" id="final_report"><%= @discussion.final_report unless @discussion.final_report.nil? %></textarea>
                        </section>
                    </div>

                    <div class="row">
                        <section class="col-md-12">
                            <hr>
                            <input class="btn btn-dribbble rounded col-md-12 col-sm-12 col-xs-12" type="button" onclick="beforeCheckAndSend('new_discussion')" value='입력완료'>
                        </section>
                    </div>
                </fieldset>

                <footer class="text-center">
                    <% unless @user_type !='admin' %>
                        <% unless params[:school_id].blank? %>
                            <%= link_to 'Back', discussions_path(:school_id => params[:school_id]), :class => 'btn btn-podcast rounded col-md-12 col-sm-12 col-xs-12' %>
                            <% else %>
                            <%= link_to 'Back', '/discussions/discussion_list_of_schools', :class => 'btn btn-podcast rounded col-md-12 col-sm-12 col-xs-12' %>
                            <% end %>

                    <% else %>
                        <%= link_to 'Back', '/mypages/discussion_management', :class => 'btn btn-podcast rounded col-md-12 col-sm-12 col-xs-12' %>
                    <% end %>
                </footer>
            <% end %>
        </div>
        <!-- Contacts -->
    </div>
    <!-- End Content -->
</div>

<!--search topic-->
<script type="text/javascript">

    $(document).ready(function() {
        $(".select2-search-box").select2();
    });

    function search_templet() {

        $('#search_result').empty();

        var data = new FormData();
        data.append("code", $('#templet_code').val());
        $.ajax({
            data: data,
            type: "POST",
            dataType: "json",
            beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
            url: "/discussion_templets/get_templet",
            cache: false,
            contentType: false,
            processData: false,
            success: function(data) {
                if (data == ''){
                    $('#search_result').empty();
                    alert('검색 결과가 없습니다');
                }
                else {
                    $.each(data, function(i) {
                        var root = $('#search_result');
                        var content = $('<div>').attr('id', data[i].id).html(data[i].content).addClass('col-md-12 col-sm-12 col-xs-12 margin-bottom-20');
                        content.appendTo(root);
                    });
                }
            }
        });
    }

</script>

<!--summernote 및 필터링 검사-->
<script type="text/javascript">
    var image_ids = '';

    function beforeCheckAndSend(discussion_form_id) {
        var observer_is_check = false;
        $('input:radio[name="discussion[observer_yn]"]').each(function () {
            if ($(this).is(':checked')){
                observer_is_check = true;
            }
        });

        if (observer_is_check == false){
            alert('외부 참가자 여부를 선택해주세요.');
            return false;
        }

        if ($('input:radio[name="discussion[observer_yn]"]:checked').val()=='N'){

            if ($('#group_id').val() == null){
                alert('그룹 설정 후 이용해주세요.');
                return false;
            }
        }

        if ($('#start_date').val() == ''){
            alert('토론 시작일을 선택해주세요.');
            return false;
        }

        if ($('#expiration_date').val() == ''){
            alert('토론 만료일을 선택해주세요.');
            return false;
        }

        if ($('#expiration_date').val() < $('#start_date').val()){
            alert('토론 만료일을 시작일 이후로 날짜로 다시 선택해주세요.');
            return false;
        }

        // form submit() 하기
        $('#'+discussion_form_id).submit();
    }

    $(document).ready(function() {
        $('#interim_report').summernote({
            height: 300,
            placeholder: '중간보고서를 입력하세요.',
            callbacks: {
                onImageUpload: function(files, editor, welEditable) {
                    sendFile(files[0], editor, welEditable, 'title_explanation');
                }
            }
        });
    });

    $(document).ready(function() {
        $('#final_report').summernote({
            height: 300,
            placeholder: '최종보고서를 입력하세요.',
            callbacks: {
                onImageUpload: function(files, editor, welEditable) {
                    sendFile(files[0], editor, welEditable, 'title_explanation');
                }
            }
        });
    });

    function sendFile(file, editor, welEditable, id_name) {
        var data = new FormData();
        data.append("discussion_image[filename]", file);

        $.ajax({
            data: data,
            type: "POST",
            dataType: "json",
            beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
            url: "/discussion_images",
            cache: false,
            contentType: false,
            processData: false,
            success: function(data) {
                var img = document.createElement('img');
                img.setAttribute('id', data.id);
                img.src = data.url;
                //$('#summernote').summernote('insertText', data);
                $("#" + id_name).summernote('insertNode', img);
                image_ids += data.id+',';
                $('#discussion_image_id').val(image_ids);
            }
        });
    }
</script>

<script src="/assets/plugins/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
<script type="text/javascript">
    $( function() {

        $('#start_date').datepicker({
            dateFormat: 'yy-mm-dd',
            prevText: '<i class="fa fa-caret-left"></i>',
            nextText: '<i class="fa fa-caret-right"></i>',
            onSelect: function( selectedDate ) {
                $('#expire_from').datepicker('option', 'minDate', selectedDate);
            }
        });

        $('#expiration_date').datepicker({
            dateFormat: 'yy-mm-dd',
            prevText: '<i class="fa fa-caret-left"></i>',
            nextText: '<i class="fa fa-caret-right"></i>',
            onSelect: function( selectedDate ) {
                $('#expire_to').datepicker('option', 'maxDate', selectedDate);
            }
        });

    } );
</script>

<!--참여 그룹 선택-->
<script type="text/javascript">
    $('input:radio[name="discussion[observer_yn]"]').change(function () {
        if($(this).val() == 'Y'){
            $('#group_id').empty();
            $('#group_section').hide();
        }
        else{
            $('#group_id').empty();
            get_groups();
            $('#group_section').show();
        }
    });

    function get_groups() {

        var data = new FormData();
        data.append("leader_id", $('#leader').val());

        $.ajax({
            data: data,
            type: "POST",
            dataType: "json",
            beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
            url: "/groups/get_groups",
            cache: false,
            contentType: false,
            processData: false,
            success: function(data) {
                if (data == null){
                    $('#group_id').empty();
                }
                else {
                    $.each(data, function(i) {
                        $('#group_id').append( $('<option>').text(data[i].name).attr('value', data[i].id));
                    });
                }
            }
        });
    }

    $('#leader').change(function () {
        get_groups();
    });

</script>