<!-- MathJAX -->
<script type="text/javascript" async
        src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
</script>

<script type="text/x-mathjax-config">
        MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
</script>

<div class="container container-fluid">
    <h1>Listing Discussions</h1>
    <% unless session[:admin]['admin_type'] != 'admin' %>
        <%= link_to '토론 주제 개설', '/discussion_templets/new_for_admin', :class => 'btn btn-windows rounded col-md-12 col-sm-12 col-xs-12 margin-bottom-20 margin-top-20' %>
    <% end %>

    <table class="table table-striped">
        <thead>
        <tr>
            <th class="text-center">개설자</th>
            <th class="text-center">주제</th>
            <th class="text-center">핵심개념</th>
            <th class="text-center">개념 Level</th>
            <th class="text-center">대상학년</th>
            <th class="text-center">Level</th>
            <th colspan="3" class="text-center"><i class="fa fa-cog"></i></th>
        </tr>
        </thead>
        <tbody>
        <% @discussion_templets.each do |discussion_templet| %>
            <tr>
                <td class="text-center"><%= discussion_templet.creator_type == 'admin' ? Admin.find(discussion_templet.user_id).name : User.find(discussion_templet.user_id).user_name %></td>
                <td><%= discussion_templet.title unless discussion_templet.title.nil? %></td>
                <% unit_concept = UnitConcept.find(discussion_templet.unit_concept_id) unless discussion_templet.unit_concept_id.nil? %>
                <td class="text-center"><%= unit_concept.name unless discussion_templet.unit_concept_id.nil? %></td>
                <td class="text-center"><%= unit_concept.level %></td>
                <td class="text-center"><%= discussion_templet.grade unless discussion_templet.grade.nil? %></td>
                <td class="text-center"><%= discussion_templet.level unless discussion_templet.level.nil? %></td>
                <td class="text-center">
                    <%= link_to '보기', discussion_templet, class: 'btn btn-windows rounded btn-xs' %>
                    <% unless @admin_type != 'admin' %>
                        | <%= link_to '수정', discussion_templets_edit_for_admin_path(:id => discussion_templet.id), class: 'btn btn-podcast rounded btn-xs' %>
                        | <button class="btn btn-pinterest rounded btn-xs" onclick="destroyDiscussionTemplet('<%= discussion_templet.id %>')">삭제</button>
                    <% end %>
                </td>
            </tr>
        <% end %>
        </tbody>
    </table>
</div>

<script type="text/javascript">
    function move(url) {
        location = url;
    }

    function destroyDiscussionTemplet(id) {
        if (confirm('해당 토론 주제를 삭제하시겠습니까?')) {

            var url = "/discussion_templets/" + id;

            $.ajax({
                url: url,
                type: "DELETE",
                beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
                datatype: "json",
                success : function(data) {
                    alert('토론 주제가 삭제되었습니다.');
                    location.reload();
                },
                error : function(){
                    alert("try to again. please.");
                }
            });
        }
    }
</script>