<!-- MathJAX -->
<script type="text/javascript" async
        src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
</script>

<script type="text/x-mathjax-config">
        MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
</script>

<div class="container container-fluid">


    <div class="blog-post-tags">
        <ul class="list-unstyled list-inline blog-info">
        </ul>
        <ul class="list-unstyled list-inline blog-tags">
            <li>Code : <span style="color: #55b3f8"><%= @discussion_templet.code %></span></li>
            <span style="color:#5aa0f8">|</span>
            <li>Level : <span style="color: #55b3f8"><%= @discussion_templet.level %></span></li>
            <span style="color:#5aa0f8">|</span>
            <li>핵심개념 : </li>
            <a target="_blank" href="/contents/<%= @discussion_templet.unit_concept_id %>"><%= @discussion_templet.unit_concept.name %></a>
            <span style="color:#5aa0f8">|</span>
            <li>관련개념 : </li>
            <% @discussion_templet.unit_concept.unit_concept_descs.each do |unit_concept_desc| %>
                <% unless unit_concept_desc.desc_type != '5' %>
                    <a target="_blank" href="/contents/<%= unit_concept_desc.link %>"><%= UnitConcept.find(unit_concept_desc.link).name %></a>
                <% end %>
            <% end %>
            <span style="color:#5aa0f8">|</span>
            <li>참가학년 : </li>
            <% @discussion_templet.grade.split(',').each do |grade| %>
                <a><%= grade %></a>
            <% end %>
        </ul>
    </div>

    <!--주제-->
    <div class="row blog-page">
        <div class="col-md-12 margin-top-20">
            <h3>* 토론 주제 :  <%== @discussion_templet.title %></h3>
        </div>
    </div>

    <!--본문 내용-->
    <div class="row">
        <div class="col-md-12">
            <h3>* 토론 문제 : </h3>
            <%== @discussion_templet.content %>
        </div>
    </div>

    <% unless @discussion_templet.discussion_title_explanations.blank? %>
        <hr>
        <!--개념 해설-->
        <div class="row margin-top-20">
            <div class="col-md-12">
                <h3>* 토론문제 발문 및 관련개념 : </h3>
                <div class="row sky-form" style="border: none">
                    <% @discussion_templet.discussion_title_explanations.each do |title_explanation| %>

                        <!--<div class="row col-md-12">-->
                            <!--<div class="inline-group">-->
                                <!--<div class="col-md-6 col-sm-6 col-xs-12">-->
                                    <%#= title_explanation.content %>
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->

                        <!--발문 및 관련개념 표시-->
                        <div class="row">
                            <div class="col-smallfa">
                                <i class="fa fa-plane" style="color: red"></i>
                            </div>
                            <div class="col-content">
                                <%== title_explanation.content %>
                            </div>
                            <div class="col-name">
                                <%== title_explanation.unit_concept.name %>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    <% end %>

    <!--개념 설명-->
    <% unless @discussion_templet.concept_explanation.blank? %>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <h3>* 문제풀이 가이드 : </h3>
                <%== @discussion_templet.concept_explanation %>
            </div>
        </div>
    <% end %>

        <!--문제풀이-->
        <% unless @discussion_templet.discussion_solutions.blank? %>
            <hr>

            <div class="row sky-form" style="border: none">
                <div class="col-md-12 no-padding no-margin">
                    <h3>* 문제풀이 : </h3>
                    <% @discussion_templet.discussion_solutions.each do |discussion_solution| %>
                        <div class="inline-group">
                            <div class="col-md-8 col-sm-12 col-xs-12 no-padding no-margin">
                                <%== discussion_solution.content %>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        <% end %>

        <!--해답-->
        <% unless @discussion_templet.answer.blank? %>
            <hr>

            <div class="row">
                <div class="col-md-12">
                    <h3>* 해답 :</h3>
                    <%== @discussion_templet.answer %>
                </div>
            </div>
        <% end %>

        <div class="col-md-12">
            <hr>
            <p>
                <strong>토론 문제 조건 변경 및 해답 : </strong>
                <%#= @discussion.interim_report %>
            </p>
        </div>
        <div class="col-md-12">
            <hr>
            <p>
                <strong>종합 의견 : </strong>
                <%#= @discussion.final_report %>
            </p>
        </div>

    <hr>

        <a href="/discussions/discussion_list"><button class="btn btn-podcast col-md-12 col-sm-12 col-xs-12 rounded margin-bottom-50">뒤로가기</button></a>

</div>