<p id="notice"><%= notice %></p>

<p>
  <strong>Version:</strong>
  <%= @inicis_payment.version %>
</p>

<p>
  <strong>Mid:</strong>
  <%= @inicis_payment.mid %>
</p>

<p>
  <strong>Oid:</strong>
  <%= @inicis_payment.oid %>
</p>

<p>
  <strong>Good name:</strong>
  <%= @inicis_payment.good_name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @inicis_payment.price %>
</p>

<p>
  <strong>Tax:</strong>
  <%= @inicis_payment.tax %>
</p>

<p>
  <strong>Tax free:</strong>
  <%= @inicis_payment.tax_free %>
</p>

<p>
  <strong>Currency:</strong>
  <%= @inicis_payment.currency %>
</p>

<p>
  <strong>Buyer name:</strong>
  <%= @inicis_payment.buyer_name %>
</p>

<p>
  <strong>Buyer tel:</strong>
  <%= @inicis_payment.buyer_tel %>
</p>

<p>
  <strong>Buyer email:</strong>
  <%= @inicis_payment.buyer_email %>
</p>

<p>
  <strong>Parent email:</strong>
  <%= @inicis_payment.parent_email %>
</p>

<p>
  <strong>Timestamp:</strong>
  <%= @inicis_payment.timestamp %>
</p>

<p>
  <strong>:</strong>
  <%= @inicis_payment. %>
</p>

<p>
  <strong>Signature:</strong>
  <%= @inicis_payment.signature %>
</p>

<p>
  <strong>Return url:</strong>
  <%= @inicis_payment.return_url %>
</p>

<p>
  <strong>M key:</strong>
  <%= @inicis_payment.m_key %>
</p>

<p>
  <strong>Go pay method:</strong>
  <%= @inicis_payment.go_pay_method %>
</p>

<p>
  <strong>Offer period:</strong>
  <%= @inicis_payment.offer_period %>
</p>

<%= link_to 'Edit', edit_inicis_payment_path(@inicis_payment) %> |
<%= link_to 'Back', inicis_payments_path %>
