<%
user_type = ""
	
	
unless @user.user_types.empty?
	user_type = @user.user_types[0].user_type
end		
	
	
	
%>

<div class="row">

    <div class="col-md-12 ">

        <div class="well">
			
			<form role="form" class="form-horizontal" id="new_user" action="/users/<%= (action_name == "new")?'create':'update_admin' %>" accept-charset="UTF-8" method="post">
				
				<%= token_tag nil %>
            
                <input type="hidden" name="target_from" value="admin" />
                <% unless action_name == "new" %>
                <input type="hidden" name="user_id" value="<%= @user.id %>" />
                <% end %>

                <div class="row">

                    <div class="col-md-12 ">

                        <% if @user.errors.any? %>
                        <div id="error_explanation">
                            <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

                            <ul>
                                <% @user.errors.full_messages.each do |msg| %>
                                    <li><%= msg %></li>
                                <% end %>
                            </ul>
                        </div>
                        <% end %>
						
                        <div class="form-group">
							<label class="col-md-1 control-label" for="user_user_name">사용자타입</label>
                            <div class="input-group col-md-4" style="float:left">
								<select class="form-control" name="user_type[user_type]" onchange="changedUserType(this)">
                                <% User::USER_TYPES.each_pair() do |key, value| %>
								<option value="<%= key.to_s %>" <%= "selected" if user_type == key.to_s %>><%= value %></option>
                                <% end %>
								</select>								
                            </div>
                        </div>

                        <div class="form-group">
							<label class="col-md-1 control-label" for="user_user_name">이름</label>
                            <div class="input-group col-md-4" style="float:left">
								<input class="form-control" type="text" name="user[user_name]" id="user_user_name" value="<%= @user.user_name %>">
                            </div>
                        </div>

                        <div class="form-group">
							<label class="col-sm-1 control-label" for="user_email">전자우편</label>
                            <div class="input-group col-sm-4" style="float:left">
								<input class="form-control" type="text" name="user[email]" id="user_email" value="<%= @user.email %>">
                            </div>
                        </div>
                        
                        <div class="form-group">
							<label class="col-sm-1 control-label" for="user_phone">전화번호</label>
                            <div class="input-group col-sm-4" style="float:left">
								<input class="form-control" type="text" name="user[phone]" id="user_phone" value="<%= @user.phone %>">
                            </div>
                        </div> 
                        
                        <div class="form-group">
							<label class="col-sm-1 control-label" for="user_location">지역 </label>
                            <div class="input-group col-sm-4" style="float:left">
								<input class="form-control" type="text" name="user[location]" id="user_location" value="<%= @user.location %>">
                            </div>
                        </div>
						
						<% if user_type == 'student' || action_name == "new"  %>
						
						<div class="form-group student">
							<label class="col-sm-1 control-label" for="user_grade">학년</label>
                            <div class="input-group col-sm-4" style="float:left">
								<select class="form-control" name="user[grade]">
								<option value="">---학년---</option>	
                                <% UnitConcept::GRADES.each_pair() do |key, value| %>
								<option value="<%= key.to_s %>" <%= "selected" if @user.grade == key.to_s %> ><%= value %></option>
                                <% end %>
								</select>
                            </div>							
						</div>
						
						<div class="form-group student">
							<label class="col-sm-1 control-label" for="user_join_channel">가입경로</label>
                            <div class="input-group col-sm-4" style="float:left">
								<select class="form-control" id="join_channel" name="user[school_id]" onchange="getMento()">
								<option value="">---가입경로---</option>
								<% @schools.each do |school| %>
								<option value="<%= school.id %>" <%= "selected" if @user.school_id == school.id %> ><%= school.name %></option>
								<% end %>
								</select>
                            </div>							
						</div>
						
						<div class="form-group student">
							<label class="col-sm-1 control-label" for="mento">멘토</label>
                            <div class="input-group col-sm-4" style="float:left">
								<select class="form-control" id="user_relations" name="user_relations[related_id]">
								<option value="">---멘토---</option>
								<% @mentos.each do |mento| %>
                                    <% selected = ""
                                        unless @user.user_relations.empty?
                                            if @user.user_relations[0].related_user_id == mento.id
                                                selected = "selected"
                                            end        
                                        end
                                    %>    
								<option value="<%= mento.id %>" <%= selected %> ><%= mento.user_name %></option>
								<% end %>
								</select>
                            </div>							
						</div>						
						
						<div class="form-group student">
							<label class="col-sm-1 control-label" for="user_join_channel_sales_id">영업인</label>
                            <div class="input-group col-sm-4" style="float:left">
								<select class="form-control" name="user[join_channel_sales_id]">
								<option value="">---영업인---</option>
								<% @admins.each do |admin| %>
								<option value="<%= admin.id %>" <%= "selected" if @user.join_channel_sales_id == admin.id %>><%= admin.name %></option>
								<% end %>
								</select>
                            </div>							
						</div>	
						
						<% end %>					

                    </div>

                </div>

                <footer>
					<input type="submit" name="commit" value="저장" class="btn btn-success">
                    <% unless @user.id.blank? %><%= link_to '상세', @user, :class => 'btn btn-info' %><% end %>
                    <%= link_to '뒤로', users_path, :class => 'btn btn-info' %>
                </footer>
          </form>
        </div>

    </div>

</div>

<script type="text/javascript">
	
function getMento() {
	
	 $('#user_relations').empty();
	 $('#user_relations').append( $('<option>').text('---멘토---').attr('value','') ); 
	
	if ($('#join_channel').val() == "") return false;
	
	var url = "/users/get_mento?id=" + $('#join_channel').val();

	$.ajax({
	    url: url,
	    type: "GET",
	    beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
	    dataType: "JSON",
	    success: function(data) {

	        $.each(data, function(i) {
                $('#user_relations').append( $('<option>').text(data[i].user_name).attr('value',data[i].id) );                
	        });

	    },
	    error: function(err){}
	});                
        
}

function changedUserType(t) {
    if (t.value == 'student') {
        $('.student').show();
    } else {
        $('.student').hide();
    }
}
	
</script>
