<p id="notice"><%= notice %></p>

<h1>Listing Unit Concepts</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Level</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @unit_concepts.each do |unit_concept| %>
      <tr>
        <td><%= unit_concept.code %></td>
        <td><%= unit_concept.name %></td>
        <td><%= unit_concept.level %></td>
        <td><%= link_to 'Show', unit_concept %></td>
        <td><%= link_to 'Edit', edit_unit_concept_path(unit_concept) %></td>
        <td><%= link_to 'Destroy', unit_concept, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Unit concept', new_unit_concept_path %>
