<div class="container-fluid" style="margin-top: 50px">

    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-12">
            <h2 class="sub-header"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Unit Concept - <%= @unit_concept.name %></h2>
        </div>
    </div>
    
    <div class="row">

        <div class="col-md-12">
            
            <form action="/unit_concept_descs" method="post" enctype="multipart/form-data" class="sky-form" novalidate="novalidate" charset="utf-8">
                
                <%= token_tag nil %>
                
                <input type="hidden" name="unit_concept_desc[unit_concept_id]" value="<%= @unit_concept.id %>" />
                
                <header>Unit Concept</header>
                
                <div class="row" style="padding: 5px;">
        
                    <% @unit_concept.unit_concept_descs.each do |unit_concept_desc| %>
                        
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <span class="overlay-zoom">
                                <img class="img-responsive" src="<%= unit_concept_desc.file_name.thumb %>" alt="">
                                <span class="zoom-icon"></span>
                            </span>
                
                            <hr>
                
                            <div class="caption">
                                <p><%= unit_concept_desc.memo %></p>
                            </div>
                        </div>          
                    </div>
            
                    <% end %>
                    
                </div>                 

                <fieldset>
                    <div class="row">
                        <section class="col col-6">
                            <label for="file" class="input input-file">
                                <div class="button state-success"><input type="file" name="unit_concept_desc[file_name]" multiple="" onchange="this.parentNode.nextSibling.value = this.value" class="valid">Browse</div><input type="text" placeholder="Include some file" readonly="" class="valid">
                            </label>
                        </section>
                        <section class="col col-6">
                            <label class="input">
                                <input type="text" name="unit_concept_desc[memo]" placeholder="memo">
                            </label>
                        </section>
                    </div>
                </fieldset>
                
                <footer>
                    <button type="submit" class="btn-u" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Saving Image ..." onclick="saveUnitConceptDesc()">저장</button>
                </footer>                
                
            </form>
            
        </div>    

    </div>

</div>