<%= params[:messages] %>

<div class="container-fluid" style="margin-top: 50px">

  <div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-12">
      <h2 class="sub-header"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Unit Concept - <%= @unit_concept.name %> (<span style="color: red"><%= @unit_concept.code %></span>)</h2>
    </div>
  </div>

  <div class="row" style="margin-bottom: 20px;">
    <div class="col-md-2">
      <select id="desc_type_condition" class='form-control' onchange="changeSearchCondition()">
        <option value="">ALL</option>
        <% UnitConcept::DESC_TYPES.each_pair do |key, value| %>
            <% if (key == 3 && @unit_concept.exercise_yn == "exercise") || (key == 3 && @unit_concept.exercise_yn == "similar exercise")   %>
                <option value="<%= key %>" <% if key.to_s == @desc_type %>selected<% end %>>Solution</option>
            <% elsif value=="Solution" && @unit_concept.exercise_yn == "exercise" %>
                <% # skip generating option %>
            <% else %>
                <option value="<%= key %>" <% if key.to_s == @desc_type %>selected<% end %> ><%= value %></option>
            <% end %>
        <% end %>
      </select>
    </div>
  </div>

  <div class="row">

    <div class="col-md-12">

      <form action="/unit_concept_descs" onsubmit="return checkBlank()" method="post" enctype="multipart/form-data" class="sky-form" novalidate="novalidate" charset="utf-8">

        <%= token_tag nil %>

        <input type="hidden" name="unit_concept_desc[unit_concept_id]" value="<%= @unit_concept.id %>" />

        <fieldset>

          <div class="row">

            <section class="col col-2">

              <label class="select">
                <select id="unit_concept_desc_select" name="unit_concept_desc[desc_type]" onchange="changedUnitCocenpt()">
                  <option value="">항목선택</option>
                  <% UnitConcept::DESC_TYPES.each_pair do |key, value| %>
                      <% if (key == 3 && @unit_concept.exercise_yn == "exercise") || (key == 3 && @unit_concept.exercise_yn == "similar exercise")  %>
                          <option value="<%= key %>" <% if key.to_s == @desc_type %>selected<% end %> >Solution</option>
                      <% elsif value=="Solution" && @unit_concept.exercise_yn == "exercise" %>
                          <% # skip generating option %>
                      <% else %>
                          <option value="<%= key %>" <% if key.to_s == @desc_type %>selected<% end %> ><%= value %></option>
                      <% end %>

                  <% end %>

                </select>
                <i></i>
              </label>
            </section>

            <section class="col col-6">
              <label id="file_label" for="file" class="input input-file" <% if params[:desc_type] == '5' || params[:desc_type] == '4' %>style="display:none"<% end %> >
                <div class="button state-success"><input id="file_input" type="file" name="unit_concept_desc[file_name]" multiple="" onchange="this.parentNode.nextSibling.value = this.value" class="valid">Browse</div><input type="text" placeholder="Include some file" readonly="" class="valid">
              </label>
              <label id="video_label" class="input" <% unless params[:desc_type] == '4' %>style="display:none"<% end %>>
                <input id="video_input" type="text" name="unit_concept_desc[video]" class="form-control" placeholder="video url" />
              </label>
              <label id="link_label" class="input" <% unless params[:desc_type] == '5' %>style="display:none"<% end %>>
                <i class="icon-append fa fa-search" onclick="conceptSearch('link')" style="cursor: pointer; background: #72c02c !important; color:white !important;"></i>
                <input type="text" id="unit_concept_desc" disabled class="form-control" placeholder="related concept" />
                <input type="hidden" id="unit_concept_id" name="unit_concept_desc[link]">
              </label>
            </section>

            <section class="col col-2">

              <label id="memo_label" class="input">
                <input type="text" id="memo" name="unit_concept_desc[memo]" placeholder="code">
              </label>

            </section>
            <section class="col col-2">
              <button type="submit" class="btn-u" onclick="$('#loading').show();">저장</button>
              <% back_url = ""
                 if params[:from] == "grade"
                   back_url = "/grade_unit_concepts"
                 else
                   back_url = "/concepts/#{@unit_concept.concept.id}?concept_page_num=#{params[:concept_page_num]}"
                 end
              %>
              <%= link_to 'Back', back_url, :class => 'btn-u btn-primary align-right' %>
            </section>
          </div>
        </fieldset>

      </form>

    </div>

  </div>

  <div class="row">

    <div class="col-sm-12 col-md-12 margin-top-20 margin-bottom-50">

      <div class="table-responsive">

        <table class="table table-hover table-bordered" >
          <thead>
          <tr>
            <th>Type</th>
            <th>Code</th>
            <th>Images</th>
            <th>Solutions</th>
            <th class="col-md-2"><i class="fa fa-cog"></i></th>
          </tr>
          </thead>
          <tbody>
          <% @unit_concept_descs.each do |unit_concept_desc| %>
              <tr>
                <td>
                  <% if unit_concept_desc.desc_type == '1' %>
                      <span class="badge rounded-2x badge-u">Unit Concept</span>
                  <% elsif unit_concept_desc.desc_type == '2'  %>
                      <span class="badge rounded-2x badge-blue">Explanation</span>
                  <% elsif unit_concept_desc.desc_type == '3'  %>
                      <span class="badge rounded-2x badge-red"><%= @unit_concept.exercise_yn == "exercise" || @unit_concept.exercise_yn == "similar exercise" ? "Solution" : "Exercise" %></span>
                  <% elsif unit_concept_desc.desc_type == '4'  %>
                      <span class="badge rounded-2x badge-green">Video</span>
                  <% elsif unit_concept_desc.desc_type == '5'  %>
                      <span class="badge rounded-2x badge-sea">Link</span>
                  <% elsif unit_concept_desc.desc_type == '6'  %>
                      <span class="badge rounded-2x badge-orange">Solution</span>
                  <% elsif unit_concept_desc.desc_type == '7' %>
                      <span class="badge rounded-2x badge-yellow">Answer</span>
                  <% end  %>
                </td>
                <td>
                  <% if unit_concept_desc.desc_type == '4' %>

                  <% elsif unit_concept_desc.desc_type == '5' %>
                      <% unit_concept = UnitConcept.where('id = ?',unit_concept_desc.link) %>
                      <% unless unit_concept.blank? %>
                          <%= unit_concept[0].name %> ( <%= unit_concept[0].code %> )
                      <% else %>
                          link unit concept id is not exist : <%= unit_concept_desc.link %>
                      <% end %>
                  <% elsif unit_concept_desc.desc_type == '6' %>
                      <%= unit_concept_desc.memo %>
                  <% else %>
                      <%= unit_concept_desc.memo %>
                  <% end %>
                </td>
                <td>
                  <% if unit_concept_desc.desc_type == '4' %>
                      <iframe src="https://player.vimeo.com/video/<%= unit_concept_desc.video %>" width="500" height="283" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                  <% elsif unit_concept_desc.desc_type == '5' %>

                      <% unit_concept = UnitConcept.where('id = ?', unit_concept_desc.link) %>
                      <% unless unit_concept.blank? %>
                          <a href="/unit_concepts/<%= unit_concept_desc.link %>"><%= unit_concept[0].name %></a>
                      <% else %>
                          link unit concept id is not exist : <%= unit_concept_desc.link %>
                      <% end %>

                  <% else %>
                      <a href="<%= unit_concept_desc.file_name %>"><img src="<%= unit_concept_desc.file_name.thumb %>" alt=""></a>
                  <% end %>
                </td>
                <td>
                  <% # desc_type이 'exercise'일 경우 solution을 보여준다. %>
                  <% if (unit_concept_desc.desc_type == '3' && @unit_concept.exercise_yn == "concept") %>
                      <% solutions = unit_concept_desc.unit_concept_exercise_solutions.order(:code) %>
                      <% solutions.each do |solution| %>
                          <% unless solution.file_name.blank? %>
                              <p><a href="<%= solution.file_name %>"><img src="<%= solution.file_name.thumb %>" /></a> <a href="javascript:deleteSolution(<%= solution.id %>)">[x]</a></p>
                          <% else %>
                              <p><%= solution.ox %> <a href="javascript:deleteSolution(<%= solution.id %>)">[x]</a></p>
                          <% end %>
                      <% end %>
                      <p><br>
                        <a href="javascript:openSolutionModal(<%= unit_concept_desc.id %>)">Add</a>
                  <% end %>

                  <% if (unit_concept_desc.desc_type == '3' && @unit_concept.exercise_yn == "exercise") %>
                      <% unless unit_concept_desc.link.blank? %>
                          <% @link_exercises = UnitConcept.where('id = ?', unit_concept_desc.link) %>

                          <% @link_exercises.each do |link_exercise| %>
                              <% unless link_exercise.blank? %>
                                  <a href="/contents/<%= link_exercise.id %>"><%= link_exercise.code %> : <%= link_exercise.name %></a> <a href="javascript:setLink(null, <%= unit_concept_desc.id %>)">[x]</a></p>
                              <% else %>
                                  link exercise id is not exist : <%= link_exercise.link %>
                              <% end %>
                          <% end %>
                          <a href="javascript:conceptSearch('<%= unit_concept_desc.id %>')">Add Link</a>
                      <% end %>
                  <% end %>

                </td>
                <td>
                  <%= link_to 'Delete'.html_safe, unit_concept_desc, method: :delete, data: { confirm: 'Are you sure?' } %>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>



</div>

<%= render partial: 'modals/concept_search_modal' %>

<div class="modal fade" id="addSolutionModal" tabindex="2" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">

  <div class="modal-dialog">

    <form action="/unit_concept_exercise_solutions" id="unit_concept_exercise_solution_form" method="post" enctype="multipart/form-data" novalidate="novalidate" charset="utf-8">

      <%= token_tag nil %>
      <input type="hidden" id="unit_concept_exercise_unit_concept_desc_id" name="unit_concept_exercise_solution[unit_concept_desc_id]" />
      <input type="hidden" name="unit_concept_id" value="<%= @unit_concept.id %>" />
      <input type="hidden" name="desc_type" value="<%= params[:desc_type] %>">

      <div class="modal-content">

        <div class="modal-header">
          <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
          <h4 id="myModalLabel1" class="modal-title">Add Solution</h4>
        </div>

        <div class="modal-body">

          <% if params[:solution_error] == "true" %>
              <div id="error_explanation">

                <h4 class="color-red">Add Solution error from being saved:</h4>

                <ul>
                  <li><span class="color-red"><%= params[:messages] %></span></li>
                </ul>
              </div>
          <% end %>

          <dl class="dl-horizontal">
            <dt style="margin-top: 7px; width:100px">Code</dt>
            <dd style="margin-bottom: 10px; margin-left:110px"><input type="text" id="unit_concept_exercise_solution_code" name="unit_concept_exercise_solution[code]" class="form-control"></dd>

            <hr>

            <dt style="margin-top: 7px; width:100px">File</dt>
            <dd style="margin-bottom: 10px; margin-left:110px">
              <input type="file" id="unit_concept_exercise_solution_file_name" name="unit_concept_exercise_solution[file_name]" class="form-control" onchange="choiceFile()">
            </dd>
            <dt style="margin-top: 7px; width:100px"></dt>
            <dd style="margin-bottom: 10px; margin-left:110px">-------- Or --------</dd>
            <dt style="margin-top: 7px; width:100px">O/X</dt>
            <dd style="margin-bottom: 10px; margin-left:110px">
              <select id="unit_concept_exercise_solution_ox" name="unit_concept_exercise_solution[ox]" class="form-control" onchange="choicedOX()">
                <option value=""></option>
                <option value="O">O</option>
                <option value="X">X</option>
              </select>
            </dd>

            <hr>

            <dt style="margin-top: 7px; width:100px">Memo</dt>
            <dd style="margin-bottom: 10px; margin-left:110px"><input type="text" name="unit_concept_exercise_solution[memo]" class="form-control"></dd>

            <dt style="margin-top: 7px; width:100px">관련개념</dt>
            <dd style="margin-bottom: 10px; margin-left:110px">
              <input type="text" id="unit_concept_exercise_solution_text" disabled="true" class="form-control" style="width:80%; float:left; margin-right:5px" />
              <input type="hidden" id="unit_concept_exercise_solution_link" name="unit_concept_exercise_solution[link]" />
              <a href="javascript:conceptSearch('modal')" class="btn btn-default" style="float:left">찾기</a>
            </dd>

          </dl>

        </div>

        <div class="modal-footer">
          <button type="button" class="btn-u" onclick="addSolution()">저장</button>
          <button data-dismiss="modal" class="btn-u btn-u-default" type="button">Close</button>
        </div>
      </div>
    </form>

  </div>
</div>
</div>

<script type="text/javascript">

  function changedUnitCocenpt() {

    if ( $('#unit_concept_desc_select').val() == '4') {
      $('#file_label').hide();
      $('#video_label').show();
      $('#link_label').hide();
      $('#solution_label').hide();
      $('#exercise_choice_label').hide();
      $('#memo_label').show();
    } else if ($('#unit_concept_desc_select').val() == '5') {
      $('#file_label').hide();
      $('#video_label').hide();
      $('#link_label').show();
      $('#solution_label').hide();
      $('#exercise_choice_label').hide();
      $('#memo_label').show();
    } else if ($('#unit_concept_desc_select').val() == '6') {
      $('#file_label').hide();
      $('#video_label').hide();
      $('#link_label').hide();
      $('#solution_label').show();
      $('#exercise_choice_label').show();
      $('#memo_label').hide();
    } else {
      $('#video_label').hide();
      $('#file_label').show();
      $('#link_label').hide();
      $('#solution_label').hide();
      $('#exercise_choice_label').hide();
      $('#memo_label').show();
    }

  }

  function exerciseChanged() {
    $('#memo').val($('#exercise_choice').val());
  }

  function conceptSearch(target) {
    $('#whereareyoufrom').val(target);
    $('#conceptSearchModal').modal();
  }

  function openSolutionModal(unit_concept_desc_id) {
    $('#unit_concept_exercise_unit_concept_desc_id').val(unit_concept_desc_id);
    $('#addSolutionModal').modal();
  }

  function addSolution() {
    if ($('#unit_concept_exercise_solution_code').val() == "") {
      alert('Code를 입력해주세요.');
      return false;
    }

    if ( $('#unit_concept_exercise_solution_file_name').val() == "" && $('#unit_concept_exercise_solution_ox').val() == "" ) {
      alert('File이나 O/X를 선택해주세요.');
      return false;
    }

    $('#loading').show();
    $('#unit_concept_exercise_solution_form').submit();

  }

  function choicedOX() {
    $('#unit_concept_exercise_solution_file_name').val('');
  }

  function choiceFile() {
    $('#unit_concept_exercise_solution_ox').val('');
  }

  function deleteSolution(solution_id) {

    var url = "/unit_concept_exercise_solutions/" + solution_id;

    $.ajax({
      url: url,
      type: "DELETE",
      beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
      datatype: "json",
      success : function(data) {
        location.reload();
      },
      error : function(){
        alert("try to again. please.");
      }
    });

  }

  $(function() {
    <% if params[:solution_error] == "true" %>
    openSolutionModal(<%= params[:unit_concept_desc_id] %>);
    <% end %>
  });

  function checkBlank() {
    if ($('#file_input').val() == "" && $('#video_input').val() == "" && $('#unit_concept_desc').val() == "" ){
      alert ('자료를 입력하세요');
      $('#loading').hide();
      return false;
    }
    else{
      return true;
    }
  }

</script>