<div class="container-fluid" style="margin-top: 50px">

    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-12">
            <h2 class="sub-header"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Unit Concept - <%= @unit_concept.name %> (<span style="color: red"><%= @unit_concept.code %></span>)</h2>
        </div>
    </div>
	
	<div class="row" style="margin-bottom: 20px;">
		<div class="col-md-2">	
	        <select id="desc_type_condition" class='form-control' onchange="changeSearchCondition()">
	        <option value="">ALL</option>
	        <% UnitConcept::DESC_TYPES.each_pair do |key, value| %>                                
	        <option value="<%= key %>" <% if key.to_s == @desc_type %>selected<% end %> ><%= value %></option>
	        <% end %>
	        </select>    
		</div>	
	</div>	
	
    <div class="row">
        
        <div class="col-sm-12 col-md-12">
        
            <div class="table-responsive">
        
                <table class="table table-hover table-bordered" >
                    <thead>
                        <tr>
                            <th>Type</th>
                            <th>Code</th>
                            <th></th>
                            <th class="col-md-2"><i class="fa fa-cog"></i></th>
                        </tr>    
                    </thead>
                    <tbody>
						<% @unit_concept_descs.each do |unit_concept_desc| %>
						<tr>
							<td>
                                <% if unit_concept_desc.desc_type == '1' %>
                                <span class="badge rounded-2x badge-u">Unit Concept</span>
                                <% elsif unit_concept_desc.desc_type == '2'  %>
                                <span class="badge rounded-2x badge-blue">Explanation</span>
								<% elsif unit_concept_desc.desc_type == '3'  %>
								<span class="badge rounded-2x badge-red">Exercise</span>
								<% elsif unit_concept_desc.desc_type == '4'  %>
								<span class="badge rounded-2x badge-green">Video</span>
								<% elsif unit_concept_desc.desc_type == '5'  %>
								<span class="badge rounded-2x badge-sea">Link</span>
                                <% end  %>
							</td>
							<td><% if unit_concept_desc.desc_type == '4' %>
								
								<% elsif unit_concept_desc.desc_type == '5' %>
								
									<%= unit_concept_desc.link %>
								
									<%# if unit_concept_desc.link.nil? %>
									<%# = "link info is null." %>
									<%# else %>
									<%# unit_concept = UnitConcept.find(unit_concept_desc.link) %>
									<%# = unit_concept.name %> ( <%#= unit_concept.code %> )
									<%#end %>
								<% else %>
									<%= unit_concept_desc.memo %>
								<% end %>
							</td>
							<td>
                        		<% if unit_concept_desc.desc_type == '4' %>
                        		<iframe src="https://player.vimeo.com/video/<%= unit_concept_desc.video %>" width="500" height="283" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        		<% elsif unit_concept_desc.desc_type == '5' %>
                        		<a href="/unit_concepts/<%#= unit_concept_desc.link %>"><%#= UnitConcept.find(unit_concept_desc.link).name %></a>
                        		<% else %>
                        		<a href="<%= unit_concept_desc.file_name %>"><img src="<%= unit_concept_desc.file_name.thumb %>" alt=""></a>
                        		<% end %>
							</td>
							<td>
								<%= link_to 'Delete'.html_safe, unit_concept_desc, method: :delete, data: { confirm: 'Are you sure?' } %>
							</td>	
						</tr>
						<% end %>
					</tbody>
				</table>	
			</div>	
		</div>
	</div>			

    <div class="row">

        <div class="col-md-12">
            
            <form action="/unit_concept_descs" method="post" enctype="multipart/form-data" class="sky-form" novalidate="novalidate" charset="utf-8">
                
                <%= token_tag nil %>
                
                <input type="hidden" name="unit_concept_desc[unit_concept_id]" value="<%= @unit_concept.id %>" />

                <fieldset>
                    <div class="row">
						
                        <section class="col col-2">
                            <label class="select">
                                <select id="unit_concept_desc_select" name="unit_concept_desc[desc_type]" onchange="changedUnitCocenpt()">
                                <option value="">항목선택</option>
                                <% UnitConcept::DESC_TYPES.each_pair do |key, value| %>                                
                                <option value="<%= key %>" <% if key.to_s == @desc_type %>selected<% end %> ><%= value %></option>
                                <% end %>
								</select>    
                            <i></i>
                            </label>    
                        </section>    
                        <section class="col col-6">
                            <label id="file_label" for="file" class="input input-file" <% if params[:desc_type] == '5' || params[:desc_type] == '4' %>style="display:none"<% end %> >
                                <div class="button state-success"><input type="file" name="unit_concept_desc[file_name]" multiple="" onchange="this.parentNode.nextSibling.value = this.value" class="valid">Browse</div><input type="text" placeholder="Include some file" readonly="" class="valid">
                            </label>
							
                            <label id="video_label" class="input" <% unless params[:desc_type] == '4' %>style="display:none"<% end %>>
                                <input type="text" name="unit_concept_desc[video]" class="form-control" placeholder="video url" />
                            </label>
                            <label id="link_label" class="input" <% unless params[:desc_type] == '5' %>style="display:none"<% end %>>
                                <i class="icon-append fa fa-search" onclick="conceptSearch()" style="cursor: pointer; background: #72c02c !important; color:white !important;"></i>
                                <input type="text" id="unit_concept_desc" disabled class="form-control" placeholder="related concept" />
                                <input type="hidden" id="unit_concept_id" name="unit_concept_desc[link]">
                            </label>    
                        </section>
                        <section class="col col-2">
                            <label class="input">
                                <input type="text" id="memo" name="unit_concept_desc[memo]" placeholder="code">
                            </label>
                        </section>
                        <section class="col col-2">
                            <button type="submit" class="btn-u" onclick="$('#loading').show();">저장</button>
                            <%= link_to 'Back', "/concepts/#{@unit_concept.concept.id}?concept_page_num=#{params[:concept_page_num]}", :class => 'btn-u btn-primary align-right' %>                            
                        </section>    
                    </div>
                </fieldset>
                
            </form>
            
        </div>    

    </div>

</div>

<div class="modal fade" id="conceptSearchModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 id="myModalLabel1" class="modal-title">Concept Search</h4>
            </div>

            <div class="modal-body">
                
                <div class="row">
                    <div class="col-md-3">
                        <select id="category" class="form-control inline-block" onchange="changedCategory()">
                            <option value="">--- Category ---</option>
                            <% Concept::CATEGORIES.each_pair do |key, value| %>
                            <option value="<%= key %>"><%= value %> ( <%= key %> )</option>
                            <% end %>
                        </select>                            
                    </div>    
                    
                    <div class="col-md-3">
                        <select id="sub_category" class="form-control" onchange="getConcepts()">
                            <option value="">--- Sub Category ---</option>
                        </select>
                    </div>    
                    
                    <div class="col-md-3">
                        <select id="concept" class="form-control" onchange="getUnitConcepts()">
                            <option value="">--- Concept ---</option>
                        </select>
                    </div>
                    
                </div> 
                
                <hr>   
                
                <table id="unit_concepts" class="table table-bordered table-hover" style="display:none">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Code</th>
                            <th>Unit Concept</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="3" class="text-center">No Data</td>
                        </tr>
                    </tbody>
                </table>                    
                
            </div>
            
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn-u btn-u-default" type="button">Close</button>
            </div>
        </div>
    </div>
    
    <script type="text/javascript">
	
	$('input:file').change(
	    function(e){
	    	var f = e.target.files,
	            len = f.length;
	        for (var i=0;i<len;i++){
				var sname = f[i].name
				$('#memo').val(sname.replace(/\..+$/, ''));
	    	}
		}
	);	
    
    <% index = 0 %>

    var options = [
    <% Concept::SUB_CATEGORIES.each_pair do |key, value| %>
    <%      index = index + 1  %>    
        {
            values: '<%= key %>', text: '<%= value %>'
        }
        <%= ',' unless index == Concept::SUB_CATEGORIES.count  %>
    <% end %>
    ]
    
    function changedCategory() {
        
        $('#sub_category').empty();
        $('#sub_category').append( $('<option>').text('--- Sub Category ---').attr('value','') ); 
        
        var cetegory_val = $('#category').val();
        var divChar = '';
        
        if (cetegory_val != '') {
            divChar = cetegory_val.substring(0,2);
        }
        
        $.each(options, function(i) {
            if (options[i].values.substring(0,2) == divChar) {
                $('#sub_category').append( $('<option>').text(options[i].text + ' ( ' + options[i].values + ' )').attr('value',options[i].values) );                
            }
        });
    
    }    
    
    function getConcepts() {
        
        var url = "/concepts/get_concepts?category=" + $('#category').val() + "&sub_category=" + $('#sub_category').val();

        $.ajax({
            url: url,
            type: "GET",
            beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
            datatype: "json",
            success : function(data) {
                $('#concept').empty();
                $('#concept').append( $('<option>').text('--- Concept ---').attr('value','') );
                
                for (var i=0; i<data.length; i++) {
                    $('#concept').append( $('<option>').text(data[i].concept_name).attr('value',data[i].id));
                }
            },
            error : function(){
                alert("try to again. please.");
            }
        });                    
    }
    
    function getUnitConcepts() {
        
        var url = "/concepts/get_unit_concepts?concept=" + $('#concept').val();
        
        $.ajax({
            url: url,
            type: "GET",
            beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
            datatype: "json",
            success : function(data) {
                
                $('#unit_concepts > tbody').empty();
                
                for (var i=0; i< data.length; i++) {
                    
                    var html = $("<tr onclick='setUnitConcept(" + data[i].id  + ", \"" + data[i].name + "\")'>"
                        + "<td>" + (i+1) + "</td>"
                        + "<td>" + data[i].code + "</td>"
                        + "<td>" + data[i].name + "</td>"
                        + "</tr>");
                        
                    $('#unit_concepts > tbody:last').append(html);                        
                    
                }
                
                $('#unit_concepts').show();
            },
            error : function(){
                alert("try to again. please.");
            }
        });         
                
    }
    
    function setUnitConcept(unitConceptId, unitConceptName) {
        $('#unit_concept_id').val(unitConceptId);
        $('#unit_concept_desc').val(unitConceptName);
        $('#conceptSearchModal').modal('hide');
    }
	
	function changeSearchCondition() {
		location = "/unit_concepts/<%= @unit_concept.id %>?concept_page_num=<%= params[:concept_page_num]%>&desc_type=" + $('#desc_type_condition').val();
	}
    
    </script>
    
</div>

<script type="text/javascript">

    function changedUnitCocenpt() {
        
        if ( $('#unit_concept_desc_select').val() == '4') {
            $('#file_label').hide();
            $('#video_label').show();
            $('#link_label').hide();
        } else if ($('#unit_concept_desc_select').val() == '5') {    
            $('#file_label').hide();
            $('#video_label').hide();            
            $('#link_label').show();            
        } else {
            $('#video_label').hide();
            $('#file_label').show();
            $('#link_label').hide();
        }
        
    }
    
    function conceptSearch() {
        $('#conceptSearchModal').modal();
    }

</script>