<div class="container profile">
    <div class="row">
        <%= render partial: 'mypages/left_sidebar' %>

        <div class="col-md-9">
            <div class="profile-body margin-top-20 margin-bottom-20">
                <div class="tab-v1">
                    <ul class="nav nav-justified nav-tabs">
                        <li class="active"><a data-toggle="tab">토론방 관리</a></li>
                    </ul>
                </div>

                <!--토론방 개설 권한 있는 유저에게만 보이기-->
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 margin-top-20">
                        <% if current_user.can_I_create_a_discussion? %>
                            <%= button_to '토론방 개설하기', '/discussions/discussion_new', :method => :get, :class => 'btn btn-xing rounded col-md-12 col-sm-12 col-xs-12 margin-bottom-20' %>
                        <% end %>
                    </div>
                </div>

                <div class="tab-content">
                    <div class="profile-edit tab-pane fade in active">
                        <div class="table-search-v1 margin-bottom-20">
                            <div class="table-responsive">
                                <table class="table text-center">
                                    <thead>
                                    <tr>
                                        <th class="text-center">주제</th>
                                        <!--<th>핵심개념</th>-->
                                        <th class="text-center">토론기간</th>
                                        <th class="text-center">참가자 수</th>
                                        <th class="text-center" colspan="2"><i class="fa fa-cog"></i></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <% @discussions.each do |discussion| %>
                                        <tr>
                                            <td><%= discussion.title %></td>
                                            <!--<td><%#= discussion.unit_concept.name %></td>-->
                                            <td><%= discussion.start_date %> - <%= discussion.expiration_date %></td>
                                            <td><%= discussion.participants.count %></td>
                                            <td><button class="btn btn-dribbble rounded btn-xs" onclick="move('/discussions/<%= discussion.id %>/discussion_edit')">수정</button></td>
                                            <td><button class="btn btn-podcast rounded btn-xs" onclick="move('/discussions/discussion_room/<%= discussion.id %>')">보기</button></td>
                                        </tr>
                                    <% end %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <%# @discussions.each do |discussion| %>
            <!--<div class="row">-->
                <!--<div class="bg-color-white tag-box tag-box-v3 box-shadow shadow-effect-1 col-md-12 col-sm-12 col-xs-12">-->
                    <!--<div class="col-md-3 col-sm-4 col-xs-6"><%#= discussion.title %></div>-->
                    <!--<div class="col-md-3 col-sm-4 col-xs-6"><%#= discussion.unit_concept.name %></div>-->
                    <!--<div class="col-md-3 col-sm-4 col-xs-12"><%#= discussion.start_date %>-<%#= discussion.expiration_date %></div>-->
                    <!--<div class="col-md-3 col-sm-12 col-xs-12">-->
                        <!--<button class="btn btn-dribbble rounded btn-xs" onclick="move('/discussions/<%#= discussion.id %>/discussion_edit')">수정</button>-->
                        <!--<button class="btn btn-podcast rounded btn-xs" onclick="move('/discussions/discussion_room/<%#= discussion.id %>')">보기</button>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <%# end %>

        </div>
    </div>
</div>

<script type="text/javascript">
    function move(url) {
        location = url;
    }
</script>