<div class="container profile">
    <div class="row">
        <%= render partial: 'mypages/left_sidebar' %>

        <div class="col-md-9">
            <div class="profile-body margin-top-20 margin-bottom-20">
                <div class="tab-v1">
                    <ul class="nav nav-justified nav-tabs">
                        <li class="active"><a data-toggle="tab">토론방 관리</a></li>
                    </ul>
                </div>

                <!--토론방 개설 권한 있는 유저에게만 보이기-->
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 margin-top-20">
                        <% if current_user.can_I_manage_discussion_rooms? %>
                            <%= button_to '토론방 개설하기', '/discussions/discussion_new', :method => :get, :class => 'btn btn-xing rounded col-md-12 col-sm-12 col-xs-12 margin-bottom-20' %>
                            <%= button_to '토론문제 가져와서 개설하기', '/discussions/topic_select_and_new', :method => :get, :class => 'btn btn-viadeo rounded col-md-12 col-sm-12 col-xs-12 margin-bottom-20' %>
                        <% end %>
                    </div>
                </div>

                <div class="tab-content">
                    <div class="profile-edit tab-pane fade in active">

                        <% unless @discussions.blank? %>
                            <div class="table-search-v1 margin-bottom-20">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th class="text-center">주제</th>
                                            <th class="text-center">핵심개념</th>
                                            <th class="text-center">토론기간</th>
                                            <!--<th class="text-center">참가자 수</th>-->
                                            <!--<th class="text-center">개설자</th>-->
                                            <th class="text-center"><i class="fa fa-cog"></i></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <% @discussions.each do |discussion| %>
                                            <tr>
                                                <td><%= discussion.discussion_templet.title unless discussion.discussion_templet.nil? %></td>
                                                <td class="text-center"><%= discussion.discussion_templet.unit_concept.name unless discussion.discussion_templet.nil? %></td>
                                                <td class="text-center"><%= discussion.start_date %> - <%= discussion.expiration_date %></td>
                                                <!--<td class="text-center"><%#= discussion.participants.count %></td>-->
                                                <!--<td class="text-center"><%#= discussion.organizer_type %></td>-->
                                                <td class="text-center">
                                                    <button class="btn btn-pinterest rounded btn-xs" <%= "disabled='true'" unless discussion.organizer_type != 'admin' %> <%= "disabled='true'" if discussion.user_id != current_user.id && discussion.sub_leader == current_user.id %> onclick="destroyDiscussion('<%= discussion.id %>')">삭제</button>
                                                    | <button class="btn btn-podcast rounded btn-xs" onclick="move('/discussions/discussion_room/<%= discussion.id %>')">보기</button>
                                                    | <button class="btn btn-dribbble rounded btn-xs" onclick="move('/discussions/<%= discussion.id %>/discussion_edit')">수정</button>
                                                </td>
                                            </tr>
                                        <% end %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        <% else %>
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <h3>- 관리중인 토론방이 없습니다. -</h3>
                                </div>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>



            <%# @discussions.each do |discussion| %>
            <!--<div class="row">-->
                <!--<div class="bg-color-white tag-box tag-box-v3 box-shadow shadow-effect-1 col-md-12 col-sm-12 col-xs-12">-->
                    <!--<div class="col-md-3 col-sm-4 col-xs-6"><%#= discussion.title %></div>-->
                    <!--<div class="col-md-3 col-sm-4 col-xs-6"><%#= discussion.unit_concept.name %></div>-->
                    <!--<div class="col-md-3 col-sm-4 col-xs-12"><%#= discussion.start_date %>-<%#= discussion.expiration_date %></div>-->
                    <!--<div class="col-md-3 col-sm-12 col-xs-12">-->
                        <!--<button class="btn btn-dribbble rounded btn-xs" onclick="move('/discussions/<%#= discussion.id %>/discussion_edit')">수정</button>-->
                        <!--<button class="btn btn-podcast rounded btn-xs" onclick="move('/discussions/discussion_room/<%#= discussion.id %>')">보기</button>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <%# end %>

        </div>
    </div>
</div>

<script type="text/javascript">
    function move(url) {
        location = url;
    }

    function destroyDiscussion(id) {
        if (confirm('해당 토론방을 삭제하시겠습니까?')) {

            var url = "/discussions/" + id;

            $.ajax({
                url: url,
                type: "DELETE",
                beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
                datatype: "json",
                success : function(data) {
                    alert('정상적으로 관계를 해제하였습니다.');
                    location.reload();
                },
                error : function(){
                    alert("try to again. please.");
                }
            });
        }
    }
</script>