<!--=== Profile ===-->
<div class="container content profile">
  <div class="row">

    <%= render :partial=>"left_sidebar"%>

    <!-- Profile Content -->
    <div class="col-md-9">
      <div class="profile-body margin-bottom-20">
        <div class="tab-v1">
          <ul class="nav nav-justified nav-tabs">
            <li class="active"><a data-toggle="tab">개념별 exercise 평가 및 자기평가</a></li>
          </ul>

          <div class="tab-content">

            <hr class="devider devider-dotted" style="margin:10px">

            <% unless @evaluations.blank? %>
            <% pre_id  = 0 %>
            <% check = 0 %>
            <% @evaluations.each do |evaluation| %>
                <% if pre_id != 0 && pre_id != evaluation.id %>
                    <% check = 0 %>
                    <hr class="devider devider-dotted" style="margin:10px">
                    <% if evaluation.created_at.nil? %>
                        <div class="profile-edit tab-pane fade in active">
                          <h3 class="heading-md"><i class="icon-custom icon-sm rounded-x icon-color-u icon-line icon-book-open"></i> <%= evaluation.name %></h3>
                        </div>
                        <% pre_id = evaluation.id %>
                    <% end %>
                <% end %>
                <% unless evaluation.what != 'evaluation' %>
                    <% pre_id = evaluation.id %>
                    <div class="profile-edit tab-pane fade in active">
                      <h3 class="heading-md"><i class="icon-custom icon-sm rounded-x icon-color-u icon-line icon-book-open"></i> <%= evaluation.name %></h3>
                      <div class="profile-event">
                        <div class="date-formats">
                          <span><%= evaluation.created_at.in_time_zone("Asia/Seoul").strftime('%d') %></span>
                          <small><%= evaluation.created_at.in_time_zone("Asia/Seoul").strftime('%Y, %m') %></small>
                        </div>
                        <div class="overflow-h">
                          <h3 class="heading-xs"><span style="color: darkblue">자기평가</span></h3>
                          <p><span style="color: #000;">● 느낀 수준 :</span> <span style="color: <%= 'green' unless evaluation.evaluation != 'easy' %><%= 'orange' unless evaluation.evaluation != 'normal' %><%= 'darkred' unless evaluation.evaluation != 'difficult' %>"><%= evaluation.evaluation %></span> <br/>
                            <span style="color:#000;">● comment :</span> <span style="color: #545454 "><%= evaluation.comment %></span></p>
                        </div>
                      </div>
                    </div>
                <% else %>
                    <% weather = '' %>
                    <% if evaluation.history.to_s.length < 5 %>
                        <% o_num = evaluation.history.to_s.count('O') %>
                        <% x_num = evaluation.history.to_s.count('X') %>
                    <% else %>
                        <% o_num = evaluation.history.to_s.slice(-5, 5).count('O') %>
                        <% x_num = evaluation.history.to_s.slice(-5, 5).count('X') %>
                    <% end %>

                    <% ox_sum = o_num + x_num %>

                    <% if ox_sum == o_num
                         weather = 'sun'
                       elsif ox_sum - 1 == o_num
                         weather = 'cloud'
                       elsif ox_sum - 2 == o_num
                         weather = 'rain'
                       end %>
                    <% if o_num == 0
                         weather = 'thunder' end %>

                    <% if check == 0 %>
                        <div class="funny-boxes bg-color-white">
                          <div class="col-md-12 text-center">
                            <h5 class="margin-bottom-20"><span style="color: darkblue;">- Exercise 평가 -</span></h5>
                          </div>
                          <div class="row no-margin margin-bottom-20 text-center">
                            <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
                              <h6 class="no-margin">개념 이름</h6>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
                              <h6 class="no-margin">맞음/틀림</h6>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
                              <h6 class="no-margin">상태</h6>
                            </div>
                          </div>
                          <hr class="no-margin margin-bottom-20">
                          <div class="row no-margin text-center">
                            <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
                              <h6 class="no-margin">exercise <%= evaluation.memo.to_s.slice(-2, 2) %></h6>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
                              <h6 class="no-margin"><%= evaluation.history %></h6>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">

                              <h4 class="no-margin">
                                <% if weather == 'sun' %>
                                    <span style="color:red;" aria-hidden="true" class="icon-weather-023"></span>
                                <% elsif weather == 'cloud' %>
                                    <span style="color: grey;" aria-hidden="true" class="icon-weather-003"></span>
                                <% elsif weather == 'rain' %>
                                    <span style="color: deepskyblue" aria-hidden="true" class="icon-weather-007"></span>
                                <% elsif weather == 'thunder' %>
                                    <span style="color: orange" aria-hidden="true" class="icon-weather-006"></span>
                                <% end %>
                              </h4>
                            </div>
                          </div>
                        </div>
                        <% check = 1 %>
                    <% else %>
                        <div class="funny-boxes bg-color-white">
                          <div class="row no-margin text-center">
                            <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
                              <h6 class="no-margin">exercise <%= evaluation.memo.to_s.slice(-2, 2) %></h6>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
                              <h6 class="no-margin"><%= evaluation.history %></h6>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">

                              <h4 class="no-margin">
                                <% if weather == 'sun' %>
                                    <span style="color:red;" aria-hidden="true" class="icon-weather-023"></span>
                                <% elsif weather == 'cloud' %>
                                    <span style="color: grey;" aria-hidden="true" class="icon-weather-003"></span>
                                <% elsif weather == 'rain' %>
                                    <span style="color: deepskyblue" aria-hidden="true" class="icon-weather-007"></span>
                                <% elsif weather == 'thunder' %>
                                    <span style="color: orange" aria-hidden="true" class="icon-weather-006"></span>
                                <% end %>
                              </h4>
                            </div>
                          </div>
                        </div>
                    <% end %>
                <% end %>
            <% end %>
            <% else %>
                <div class="profile-edit tab-pane fade in active">
                  <h3 class="heading-md"><i aria-hidden="true" class="icon-custom icon-sm rounded-x icon-color-u icon-line icon-education-119"></i> Exercise 평가 &amp; 자기평가</h3>
                  <div class="heading heading-v4">
                    <h2>아직 평가하지 않았습니다.</h2>
                  </div>
                </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Profile Content -->
</div>
</div><!--/container-->