<div class="container profile">
    
    <div class="row">

        <%= render :partial=>"left_sidebar"%>

        <!-- Profile Content -->
        <div class="col-md-9 margin-top-20">
            <div class="profile-body margin-bottom-20">
                <div class="tab-v1">
                    <ul class="nav nav-justified nav-tabs">
                        <li class="active"><a data-toggle="tab">자기평가 이력</a></li>
                    </ul>

                    <div class="tab-content">
              
                        <hr class="devider devider-dotted" style="margin:10px">
              
                        <div class="profile-edit tab-pane fade in active">
                            <div class="table-search-v1 margin-bottom-20">
                                <div class="table-responsive">
                                    <table class="table table-hover table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th>평가일</th>
                                        <th class="hidden-sm">개념</th>
                                        <th>하위개념</th>
                                        <th>진행도</th>
                                        <th>메모</th>
                                        <th style="width: 100px;">Status</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <% @evaluations.each do |evaluation| %>
                                        <tr>
                                            <td><%= l evaluation.created_at.in_time_zone("Asia/Seoul").to_date, :format => :long %></td>
                                            <td class="td-width"><%= evaluation.unit_concept.concept.concept_name %></td>
                                            <td><%= evaluation.unit_concept.name %></td>
                                            <td>
                                                <div class="progress progress-u progress-xxs">
                                                    <% count = UnitConceptDesc.get_unit_concept_desc_count(evaluation.unit_concept.id) %>
                                                    <% percentage = evaluation.unit_concept.study_histories.where('user_id = ?', current_user.id).count.to_f / count * 100 %>
                                                    <div class="progress-bar progress-bar-u" role="progressbar" aria-valuenow="<%= percentage %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= percentage %>%">
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <span><%= evaluation.comment %></span>
                                            </td>
                                            <td>
                                                <% if evaluation.evaluation == 'difficult' %>
                                                    <button class="btn-u btn-block btn-u-red btn-u-xs"><i class="fa fa-level-up margin-right-5"></i><%= evaluation.evaluation %></button>
                                                <% elsif evaluation.evaluation == 'easy' %>
                                                    <button class="btn-u btn-block btn-u-greed btn-u-xs"><i class="fa fa-level-down margin-right-5"></i><%= evaluation.evaluation %></button>
                                                <% elsif evaluation.evaluation == 'normal' %>
                                                    <button class="btn-u btn-block btn-u-yellow btn-u-xs"><i class="fa fa-arrows-v margin-right-5"></i><%= evaluation.evaluation %></button>
                                                <% end %>
                                            </td>
                                        </tr>
                                    <% end %>
                                    </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    
</div>