<!--=== Profile ===-->
<div class="container content profile">
  <div class="row">

    <%= render :partial=>"left_sidebar"%>

    <!-- Profile Content -->
    <div class="col-md-9">

      <div class="profile-body margin-bottom-20">

        <% if current_user.user_types[0].user_type == 'student' %>

          <!-- 테스트 작업 테이블 시작 -->
          <div class="panel panel-sea margin-bottom-40">
            <div class="panel-heading">
              <h3 class="panel-title"><i class="fa fa-user"></i> Unit Concepts Evaluation</h3>
            </div>
            <div class="panel-body">
              <table class="table table-striped">
                <thead style="color: black;">
                <tr>
                  <td rowspan="2">단위 개념 이름</td>
                  <td rowspan="2">개념 Level</td>
                  <td rowspan="2">학습 Level</td>
                  <td rowspan="2">exercise 평가</td>
                  <td colspan="2">자기평가</td>
                  <td rowspan="2">최근 학습일</td>
                </tr>
                <tr>
                  <td>O X</td>
                  <td>comment</td>
                </tr>
                </thead>
                <tbody>
                <% index = 0 %>
                <% @unit_concept_exercise_histories.each do |unit_concept_exercise_history| %>
                  <% index += 1 %>
                <% end %>

                <% str = '' %>
                <% memo = '' %>
                <% oxStr = '' %>
                <% oxCount = 0 %>

                  <% @unit_concept_exercise_histories.each do |unit_concept_exercise_history| %>
                    <% index -= 1 %>
                    <% if unit_concept_exercise_history.unit_concept_desc.memo != memo %>
                      <% unless memo == '' %>
                        <% memoStr = 'exercise '%>
                        <tr>
                          <td></td>
                          <td colspan="2"><%= memoStr + memo.to_s.slice(-2, 2) %></td>
                          <td><%= oxStr %></td>
                          <td colspan="2"></td>
                          <td></td>
                        </tr>
                        <% oxStr = '' %>
                        <% oxCount = 0 %>
                      <% end %>

                    <% end %>

                    <% if unit_concept_exercise_history.unit_concept_desc.unit_concept.name != str %>
                        <tr>
                      <% str = unit_concept_exercise_history.unit_concept_desc.unit_concept.name %>
                        <td><%= unit_concept_exercise_history.unit_concept_desc.unit_concept.name %></td>
                        <td><%= unit_concept_exercise_history.unit_concept_desc.unit_concept.level %></td>
                        <td><%= unit_concept_exercise_history.user.study_level %></td>
                        <td>맞음/틀림 확인</td>

                       <% evaluationStr = '' %>
                        <% commentStr = '' %>
                        <% unit_concept_exercise_history.user.unit_concept_self_evaluations.each do |unit_concept_self_evaluation|%>
                          <% if unit_concept_self_evaluation.unit_concept_id == unit_concept_exercise_history.unit_concept_desc.unit_concept.id %>
                            <% evaluationStr = unit_concept_self_evaluation.evaluation %>
                            <% commentStr = unit_concept_self_evaluation.comment %>
                          <% end %>
                        <% end %>
                          <td><%= evaluationStr %></td>
                          <td><%= commentStr %></td>
                          <% date = unit_concept_exercise_history.updated_at.localtime.to_s %>
                          <% date.slice!(-5, 5) %>
                          <td><%= date %></td>
                        </tr>

                        <% oxStr += unit_concept_exercise_history.ox %>
                        <% oxCount += 1 %>
                        <% memo = unit_concept_exercise_history.unit_concept_desc.memo %>
                        <!--
                        <tr>
                          <td></td>
                          <td colspan="2"><%= unit_concept_exercise_history.unit_concept_desc.memo %></td>
                          <td><%= unit_concept_exercise_history.ox %></td>
                          <td colspan="2"></td>
                        </tr> -->

                    <% else %>
                        <% if oxCount < 3 %>
                         <% oxStr += unit_concept_exercise_history.ox %>
                         <% oxCount += 1 %>
                        <% else %>
                          <% oxCount +=1 %>
                        <% end %>
                        <% memo = unit_concept_exercise_history.unit_concept_desc.memo %>
                        <!--
                        <tr>
                          <td></td>
                          <td colspan="2"><%= unit_concept_exercise_history.unit_concept_desc.memo %></td>
                          <td><%= unit_concept_exercise_history.ox %></td>
                          <td colspan="2"></td>
                        </tr> -->

                    <% end %>
                    <% if index == 0 %>
                        <% memoStr = 'exercise '%>
                        <tr>
                          <td></td>
                          <td colspan="2"><%= memoStr + memo.to_s.slice(-2, 2) %></td>
                          <td><%= oxStr %></td>
                          <td colspan="2"></td>
                        </tr>
                    <% end %>
                  <% end %>


                </tbody>
              </table>
            </div>
          </div>
          <!-- 테스트 작업 테이블 끝 -->
        <% end %>

      </div>
    </div>
    <!-- End Profile Content -->


  </div>
</div><!--/container-->