<!--=== Profile ===-->
<div class="container content profile">
  <div class="row">

    <%= render :partial=>"left_sidebar"%>

    <!-- Profile Content -->
    <div class="col-md-9">

      <div class="profile-body margin-bottom-20">

        <% if current_user.user_types[0].user_type == 'student' %>

            <!-- 테스트 작업 테이블 시작 -->
            <div class="panel panel-default-dark margin-bottom-40">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-user"></i> Unit Concepts Evaluation</h3>
              </div>
              <div class="panel-body">
                <table class="table table-striped">
                  <thead style="color: black;">
                  <tr>
                    <td colspan="4">단위 개념</td>
                    <td colspan="6">개념레벨</td>
                    <td colspan="8">학습레벨</td>
                  </tr>
                  </thead>
                  <tbody>
                  <% unit_concept_exercise_histories_count = 0 %>
                  <% @unit_concept_exercise_histories.each do |unit_concept_exercise_history| %>
                      <% unit_concept_exercise_histories_count += 1 %>
                  <% end %>

                  <% concept_name = '' %>
                  <% previous_unit_concept_desc_memo = '' %>
                  <% unit_concept_desc_id = '' %>
                  <% unit_concept_desc_ox = '' %>
                  <% oxCount = 0 %>

                  <% @unit_concept_exercise_histories.each do |unit_concept_exercise_history| %>

                      <% unit_concept_exercise_histories_count -= 1 %>
                      
                      <% unless unit_concept_exercise_history.unit_concept_desc.nil? %>

                      <% if concept_name != unit_concept_exercise_history.unit_concept_desc.unit_concept.name %>
                          <% oxCount = 0 %>
                          <% if concept_name != '' %>
                              <% memoStr = 'exercise '%>
                              <tr>
                                <td colspan="4"></td>
                                <td colspan="4"><%= memoStr + previous_unit_concept_desc_memo.slice(-2, 2) %></td>
                                <td colspan="4"><%= unit_concept_desc_ox %></td>
                                <td colspan="4"></td>
                              </tr>
                          <% end %>
                          <tr>
                            <td colspan="16"></td>
                          </tr>
                          <tr style="background-color: #9cbdff; font-style: italic; font-family: bold; font-size: 15px;">
                            <td colspan="4"><%= unit_concept_exercise_history.unit_concept_desc.unit_concept.name %></td>
                            <td colspan="4"><%= unit_concept_exercise_history.unit_concept_desc.unit_concept.level %> Lv</td>
                            <td colspan="2"></td>
                            <td colspan="8"><%= unit_concept_exercise_history.user.study_level %> Lv</td>
                          </tr>

                          <tr style="background-color: #bed5ff" class="text-center">
                            <td colspan="16" style="font-size: 15px; font-style: italic;">- 자기평가 -</td>
                          </tr>
                          <tr>
                            <% evaluation_my_check = '' %>
                            <% learning_day = '' %>
                            <% evaluation_my_comment = '' %>
                            <% unit_concept_exercise_history.unit_concept_desc.unit_concept.unit_concept_self_evaluations.each do |evaluation| %>
                                <% evaluation_my_check = evaluation.evaluation %>
                                <% learning_day = evaluation.created_at.localtime.to_s %>
                                <% learning_day.slice!(-5, 5) %>
                                <% evaluation_my_comment = evaluation.comment %>
                            <% end %>
                            <td colspan="8">느낀 수준 : <%= evaluation_my_check %></td>
                            <td colspan="8">최근 학습일: <%= learning_day %></td>
                          </tr>
                          <tr>
                            <td colspan="4">Comment:</td>
                            <td colspan="4"></td>
                            <td colspan="8"></td>
                          </tr>
                          <tr>
                            <td colspan="16"><%= evaluation_my_comment %></td>
                          </tr>

                          <tr style="background-color: #f1eaff" class="text-center">
                            <td colspan="16" style="font-size: 15px; font-style: italic;">- Exercise 평가 -</td>
                          </tr>

                          <tr>
                            <td colspan="4"></td>
                            <td colspan="4">문제 번호</td>
                            <td colspan="4">맞음/틀림 확인</td>
                            <td colspan="4"></td>
                          </tr>

                          <% unit_concept_desc_id = unit_concept_exercise_history.unit_concept_desc_id %>
                          <% unit_concept_desc_ox = unit_concept_exercise_history.ox %>
                          <% oxCount += 1 %>
                          <% previous_unit_concept_desc_memo = unit_concept_exercise_history.unit_concept_desc.memo %>

                      <% else %>
                          <!-- o, x string 으로 표시-->
                          <% if unit_concept_desc_id == unit_concept_exercise_history.unit_concept_desc_id %>
                            <% if oxCount < 3 %>
                              <% unit_concept_desc_ox += unit_concept_exercise_history.ox %>
                            <% end %>
                              <% oxCount += 1 %>
                              <% previous_unit_concept_desc_memo = unit_concept_exercise_history.unit_concept_desc.memo %>
                          <% else %>
                              <% memoStr = 'exercise '%>
                              <tr>
                                <td colspan="4"></td>
                                <td colspan="4"><%= memoStr + previous_unit_concept_desc_memo.to_s.slice(-2, 2) %></td>
                                <td colspan="4"><%= unit_concept_desc_ox %></td>
                                <td colspan="4"></td>
                              </tr>
                              <% unit_concept_desc_ox = unit_concept_exercise_history.ox %>
                              <% previous_unit_concept_desc_memo = unit_concept_exercise_history.unit_concept_desc.memo %>
                              <% oxCount = 1 %>
                          <% end %>
                      <% end %>

                      <% concept_name = unit_concept_exercise_history.unit_concept_desc.unit_concept.name %>

                      <% unit_concept_desc_id = unit_concept_exercise_history.unit_concept_desc_id %>

                      <% if unit_concept_exercise_histories_count == 0 %>
                          <% memoStr = 'exercise '%>
                          <tr>
                            <td colspan="4"></td>
                            <td colspan="4"><%= memoStr + unit_concept_exercise_history.unit_concept_desc.memo.to_s.slice(-2, 2) %></td>
                            <td colspan="4"><%= unit_concept_desc_ox %></td>
                            <td colspan="4"></td>
                          </tr>
                      <% end %>
                      
                      <% end %>
                      
                  <% end %>

                  </tbody>
                </table>
              </div>
            </div>
            <!-- 테스트 작업 테이블 끝 -->
        <% end %>

      </div>
    </div>
    <!-- End Profile Content -->


  </div>
</div><!--/container-->