<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd"> <html>
<head> <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
</head>
<body onload="init();">
<form id="form" name="form" method="post">
<input type="hidden" id="confmKey" name="confmKey" value=""/>
<input type="hidden" id="returnUrl" name="returnUrl" value=""/>
<input type="hidden" id="resultType" name="resultType" value="" />
</form> </body>
</html>


<script language="javascript">

    function init(){
        var url = location.href;
        // var confmKey = "U01TX0FVVEgyMDE2MTEyMzE0MzYwNjE2Nzg0"; 
        var confmKey = "U01TX0FVVEgyMDE2MTEyMzE2MjE1NDE2Nzg5";
        var resultType = "4";
        var inputYn= "<%= @inputYn %>";
        if(inputYn != "Y"){
            document.form.confmKey.value = confmKey;
            document.form.returnUrl.value = url;
            document.form.resultType.value = resultType;
            document.form.action="http://www.juso.go.kr/addrlink/addrLinkUrl.do";
            document.form.submit();
        } else {
            console.log('there');
            opener.jusoCallBack("<%= @roadFullAddr %>","<%= @roadAddrPart1 %>","<%= @addrDetail %>","<%= @roadAddrPart2 %>","<%= @engAddr %>",
                                "<%= @jibunAddr %>","<%= @zipNo %>", "<%= @admCd %>", "<%= @rnMgtSn %>", "<%= @bdMgtSn %>");
            window.close();
        }   
         
    };
    
</script>