<!--=== Profile ===-->
<div class="container content profile">
    <div class="row">

        <%= render :partial=>"left_sidebar"%>

        <!-- Profile Content -->
        <div class="col-md-9">
        
            <div class="profile-body margin-bottom-20">
                
                <div class="tab-v1">
                    
                    <ul class="nav nav-justified nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#passwordTab">결제정보</a></li>
                    </ul>
                    
                    <div class="tab-content">
                        
                        <div class="profile-edit tab-pane fade in active">
                            
                            <% unless notice.blank? %>
                                <p class="alert alert-warning"><%= notice %></p>
                            <% end %>
                            
                            <% unless alert.blank? %>
                                <p class="alert alert-danger"><%= alert %></p>
                            <% end %>
                            
                            <h3 class="heading-md"><i class="icon-custom icon-sm rounded-x icon-color-u icon-line  icon-credit-card"></i> 결제이력</h3>
                            
							<table class="table">
                            <thead>
                            <th>관계</th>
                            <th>이름</th>
                            <th>상태</th>
                            <th>요청일</th>
                            <th>승인일</th>
                            <th><i class="fa fa-cog"></i></th>
                            </thead>        
                            
                                
                        </table>
								
                        </div>
                        
                        <div style="margin-top: 12px; margin-bottom:12px">
                            <a href="javascript:openPayment()" class="btn btn-success">결제하기</a>
                        </div>    
                        
                        <div id="payment" class="profile-edit tab-pane fade in active">
                            
                            <form id="SendPayForm_id" name="" class="sky-form" method="POST">
                                
                            <input type="hidden" name="version" value="1.0">  
                            <input type="hidden" name="mid" value="<%= @mid %>" >
                            <input type="hidden" name="oid" id="oid" value="<%= @order_number %>">
                            <input type="hidden" name="currency" value="WON">
                            <input type="hidden" name="buyername" value="<%= current_user.user_name %>">
                            <input type="hidden" name="buyertel" value="<%= current_user.phone %>">
                            <input type="hidden" name="buyeremail" value="<%= current_user.email %>">
                            <input type="hidden" name="timestamp" id="timestamp" value="<%= @timestamp %>">
                            <input type="hidden" name="signature" id="signature" value=''>
                            <input type="hidden" name="returnUrl" value="<%= root_url %>mypages/payment_return">
                            <input type="hidden" name="mKey" value='<%= @m_key %>'>
                            <input type="hidden" name="price" id="price" value='25000'>
                            <input type="hidden" name="closeUrl" value="<%= root_url %>mypages/close">

                            <dl class="dl-horizontal">
                            <dt>상품</dt>
                            <dd>
                                <section>
                                    <select id="goodname" name="goodname" class="form-control" onchange="goodChanged()">
                                    <option value="1">1개월 (25000원)</option>
                                    <option value="2">2개월 (50000원)</option>
                                    <option value="3">3개월 (75000원)</option>
                                    <option value="4">4개월 (100000원)</option>
                                    <option value="5">5개월 (125000원)</option>
                                    <option value="6">6개월 (150000원)</option>
                                    </select>    
                                </section>
                            </dd>
                            
                            <dt>결제수단</dt>
                            <dd>
                                <section>
                                    <select name="gopaymethod" class="form-control">
                                    <% InicisPayment::GO_PAY_METHOD.each_pair do |key, value| %>
                                    <option value="<%= key %>" ><%= value %></option>
                                    <% end %>
                                    </select>
                                </section>
                            </dd>
                            </dl>

                            <button type="button" onclick="pay()" class="btn-u btn-u-blue">결제요청</button>
                            
                            </form>

                        </div>    
                        
                    </div>
                    
                </div>
                
            </div>
            
        </div>
        
    </div>
    
</div>                

<script language="javascript" type="text/javascript" src="https://stgstdpay.inicis.com/stdjs/INIStdPay.js" charset="UTF-8"></script>

<script type="text/javascript">
    
function openPayment() {
    
    $('#payment').show();
    
}

function pay() {
    
    var url = "/mypages/get_signature";
    
    var data = {
        oid: $('#oid').val(),
        price: $('#price').val(),
        timestamp: $('#timestamp').val()
    }
    
    $.ajax({
        url: url,
        type: "POST",
        beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
        datatype: "json",
        data: data,
        success : function(data) {
            $('#signature').val(data.signature);
            INIStdPay.pay('SendPayForm_id');
        },
        error : function(){
            alert("try to again. please.");
        }
    });
    
    
}

function savePayment() {

    var url = "/payments";
    
    var data = {
        
    }
    
}



function initpage() {}

function goodChanged() {
    var price = parseInt($('#goodname').val()) * 25000;
    $('#price').val(price);
}
    
</script>