<!--=== Profile ===-->
<div class="container profile">
    <div class="row">

        <%= render :partial=>"left_sidebar"%>

        <!-- Profile Content -->
        <div class="col-md-9 margin-top-20">
        
            <div class="profile-body margin-bottom-20">
                
                <div class="tab-v1">
                    
                    <ul class="nav nav-justified nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#passwordTab">결제정보</a></li>
                    </ul>
                    
                    <div class="tab-content">
                        
                        <hr class="devider devider-dotted" style="margin:10px">
                        
                        <div class="profile-edit tab-pane fade in active">
                            
                            <% unless notice.blank? %>
                                <p class="alert alert-warning"><%= notice %></p>
                            <% end %>
                            
                            <% unless alert.blank? %>
                                <p class="alert alert-danger"><%= alert %></p>
                            <% end %>
                            
                            <h3 class="heading-md"><i class="icon-custom icon-sm rounded-x icon-color-u fa fa-calendar"></i> 계정만료일</h3>
                            
                            <div class="heading heading-v4">
                                <h2><%= current_user.expire_date.nil? ? "아직 결제하지 않았습니다." : current_user.expire_date.in_time_zone("Asia/Seoul").strftime('%Y년 %m월 %d일') %></h2>
                            </div>
                            
                        </div>    
                        
                        <hr class="devider devider-dotted" style="margin:10px">
                        
                        <div class="profile-edit tab-pane fade in active">
                            
                            <h3 class="heading-md"><i class="icon-custom icon-sm rounded-x icon-color-u icon-line  icon-credit-card"></i> 결제이력</h3>
                            
							<table class="table">
                            <thead>
                            <th>결제일</th>
                            <th>서비스</th>
                            <th>결제수단</th>                            
                            <th><i class="fa fa-cog"></i></th>
                            </thead>
                            
                            <tbody>
                            <% if @payments.count == 0 %>
                            <tr>
                            <td colspan="5" style="text-align:center"><strong>결제이력이 없습니다.</strong></td>
                            </tr>
                            <% end %>
                            
                            <% @payments.each do |payment| %>
                            <tr>
                            <td><%= payment.created_at.in_time_zone("Asia/Seoul").strftime('%Y/%m/%d %H:%M') %></td>
                            <td><%= payment.service_name %></td>
                            <td><%= InicisPayment::GO_PAY_METHOD[payment.pay_method] %></td>
                            <td></td>
                            <% end %>
                            </tbody>
                            </table>
								
                        </div>
                        
                        <hr class="devider devider-dotted" style="margin:10px">
                        
                        <div id="payment" class="profile-edit tab-pane fade in active">
                            
                            <h3 class="heading-md"><i class="icon-custom icon-sm rounded-x icon-color-u icon-line  icon-credit-card"></i> 결제하기</h3>
                            
                            <form id="SendPayForm_id" name="" class="sky-form" method="POST">
                                
                            <input type="hidden" name="version" value="1.0">  
                            <input type="hidden" name="mid" value="<%= @mid %>" >
                            <input type="hidden" name="oid" id="oid" value="<%= @order_number %>">
                            <input type="hidden" name="currency" value="WON">
                            <input type="hidden" name="buyername" value="<%= current_user.user_name %>">
                            <input type="hidden" name="buyertel" value="<%= current_user.phone %>">
                            <input type="hidden" name="buyeremail" value="<%= current_user.email %>">
                            <input type="hidden" name="timestamp" id="timestamp" value="<%= @timestamp %>">
                            <input type="hidden" name="signature" id="signature" value=''>
                            <input type="hidden" name="returnUrl" value="<%= root_url %>payments/payment_return">
                            <input type="hidden" name="mKey" value='<%= @m_key %>'>
                            <input type="hidden" name="price" id="price" value='25000'>
                            <input type="hidden" name="closeUrl" value="<%= root_url %>payments/close">

                            <dl class="dl-horizontal">
                            <dt>상품</dt>
                            <dd>
                                <section>
                                    <select id="goodname" name="goodname" class="form-control" onchange="goodChanged()">
                                    <option value="1">1개월 (25000원)</option>
                                    <option value="2">2개월 (50000원)</option>
                                    <option value="3">3개월 (75000원)</option>
                                    <option value="4">4개월 (100000원)</option>
                                    <option value="5">5개월 (125000원)</option>
                                    <option value="6">6개월 (150000원)</option>
                                    </select>    
                                </section>
                            </dd>
                            
                            <dt>결제수단</dt>
                            <dd>
                                <section>
                                    <select name="gopaymethod" id="gopaymethod" class="form-control">
                                    <% InicisPayment::GO_PAY_METHOD.each_pair do |key, value| %>
                                    <option value="<%= key %>" ><%= value %></option>
                                    <% end %>
                                    </select>
                                </section>
                            </dd>
                            </dl>

                            <button type="button" onclick="pay()" class="btn-u btn-u-blue">결제요청</button>
                            
                            </form>

                        </div>    
                        
                    </div>
                    
                </div>
                
            </div>
            
        </div>
        
    </div>
    
</div>                

<% if Rails.env.production? %>
<script language="javascript" type="text/javascript" src="http://stdpay.inicis.com/stdjs/INIStdPay.js" charset="UTF-8"></script>
<% else %>
<script language="javascript" type="text/javascript" src="https://stgstdpay.inicis.com/stdjs/INIStdPay.js" charset="UTF-8"></script>
<% end %>

<script type="text/javascript">

function pay() {
    
    var url = "/payments";
    
    var data = {
        price: $('#price').val(),
        timestamp: $('#timestamp').val(),
        "payment" : {
            "service_name" : $('#goodname').val(), 
            "amount" : $('#price').val(),
            "oid" : $('#oid').val(),
            "pay_method" : $('#gopaymethod').val()
        }
    }
    
    $.ajax({
        url: url,
        type: "POST",
        beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
        datatype: "json",
        data: data,
        success : function(data) {
            $('#signature').val(data.signature);
            INIStdPay.pay('SendPayForm_id');
        },
        error : function(){
            alert("try to again. please.");
        }
    });     
    
}

function initpage() {}

function goodChanged() {
    var price = parseInt($('#goodname').val()) * 25000;
    $('#price').val(price);
}
    
</script>