<!--=== Profile ===-->
<div class="container profile">
    
    <div class="row">

        <%= render :partial=>"left_sidebar"%>

        <!-- Profile Content -->
        <div class="col-md-9 margin-top-20">

            <div class="profile-body margin-bottom-20">

                <div class="tab-v1">

                    <ul class="nav nav-justified nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#passwordTab">교재 신청</a></li>
                    </ul>

                    <div class="tab-content">

                        <hr class="devider devider-dotted" style="margin:10px">


                        <div id="payment" class="profile-edit tab-pane fade in active">

                            <form id="SendPayForm" name="" class="sky-form" method="POST">

                            <%= token_tag nil %>

                            <input type="hidden" name="version" value="1.0">
                            <input type="hidden" name="mid" value="<%= @mid %>" >
                            <input type="hidden" name="oid" id="oid" value="<%= @order_number %>">
                            <input type="hidden" name="currency" value="WON">
                            <input type="hidden" name="buyername" value="<%= current_user.user_name %>">
                            <input type="hidden" name="buyertel" value="<%= current_user.phone %>">
                            <input type="hidden" name="buyeremail" value="<%= current_user.email %>">
                            <input type="hidden" name="timestamp" id="timestamp" value="<%= @timestamp %>">
                            <input type="hidden" name="signature" id="signature" value=''>
                            <input type="hidden" name="returnUrl" value="<%= root_url %>payments/payment_return">
                            <input type="hidden" name="mKey" value='<%= @m_key %>'>
                            <input type="hidden" name="price" id="price" value='3000'>
                            <input type="hidden" name="closeUrl" value="<%= root_url %>payments/close">
                            <input type="hidden" id="goodname" name="goodname" value="" />
                            
                            <input type="hidden" id="roadAddrPart1" name="roadAddrPart1" />
                            <input type="hidden" id="roadAddrPart2" name="roadAddrPart2" /> <!-- 참고주소 -->
                            <input type="hidden" id="engAddr" name="engAddr" /> <!-- 영문 도로명주소 -->
                            <input type="hidden" id="jibunAddr" name="jibunAddr" /> <!-- 지번 -->
                            <input type="hidden" id="admCd" name="admCd" /> <!-- 행정구역코드 -->
                            <input type="hidden" id= "rnMgtSn" name= "rnMgtSn" /> <!-- 도로명코드 -->
                            <input type="hidden" id="bdMgtSn" name="bdMgtSn" /> <!-- 건물관리번호 -->

                            <dl class="dl-horizontal">

                            <dt class="payment_dt text-left">교재<br>
                                <div type="button" class="btn btn-u btn-u-info rounded btn-u-sm" data-toggle="modal" data-target=".bs-example-modal-lg"><i class="fa fa-book" style="color: white;"><strong><i> 샘플 보기 </i></strong></i></div>
                            </dt>

                            <dd class="payment_dd">
                                <section>
                                    <select multiple="multiple" id="my-select" name="users[]" >

                                        <% @textbooks.each do |textbook| %>
                                            <option value="<%= textbook.name %>"><%= textbook.name %> (<%= textbook.price %>원)</option>
                                        <% end %>

                                    <%# Concept::SUB_CATEGORIES.each_pair do |key, value| %>
                                    <!--<option value="<%#= value %>"><%#= value %></option>-->
                                    <%# end %>
                                    </select>
                                </section>
                            </dd>

                            <dt class="payment_dt">금액</dt>
                            <dd class="payment_dd">
                                <section style="display:flex">
                                    <input id="totalPrice" type="text" class="form-control pull-left" style="width:15%;" read-only value="" />
                                </section>
                            </dd>
                                
                            <dt class="payment_dt">결제수단</dt>
                            <dd class="payment_dd">
                                <section>
                                    <select name="gopaymethod" id="gopaymethod" class="form-control">
                                    <% InicisPayment::GO_PAY_METHOD.each_pair do |key, value| %>
                                    <option value="<%= key %>" ><%= value %></option>
                                    <% end %>
                                    </select>
                                </section>
                            </dd>
                            
                            <dt class="payment_dt">우편번호</dt>
                            <dd class="payment_dd">
                                <section>
                                    <input type="text" id="zipNo" name="zipNo" class="form-control read-only" style="width:20%; display:inline-block" readonly />
                                    <input type="button" class="btn btn-u btn-u-info rounded" onClick="goPopup();" value="주소찾기" />
                                </section>    
                            </dd>                            
                            
                            <dt class="payment_dt">주소</dt>
                            <dd class="payment_dd">
                                <section>
                                    <input type="text" id="roadFullAddr" name="roadFullAddr" class="form-control" readonly />
                                </section>    
                            </dd>
                            
                            <dt class="payment_dt">상세주소</dt>
                            <dd class="payment_dd">
                                <section>
                                    <input type="text" id="addrDetail" name="addrDetail" class="form-control" />
                                </section>    
                            </dd>
                            
                            <dt></dt>
                            <dd class="payment_dd"><button type="button" onclick="pay()" class="btn-u btn-u-info rounded" style="float:left">결제하기</button></dd>
                            </dl>
                            </form>
                            
                        </div>
                        
                    </div>
                    
                </div>
            </div>
        </div>
        
    </div> 
                        
</div>

<%= render 'modals/sample_book_modal' %>

<% if Rails.env.production? %>
<script language="javascript" type="text/javascript" src="http://stdpay.inicis.com/stdjs/INIStdPay.js" charset="UTF-8"></script>
<% else %>
<script language="javascript" type="text/javascript" src="https://stgstdpay.inicis.com/stdjs/INIStdPay.js" charset="UTF-8"></script>
<% end %>


<script type="text/javascript">

    function goPopup(){
        var pop = window.open("/mypages/juso_popup","pop","width=570,height=420, scrollbars=yes"); //경로는 시스템에 맞게 수정하여 사용
    }
    
    function jusoCallBack(roadFullAddr,roadAddrPart1,addrDetail,roadAddrPart2,engAddr, jibunAddr, zipNo, admCd, rnMgtSn, bdMgtSn){
        $('#roadFullAddr').val(roadFullAddr);
        $('#roadAddrPart1').val(roadAddrPart1);
        $('#roadAddrPart2').val(roadAddrPart2);
        $('#addrDetail').val(addrDetail);
        $('#engAddr').val(engAddr);
        $('#jibunAddr').val(jibunAddr);
        $('#zipNo').val(zipNo);
        $('#admCd').val(admCd);
        $('#rnMgtSn').val(rnMgtSn);
        $('#bdMgtSn').val(bdMgtSn);
    }

    function pay() {

        if ($('#totalPrice').val() == '' || $('#totalPrice').val() == 0 ){
            alert('교재를 선택해주세요.');
            return null;
        }

        if ($('#zipNo').val() == ''){
            alert('주소를 입력해주세요.');
            return null;
        }

        if ($('#addrDetail').val() == ''){
            alert('상세주소를 입력해주세요.');
            return null;
        }

        var url = "/payments";
    
        var data = {
            price: $('#totalPrice').val(),
            timestamp: $('#timestamp').val(),
            "payment" : {
                "service_name" : "교재구입", 
                "amount" : $('#totalPrice').val(),
                "oid" : $('#oid').val(),
                "pay_method" : $('#gopaymethod').val(),
                "item_type" : "textbook",
                "item_list_pay" : $('#my-select').val(),
                "postcode" : $('#zipNo').val(),
                "shipping_address" : $('#jibunAddr').val() + " " + $('#addrDetail').val()
            }
        }
    
        $.ajax({
            url: url,
            type: "POST",
            beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
            datatype: "json",
            data: data,
            success : function(data) {
                $('#signature').val(data.signature);
                INIStdPay.pay('SendPayForm');
            },
            error : function(){
                alert("try to again. please.");
            }
        });     
        
    }
    

    jQuery(document).ready(function() {
        
        $('#my-select').multiSelect({
          selectableHeader: "<div class='custom-header text-center form-class margin-bottom-10 bg-color-green'>선택 전</div> <input type='text' class='form-control' autocomplete='off' placeholder='검색어..' style='margin-bottom:5px'>",
          selectionHeader: "<div class='custom-header text-center form-class margin-bottom-10 bg-color-green'>선택 후</div> <input type='text' class='form-control' autocomplete='off' placeholder='검색어..' style='margin-bottom:5px'>",
          afterInit: function(ms){
              
            var that = this,
                $selectableSearch = that.$selectableUl.prev(),
                $selectionSearch = that.$selectionUl.prev(),
                selectableSearchString = '#'+that.$container.attr('id')+' .ms-elem-selectable:not(.ms-selected)',
                selectionSearchString = '#'+that.$container.attr('id')+' .ms-elem-selection.ms-selected';

            that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
            .on('keydown', function(e){
              if (e.which === 40){
                that.$selectableUl.focus();
                return false;
              }
            });

            that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
            .on('keydown', function(e){
              if (e.which == 40){
                that.$selectionUl.focus();
                return false;
              }
            });
            
          },
          
          afterSelect: function(values){
            this.qs1.cache();
            this.qs2.cache();
          },
          
          afterDeselect: function(values){
            this.qs1.cache();
            this.qs2.cache();
          }
          
        });

        $('#my-select').change(function(){

            if($(this).val() == null ){
                $('#totalPrice').val(0);
            }

            var url = '/mypages/get_textbook_price';
            var data = {
                goods_list: $(this).val()
            }

//            alert($(this).val());
            $.ajax({
                url: url,
                type: "POST",
                beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
                datatype: "json",
                data: data,
                success : function(data) {
                    $('#totalPrice').val(data.total_price);
                    $('#price').val(data.total_price);
                },
                error : function(){
                    alert("try to again. please.");
                }
            });

            $('#goodname').val($(this).val());
        });

    });

    initpage();
</script>

<script src="http://www.paypalobjects.com/api/checkout.js" async></script>