<!--=== Profile ===-->
<div class="container content profile">
    <div class="row">

        <%= render :partial=>"left_sidebar"%>

        <!-- Profile Content -->
        <div class="col-md-9">
        
            <div class="profile-body margin-bottom-20">
                
                <div class="tab-v1">
                    
                    <ul class="nav nav-justified nav-tabs">
                    <li class="<%= 'active' if @active_tab == '2' %>"><a data-toggle="tab" href="#passwordTab">회원정보수정</a></li>
                    <li class="<%= 'active' if @active_tab == '3' %>"><a data-toggle="tab" href="#payment">Payment Options</a></li>
                    <li class="<%= 'active' if @active_tab == '4' %>"><a data-toggle="tab" href="#settings">Notification Settings</a></li>
                    </ul>
                    
                    <div class="tab-content">
                        
                        <div id="passwordTab" class="profile-edit tab-pane fade <%= 'in active' if @active_tab == '2' %>">
                            
                            <h2 class="heading-md">회원정보</h2>
                            <br>
                            
                            <form class="sky-form" id="sky-form4" action="/users/<%= current_user.id %>" method="post">

                                <%= token_tag nil %>
                                <input name="_method" type="hidden" value="put" />
                                
                                <dl class="dl-horizontal">
                                    <dt>성명</dt>
                                    <dd>
                                        <section>
                                            <label class="input">
                                                <i class="icon-append fa fa-user"></i>
                                                <input type="text" placeholder="성명" name="user[user_name]" value="<%= current_user.user_name %>">
                                                <b class="tooltip tooltip-bottom-right">회원님의 성함을 적어주십시요.</b>
                                            </label>
                                        </section>
                                    </dd>
                                    
                                    <dt>전자우편</dt>
                                    <dd>
                                        <section>
                                            <label class="input">
                                                <i class="icon-append fa fa-envelope"></i>
                                                <input type="email" placeholder="Email address" name="user[email]" value="<%= current_user.email %>">
                                                <b class="tooltip tooltip-bottom-right">로그인할 때 필요합니다.</b>
                                            </label>
                                        </section>
                                    </dd>
                                    
                                    <dt>거주지역</dt>
                                    <dd>
                                        <section>
                                            <label class="input">
                                                <i class="icon-append fa fa-home"></i>
                                                <input type="text" placeholder="거주지역" name="user[location]" value="<%= current_user.location %>">
                                                <b class="tooltip tooltip-bottom-right">사시는 곳의 시/도를 입력하세요.</b>
                                            </label>
                                        </section>
                                    </dd>
                                    
                                    <dt>연락처</dt>
                                    <dd>
                                        <section>
                                            <label class="input">
                                                <i class="icon-append fa fa-phone"></i>
                                                <input type="text" placeholder="연락처" name="user[phone]" value="<%= current_user.phone %>">
                                                <b class="tooltip tooltip-bottom-right">예) 010-1111-1111 </b>
                                            </label>
                                        </section>
                                    </dd>
                                    
                                    <dt>회원타입</dt>
                                    <dd>
                                        <section>
                                            <div class="inline-group">
                                				<% User::USER_TYPES.each_pair do |key, value| %>
                                					<% unless key == "school manager" || key == "institute manager" || key == "mento"  %>
                                                <label class="checkbox">
                                                    <input type="checkbox" name="user_type[user_type]" value="<%= key %>" <%= "checked" if key == current_user.user_types.first.user_type %> >
                                                    <i class="rounded-x"></i><%= value %>
                                                </label>
                                				    <% end %>
                                				<% end %>
                                            </div>
                                        </section>
                                    </dd>

                                    <dt>학년</dt>
                                    <dd>
                                      <section>
                                        <label class="select">
                                          <select class="valid" name="user[grade]">
                                            <% unless current_user.grade.nil? %>
                                                <% if current_user.grade.to_i > 0 && current_user.grade.to_i < 4 %>
                                                    <option selected="selected">중<%= current_user.grade %></option>
                                                <% else %>
                                                    <option selected="selected">고<%= current_user.grade.to_i - 3 %></option>
                                                <% end %>
                                            <% end %>
                                            <% UnitConcept::GRADES.each_pair() do |key, value| %>
                                                <option value="<%= key.to_s %>"><%= value %></option>
                                            <% end %>
                                          </select>
                                          <i></i>
                                        </label>
                                      </section>
                                    </dd>

                                    </dl>

                                    <button type="button" class="btn-u btn-u-default">취소</button>
                                    <button class="btn-u" type="submit">저장</button>
                                    
                                </form>
                                
                                <hr>
                                
                                <% if current_user.sign_in_count < 2 %>
                                <p><span class="color-blue"><%= User::USER_TYPES[current_user.user_types.first.user_type] %></span>(으)로 회원 가입되었음을 축하합니다.</p>
                                <% end %>
                                
                                <% if current_user.user_types.first.user_type == 'student'  %>
                                <p>학생으로 공부할 수 있는 상품에 대한 안내를 받으시려면 <%= link_to '여기', payments_path %>를 클릭하여 주시기 바랍니다</p>
                                
                                <p>학생 회원으로서 부모, 학교, 학원, 선생님, 멘토와의 관계 사항은 하단에서 처리할 수 있습니다.</p>
                                
                                <% elsif current_user.user_types.first.user_type == 'parent' %>    
                                
                                <p>학생이 공부할 수 있는 상품에 대한 안내를  받으시려면 <%= link_to '여기', payments_path %>를 클릭하여 주시기 바랍니다.</p> 

                                <p>부모님으로서 학생과의 관계 사항은 하단에서 처리할 수 있습니다.</p>
                                
                                <% elsif current_user.user_types.first.user_type == 'school teacher' || current_user.user_types.first.user_type == 'institute teacher' %>
                                
                                <p>귀하의 학교(학원) 관리자의 확인이 필요합니다. &nbsp;&nbsp; 
                                
                                <% if current_user.teachers.blank? %>    
                                    <button class="btn-u" data-toggle="modal" data-target="#responsive">확인요청</button></p>
                                <% else %>
                                    <% if current_user.teachers[0].confirm_yn.nil? %>
                                    <span class="label label-info">담당자 확인중 ..</span>
                                    <% elsif current_user.teachers[0].confirm_yn == 'N' %>
                                    <span class="label label-danger">거절 <i class="fa fa-exclamation"></i></span>
                                    <% elsif current_user.teachers[0].confirm_yn == 'Y' %>
                                    <span class="label label-warning">확인 완료 <i class="fa fa-check"></i></span>
                                    <% end %>
                                <% end %>
                                
                                <div class="modal fade" id="responsive" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <h4 class="modal-title" id="myModalLabel4">확인요청</h4>
                                            </div>
                                            <div class="modal-body">
                                                
                                                <% if current_user.user_name.blank? || current_user.phone.blank? %>
                                                <div class="row">
                                                    <div class="alert alert-warning">
                                                        <p>학교관리자에게 요청하시기 전에 먼저 <strong>사용자명과 전화번호</strong>를 입력해주세요.</p>
                                                    </div>    
                                                </div>
                                                <% end %>  

                                                <div id="alert" class="row" style="display:none">
                                                    <div class="alert alert-warning">
                                                        <p id="message"></p>
                                                    </div>    
                                                </div>
                                                
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        학교(학원)명
                                                    </div>
                                                    <div class="col-md-9">
                                                        <select id="school" class="form-control">
                                                        <option value="">학교(학원)를 선택하세요.</option>
                                                        <% @schools.each do |school| %>
                                                        <option value="<%= school.id %>"><%= school.name %></option>
                                                        <% end %>
                                                        </select>
                                                    </div>    
                                                </div>
                                                
                                                <hr>
                                                
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        관리자 전자우편
                                                    </div>
                                                    <div class="col-md-9">
                                                        <input class="form-control" type="text" id="manager_email" />
                                                    </div>    
                                                </div>                                                    
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn-u btn-u-default" data-dismiss="modal">닫기</button>
                                                <button type="button" class="btn-u btn-u-primary" onclick="requestCert()" <%= 'disabled' if current_user.user_name.blank? || current_user.phone.blank? %> >요청하기</button>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <script type="text/javascript">
                                    
                                    function requestCert() {
                                        
                                        if ($('#school').val() == '') {
                                            alert('학교를 선택해 주세요.');
                                            return false;
                                        }
                                        
                                        if ($('#manager_email').val() == '') {
                                            alert('관리자 email이 필요합니다.');
                                            return false;
                                        }
                                        
                                        if ($('#manager_email').val() != '') {
                                            if (!validateEmail($('#manager_email').val())) {
                                                alert('관리자 email 주소가 유효하지 않습니다.');
                                                return false;    
                                            }
                                        }
                                        
                                        var data = {
                                            "school_id": $('#school').val(),
                                            "manager_email": $('#manager_email').val(),
                                            "user_id" : <%= current_user.id %>
                                        }

                                	    $.ajax({
                                            type:	"POST",
                                		    beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
                                		    url: "/teachers",
                                		    dataType:"JSON",
                                		    data:data,
                                		    success: function(data){
                                			    if(data.error != null){
                                                    $('#message').text(data.error);
                                                    $('#alert').show();
                                				    return false;
                                			    } else {
                                                    location.href = "/mypages/settings?active_tab=2";
                                			    }
                                	        },
                                	        error: function(xhr, ajaxOptions, thrownError){
                                                alert(xhr.status);
                                   	        }
                                	    });                                            
                                        
                                    }
                                    
                                    </script>
                                    
                                    
                                </div>

                                <% end %>
                                
                            </div>

                            <div id="payment" class="profile-edit tab-pane fade <%= 'in active' if @active_tab == '3' %>">
                                <h2 class="heading-md">Manage your Payment Settings</h2>
                                <p>Below are the payment options for your account.</p>
                                <br>
                                <form class="sky-form" id="sky-form" action="#">
                                    <!--Checkout-Form-->
                                    <section>
                                        <div class="inline-group">
                                            <label class="radio"><input type="radio" checked="" name="radio-inline"><i class="rounded-x"></i>Visa</label>
                                            <label class="radio"><input type="radio" name="radio-inline"><i class="rounded-x"></i>MasterCard</label>
                                            <label class="radio"><input type="radio" name="radio-inline"><i class="rounded-x"></i>PayPal</label>
                                        </div>
                                    </section>

                                    <section>
                                        <label class="input">
                                            <input type="text" name="name" placeholder="Name on card">
                                        </label>
                                    </section>

                                    <div class="row">
                                        <section class="col col-10">
                                            <label class="input">
                                                <input type="text" name="card" id="card" placeholder="Card number">
                                            </label>
                                        </section>
                                        <section class="col col-2">
                                            <label class="input">
                                                <input type="text" name="cvv" id="cvv" placeholder="CVV2">
                                            </label>
                                        </section>
                                    </div>

                                    <div class="row">
                                        <label class="label col col-4">Expiration date</label>
                                        <section class="col col-5">
                                            <label class="select">
                                                <select name="month">
                                                    <option disabled="" selected="" value="0">Month</option>
                                                    <option value="1">January</option>
                                                    <option value="1">February</option>
                                                    <option value="3">March</option>
                                                    <option value="4">April</option>
                                                    <option value="5">May</option>
                                                    <option value="6">June</option>
                                                    <option value="7">July</option>
                                                    <option value="8">August</option>
                                                    <option value="9">September</option>
                                                    <option value="10">October</option>
                                                    <option value="11">November</option>
                                                    <option value="12">December</option>
                                                </select>
                                                <i></i>
                                            </label>
                                        </section>
                                        <section class="col col-3">
                                            <label class="input">
                                                <input type="text" placeholder="Year" id="year" name="year">
                                            </label>
                                        </section>
                                    </div>
                                    <button type="button" class="btn-u btn-u-default">Cancel</button>
                                    <button class="btn-u" type="submit">Save Changes</button>
                                    <!--End Checkout-Form-->
                                </form>
                            </div>

                            <div id="settings" class="profile-edit tab-pane fade <%= 'in active' if @active_tab == '4' %>">
                                <h2 class="heading-md">Manage your Notifications.</h2>
                                <p>Below are the notifications you may manage.</p>
                                <br>
                                <form class="sky-form" id="sky-form3" action="#">
                                    <label class="toggle"><input type="checkbox" checked="" name="checkbox-toggle-1"><i class="no-rounded"></i>Email notification</label>
                                    <hr>
                                    <label class="toggle"><input type="checkbox" checked="" name="checkbox-toggle-1"><i class="no-rounded"></i>Send me email notification when a user comments on my blog</label>
                                    <hr>
                                    <label class="toggle"><input type="checkbox" checked="" name="checkbox-toggle-1"><i class="no-rounded"></i>Send me email notification for the latest update</label>
                                    <hr>
                                    <label class="toggle"><input type="checkbox" checked="" name="checkbox-toggle-1"><i class="no-rounded"></i>Send me email notification when a user sends me message</label>
                                    <hr>
                                    <label class="toggle"><input type="checkbox" checked="" name="checkbox-toggle-1"><i class="no-rounded"></i>Receive our monthly newsletter</label>
                                    <hr>
                                    <button type="button" class="btn-u btn-u-default">Reset</button>
                                    <button class="btn-u" type="submit">Save Changes</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Profile Content -->    


    </div>
</div><!--/container-->    