<div class="container profile">

    <div class="row">

        <%= render :partial=>"left_sidebar"%>

        <div class="col-md-9 margin-top-20">
        
            <div class="profile-body margin-bottom-20">
                
                <div class="tab-v1">
                    
                    <ul class="nav nav-justified nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#passwordTab">학생 관리</a></li>
                    </ul>
                    
                    <div class="tab-content">
                        
                        <hr class="devider devider-dotted" style="margin:10px">
                        
                        <div class="profile-edit tab-pane fade in active">
                            
                            <% unless notice.blank? %>
                                <p class="alert alert-warning"><%= notice %></p>
                            <% end %>
                            
                            <% unless alert.blank? %>
                                <p class="alert alert-danger"><%= alert %></p>
                            <% end %>
                            
                            <h3 class="heading-md"><i class="icon-custom icon-sm rounded-x icon-color-u icon-education-198"></i> 학습진도확인</h3>
                            
                            <div class="table-search-v1 margin-bottom-20">

                                <div class="table-responsive">
                                    
                                    <table class="table table-hover tavle-bordered table-striped">
                                    <thead>
                                    <tr>
                                    <th class="text-center">이름</th>
                                    <th class="text-center">학년</th>
                                    <th class="text-center">학습개념</th>
                                    <th class="text-center">최근학습</th>
                                    <th class="text-center">최근학습시간</th>
                                    <th><i class="fa fa-cog"></i></th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <% if @study_histories.count == 0 %>
                                    <tr>
                                    <td colspan="6" class="text-center">현재 담당 중인 학생이 없습니다.</td>
                                    </tr>
                                    <% end %>
                                    
                                    <% @study_histories.each do | study_history | %>
                                    <tr>
                                    <td class="text-center"><%= study_history.user_name %></td>
                                    <td class="text-center"><%= UnitConcept::GRADES[study_history.grade.to_i] %></td>
                                    <td class="text-center"><%= study_history.concept_count %></td>
                                    <td class="text-center"><%= study_history.last_study %></td>
                                    <td class="text-center"><%= study_history.last_sign_in_at.in_time_zone("Asia/Seoul").strftime('%Y-%m-%d %H:%M') %></td>
                                    <td><%= link_to 'Show', "/mypages/study_progress_detail?user_id=#{study_history.user_id}" %></td>
                                    </tr>
                                    <% end %>
                                    </tbody>
                                    </table>
                                    
                                </div>

                            </div>
                            
                        </div>    
                        
                        <hr class="devider devider-dotted" style="margin:10px">

                        <div class="profile-edit tab-pane fade in active">

                            <h3 class="heading-md"><i class="icon-custom icon-sm rounded-x icon-color-u icon-education-143"></i> 신청확인</h3>

                            <div class="table-search-v1 margin-bottom-20">

                                <div class="table-responsive">

                                    <table class="table table-hover tavle-bordered table-striped">
                                        <thead>
                                        <tr>
                                            <th class="text-center">이름</th>
                                            <th class="text-center">학년</th>
                                            <th class="text-center">회원등급</th>
                                            <th class="text-center">신청된 시간</th>
                                            <th class="text-center">승인 | 거절</th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                            <% unless @requests.blank? %>
                                                <% @requests.each do |request| %>
                                                    <td class="text-center"><%= request.user.user_name %></td>
                                                    <td class="text-center">
                                                        <%= UnitConcept::GRADES[request.user.grade.to_i] unless request.user.grade.nil? %>
                                                    </td>
                                                    <td class="text-center"><%= request.user.user_auth %></td>
                                                    <td class="text-center"><%= request.request_date.in_time_zone('Asia/Seoul').strftime('%Y-%m-%d %H:%M') %></td>
                                                    <td class="text-center">
                                                        <button class="btn btn-u btn-u-split-light-green btn-u-xs rounded" onclick="approval('<%= request.id %>')">수락</button> |
                                                        <button class="btn btn-u btn-u-red btn-u-xs rounded" onclick="rejection('<%= request.id %>')">거절</button>
                                                    </td>
                                                <% end %>
                                            <% else %>
                                                <td colspan="6" class="text-center">현재 들어온 신청이 없습니다.</td>
                                            <% end %>
                                        </tbody>
                                    </table>

                                </div>

                            </div>

                        </div>

                        <hr class="devider devider-dotted" style="margin:10px">

                    </div>
                    
                </div>
                
            </div>
            
        </div>
        
    </div>
    
</div>                

<script type="text/javascript">

    function approval(request_id) {
        var data = {
            "request_id": request_id
        };

        $.ajax({
            type: "POST",
            beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
            url: "/user_relations/approval",
            dataType:"JSON",
            data:data,
            success: function(data){
                location.reload();
            },
            error: function(xhr, ajaxOptions, thrownError){
                //alert(xhr.status);
                alert("try to again. please.");
            }
        });
    }

    function rejection(request_id) {
        var data = {
            "request_id": request_id
        };

        $.ajax({
            type: "POST",
            beforeSend: function (xhr) {
                xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
            },
            url: "/user_relations/rejection",
            dataType: "JSON",
            data: data,
            success: function (data) {
                location.reload();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                //alert(xhr.status);
                alert("try to again. please.");
            }
        });
    }
    
</script>