<div class="container profile">

    <div class="row">

        <%= render :partial=>"left_sidebar"%>

        <div class="col-md-9 margin-top-20">
        
            <div class="profile-body margin-bottom-20">
                
                <div class="tab-v1">
                    
                    <ul class="nav nav-justified nav-tabs">
                    <% current_user.user_types[0].user_type == 'parent' ? student_management_item_name = '자녀 관리' : student_management_item_name = '학생 관리' %>
                    <li class="active"><a data-toggle="tab"><%= student_management_item_name %></a></li>
                    </ul>
                    
                    <div class="tab-content">
                        
                        <hr class="devider devider-dotted" style="margin:10px">
                        
                        <div class="profile-edit tab-pane fade in active">
                            
                            <h3 class="heading-md"><i class="icon-custom icon-sm rounded-x icon-color-u icon-education-198"></i> 학습진도확인</h3>
                            
                            <div class="table-search-v1 margin-bottom-20">

                                <div class="table-responsive">
                                    
                                    <table class="table table-hover tavle-bordered table-striped">
                                    <thead>
                                    <tr>
                                    <th class="text-center">이름</th>
                                    <th class="text-center">학년</th>
                                    <th class="text-center">학습개념</th>
                                    <th class="text-center">최근학습</th>
                                    <th class="text-center">최근학습시간</th>
                                    <th><i class="fa fa-cog"></i></th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <% if @study_histories.count == 0 %>
                                    <tr>
                                    <td colspan="6" class="text-center">학습한 학생이 없습니다.</td>
                                    </tr>
                                    <% end %>
                                    
                                    <% @study_histories.each do | study_history | %>
                                    <tr>
                                    <td class="text-center"><%= study_history.user_name %></td>
                                    <td class="text-center"><%= UnitConcept::GRADES[study_history.grade.to_i] %></td>
                                    <td class="text-center"><%= study_history.concept_count %></td>
                                    <td class="text-center"><%= study_history.last_study %></td>
                                    <td class="text-center"><%= study_history.last_sign_in_at.in_time_zone("Asia/Seoul").strftime('%Y-%m-%d %H:%M') %></td>
                                    <td><%= link_to 'Show', "/mypages/study_progress_detail?user_id=#{study_history.user_id}" %></td>
                                    </tr>
                                    <% end %>
                                    </tbody>
                                    </table>
                                    
                                </div>

                            </div>
                            
                        </div>

                        <hr class="devider devider-dotted" style="margin:10px">

                        <!--group-->
                        <div class="profile-edit tab-pane fade in active">

                            <h3 class="heading-md"><i class="icon-custom icon-sm rounded-x icon-color-u icon-finance-005"></i> 그룹설정</h3>

                            <div class="table-search-v1 margin-bottom-50">

                                <div class="table-responsive">

                                    <table class="table table-hover tavle-bordered table-striped">
                                        <thead>
                                        <tr>
                                            <th>그룹이름</th>
                                            <th class="text-center">인원</th>
                                            <th class="text-center"><i class="fa fa-cog"></i></th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        <% unless @groups.blank? %>
                                            <% @groups.each do |group| %>
                                                <input hidden type="text" value="<%= group.name %>" id="preserved_<%= group.id %>">
                                                <tr>
                                                    <td id="group_name_<%= group.id %>"><strong onclick="updateGroupName( '<%= group.id %>', '<%= group.name %>')"><%= group.name %></strong></td>
                                                    <td class="text-center"><%= group.users.count() %></td>
                                                    <td class="text-center"><button class="btn btn-dribbble btn-xs rounded" onclick="destroyGroup('<%= group.id %>')">삭제</button>
                                                        | <button type="button" class="btn btn-podcast btn-xs rounded" onclick="moveToSetGroup('/groups/<%= group.id %>')">학생추가</button>
                                                    </td>
                                                </tr>
                                            <% end %>
                                        <% else %>
                                            <tr>
                                                <td colspan="6" class="text-center">현재 생성된 그룹이 없습니다.</td>
                                            </tr>
                                        <% end %>
                                        </tbody>
                                    </table>

                                </div>

                                <hr>
                                <button class="btn btn-xing btn-sm rounded col-md-12 col-sm-12 col-xs-12" onclick="showForm()">Group 추가</button>

                                <form hidden action="/groups" id="new_group" class="sky-form margin-bottom-50" method="post" enctype="multipart/form-data" novalidate="novalidate" charset="utf-8">
                                    <%= token_tag nil %>
                                    <!--<header>General Unify Forms</header>-->
                                    <input type="hidden" name="group[user_id]" value="<%= current_user.id %>">
                                    <fieldset>
                                        <section>
                                            <label class="label">그룹이름</label>
                                            <label class="input">
                                                <input type="text" id="group_name" name="group[name]">
                                            </label>
                                        </section>
                                    </fieldset>

                                    <footer class="text-right">
                                        <input type="button" class="btn btn-dribbble btn-sm rounded" value="Group 생성" onclick="formCheck()">
                                    </footer>
                                </form>
                            </div>

                        </div>
                        <!--group end-->

                    </div>
                    
                </div>
                
            </div>
            
        </div>
        
    </div>

</div>

<script type="text/javascript">

    function updateGroupName(group_id) {
        var root = $('#group_name_'+group_id);
        var input_name = $('<input>').addClass('form-class').attr('type', 'text').attr('value', $('#preserved_'+group_id).val()).attr('id', 'name_'+group_id);
        var submitButton = $('<button>').attr('type', 'button').addClass('btn btn-windows btn-xs rounded').text('저장').attr('id', 'submit_'+group_id).attr('onclick', "setSubmitButton("+group_id+")");
        var cancelButton = $('<button>').attr('type', 'button').addClass('btn btn-dribbble btn-xs rounded').text('취소').attr('id', 'cancel_'+group_id).attr('onclick', "setCancelButton("+group_id+")");

        root.empty();

        input_name.appendTo(root);
        submitButton.appendTo(root);
        cancelButton.appendTo(root);

    }

    function setSubmitButton(group_id) {

        if ($('#name_'+group_id).val() != ''){
            var value = $('#name_'+group_id).val();

            var url = "/groups/" + group_id;
            var data = new FormData();
            data.append('name', value);

            $.ajax({
                type: "POST",
                data: data,
                dataType: "json",
                url: url,
                cache: false,
                contentType: false,
                processData: false,
                beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
                success : function() {
                    alert('그룹명이 변경되었습니다.');
                    location.reload();
                },
                error : function(){
                    alert("try to again. please.");
                }
            });
        }
        else {
            alert('그룹이름을 입력해주세요');
        }
    }

    function setCancelButton(group_id) {
        var root = $('#group_name_'+group_id);
        var strong = $('<strong>').attr('onclick', "updateGroupName("+group_id+")").text($('#preserved_'+group_id).val());

        root.empty();
        strong.appendTo(root);
    }

    function moveToSetGroup(url) {
        location = url;
    }

    function showForm() {
        $('#new_group').toggle();
    }

    function formCheck() {
        if($('#group_name').val() == ''){
            alert('Group 이름을 입력해주세요.');
            return false;
        }
        else{
            $('#new_group').submit();
        }
    }

    function destroyGroup(id) {
        if (confirm('해당 토론방을 삭제하시겠습니까?')) {

            var url = "/groups/" + id;

            $.ajax({
                url: url,
                type: "DELETE",
                beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
                datatype: "json",
                success : function(data) {
                    alert('정상적으로 삭제하였습니다.');
                    location.reload();
                },
                error : function(){
                    alert("try to again. please.");
                }
            });
        }
    }
</script>