<div class="col-md-12 no-padding no-margin bg-color-white">

    <div class="parallax-counter parallaxBg" style="background-position: 50% -223px;">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-xs-6">
                    <div class="counters">
                        <span class="counter"><%= @unit_concept_count %></span>
                        <h4>개념설명</h4>
                    </div>
                </div>
                
                <div class="col-sm-3 col-xs-6">
                    <div class="counters">
                        <span class="counter"><%= @question_count %></span>
                        <h4>유형문제</h4>
                    </div>
                </div>
                
                <div class="col-sm-3 col-xs-6">
                    <div class="counters">
                        <span class="counter"><%= @summary_question_count %></span>
                        <h4>종합문제</h4>
                    </div>
                </div>
                
                <div class="col-sm-3 col-xs-6">
                    <div class="counters">
                        <span class="counter"><%= @video_count %></span>
                        <h4>강의 동영상</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>    
    
    
  <!--=== 아르키메데스===-->
  <div class="container-fluid bg-color-white" style="height: 630px;">
    <div class="container">
      <div class="row col-md-12 col-xs-12 col-lg-12 text-center margin-top-20">
        <div class="col-md-6 col-md-ms-6 col-lg-6 text-center margin-top-20">
          <img src="/assets/img/mathfundream.png" class="img-responsive center-block margin-top-20" alt="mathfundream">
        </div>
        <div class="col-md-6 col-ms-6 col-lg-6 text-center">
          <img src="/assets/img/archimedes.png" class="img-responsive center-block margin-top-20" alt="archimedes">
          <h5><a href="homes/history_of_eureka" type="button" class="btn-u btn-u-lg rounded-4x btn-u-yellow margin-top-20">Eureka 이야기 더보기</a></h5>
          <!--<a href="homes/history_of_eureka"> <img src="/assets/img/btn01.png" alt="view more"></a>-->
        </div>
      </div>
      <!--row End-->
    </div>
    <!--container End-->
  </div>
  <!--=== End 아르키메데스 ===-->

  <!-- MOTTO(모토) -->
  <div class="container-fluid margin-top-20" style="background-color: #f4f3ff">
    <div class="container no-padding margin-top-20">
      <div class="text-center margin-bottom-50 margin-top-20">
        <h1 style="color: #000;" class="title-center margin-bottom-10 margin-top-20">EUREKA의 MOTTO</h1></div>
      <div class="row margin-bottom-30">
        <div class="col-md-4 col-ms-4 col-xs-4 col-lg-4">
          <img src="/assets/img/motto-1.png" class="img-responsive center-block" alt="motto" >
        </div>
        <div class="col-md-4 col-ms-4 col-xs-4 col-lg-4">
          <img src="/assets/img/motto-2.png" class="img-responsive center-block" alt="motto" >
        </div>
        <div class="col-md-4 col-ms-4 col-xs-4 col-lg-4">
          <img src="/assets/img/motto-3.png" class="img-responsive center-block" alt="motto" >
        </div>
      </div>
      <div class="col-md-12 col-ms-12 col-xs-12 text-center margin-bottom-10">
        <h4 class="title-center margin-bottom-20">수학(<span style="color: darkblue">MATH</span>)을 통해 청소년들에게 재미(<span style="color: green">FUN</span>)를, 그들의 꿈(<span style="color: darkred">DREAM</span>)이 실현되기를!</h4>
        <h4 class="text-center">모든 학문의 기본이 되는 수학(Math)을 재미(Fun)있게 공부할 수 있는 기회를 아낌없이 제공하므로써, </h4>
        <h4 class="text-center">이를 통해 성공할 수 있는 삶의 밑거름이 되었으면 하는 소박한 기대를 <span style="color: blue">Eureka Math</span>를 통해 가져본다.</h4>
      </div>
      <div class="col-md-12 col-ms-12 col-lg-12 text-center margin-bottom-50">
        <h5><a href="homes/eureka_motto" type="button" class="btn-u btn-u-lg rounded-4x btn-u-dark-blue">VIEW MORE</a></h5>
      </div>
    </div><!--container End-->
  </div>
  <!-- End MOTTO -->

  <!--=== 자기주도학습===-->
  <div class="container-fluid margin-top-20">
    <div class="container bg-color-white margin-top-20">
      <div class="row">
        <div class="col-md-12 col-xs-12 text-center margin-bottom-50">
          <h1 style="color: #000;" class="title-center solTep">EUREKA MATH는 어떤 SOLUTION인가?</h1>
          <h4>진정한 자기주도학습이 이루어지게 하는 맞춤형 수학교육 솔루션</h4>
        </div>
        <div class="col-md-6 text-center">
          <h2>자기주도학습이란?</h2>
          <h5 class="margin-bottom-20">(Self Directed Learning)</h5>
          <h5>학습자 스스로가 교육의 전 과정을 자발적 의사에 따라 </h5>
          <h5>선택, 결정하고 조절과 통제를 행하게 되는 학습형태</h5>

          <div class="col-md-12 margin-top-20 margin-bottom-50">
            <img src="/assets/img/ssro.jpg" class="img-responsive center-block">
            <h5><a href="homes/self_directed_learning" type="button" class="btn-u btn-u-lg rounded-4x btn-u-brown margin-top-20">VIEW MORE</a></h5>
          </div>
        </div>
        <div class="col-md-6 text-center">
          <h2 class="margin-bottom-30">자기주도학습 5단계란?</h2>
          <img class="img-responsive wow animated fadeInUp" data-wow-duration="0.5s" src="/assets/img/step.jpg" alt="자기주도학습" style="margin:0 auto"/>
        </div>
      </div><!--End row -->
    </div>
  </div>
  <!--===End 자기주도학습 ===-->

  <hr>

  <!--===  5단계 (All)===-->
  <div class="container-fluid margin-top-20 bg-color-white">
    <div class="container">
      <div class="col-md-12 col-xs-12 text-center margin-top-20 margin-bottom-50">
        <h1 style="color: black;">EUREKA MATH가 자기주도학습을 어떻게 도와주는지?</h1>
      </div>

      <!--=== 1단계 ===-->
      <div class="row margin-bottom-50 margin-top-20">
        <div class="col-md-6 col-ms-6">
          <img class="wow shake img-responsive center-block animated" src="assets/img/step-1.jpg"  alt="학습참여 여부"  style="visibility: visible; animation-name: shake;"/>
        </div>
        <div class="col-md-6 col-ms-6 margin-top-20 text-center">
          <h2 class="margin-top-20">1단계: 학습참여 여부를 결정하는 단계</h2>
          <h4 class="margin-top-20">수포자라는 단어는 Eureka Math 사전에 없다.</h4>
          <h5 class="margin-bottom-10">수포자는 Eureka Math 솔루션에 참여하고자 하는 용기가 필요</h5>
          <div class="col-md-12 col-ms-12 text-center">
            <h5><a href="homes/math_renouncer" type="button" class="btn-u btn-u-lg rounded-4x btn-u-light-grey margin-top-20">VIEW MORE</a></h5>
          </div>
        </div>
      </div>
      <!--=== 1단계 end ===-->
      <hr>
      <!--=== 2단계 ===-->
      <div class="row margin-bottom-50 margin-top-20">
        <div class="col-md-6 col-ms-6 text-center margin-top-20">
          <h2 class="margin-top-20">2단계: 목표설정&amp;달성을 위한 학습계획 수립</h2>
          <h4 class="margin-top-20">학생·부모·선생님이 함께 참여 : 조언, 협력, 지도, 격려, 보조</h4>
          <h4>- Mentor-Mentee 시스템 -</h4>
          <h4>Mentor : 일반 Mentor, 학교 선생님, 학원 선생님</h4>
          <div class="col-md-12 col-ms-12 text-center">
            <h5><a href="homes/goal_setting" type="button" class="btn-u btn-u-lg rounded-4x btn-u-light-grey margin-top-20">VIEW MORE</a></h5>
          </div>
        </div>
        <div class="col-md-6 col-ms-6">
          <img class="wow bounce img-responsive animated center-block" src="/assets/img/step-2.jpg" alt style="visibility: visible; animation-name: bounce;" />
        </div>
      </div>
      <!--=== 2단계 end ===-->
      <hr>
      <!--=== 3단계 ===-->
      <div class="row margin-bottom-50 margin-top-20">
        <div class="col-md-6 col-ms-6">
          <img  class="wow shake img-responsive animated center-block" src="/assets/img/step-3.jpg"  alt style="visibility: visible; animation-name: bounce;" alt="프로그램 선정" />
        </div>
        <div class="col-md-6 col-ms-6 text-center margin-top-20">
          <h2 class="margin-top-20">3단계: 프로그램 선정</h2>
          <h4 class="margin-top-20">3단계 수준(초급, 중급, 상급)별 학습</h4>
          <h5>- 학생의 학습능력에 맞게 선택, 상위 수준으로 Up-Grade</h5>
          <h4>2가지 학습 course(단원별, 학년별)를 선택</h4>
          <h5>- 학습 능력에 맞게 속도 조절(상위권 학생)</h5>
          <div class="col-md-12 col-ms-12 text-center">
            <h5><a href="homes/program_selection" type="button" class="btn-u btn-u-lg rounded-4x btn-u-light-grey margin-top-20">VIEW MORE</a></h5>
          </div>
        </div>
      </div>
      <!--=== 3단계 end===-->
      <hr>
      <!--=== 4단계 ===-->
      <div class="row margin-bottom-50 margin-top-20">
        <div class="col-md-6 col-ms-6 text-center">
          <h2 class="margin-top-20">4단계: 학습실행</h2>
          <h4 class="margin-top-20">612개의 Unit-Concept : 연관된 하위개념 학습</h4>
          <h4>다양한 학습도구 : 웹강의, 동영상강의, 화상강의, 교재프린트출력</h4>
          <h4>anytime, anywhere, anydevice</h4>
          <h4>반복학습</h4>
          <h4>효과적인 학생상 : 정직, 열정, IT 친화적</h4>
          <div class="col-md-12 col-ms-12 text-center">
            <h5><a href="homes/do_study" type="button" class="btn-u btn-u-lg rounded-4x btn-u-light-grey margin-top-20">VIEW MORE</a></h5>
          </div>
        </div>
        <div class="col-md-6 col-ms-6">
          <img class="wow pulse img-responsive animated margin-bottom-10 center-block"  src="/assets/img/step-4.jpg"  style="visibility: visible;" alt="">
        </div>
      </div>
      <!--=== 4단계 end===-->
      <hr>
      <!--=== 5단계 ===-->
      <div class="row margin-bottom-50 margin-top-20">
        <div class="col-md-6 col-ms-6 margin-top-20">
          <img class="wow bounce img-responsive animated img-responsive center-block" src="/assets/img/step-5.jpg"  style="visibility: visible;"  alt="" />
        </div>
        <div class="col-md-6 col-ms-6 text-center margin-top-20">
          <h2 class="margin-top-20">5단계: 교육평가</h2>
          <h4 class="margin-top-20">자기평가의 중요성(기본 전제조건)</h4>
          <h5>- 학생 스스로 주관적 평가가 먼저 이루어져야 한다.</h5>
          <h5>- 외부의 객관적 평가 : 교사, 전문가</h5>
          <h4>Eureka Math 평가·분석·진단 시스템 : 학생, 부모, 선생님 공유</h4>
          <h4>평가 결과에 따라 2단계로 Feed-back</h4>
          <div class="col-md-12 col-ms-12 text-center">
            <h5><a href="homes/educational_evaluation" type="button" class="btn-u btn-u-lg rounded-4x btn-u-light-grey margin-top-20">VIEW MORE</a></h5>
          </div>
        </div>
      </div>
      <!--=== 5단계 end===-->
    </div><!--/end row-->
  </div><!--/end container-->

  <!--===End 5단계(all) ===-->


  <!--=== Who What How ===-->
  <div class="container-fluid margin-top-20" style="background-color: #f8f8f8;">
    <div class="container margin-top-20 margin-bottom-50">
      <div class="col-md-12 col-sm-12 margin-top-20 margin-bottom-30 text-center">
        <h1 class="margin-top-20" style="color: black;">누구를 위한, 무엇을 공부하고, 어떻게 이용하는지?</h1>
        <h3>유레카메스만의 맞춤형 솔루션입니다.</h3>
      </div>


      <!-- Who -->
      <div class="row margin-top-20">
        <div class="col-md-6">
          <img src="/assets/img/who.jpg"  class="img-responsive center-block" alt="who">
        </div>
        <div class="col-md-6 text-center">
          <h4 class="margin-top-20">학생·부모·선생님이 함께 참여 : 조언, 협력, 지도, 격려, 보조</h4>
          <h4>Mentor-Mentee 시스템</h4>
          <h4>Mentor : 일반 Mentor, 학교 선생님, 학원 선생님</h4>
          <div class="col-md-12 col-ms-12 text-center">
            <h5><a href="homes/goal_setting" type="button" class="btn-u btn-brd btn-brd-hover rounded-3x btn-u-red btn-u-lg btn-u-xs">VIEW MORE</a></h5>
          </div>
        </div>
      </div><!-- Who end -->

      <hr>

      <!-- What -->
      <div class="row margin-top-20">
        <div class="col-md-6 margin-top-20">
          <img src="/assets/img/what.jpg"  class="img-responsive center-block" alt="what">
        </div>
        <div class="col-md-6 text-center">
          <h4 class="margin-top-20">612개의 Unit-Concept - 연관된 하위개념 학습</h4>
          <h4>다양한 학습도구 - 웹·동영상·화상강의, 교재프린트출력</h4>
          <h4>anytime, anywhere, anydevice - 반복학습</h4>
          <h3>효과적인 학생상 : 정직, 열정, IT친화적</h3>
          <div class="col-md-12 col-ms-12 text-center">
            <h5><a href="homes/do_study" type="button" class="btn-u btn-brd btn-brd-hover rounded-3x btn-u-green btn-u-lg btn-u-xs">VIEW MORE</a></h5>
          </div>
        </div>
      </div><!-- What end -->

      <hr>

      <!-- How -->
      <div class="row margin-top-20">
        <div class="col-md-6">
          <img src="/assets/img/how.jpg"  class="img-responsive center-block" alt="how">
        </div>
        <div class="col-md-6 text-center">
          <h3>누구에게나 Open된 서비스</h3>
          <h3>유료서비스 종류, 무료서비스 이용</h3>
          <div class="col-md-12 col-ms-12 text-center">
            <h5><a href="homes/how" type="button" class="btn-u btn-brd btn-brd-hover rounded-3x btn-u-yellow btn-u-lg btn-u-xs">VIEW MORE</a></h5>
          </div>
        </div>
      </div><!-- How end -->
    </div>
  </div><!--=== Who What How end ===-->


  <!--=== OUR CLIENT ===-->

  <div class="container job-partners">
    <div class="title-box-v2 margin-top-20">
      <h1 style="color: black;">OUR CLIENTS</h1>
    </div>
    <ul class="list-inline our-clients" id="effect-2">
      <li>
        <figure>
          <img src="assets/img/schoolicons/mokpo_high.jpg" alt="">
          <div class="img-hover">
            <h4>목포고등학교</h4>
          </div>
        </figure>
      </li>
    </ul>
  </div>
  <!--=== End OUR CLIENT ===-->

  <%= render 'homes/footer' %>

</div>

<% unless current_user.nil? %>
    <% if current_user.confirmed_at.nil? %>
        <%= render partial: 'modals/notice_email_confirm' %>
    <% end %>
<% end %>

<script type="text/javascript" src="/assets/plugins/counter/waypoints.min.js"></script>    
<script type="text/javascript" src="/assets/plugins/counter/jquery.counterup.min.js"></script>
<script type="text/javascript">
    
    $(document).ready(function() {
        App.initCounter();
    });
    
</script>
    