    <div class="container-fluid" style="margin-top: 50px">
        
        <div class="row">
            
            <div class="col-sm-12 col-md-12 main">
                
                <h2 class="sub-header"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> 교사 목록 </h2>
                    
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>User</th>
                                <th>School</th>
                                <th>Confirm yn</th>
                                <th>Confirmed at</th>
                                <th>Comfirmed</th>
                                <th colspan="2"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></th>
                            </tr>
                        </thead>
                        <tbody>
                        <% @teachers.each do |teacher| %>
                          <tr>
                            <td><%= teacher.user.user_name %></td>
                            <td><%= teacher.school.name %></td>
                            <td><%= teacher.confirm_yn %></td>
                            <td><%= teacher.confirmed_at.strftime("%Y/%m/%d") unless teacher.confirmed_at.nil? %></td>
                            <td><%= teacher.confirmed_id %></td>
                            <td><%= link_to 'Confirm', "/teachers/#{teacher.id}?confirm=Y" %> &nbsp;&nbsp;<%= link_to 'Reject',"/teachers/#{teacher.id}?confirm=N" %></td>
                          </tr>
                        <% end %>
                        </tbody>
                    </table>
                </div>
            
            </div>
            
        </div>
    </div>


