<div class="container-fluid">

    <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12">

            <h2 class="sub-header"><span class="glyphicon glyphicon-credit-card" aria-hidden="true" style="top: 5px"></span> Listing Payments</h2>

            <!-- Payments Search -->
            <div class="row margin-top-20">
                <div class="col-md-2 col-sm-2 col-xs-3">
                    <select id="service" class="select form-control">
                        <option value="">전체 결제</option>
                        <% Payment::SERVICE_NAME.each do |key, value| %>
                            <option value="<%= key %>" <%= 'selected' if params[:service] == key %>><%= value %></option>
                        <% end %>
                    </select>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-3">
                    <select id="status" class="select form-control">
                        <option value="">전체 상태</option>
                        <option value="paid" <%= 'selected' if params[:status] == 'paid' %>>Paid</option>
                        <option value="processing" <%= 'selected' if params[:status] == 'processing' %>>Processing</option>
                    </select>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-3">
                    <input type="text" id="buyer_name" class="form-control rounded" placeholder="이름 검색" value="<%= params[:buyer_name] unless params[:buyer_name].blank? %>">
                </div>
                <div class="col-md-6 col-sm-6 col-xs-3">
                    <a href="javascript:paymentSearch()" class="btn btn-u btn-u-dark-blue rounded">Search</a>
                </div>
            </div><!-- End Payments Search -->

            <hr>

            <div class="table-responsive">
            
                <table class="table table-striped">
                <thead>
                <tr>
                <th>Order Number</th>    
                <th>User</th>
                <th>Service</th>
                <th>Pay Method</th>
                <th>Pay Gateway</th>
                <th>Currency</th>
                <th>Amount</th>
                <th>Pay Day</th>
                <th>Pay Status</th>
                <th colspan="3"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></th>
                </tr>
                </thead>
            
                <tbody>
                <% @payments.each do |payment| %>
                <tr>
                <td><%= payment.oid %></td>
                <td><%= payment.user.user_name %></td>
                <td><%= payment.service_name %></td>
                <td><%= InicisPayment::GO_PAY_METHOD[payment.pay_method] %></td>
                <td><%= payment.pay_gateway %></td>
                <td><%= raw Payment::CURRENCY_SYMBOLS[payment.currency] %></td>
                <td class="text-right"><%= number_with_delimiter(payment.amount, delimiter: ",") %></td>
                <td><%= payment.created_at.in_time_zone("Asia/Seoul").strftime('%Y/%m/%d %H:%M') %></td>
                <td>
                    <% if payment.payment_status == 'processing' %>
                    <span class="label rounded-2x label-yellow">Processing</span>
                    <% elsif payment.payment_status == 'paid'  %>
                    <span class="label rounded-2x label-green">Paid</span>
                    <% end %>
                </td>
                <td>
                    <%= link_to 'Show', payment %>
                </td>
                <% end %>
                </tbody>
                </table>
            
                <%= will_paginate @payments, renderer: BootstrapPagination::Rails %>

            </div>
        </div>
    </div>                    
</div>

<script type="text/javascript">
    function paymentSearch() {
        location = '/payments?service='+$('#service').val()+'&status='+$('#status').val()+'&buyer_name='+$('#buyer_name').val()
    }
</script>