<div class="row">

    <div class="col-md-12 ">

        <div class="well">

            <%= form_for(@concept, :html => {:role=>'form', :class => 'form-horizontal' } ) do |f| %>

                <div class="row">

                    <div class="col-md-12 ">

                        <% if @concept.errors.any? %>
                        <div id="error_explanation">
                            <h2><%= pluralize(@concept.errors.count, "error") %> prohibited this concept from being saved:</h2>

                            <ul>
                                <% @concept.errors.full_messages.each do |msg| %>
                                    <li><%= msg %></li>
                                <% end %>
                            </ul>
                        </div>
                        <% end %>
                        
                        <div class="form-group">
                            <%= f.label :category, :class => 'col-sm-2 col-md-2 control-label' %>
                            <div class="input-group col-sm-4">
                                <select name="concept[category]" id="category" class="form-control" onchange="changedCategory()">
                                    <option value="">--- Category ---</option>
                                    <% Concept::CATEGORIES.each_pair do |key, value| %>
                                    <option value="<%= key %>" ><%= value %></option>
                                    <% end %>
                                </select> 
                            </div>
                        </div>

                        <div class="form-group">
                            <%= f.label :sub_category, :class => 'col-sm-2 col-md-2 control-label' %>
                            <div class="input-group col-sm-4">
                                <select name="concept[sub_category]" id="sub_category" class="form-control">
                                    <option value="">--- Sub Category ---</option>
                                </select> 
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <%= f.label :concept_code, :class => 'col-sm-2 col-md-2 control-label' %>
                            <div class="input-group col-sm-4">
                                <%= f.text_field :concept_code, :class => 'form-control' %>
                            </div>
                        </div>                        
                        
                        <div class="form-group">
                            <%= f.label :concept_name, :class => 'col-sm-2 col-md-2 control-label' %>
                            <div class="input-group col-sm-4">
                                <%= f.text_field :concept_name, :class => 'form-control' %>
                            </div>
                        </div>   

                    </div>

                </div>

                <footer>
                    <%= f.submit '저장', :class => 'btn btn-success' %>
                    <%= link_to '뒤로', @concept, :class => 'btn btn-info' %>
                </footer>

            <% end %>

        </div>

    </div>

</div>

<script type="text/javascript">

    <% index = 0 %>

    var options = [
    <% Concept::SUB_CATEGORIES.each_pair do |key, value| %>
    <%      index = index + 1  %>    
        {
            values: '<%= key %>', text: '<%= value %>'
        }
        <%= ',' unless index == Concept::SUB_CATEGORIES.count  %>
    <% end %>
    ]    

    function changedCategory(t) {
        
        $('#sub_category').empty();
        
        var cetegory_val = $('#category').val();
        var divChar = '';
        
        if (cetegory_val != '') {
            divChar = cetegory_val.substring(0,1);
        }
        
        $.each(options, function(i) {
            if (options[i].values.substring(0,1) == divChar) {
                $('#sub_category').append( $('<option>').text(options[i].text).attr('value',options[i].values) );                
            }
        });
    
    }

</script>







