<div class="row">

    <div class="col-md-12 ">
        
        <%= form_for(@concept, :html => {:role=>'form', :class => 'form-horizontal' } ) do |f| %>
        
        <input type="hidden" name="page" value="<%= params[:page] %>" />
        <input type="hidden" name="category" value="<%= params[:category] %>" />
        <input type="hidden" name="sub_category" value="<%= params[:sub_category] %>" />
        <input type="hidden" name="exercise_yn" value="<%= params[:exercise_yn] %>" />
        
        <h4>개념 정보</h4>
            
        <div class="well">

            <div class="row">

                    <div class="col-md-6">

                        <% if @concept.errors.any? %>
                        <div id="error_explanation">
                            <h2><%= pluralize(@concept.errors.count, "error") %> prohibited this concept from being saved:</h2>

                            <ul>
                                <% @concept.errors.full_messages.each do |msg| %>
                                    <li><%= msg %></li>
                                <% end %>
                            </ul>
                        </div>
                        <% end %>
                        
                        <div class="form-group">
                            <%= f.label :category, :class => 'col-sm-2 col-md-3 control-label' %>
                            <div class="input-group col-sm-4 col-md-8">
                                <select name="concept[category]" id="category" class="form-control" onchange="changedCategory()">
                                    <option value="">--- Category ---</option>
                                    <% Concept::CATEGORIES.each_pair do |key, value| %>
                                    <option value="<%= key %>" <%= "selected" if @concept.category == key %> <%= "selected" if params[:category] == key %> ><%= value %></option>
                                    <% end %>
                                </select> 
                            </div>
                        </div>
                        
                    </div>
                    
                    <div class="col-md-6">    
                        <div class="form-group">
                            <%= f.label :sub_category, :class => 'col-sm-2 col-md-3 control-label' %>
                            <div class="input-group col-sm-4 col-md-8">
                                <select name="concept[sub_category]" id="sub_category" class="form-control">
                                    <option value="">--- Sub Category ---</option>
                                    <% unless params[:sub_category] == "" %>
                                        <option value="<%= params[:sub_category] %>" selected ><%= Concept::SUB_CATEGORIES[params[:sub_category]] %></option>
                                    <% end %>
                                </select> 
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-8">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="concept[exercise_yn]" value="concept" <%= @concept.exercise_yn == "concept" ? "checked" : "" %> <%= 'checked' if params[:exercise_yn] == 'concept' %> > Concept
                                    </label>
                                    &nbsp;&nbsp;
                                    <label>     
                                        <input type="radio" name="concept[exercise_yn]" value="exercise" <%= @concept.exercise_yn == "exercise" ? "checked" : "" %> <%= 'checked' if params[:exercise_yn] == 'exercise' %> > Exercise
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                        
                    <div class="col-md-6">    
                        <div class="form-group">
                            <%= f.label :concept_code, :class => 'col-sm-2 col-md-3 control-label' %>
                            <div class="input-group col-sm-4 col-md-8">
                                <%= f.text_field :concept_code, :class => 'form-control' %>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-6">
                        <div class="form-group">
                            <%= f.label :concept_name, :class => 'col-sm-2 col-md-3 control-label' %>
                            <div class="input-group col-sm-4 col-md-8">
                                <%= f.text_field :concept_name, :class => 'form-control' %>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-6">
                        <div class="form-group">
                            <%= f.label :grade, :class => 'col-sm-2 col-md-3 control-label' %>
                            <div class="input-group col-sm-4 col-md-8">
                                <select name="concept[grade]" class="form-control">
                                    <option value="">--- Grade ---</option>
                                    <% UnitConcept::GRADES.each_pair do |key, value| %>
                                    <option value="<%= key %>" <%= "selected" if @concept.grade == key %> ><%= value %></option>
                                    <% end %>
                                </select>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-6">    
                        <div class="form-group">
                            <%= f.label :level, :class => 'col-sm-2 col-md-3 control-label' %>
                            <div class="input-group col-sm-4 col-md-8">
                                <select name="concept[level]" class="form-control">
                                    <option value="">--- Level ---</option>
                                    <% (1..5).each do |idx| %>
                                    <option value="<%= idx %>" <%= "selected" if @concept.level == idx %> ><%= idx %></option>
                                    <% end %>
                                </select>
                            </div>    
                        </div>
                    </div>
                    
                </div>    
                    
        </div>
        
        <h4>기출문제 정보</h4>
        <div class="well">
            
            <div class="row">
                        
                <div class="col-md-6">    
                    <div class="form-group">
                        <%= f.label :past_test_year, '출제연도', :class => 'col-sm-2 col-md-3 control-label' %>
                        <div class="input-group col-sm-4 col-md-8">
                            <select name="concept[past_test_year]" class="form-control">
                            <option value="">--- Year ---</option>
                            <% (2005..2016).each do |idx| %>
                            <option value="<%= idx %>" <%= "selected" if @concept.past_test_year.to_i == idx %> ><%= idx %></option>
                            <% end %>
                            </select>
                        </div>
                    </div>
                </div>
                    
                <div class="col-md-6">    
                    <div class="form-group">
                        <%= f.label :past_test_month, '출제월', :class => 'col-sm-2 col-md-3 control-label' %>
                        <div class="input-group col-sm-4 col-md-8">
                            <select name="concept[past_test_month]" class="form-control">
                            <option value="">--- Month ---</option>
                            <% (1..12).each do |idx| %>
                            <option value="<%= idx %>" <%= "selected" if @concept.past_test_month.to_i == idx %> ><%= idx %>월</option>
                            <% end %>
                            </select>
                        </div>    
                    </div>
                </div>
                    
                <div class="col-md-6">
                    <div class="form-group">
                        <%= f.label :past_test_type, '유형', :class => 'col-sm-2 col-md-3 control-label' %>
                        <div class="input-group col-sm-4 col-md-8">
                            <select name="concept[past_test_type]" class="form-control">
                            <option value="">--- Type ---</option>
                            <option value="가형" <%= "selected" if @concept.past_test_type == '가형' %> >가형</option>
                            <option value="나형" <%= "selected" if @concept.past_test_type == '나형' %> >나형</option>
                            </select>
                        </div>    
                    </div>
                </div>
                    
                <div class="col-md-6">    
                    <div class="form-group">
                        <%= f.label :past_test_org, '출제기관', :class => 'col-sm-2 col-md-3 control-label' %>
                        <div class="input-group col-sm-4 col-md-8">
                            <select name="concept[past_test_org]" class="form-control">
                            <option value="">--- Org ---</option>
                            <% Concept::PAST_TEST_ORGS.each_pair do |key, value| %>
                            <option value="<%= key %>" <%= "selected" if @concept.past_test_org == key %> ><%= value %></option>
                            <% end %>
                            </select>
                        </div>    
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <%= f.label :past_test_score, '점수', :class => 'col-sm-2 col-md-3 control-label' %>
                        <div class="input-group col-sm-4 col-md-8">
                            <select name="concept[past_test_score]" class="form-control">
                                <option value="">--- Score ---</option>
                                <option value="2" <%= 'selected' if @concept.past_test_score == '2' %>>2</option>
                                <option value="3" <%= 'selected' if @concept.past_test_score == '3' %>>3</option>
                                <option value="4" <%= 'selected' if @concept.past_test_score == '4' %>>4</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <%= f.label :past_test_number, '문제번호', :class => 'col-sm-2 col-md-3 control-label' %>
                        <div class="input-group col-sm-4 col-md-8">
                            <%= f.text_field :past_test_number, :class => 'form-control' %>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <%= f.label :past_test_examiner, '출제자', :class => 'col-sm-2 col-md-3 control-label' %>
                        <div class="input-group col-sm-4 col-md-8">
                            <%= f.text_field :past_test_examiner, :class => 'form-control' %>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <footer style="float:right">
            <%= f.submit '저장', :class => 'btn btn-success' %>
            <%= link_to '뒤로', "/concepts?page=#{params[:concept_page_num]}&#{params.to_query}", :class => 'btn btn-info' %>
        </footer>

        <% end %>

    </div>

</div>


<script type="text/javascript">

    <% index = 0 %>

    var options = [
    <% Concept::SUB_CATEGORIES.each_pair do |key, value| %>
    <%      index = index + 1  %>    
        {
            values: '<%= key %>', text: '<%= value %>'
        }
        <%= ',' unless index == Concept::SUB_CATEGORIES.count  %>
    <% end %>
    ]
    
    function changedCategory() {
        
        $('#sub_category').empty();
        
        var cetegory_val = $('#category').val();
        var divChar = '';
        
        if (cetegory_val != '') {
            divChar = cetegory_val.substring(0,2);
        }
        
        $.each(options, function(i) {
            if (options[i].values.substring(0,2) == divChar) {
                $('#sub_category').append( $('<option>').text(options[i].text).attr('value',options[i].values) );                
            }
        });
        
        <% unless @concept.category.nil? %>
        $("#sub_category").val("<%= @concept.sub_category %>");
        <% end %>
    
    }
    
    <% unless @concept.category.nil? %>
    changedCategory();
    <% end %>
    

</script>







