<% return_param = "&page=#{params[:page]}&category=#{params[:category]}&sub_category=#{params[:sub_category]}&exercise_yn=#{params[:exercise_yn]}" %>

<div class="container-fluid" style="margin-top: 50px">

    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-12">
            <h2 class="sub-header"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Concept - <%= @concept.concept_name %></h2>
        </div>
    </div>

  <div class="row">

    <div class="col-md-12 margin-bottom-20">

      <form action="/concept_exercises" method="post" enctype="multipart/form-data" class="sky-form" novalidate="novalidate" charset="utf-8">

        <%= token_tag nil %>

        <input type="hidden" name="concept_exercise[concept_id]" value="<%= @concept.id %>" />
        
        <!-- index page params info -->
        <input type="hidden" name="page" value="<%= params[:page] %>" />
        <input type="hidden" name="category" value="<%= params[:category] %>" />
        <input type="hidden" name="sub_category" value="<%= params[:sub_category] %>" />
        <input type="hidden" name="exercise_yn" value="<%= params[:exercise_yn] %>" />
        <!-- index page params info End -->

        <fieldset>
          <div class="row">

            <section class="col col-2">

              <label class="select">
                <select id="unit_concept_desc_select" name="concept_exercise[desc_type]" onchange="changedUnitCocenpt()">
                  <option value="">항목선택</option>
                  <% Concept::DESC_TYPES.each_pair do |key, value| %>
                      <option value="<%= key %>" <% if key.to_s == @desc_type %>selected<% end %> ><%= value %></option>
                  <% end %>

                </select>
                <i></i>
              </label>
            </section>

            <section class="col col-6">
              <label id="file_label" for="file" class="input input-file" <% if params[:desc_type] == '5' || params[:desc_type] == '4' || params[:desc_type] == '6' %>style="display:none"<% end %> >
                <div class="button state-success"><input type="file" name="concept_exercise[file_name]" multiple="" onchange="this.parentNode.nextSibling.value = this.value" class="valid">Browse</div><input type="text" placeholder="Include some file" readonly="" class="valid">
              </label>
              <label id="video_label" class="input" <% unless params[:desc_type] == '4' %>style="display:none"<% end %>>
                <input type="text" name="concept_exercise[video]" class="form-control" placeholder="video url" />
              </label>
              <label id="link_label" class="input" <% unless params[:desc_type] == '5' %>style="display:none"<% end %>>
                <i class="icon-append fa fa-search" onclick="conceptSearch('link')" style="cursor: pointer; background: #72c02c !important; color:white !important;"></i>
                <input type="text" id="unit_concept_desc" disabled class="form-control" placeholder="related concept" />
                <input type="hidden" id="unit_concept_id" name="concept_exercise[link]">
              </label>
              <label id="solution_label" for="file" class="input input-file" <% unless params[:desc_type] == '6' %>style="display:none"<% end %>>
                <div class="button state-success"><input type="file" name="concept_exercise[file_name]" onchange="this.parentNode.nextSibling.value = this.value" class="valid">Browse</div><input type="text" placeholder="Include solution file" readonly="" class="valid">
              </label>
            </section>

            <section class="col col-2">
              <label id="memo_label" class="input">
                <input type="text" id="memo" name="concept_exercise[memo]" placeholder="code">
              </label>
              <label id="exercise_choice_label" class="select" style="display:none" >
                <select id="exercise_choice" onchange="exerciseChanged()">
                  <option value="">=== 유형문제 선택 ===</option>
                  <% @concept_exercises.each do |unit_concept_desc| %>
                      <% if unit_concept_desc.desc_type == '3' %>
                          <option value="<%= unit_concept_desc.id %>"><%= unit_concept_desc.memo %></option>
                      <% end %>
                  <% end %>
                </select>
                <i></i>
              </label>
            </section>
            <section class="col col-2">
              <button type="submit" class="btn-u" onclick="$('#loading').show();">저장</button>
              <%= link_to 'Back', "/concepts?#{return_param}", :class => 'btn-u btn-primary align-right' %>
            </section>
          </div>
        </fieldset>

      </form>

    </div>

  </div>

	<div class="row" style="margin-bottom: 20px;">
		<div class="col-md-2">	
	        <select id="desc_type_condition" class='form-control' onchange="search()">
	        <option value="">ALL</option>
	        <% Concept::DESC_TYPES.each_pair do |key, value| %>
            <option value="<%= key %>" <% if key.to_s == @desc_type %>selected<% end %> ><%= value %></option>
	        <% end %>
	        </select>
		</div>	
	</div>	
	
    <div class="row">
        
        <div class="col-sm-12 col-md-12">
        
            <div class="table-responsive">
        
                <table class="table table-hover table-bordered" >
                    <thead>
                        <tr>
                            <th>Type</th>
                            <th>Code</th>
                            <th>Images</th>
							<th>Solutions</th>
                            <th class="col-md-2"><i class="fa fa-cog"></i></th>
                        </tr>    
                    </thead>
                    <tbody>
						<% @concept_exercises.each do |unit_concept_desc| %>
						<tr>
							<td>
                                <% if unit_concept_desc.desc_type == '1' %>
                                <span class="badge rounded-2x badge-u">Unit Concept</span>
                                <% elsif unit_concept_desc.desc_type == '2'  %>
                                <span class="badge rounded-2x badge-blue">Explanation</span>
								<% elsif unit_concept_desc.desc_type == '3'  %>
								<span class="badge rounded-2x badge-red">Solution</span>
								<% elsif unit_concept_desc.desc_type == '4'  %>
								<span class="badge rounded-2x badge-green">Video</span>
								<% elsif unit_concept_desc.desc_type == '5'  %>
								<span class="badge rounded-2x badge-sea">Link</span>
								<% elsif unit_concept_desc.desc_type == '6'  %>
								<span class="badge rounded-2x badge-orange">Solution</span>	
                                <% elsif unit_concept_desc.desc_type == '7' %>
                                <span class="badge rounded-2x badge-yellow">Answer</span>								
                                <% end  %>                                
							</td>
							<td>
								<% if unit_concept_desc.desc_type == '4' %>
								
								<% elsif unit_concept_desc.desc_type == '5' %>
									<% unit_concept = UnitConcept.where('id = ?',unit_concept_desc.link) %>
                                    <% unless unit_concept.blank? %>
									    <%= unit_concept[0].name %> ( <%= unit_concept[0].code %> )
                                    <% else %>
                                        link unit concept id is not exist : <%= unit_concept_desc.link %>
                                    <% end %>
								<% elsif unit_concept_desc.desc_type == '6' %>
									<%= unit_concept_desc.memo %>
								<% else %>
									<%= unit_concept_desc.memo %>
								<% end %>                                
							</td>
							<td>
                        		<% if unit_concept_desc.desc_type == '4' %>
                        		<iframe src="https://player.vimeo.com/video/<%= unit_concept_desc.video %>" width="500" height="283" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        		<% elsif unit_concept_desc.desc_type == '5' %>
                                
                                    <% unit_concept = UnitConcept.where('id = ?', unit_concept_desc.link) %>
                                    <% unless unit_concept.blank? %>
                        		        <a href="/unit_concepts/<%= unit_concept_desc.link %>"><%= unit_concept[0].name %></a>
                                    <% else %>
                                        link unit concept id is not exist : <%= unit_concept_desc.link %>
                                    <% end %>    
                                        
                        		<% else %>
                        		<a href="<%= unit_concept_desc.file_name %>"><img src="<%= unit_concept_desc.file_name.thumb %>" alt=""></a>
                        		<% end %>
							</td>
                            <td>
                                <% if unit_concept_desc.desc_type == '3' %>
                                    <% unless unit_concept_desc.link.blank? %>
                                        <% @link_exercise = UnitConcept.where('id = ?',unit_concept_desc.link).first %>
                                        <% unless @link_exercise.nil? %>
                                        <a href="/contents/<%= @link_exercise.id %>"><%= @link_exercise.code %> : <%= @link_exercise.name %></a> <a href="javascript:setLink(null, <%= unit_concept_desc.id %>)">[x]</a></p>
                                        <% else %>
                                        exercise is not exist : <%= unit_concept_desc.link %> <a href="javascript:setLink(null, <%= unit_concept_desc.id %>)">[x]</a>
                                        <% end %>
                                    <% else %>    
                                        <a href="javascript:conceptSearch('<%= unit_concept_desc.id %>')">Add Link</a>
                                    <% end %>
                                <% end %>                                
                            </td>    
							<td>
								<%= link_to 'Delete'.html_safe, "/concept_exercises/#{unit_concept_desc.id}?#{return_param}", method: :delete, data: { confirm: 'Are you sure?' } %>
							</td>	
						</tr>
						<% end %>
					</tbody>
				</table>	
			</div>	
		</div>
	</div>

</div>

<%= render partial: 'modals/concept_search_modal' %>

<script type="text/javascript">

    function changedUnitCocenpt() {
        if ( $('#unit_concept_desc_select').val() == '4') {
            $('#file_label').hide();
            $('#video_label').show();
            $('#link_label').hide();
			$('#solution_label').hide();
			$('#exercise_choice_label').hide();
			$('#memo_label').show();
        } else if ($('#unit_concept_desc_select').val() == '5') {    
            $('#file_label').hide();
            $('#video_label').hide();            
            $('#link_label').show();
			$('#solution_label').hide();
			$('#exercise_choice_label').hide();
			$('#memo_label').show();			
		} else if ($('#unit_concept_desc_select').val() == '6') {
            $('#file_label').hide();
            $('#video_label').hide();            
            $('#link_label').hide();
			$('#solution_label').show();	
			$('#exercise_choice_label').show();						
			$('#memo_label').hide();			
        } else {
            $('#video_label').hide();
            $('#file_label').show();
            $('#link_label').hide();
			$('#solution_label').hide();
			$('#exercise_choice_label').hide();			
			$('#memo_label').show();			
        }
    }
	
	function exerciseChanged() {
		$('#memo').val($('#exercise_choice').val());
	}
    
    function conceptSearch(target) {
        $('#whereareyoufrom').val(target);
        $('#conceptSearchModal').modal();
    }
    
    function search() {
        location = "/concepts/<%= params[:id] %>/exercise?desc_type=" + $('#desc_type_condition').val() + "<%= raw return_param %>";
    }

</script>