    <div class="container-fluid" style="margin-top: 50px">
        
        <div class="row">
            
            <div class="col-sm-12 col-md-12 main">
                
                <h2 class="sub-header"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span> Listing Concepts</h2>
                    
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Category</th>
                                <th>Sub category</th>
                                <th>Concept code</th>
                                <th>Concept name</th>
                                <th colspan="3"><span class="glyphicon glyphicon-cog" aria-hidden="true"></th>
                            </tr>
                        </thead>
                        <tbody>
                        <% @concepts.each do |concept| %>
                        <tr>
                        <td><%= concept.category %></td>
                        <td><%= concept.sub_category %></td>
                        <td><%= concept.concept_code %></td>
                        <td><%= concept.concept_name %></td>
                        <td><%= link_to 'Show', concept %></td>
                        <td><%= link_to 'Edit', edit_concept_path(concept) %></td>
                        <td><%= link_to 'Destroy', concept, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                        </tr>
                        <% end %>
                        </tbody>
                    </table>
                </div>
            
                <%= link_to 'New Concept', new_concept_path, :class => 'btn btn-primary align-right' %>
            
            </div>
            
        </div>
    </div>