<div class="container-fluid" style="margin-top: 50px">

    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-12">
            <h2 class="sub-header"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Concept - <%= @concept.concept_name %>(<span style="color:red"><%= @concept.concept_code %></span>)</h2>
        </div>
    </div>

    <div class="row">
        
        <div class="col-sm-12 col-md-12">
        
            <div class="table-responsive">
        
                <table class="table table-hover table-bordered" >
                    <thead>
                        <tr>
                            <th></th>
                            <th>Code</th>
                            <th class="col-md-3">Unit Concept</th>
                            <th class="col-md-1">Grade</th>
                            <th class="col-md-1">Level</th>
                            <th class="col-md-1">Concepts</th>
                            <th class="col-md-1">Explanations</th>
                            <th class="col-md-1">Exercises</th>
                            <th class="col-md-1">Videos</th>
                            <th class="col-md-1">Related Concepts</th>
                            <th class="col-md-2"><i class="fa fa-cog"></i></th>
                        </tr>    
                    </thead>
                    <tbody>
                        <% @unit_concepts.each do | unit_concept | %>
                        <% if unit_concept.exercise_yn == 'similar exercise' 
                               related_unit_concept = UnitConcept.find(unit_concept.related_unit_concept_id)
                           end %>
                        <tr>
                            <td>
                                <% if unit_concept.exercise_yn == 'concept' %>
                                <span class="label rounded-2x label-purple">Unit Concept</span>
                                <% elsif unit_concept.exercise_yn == 'exercise'  %>
                                <span class="label rounded-2x label-brown">유형문제</span>
                                <% elsif unit_concept.exercise_yn == 'similar exercise' %>
                                <span class="label rounded-2x label-yellow">유사문제</span>
                                <% end  %>
                            </td>
                            <td><%= unit_concept.code %></td>
                            <td><a href="/unit_concepts/<%= unit_concept.id %>?concept_page_num=<%= params[:concept_page_num] %>">
                                    <%= unit_concept.name %><%= "<br>(#{related_unit_concept.name}:#{related_unit_concept.code}의 유사문제)".html_safe unless related_unit_concept.nil? %>
                                </a>
                            </td>
                            <td><%= UnitConcept::GRADES[unit_concept.grade] %></td>
                            <td><% unless unit_concept.level.nil? %>
                                <% rst = 5 - unit_concept.level %>
                                <span style="color:red">
                                <% (1..unit_concept.level).each do |idx| %>
                                *
                                <% end%>
                                </span>
                                <span style="color:gray">
                                <% (1..rst).each do |idx| %>
                                *
                                <% end %>
                                </span>
                                <% end %>
                            </td>
                            <td><%= unit_concept.unit_concept_descs.where('desc_type = ?', 1).count %>
                            <td><%= unit_concept.unit_concept_descs.where('desc_type = ?', 2).count %></td>
                            <td><%= unit_concept.unit_concept_descs.where('desc_type = ?', 3).count %></td>
                            <td><%= unit_concept.unit_concept_descs.where('desc_type = ?', 4).count %></td>
                            <td><%= unit_concept.unit_concept_descs.where('desc_type = ?', 5).count %></td>
                            <td>
                                <button class="btn btn-warning btn-xs" onclick="unitConceptModi(<%= unit_concept.id %>)"><i class="fa fa-pencil"></i> Edit</button>
                                <button class="btn btn-danger btn-xs" onclick="unitConceptDel(<%= unit_concept.id %>)"><i class="fa fa-trash-o"></i> Delete</button>
                            </td>
                        </tr>        
                        <% end %>
                    </tbody>    
                </table>   
                
                <button type="button" class="btn-u btn-primary" onclick="$('#method').val(); $('#unitConceptFrm').show();"><i class="fa fa-plus"></i> Unit Concept 및 문제 추가</button>
                <%= link_to 'Back', concepts_path + "?page=#{params[:concept_page_num]||1}", :class => 'btn-u btn-primary align-right' %>                            
             
            </div>    
            
        </div>    
        
    </div>
	
	<form id="unitConceptFrm" action="unit_concepts" style="margin-top:20px; display: none" method="post"  class="sky-form" novalidate="novalidate">
		
		<header>Unit Concept Add</header>
		
        <input type="hidden" id="unit_concept_id" value="" />
        <input type="hidden" id="method" value="create" />		
                    
		<fieldset>                  
			<div class="row">
				<section class="col col-4">
					<label class="label">구분</label>
                    <label class="select">
                    	<select id="excercise_yn" name="unit_concept[exercise_yn]" class="form-control" placeholder="구분" onchange="changedDiv(this)">
                   		<option value="concept">Unit Concept</option>
                   	 	<option value="exercise">유형문제</option>
                        <option value="similar exercise">유사문제</option>
                   		</select>
						<i></i>
					</label>
                </section>
                <section class="col col-4">
					<label class="label">Code</label>
					<input type="text" class="form-control" id="unit_concept_code" placeholder="code" />
				</section>
                <section class="col col-4">
					<label class="label">Name</label>
					<input type="text" class="form-control" id="unit_concept_name" placeholder="name" />
				</section>		
			</div>
			<div class="row">	
                <section class="col col-4">
					<label class="label">Grade</label>
	                <select id="grade" class="form-control">
	                <option value=""></option>
	                <% UnitConcept::GRADES.each_pair do |key, value| %>
	                <option value="<%= key %>"><%= value %></option>
	                <% end %>    
	                </select> 
					<i></i>
				</section>	
                <section class="col col-4">
					<label class="label">Level</label>
	                <select id="level" class="form-control">
	                <option value=""></option>
	                <% (1..5).each do |idx|%>    
	                <option value="<%= idx %>"><%= idx %></option>
	                <% end %>
	                </select> 
					<i></i>
				</section>
                
                <section id="related_exercise_section" class="col col-4" style="display:none">
					<label class="label">유형문제</label>
	                <select id="related_exercise" class="form-control">
	                <option value=""></option>
                    <% @exercises.each do |exercise| %>
	                <option value="<%= exercise.id %>">(<%= exercise.code %>)<%= exercise.name %></option>
                    <% end %>
                </select> 
					<i></i>
				</section>                
                
			</div>									
        </fieldset>
                    
        <footer>
			<button type="button" class="btn-u btn-u-default" onclick="$('#unitConceptFrm').hide();">닫기</button>
            <button id="unit_cocept_btn" type="button" class="btn-u btn-u-primary" onclick="insertUnitConcept()">저장</button>
        </footer>

    </form>	
	
</div>

<script type="text/javascript">

    $('#unit_concept_name').on('keypress', function(e) {
	    if (e.which == 13) {
		    insertUnitConcept();
	    }
    });
    
    function unitConceptDel(id) {
        
        var url = "/unit_concepts/" + id
        
        $.ajax({
            url: url,
            type: "DELETE",
            beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
            dataType: "JSON",
            success: function(data) {
                location.reload();
            },
            error: function(err){}
        });                
        
    }
    
    function unitConceptModi(id) {
        
        $('#related_exercise_section').hide();
        
        var url = "/unit_concepts/" + id
        
        $.ajax({
            url: url,
            type: "GET",
            beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
            dataType: "JSON",
            success: function(data) {
                $('#method').val('update');
                $('#excercise_yn').val(data.exercise_yn);
                $('#unit_concept_id').val(data.id);
                $('#unit_concept_code').val(data.code);
                $('#unit_concept_name').val(data.name);
                $('#grade').val(data.grade);
                $('#level').val(data.level);
                $('#related_exercise').val(data.related_unit_concept_id);
                $('#unitConceptFrm').show();
                
                if (data.exercise_yn == 'similar exercise') $('#related_exercise_section').show();
            },
            error: function(err){
            }
        });        
        
    }
    
    function insertUnitConcept() {
        
        var url, data, type;
        
        $('#loading').show();
        
        if ($('#unit_concept_code').val() == '') {
            alert('Code를 입력하십시요.');
            $('#loading').hide();
            return false;
        }
        
        if ($('#unit_concept_name').val() == '') {
            alert('Name을 입력하십시요.');
            $('#loading').hide();
            return false;
        }
        
        if ($('#grade').val() == '' && $('#div').val() == 'concept') {
            alert('Grade를 선택하세요.');
            $('#loading').hide();
            return false;
        }
        
        if ($('#level').val() == '' && $('#div').val() == 'concept') {
            alert('Level을 선택하세요.');
            $('#loading').hide();
            return false;
        }
        
        if ($('#excercise_yn').val() == 'similar exercise' && $('#related_exercise').val() == '') {
            alert('관련된 유형문제를 선택하세요.');
            $('#loading').hide();
            return false;
        }

        data = {
            "unit_concept" : {
                "exercise_yn" : $('#excercise_yn').val(),
                "code"       : $('#unit_concept_code').val(),
                "name"       : $('#unit_concept_name').val(),
                "grade"      : $('#grade').val(),
                "level"      : $('#level').val(),
                "concept_id" : <%= @concept.id %>,
                "related_unit_concept_id" : $('#related_exercise').val()
            }
        };
        
        if ($('#method').val() == 'create') {
            url = "/unit_concepts";
            type = "POST";
        } else if ( $('#method').val() == 'update' ) {
            url = '/unit_concepts/' + $('#unit_concept_id').val();
            type = "PUT";
        }

        $.ajax({
            url: url,
            type: type,
            beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
            dataType: "JSON",
            data: data,
            success: function(data) {
                location.reload();
            },
            error: function(err){
                alert('실패했습니다.');
                $('#loading').hide();
                return false;
            }
        });

        $('#unit_cocept_btn').button('reset');

    }

    function changedDiv(t) {
        if ( $(t).val() == 'similar exercise' ) {
            $('#related_exercise_section').show();
        } else {
            $('#related_exercise_section').hide();
        }
    }
    

</script>