<p id="notice"><%= notice %></p>

<h1>Listing User Relations</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Related user</th>
      <th>Relation type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_relations.each do |user_relation| %>
      <tr>
        <td><%= user_relation.user_id %></td>
        <td><%= user_relation.related_user_id %></td>
        <td><%= user_relation.relation_type %></td>
        <td><%= link_to 'Show', user_relation %></td>
        <td><%= link_to 'Edit', edit_user_relation_path(user_relation) %></td>
        <td><%= link_to 'Destroy', user_relation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User relation', new_user_relation_path %>
