<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user_relation.user_id %>
</p>

<p>
  <strong>Related user:</strong>
  <%= @user_relation.related_user_id %>
</p>

<p>
  <strong>Relation type:</strong>
  <%= @user_relation.relation_type %>
</p>

<%= link_to 'Edit', edit_user_relation_path(@user_relation) %> |
<%= link_to 'Back', user_relations_path %>
