<div class="modal fade" id="notice_no_exercise_at_view_type_2" tabindex="-1" role="dialog" aria-labelledby="notice_email_confirm_modal" aria-hidden="true" style="display: none;">

    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 id="myModalLabel1" class="modal-title"><i class="fa fa-info"></i> Notice</h4>
            </div>

            <div class="modal-body">
                <p>다음 문제가 존재하지 않습니다.</p>

                <% unless @unit_concept.get_next_concept_at_view_type_2(@sub_category).nil? %>
                    <% next_unit_concept = @unit_concept.get_next_concept_at_view_type_2(@sub_category) %>
                    <% unless next_unit_concept.nil? %>
                        <p><a href="/contents/<%= next_unit_concept.unit_concept_id %>?view_type=2&step=7&grade=<%= next_unit_concept.grade %>&chapter=<%= next_unit_concept.chapter %>&category=<%= next_unit_concept.category %>&sub_category=<%= next_unit_concept.sub_category %>&concept_id=<%= next_unit_concept.concept_id %>">
                        <%= next_unit_concept.unit_concept_name %></a>를 학습하시겠습니까? </p>
                    <% end %>
                <% end %>
            </div>

            <div class="modal-footer">
                <button data-dismiss="modal" class="btn-u btn-u-default rounded" type="button">닫기</button>
            </div>
        </div>
    </div>

</div>