<%= form_for(@sub_unit) do |f| %>
  <% if @sub_unit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sub_unit.errors.count, "error") %> prohibited this sub_unit from being saved:</h2>

      <ul>
      <% @sub_unit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :code %><br>
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :unit_id %><br>
    <%= f.number_field :unit_id %>
  </div>
  <div class="field">
    <%= f.label :grade %><br>
    <%= f.text_field :grade %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
