<p id="notice"><%= notice %></p>

<h1>Listing Sub Units</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th>Unit</th>
      <th>Grade</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sub_units.each do |sub_unit| %>
      <tr>
        <td><%= sub_unit.name %></td>
        <td><%= sub_unit.code %></td>
        <td><%= sub_unit.unit_id %></td>
        <td><%= sub_unit.grade %></td>
        <td><%= link_to 'Show', sub_unit %></td>
        <td><%= link_to 'Edit', edit_sub_unit_path(sub_unit) %></td>
        <td><%= link_to 'Destroy', sub_unit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sub unit', new_sub_unit_path %>
