<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sub_unit.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @sub_unit.code %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @sub_unit.unit_id %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @sub_unit.grade %>
</p>

<%= link_to 'Edit', edit_sub_unit_path(@sub_unit) %> |
<%= link_to 'Back', sub_units_path %>
