<%= form_for(@study_history) do |f| %>
  <% if @study_history.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@study_history.errors.count, "error") %> prohibited this study_history from being saved:</h2>

      <ul>
      <% @study_history.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :unit_concept_id %><br>
    <%= f.number_field :unit_concept_id %>
  </div>
  <div class="field">
    <%= f.label :segment %><br>
    <%= f.text_field :segment %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
