<div class="container-fluid">

    <div class="row">

        <div class="col-sm-12 col-md-12 main">

            <h2 class="sub-header"><span class="fa fa-header" aria-hidden="true" style="top: 5px"></span> Listing Study Histories</h2>

            <div class="table-responsive">

                <table class="table table-striped">
                <thead>
                <tr>
                <th>User</th>
                <th>School</th>
                <th>Grade</th>
                <th>Studied Concept</th>
                <th>Last Studied</th>
                <th>Last Studied at</th>
                <th><i class="fa fa-cog"></i></th>
                </tr>
                </thead>
                
                <!-- history.last_study, users.last_sign_in_at -->

                <tbody>
                <% @study_histories.each do |study_history| %>
                <tr>
                <td><%= study_history.user_name %></td>
                <td><%= study_history.name %></td>
                <td><%= UnitConcept::GRADES[study_history.grade.to_i] %></td>
                <td><%= study_history.concept_count %></td>
                <td><%= study_history.last_study %></td>
                <td><%= study_history.last_sign_in_at.in_time_zone("Asia/Seoul").strftime('%Y-%m-%d %H:%M') %></td>
                <td><%= link_to 'Show', "/study_histories/detail?user_id=#{study_history.user_id}" %></td>
                </tr>
                <% end %>
                </tbody>
                </table>
                
                <%= will_paginate @study_histories, renderer: BootstrapPagination::Rails %>

            </div>
        </div>
    </div>                    
</div>