<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @study_history.user_id %>
</p>

<p>
  <strong>Unit concept:</strong>
  <%= @study_history.unit_concept_id %>
</p>

<p>
  <strong>Segment:</strong>
  <%= @study_history.segment %>
</p>

<p>
  <strong>Status:</strong>
  <%= @study_history.status %>
</p>

<%= link_to 'Edit', edit_study_history_path(@study_history) %> |
<%= link_to 'Back', study_histories_path %>
