<!DOCTYPE html>
<html style="height:100%">
<head>
    <title>EurekaMath</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="유레카매스는 온라인 중・고등 수학학습 서비스를 제공하는 회사입니다, 맞춤형 교육 솔루션, 중학교, 고등학교 수학, eureka math, mathmatics, 유레카 메스, 유레카 매스, 수학 동영상 강의 ">
    <meta name="author" content="">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/favicon.ico">
    
    <!-- Web Fonts -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin">    

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="/assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    
    <!-- CSS Header and Footer -->
    <link rel="stylesheet" href="/assets/css/headers/header-v1.css">
    <link rel="stylesheet" href="/assets/css/footers/footer-v1.css">
    
    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="/assets/plugins/animate.css">
    <link rel="stylesheet" href="/assets/plugins/line-icons/line-icons.css">
    <link rel="stylesheet" href="/assets/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/plugins/scrollbar/css/jquery.mCustomScrollbar.css">
    
    <!-- CSS Page Style -->
    <link rel="stylesheet" href="/css/summernote.css">

    <!-- Summernote Style -->
    <link rel="stylesheet" href="/assets/css/style.css">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="/assets/css/custom.css">    

    <%= csrf_meta_tags %>

	<meta name="google-site-verification" content="Hl1qEsuAB9XnNB6zkZUBHs6psTBMGG7gis6yZAAXWTo" />
    <!-- Google analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-82647956-1', 'auto');
      ga('send', 'pageview');
    </script>    
    <!-- Google analytics end --> 
    
    <!-- JS Global Compulsory -->
    <script type="text/javascript" src="/assets/plugins/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

    <!-- MathJAX -->
    <script type="text/javascript" async
            src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>

    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>

</head>
<body style="height:100%">
    
    <div id="loading" style="display:none">
        <img src="/assets/img/Loading.gif" />
    </div>    
    
    <nav class="navbar navbar-default navbar-fixed-top" style="min-height: 0">
        <div class="container">
            <div class="row">
                
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <ul class="list-inline top-v1-contacts" style="top: 5px; position: relative;">
                        <li>
                            <i class="fa fa-book tooltips"></i>
                            <a onclick="showTab('concept')"> 개념</a>
                        </li>
                        <% unless @is_exercise == 0 %>
                        <li>
                            <i class="fa fa-tasks tooltips"></i>
                            <a onclick="showTab('concept_desc'); update_study_history('concept_desc', 'start');"> 개념설명</a>
                        </li>
                        <% end %>
                        <% if @exercise_yn %>
                        <li>
                            <i class="fa fa-pencil tooltips"></i>
                            <a onclick="showTab('concept_solution');"> 문제풀이</a>
                        </li>
                        <% else %>
                        <li>
                            <i class="fa fa-pencil tooltips"></i>
                            <a onclick="showTab('concept_exercise'); update_study_history('concept_exercise', 'start');"> 개념문제</a>
                        </li>
                        <% end %>
                        <% unless @is_exercise == 0 %>                        
                        <li>
                            <i class="fa fa-link tooltips"></i>
                            <a href="#g" data-toggle="modal" onclick="videoPause()"> 관련개념</a>
                        </li>
                        <li>
                            <i class="fa fa-film tooltips"></i>
                            <a onclick="showTab('concept_video')"> 동영상</a>
                        </li>
                        <% end %>
                        <% unless current_user.user_types[0].user_type != 'student' %>
                            <% unless @exercise_yn == true %>
                        <li>
                            <i class="fa fa-pencil-square-o tooltips"></i>
                            <a href="#s" data-toggle="modal" onclick="videoPause()"> 자기평가</a>
                        </li>
                            <% end %>
                        <% end %>
                        <li>
                            <i class="fa fa-print tooltips"></i>
                            <a onclick="showTab('concept_print')"> 프린트</a>
                        </li>                        
                    </ul>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12">
                    <ul class="list-inline top-v1-data" style="top: 5px; position: relative; float:right">
                        <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
                        <li><a href="/mypages/overall"><i class="fa fa-user"></i> My Page</a></li>
                        <li><a href="/blogs/faq"><i class="fa fa-question-circle"></i> 도움말</a></li>
                        <li><a href="/users/sign_out"><i class="fa fa-unlock"></i> 로그아웃</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    
    <div style="position: absolute; top: 31px; height: -webkit-calc(100% - 31px); width: 100%;">
        
        <div id="mainview" class="col-md-9" style="height:100%; overflow-y: auto">
            <%= yield %>
        </div>
        
        <div id="treeview" class="col-md-3" style="height: 100%;">
            
            <button class="btn btn-info btn-sm rounded" style="margin-bottom: 10px; margin-top: 25px" onclick="view_change('forward')">목차숨기기</button>
            
            <div id="tree_frame" class="row" style="height:-webkit-calc(50% - 25px); border:1px solid lightgrey; overflow-y: auto">
                <%= render partial: 'modals/chapter_tree_view' unless @view_type == '2' %>
                <%= render partial: 'modals/grade_tree_view' if @view_type == '2' %>
            </div>
            
            <div class="row profile" style="height:-webkit-calc(50% - 25px); border: 1px solid lightgrey; overflow-y: auto">
                <%= render partial: 'questions' %>
            </div>    
        </div>    
                
    </div>
    
</body>
</html>
<script src="http://a.vimeocdn.com/js/froogaloop2.min.js"></script>

<script type="text/javascript">

    function showTab(opt) {
        $('.tabs').hide();
        videoPause();
        
        if (opt == 'concept') $('#concept_main').show();
        else if (opt == 'concept_desc') {
            $('#concept_main').show();
            $('#concept_desc').show();
        } else if (opt == 'concept_exercise') $('#concept_exercise').show();
        else if (opt == 'concept_video') $('#concept_video').show();
        else if (opt == 'concept_print') $('#concept_print').show();
        else if (opt == 'concept_solution') {
            $('#concept_main').show();
            $('#concept_solution').show();
        }
    }
    
    function videoPause(){
        var iframe = $('#vimeo-player')[0];
        var player = $f(iframe);
        player.api('pause');
    }

</script>
